{% block dialog %}
    <div id="dialog" class="dialog ui-dialog-content ui-widget-content">
        <div class="parentItem" style="display: none"></div>
        <div class="chat-dialog">
            <div class="top"></div>
            <div id="enterYourReply">Enter your reply here</div>
            <div class="reply-content">
                <div class="username"></div>
                <div class="original-text"></div>
                <textarea id="replyBox" placeholder="Enter the text for your message here" rows="7"></textarea>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#dialog").dialog({
                resizable: false,
                height: 300,
                width: 500,
                modal: true,
                dialogClass: 'no-close fixed-dialog',
                buttons: {
                    Ok: {
                        text: 'reply',
                        id: 'ok-button',
                        click: function (e) {
                            var text = $('#dialog').find('#replyBox').val().trim("");
                            var level = $('#dialog').find('.original-text').attr('data-level');
                            var forumId = $('#dialog').find('.original-text').attr('forum-id');
                            var topicId = $('#dialog').find('.original-text').attr('topic-id');
                            var parentItemClass = $('#dialog').find('.parentItem').text().trim(" ");
                            var data = {text: text, level: level, forumId: forumId, topicId: topicId};

                            $('#ok-button').prop('disabled', true);
                            e.preventDefault();
                            $(this).dialog("destroy");
                            $(this).hide();

//                            if($('#replyBox').text().trim().length>1){
                                $.ajax({
                                    type: "POST",
                                    url: '{{ asset("/"~app.request.locale~"/replyForum") }}',
                                    data: {
                                        data: data
                                    },
                                    success: function (data) {
                                        var item = $.parseJSON(data);
                                        var level = "";
                                        var html = "";
                                        var locale = "{{ app.request.locale }}";
                                        if (item[0].has_reply == "1") {
                                            var more = "class = 'text ellipsis more'";
                                        } else {
                                            more = "class = 'text ellipsis'";
                                        }
                                        if(item[0].forum_level <= 25){
                                            level = item[0].forum_level;
                                        } else {
                                            level = 26;
                                        }
                                        var replyClass = "class = 'reply replyOverlay item-level-" + level + "'";
                                        html =  "<div id='c" + item[0].reply_id + "' " + replyClass + " reply_to=" + item[0].reply_to + "  level=" + item[0].forum_level + " data-id='" + item[0].reply_id + "'>" +
                                            "<div " + more + " >" +
                                            item[0].reply_content +
                                            "</div>" +
                                            "<div class='topic-details'>" +
                                            "<div class='topic-overlay'>Reply</div>" +
                                            "<span class='username ellipsis author avatar' style='background-image: url(http://static.oulala.com/media/images/levels/status-1-2137-16x16.png);' title='"+ item[0].username +"'>" +
                                            "<a class='username' href='http://beta-iframe.oulala.com/"+ locale +"/profile/"+ item[0].username +"'><i class='fa fa-user'></i><span class='user-name'>&nbsp;"+ item[0].username +"</span></a>" +
                                            "</span>" +
                                            "<span> - </span>" + item[0].update_time.substr(0,16)  +
                                            "</div>" +
                                            "<div class='clear'></div>" +
                                            "</div>";
                                        $("#c"+ forumId+"."+ parentItemClass).after(html);
                                    }
                                });
                        }
                    },
                    Cancel: {
                        text: "{{ 'Cancel' | trans }}",
                        "class": 'black',
                        click: function () {
                            $(this).dialog("destroy");
                            $(this).hide();
                        }
                    }
                }
            }).attr('id', 'dialog');
        });
        $('#ok-button .ui-button-text').html('ok');
    </script>
{% endblock %}