{% extends '::base.html.twig' %}
{% block theme 'create-league' %}
{% block custom_style style %}
{% block css_vers css_version %}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/css/forum.css') }}{{ css_version }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
     <div class="center-content">
         <div class="text-content">
             <div class="container padding-top">
                 <h1> Forum </h1>
                 <div class="support oulala-forum">
                     {% if (isLogged) %}
                         <div class="messagebox">
                             <form>
                                 <fieldset>
                                     <div class="heading">
                                         <h4><span>Forum</span> / Create a New Post</h4>
                                         <p>In case of technical issue, please contact us <a href="{{ contact_page }}" target="_blank">HERE</a>.</p>
                                     </div>
                                     <textarea class="thread-box" rows="2" placeholder="Enter the text for your message here" name="message" required=""></textarea>
                                     <div class="bottom">
                                         <input id="thread-text" class="btn right gray post-chat" type="button" value="Post" disabled="disabled">
                                     </div>
                                 </fieldset>
                             </form>
                         </div>
                     {% else %}
                         <div class="messagebox" id="messagebox">
                             <form>
                                 <div class="textarea">Would you like to contribute to this item? <a href="#">Login</a> or <a href="#">Register&nbsp;</a> to contribute!
                                 </div>
                             </form>
                         </div>
                     {% endif %}
                 </div>

                    {% include ":forum:forum-items.html.twig" %}
             </div>
         </div>
     </div>
     {% if (isLogged) %}
         <script>
             $('.thread-box').keyup(function(event) {
                 validate();
             });

             $('#submit-thread').submit(function() {
                 $(this).attr('disabled','disabled');
             });

             function validate() {

                 if ($.trim($(".thread-box").val()).length == 0){

                     $("#thread-text").addClass("gray");
                     $("#thread-text").attr('disabled','disabled');
                 }
                 else {
                     $("#thread-text").removeClass("gray");
                     $("#thread-text").removeAttr('disabled');
                 }
             }

             $(document).on('click','.post-chat',function() {
                 var userRef = "{{ asset(app.session.get('user_ref')) }}";
                 $('.oulala-forum.chats').html('<div class="loading" ><div><img src="http://static.oulala.com/media/images/web/loader-30.gif" alt="" width="29" height="29" class="center-tag" /><br/><p>Loading. Please Wait...</p></div></div>');
                 $.ajax({
                     type: "POST",
                     url: '{{ asset("/"~app.request.locale~"/insertItem") }}',
                     data: {
                         locale: "{{ asset(app.request.locale) }}",
                         limit: 10,
                         message: $(".thread-box").val(),
                         userRef: userRef
                     },
                     success: function (response) {
//                         window.location = 'http://www.oulala.com/en/community/forum';
                         location.reload();
                     }
                 });
             });
         </script>
     {% endif %}
 {% endblock %}
