<div class="oulala-forum chats">
    {% for topic in topics %}
    {% if topic.topic_locale|lower == app.request.locale %}
        <div class="thread" data-chatid="{{ topic['topic_id'] }}">
            <div id="c{{ topic['topic_id'] }}" class="title replyOverlay item-level-0" level="{{ topic['level'] }}"
                 data-id="{{ topic['topic_id'] }}">
                {% if "now" | date('Y-m-d') == topic['create_time'] |striptags|slice(0, 16) | date('Y-m-d') %}
                    <div class="new"></div>
                {% endif %}
                <div class="text ellipsis">
                    {{ topic['topic_subject'] }}
                </div>
                <div class="topic-details">
                    <div class="topic-overlay">Reply</div>
                    <span class="username ellipsis author avatar"
                          style="background-image: url(http://static.oulala.com/media/images/levels/status-1-2137-16x16.png);"
                          title="{{ topic['username'] }}">
                                <a class="username" href="http://beta-iframe.oulala.com/{{ app.request.locale }}/profile/{{ topic['username'] }}">
                                    <i class="fa fa-user"></i>&nbsp;
                                    <span class="user-name">{{ topic['username'] }}</span>
                                </a>
                            </span>
                    <span> - </span>
                    {{ topic['create_time'] |striptags|slice(0, 16) }}
                </div>
                <div class="clear"></div>
            </div>
            {% if topic['subItems'] %}
                {% for subItem in topic['subItems'] %}
                    <div id='c{{ subItem['topic_id'] }}'
                         class="reply replyOverlay item-level-{% if subItem['level'] <= 30 %}{{ subItem['level'] }}{% else %}30{% endif %}"
                         level="{{ subItem['level'] }}"
                         data-id="{{ subItem['topic_id'] }}">
                        <div class='text ellipsis  {% if subItem['has_reply'] %}more{% endif %}'>
                            {% if subItem['has_reply'] %} <div class="rawDown"></div>{% endif %}
                            {{ subItem['topic_subject'] }}
                        </div>
                        <div class="topic-details">
                            <div class="topic-overlay">Reply</div>
                            <span class="username ellipsis author avatar"
                                  style="background-image: url(http://static.oulala.com/media/images/levels/status-1-2137-16x16.png);"
                                  title="{{ subItem['username'] }}">
                                <a class="username" href="http://beta-iframe.oulala.com/{{ app.request.locale }}/profile/{{ subItem['username'] }}">
                                    <i class="fa fa-user"></i>&nbsp;
                                    <span class="user-name">{{ subItem['username'] }}</span>
                                </a>
                            </span>
                            <span> - </span>
                            {{ subItem['update_time'] |striptags|slice(0, 16) }}
                        </div>
                        <div class='clear'></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}
    {#'countFrom' => $countFrom,#}
    {#'countTo' => $countTo,#}
    {#'nextPage' => $nextPage,#}
    {#'lastPage' => $lastPage,#}
    {#'prevPage' => $prevPage,#}
    {#'offset' => $offset,#}
    {% if topicsPostsCount > offset %}
        <div class="pagination">
            {% if prevPage>0  %}
                <div class="prev first">
                    <a href="{{ asset('/'~app.request.locale~'/forum?p=1')}}" rel="prev"></a>
                </div>
                <div class="prev">
                    <a href="{{ asset('/'~app.request.locale~'/forum?p=')~prevPage}}" rel="prev"></a>
                </div>
            {% endif %}
            <span class="page-count">{{ countFrom }} {{ 'to'|trans }} {{ countTo }}</span> {{ "of"|trans }} {{ topicsPostsCount|default(0) }}

            <div class="next last">
                <a href="{{ asset('/'~app.request.locale~'/forum?p=')~lastPage}}" class="next" rel="next"></a>
            </div>
            <div class="next" >
                <a href="{{ asset('/'~app.request.locale~'/forum?p=')~nextPage}}" class="next" rel="next"></a>
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}

    {#<div class="pagination">#}

    {#<span>1 <em>to</em> 10</span> <em>of&nbsp;</em> 1436#}

    {#<div class="next last">#}
        {#<a href="{{ asset('/'~app.request.locale~'/forum?p=1')}}" rel="next"></a>#}
    {#</div>#}
    {#<div class="next">#}
        {#<a href="{{ asset('/'~app.request.locale~'/forum?p=10')}}" rel="next"></a>#}
    {#</div>#}
    {#<div class="clear"></div>#}


    {#</div>#}
</div>
<script>
    {% if isLogged %}
    $(document).ready(function () {
        $(document).delegate('.topic-overlay', 'click', function () {
            var id = $(this).parents('.replyOverlay').attr('data-id');
            var topicId = $(this).parents('.thread').attr('data-chatid');
            var forum = $(this).parents('.replyOverlay').find('.text').text().trim("");
            var author = $(this).parent('.topic-details').find('.user-name').text().trim();
            var level = $(this).parents('.replyOverlay').attr('level');
            var thisItem = $(this).parents('.replyOverlay').attr('class').split(" ");
            var parentItemClass = thisItem[0];
            var data = {
                id: id, topicId: topicId, forum: forum, author: author, level: level, parentItemClass: parentItemClass
            };
            $('.topic-overlay').unbind('click');
            postChatReply(data);
        });
    });
    {% endif %}
    $(document).ready(function () {

        /***mouseenter topic/forum show replay button***/
        $(document).delegate('.replyOverlay', 'mouseenter', function () {
            var topicHeight = $(this).outerHeight();
            var topicWidth = $(this).find('.topic-details').outerWidth();
            $(this).find('.topic-overlay').css({
                "display": "block",
                "height": topicHeight,
                "line-height": topicHeight + "px"
            });
        });

        /***mouseleave topic/forum hide replay button***/
        $(document).delegate('.replyOverlay', 'mouseleave', function () {
            $(this).find('.topic-overlay').css({
                "display": "none"
            });
            /*** remove row down icon***/
//            $(this).find('div.rawDown').remove();
        });

        /*** show row down icon ***/
//        $(document).delegate('.more', 'mouseenter', function () {
//            $(this).prepend('<div class="rawDown"></div>');
//            var left = $(this).parent('.replyOverlay').outerWidth() / 2 + "px"
//            $('.rawDown').css('left', left);
//        });

        /*** get item children replies ***/
        $(document).delegate('.more', 'click', function () {
            var topicId = $(this).parent('.replyOverlay').attr('data-id');
            var item = $(this).parents('.replyOverlay');
            var forumItem = $('.oulala-forum').find("[data-id='" + topicId + "']").find('.text');
            var level = $(this).parent('.replyOverlay').attr('level');
            $(this).find('div.rawDown').remove();
            if (topicId) {
                $.ajax({
                    type: "POST",
                    url: '{{ asset("/"~app.request.locale~"/forum") }}',
                    data: {
                        topicId: topicId,
                        level: level
                    },
                    success: function (data) {
                        var html = "";
                        var level = "";
                        var locale = "{{ app.request.locale }}";
                        var replies = $.parseJSON(data);
                        $('[reply_to="'+ topicId +'"]').remove();
                        $(replies).each(function (key, value) {
                            if (value.has_reply == "1") {
                                var more = "class = 'text ellipsis more'";
                                var arrow=" <div class='rawDown'></div>";
                            } else {
                                more = "class = 'text ellipsis'";
                                var arrow="";
                            }
                            if(value.level <= 26){
                                level = value.level;
                            } else {
                                level = 25;
                            }

                            var replyClass = "class = 'reply replyOverlay item-level-" + level + "'";
                            html += "<div id='c" + value.reply_id + "' " + replyClass + " reply_to = "+ value.reply_to +" level=" + value.level + " data-id='" + value.reply_id + "'>" +
                                "<div " + more + " >" +
                                value.reply_content+arrow
                                + "</div>" +
                                "<div class='topic-details'>" +
                                "<div class='topic-overlay'>Reply</div>" +
                                "<span class='username ellipsis author avatar' style='background-image: url(http://static.oulala.com/media/images/levels/status-1-2137-16x16.png);' title='" + value.username + "'>" +
                                "<a class='username' href='http://beta-iframe.oulala.com/" + locale + "/profile/" + value.username + "'><i class='fa fa-user'></i><span class='user-name'>&nbsp;" + value.username + "</span></a>" +
                                "</span>" +
                                "<span> - </span>" + value.update_time.substring(0, 16) +
                                "</div>" +
                                "<div class='clear'></div>" +
                                "</div>";
                        });
                        $(forumItem).removeClass('more');
                        $(item).after(html);
                        generateReadMore();
                    }
                });
            }
        });
        $(document).on('click','.read-more',function() {
            $(this).hide();
            $(this).parent().find('.text.ellipsis')
                .removeClass('ellipsis')
                .css('white-space', '')
                .css('width', '');
            var height = $(this).prev('.text').outerHeight();
            $(this).next('.topic-details').css('line-height', height+'px' );
        });
        generateReadMore();
    });

    function showReplyDialog(action, data) {
        var dialog = $("#dialog-temp");
        var chatId = data.id;
        var forum = data.forum;
        var level = data.level;
        var topicId = data.topicId;
        var author = data.author;
        var parentItemClass = data.parentItemClass;

        if (dialog.length === 0) {
            $('body').prepend('<div id="dialog-temp" style="display:none"></div>');
        }
        closeAllDialogs();
        $.ajax({
            type: "POST",
            url: action,
            data: {
                chatId: chatId
            },
            success: function (data) {
                var dialog = $("#dialog-temp");
                $(dialog).css('display', 'block');
                dialog.empty();
                dialog.html(data);
                $("#dialog").find('.original-text').text(forum);
                $("#dialog").find('.original-text').attr('data-level', level);
                $("#dialog").find('.original-text').attr('forum-id', chatId);
                $("#dialog").find('.original-text').attr('topic-id', topicId);
                $("#dialog").find('.username').text(author + ":");
                $("#dialog").find('.parentItem').html(parentItemClass);
            },
            dataType: 'html'
        });
    }

    function postChatReply(e) {
        var action = '{{ asset("/"~app.request.locale~"/replyForum") }}';
        showReplyDialog(action, e);
    }
    function generateReadMore(){
        $('.text.ellipsis').each(function () {
            /*** show row down icon ***/

            var left = $(this).parent('.replyOverlay').outerWidth() / 2 + "px"
            $('.rawDown').css('left', left);

            if (!($(this).next().hasClass('read-more'))) {
                var originalHeight = $(this).height();
                $(this).css('white-space', 'normal', 'important');

                if (originalHeight > 12) {
                    $div = $('<div>').addClass('read-more');
                    $(this).after($div);
//                    $(this).width($(this).width() - 40);
                } else {
                    $(this).width($(this).width());
                }
                $(this).css('display', 'inline-block');
                $(this).css('float', 'left');
                $(this).css('white-space', 'nowrap', 'important');
            }
        });
    }
</script>


