{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version %}
{% block js_vers js_version %}
{% block show_menu menu %}
 {% block body %}
     <div class="center-content">
         <div class="text-content">
             <h1>{{ 'Leagues Available'|trans }}</h1>
             <div class="white-bg">
                 <div class="leagues-available-search container relative">

                 {% if showCurrency==1 %}
                     <select class="currency select-styling">
                         {% for currency in currencies %}
                             <option value="{{ currency.currency_key }}"

                                     {% if currency.currency_key == source %}selected {% endif %}>{{ currency.currency_key~' - ' }}{{ currency.currency_name|trans }}</option>
                         {% endfor %}
                     </select>
                 {%  endif %}
                     <form method="post" class="ajax" data-container=".availableLeaguesSearchResults" role="form">
                         <input type="hidden" id="sort" name="orderby" value="fromDate-ASC">
                         <input type="hidden" id="entryFee_from" name="entryFee_from" value="0">
                         <input type="hidden" id="entryFee_to" name="entryFee_to" value="200">
                         <div class="league-available-header">
                             <div class="btn white right web-searchbox" id="leagues-create-button">
                                 {% set user_ref = app.session.get('user_ref') %}
                                 {% if user_ref !='' or allowRedirect==0 %}
                                     {% set createUrl=asset('/'~app.request.locale~'/leagues/create') %}
                                     <a href="{{ createUrl }}">{{ 'Create new league'|trans }}</a>
                                 {% else %}
                                     {% set createUrl=loginUrl|replace({'%lang%':app.request.locale}) %}
                                     <a href="#" onclick="window.top.location.href = '{{ createUrl }}'">{{ 'Create new league'|trans }}</a>
                                 {% endif %}

                             </div>
                             <div class="clear"></div>
                         </div>
                         <div class="league_filters">
                             <div class="league_filter_container" id="leagues-filter-leagues">
                                 <ul class="leaguelist image">
                                     <li class="all-leagues">
                                         <input type="checkbox" name="league" checked="checked" id="league_all"
                                                class="allleaguecheckbox" value="0">
                                         <label for="league_all"
                                                style="background:url(bundles/images/icons/buttons-all-en-35x75.png ) no-repeat 0px 0px;"></label>
                                     </li>
                                     {% for country in countries %}
                                         <li>
                                             <input type="checkbox" name="league[]" checked="checked"
                                                    id="league_{{ country.id }}" class="leaguecheckbox"
                                                    value="{{ country.id }}"/>
                                             <label for="league_{{ country.id }}"
                                                    style="background:url(bundles/images/icons/buttons-{{ country.code }}-35x75.png ) no-repeat 0px 0px;"></label>
                                         </li>
                                     {% endfor %}
                                 </ul>
                             </div>
                             <div class="league_filter_container" id="leagues-filter-contest">
                                 <div class="league_filter_heading mobile-show"
                                      style="text-align:left;margin:0px;">{{ 'League Type'|trans }}</div>
                                 <span class="select-styling">
									<select name="contest-types" id="contest-types" onchange="submitSearchForm();">
										<option value="all" selected="selected">{{ 'All'|trans }}</option>
										<option value="leagues">{{ 'League'|trans }}</option>
										<option value="head-to-head">{{ 'Head to head'|trans }}</option>
									</select>
								</span>
                             </div>
                             <div class="league_filter_container" id="leagues-filter-fee">
                                 <div class="league_filter_heading" id="entryfee-range-values">
                                     {{ 'Entry fee:'|trans }}
                                     <div id="max-amount" class="max-amount {{ currency_class| default('eureur') }}"> 0
                                         - {{ maxValue| default(200) }}</div>
                                 </div>
                                 <div style="margin: 0 auto;">
                                     <div class="entryfee-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                          style="width: 80%;" aria-disabled="false">
                                         <div class="ui-slider-range ui-widget-header ui-corner-all"
                                              style="left: 0%; width: 100%;"></div>
                                         <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"
                                            style="left: 0%;"></a><a
                                                 class="ui-slider-handle ui-state-default ui-corner-all" href="#"
                                                 style="left: 100%;"></a></div>
                                 </div>
                             </div>
                             <div class="league_filter_container" id="leagues-filter-search">
                                 <input type="text" placeholder="{{ 'Type league name'|trans }}..." name="field"
                                        value="">
                             </div>
                             <div class="clear"></div>
                         </div>
                         <div class="leagues-mobile-header">
                             <input type="hidden" name="page" value="1" onchange="submitSearchForm();">
                             <div class="sort-filters mobile-show">
                                 <div class="league_filter_heading mobile-show">{{ 'Filters'|trans }}</div>
                                 <span class="select-styling">
									<select id="mobile-filter-sort" name="mobile-filter-by-type">
										<option value="name-ASC">{{ 'League Name'|trans }}: </option>
										<option value="name-DESC">{{ 'League Name'|trans }}: </option>
										<option value="entry-ASC">{{ 'Entries'|trans }}: </option>
										<option value="entry-DESC">{{ 'Entries' |trans }}: </option>
										<option value="maxParticipants-ASC">{{ 'Size'|trans }}: </option>
										<option value="maxParticipants-DESC">{{ 'Size' |trans }}: </option>
										<option value="entryFee-ASC">{{ 'Entry Fee'|trans }}: </option>
										<option value="entryFee-DESC">{{ 'Entry Fee'|trans }}: </option>
										<option value="prize-ASC">{{ 'Prizes'|trans }}: </option>
										<option value="prize-DESC">{{ 'Prizes'|trans }}: </option>
										<option value="fromDate-ASC">{{ 'Starts'|trans }}: </option>
										<option value="fromDate-DESC">{{ 'Starts'|trans }}: </option>
									</select>
								</span>
                             </div>
                             <div class="availableLeaguesSearchResults" id="leagues-list">
                                 {% include 'templates/controls/avilable-leagues-list.html.twig' %}
                             </div>
                         </div>
                         <div class="clear"></div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var loadingTemplate = '<div class="loading">' +
            '<div>' +
            '<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
            '<p>{{ "Loading. Please Wait..."|trans }}</p>' +
            '</div>' +
            '</div>';

        function joinMemberLeague(joinlink) {
            performAction({
                    action: 'clearTeamSession'
                },
                function (postresponse) {
                    location.href = joinlink;
                });
        }

        function submitSearchForm(data) {
            if (data) {
                var source = data;
            } else {
                source = "EUR";
            }

            $(".availableLeaguesSearchResults").children().remove();
            $(".availableLeaguesSearchResults").html(loadingTemplate);
            var sort = $("#sort").val();
            var entryFeeFrom = $("#entryFee_from").val();
            var entryFeeTo = $("#entryFee_to").val();
            var mobileFilterSort = $("#mobile-filter-sort").val();
            var leaguesSearch = $("#leagues-filter-search input").val();
            var leagueIDs = $("#leagues-filter-leagues input:checkbox:checked").map(function () {
                return $(this).val();
            }).get();
            var contestTypes = $("#contest-types").val();
            $.ajax({
                type: "POST",
                url: '{{ asset("/"~app.request.locale~"/leagues") }}',
                data: {
                    source: source,
                    orderby: sort,
                    league: leagueIDs,
                    field: leaguesSearch,
                    pager: 1,
                    mobileFilterByType: mobileFilterSort,
                    entryFee_from: entryFeeFrom,
                    entryFee_to: entryFeeTo,
                    contestTypes: contestTypes
                },
                success: function (response) {

                    $('.availableLeaguesSearchResults').html(response);
                }
            });
        }
        {% if user_ref =='' and allowRedirect==1 %}
        $('#leagues-create-button').click(function () {
            eraseCookie('clicked');
            eraseCookie('leagueId');
            setCookie('clicked','create',1)
        });
        {% endif %}
        $(document).ready(function () {
            function decimalAdjust(type, value, exp) {

                if (typeof exp === 'undefined' || +exp === 0) {
                    return Math[type](value);
                }
                value = +value;
                exp = +exp;

                if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
                    return NaN;
                }

                value = value.toString().split('e');
                value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));

                value = value.toString().split('e');
                return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
            }

            if (!Math.round10) {
                Math.round10 = function (value, exp) {
                    return decimalAdjust('round', value, exp);
                };
            }
            var currentPrice = 0;
            /*** chang currency ***/
            $('.currency').change(function () {

                var source = this.value;
                if (source.length > 1) {
                    document.cookie = "currency=" + source + "; path=/";
                    submitSearchForm(source);

                }
                $.ajax({
                    type: "POST",
                    url: '{{ asset("/"~app.request.locale~"/leagues/currency/") }}' + source,
                    data: {},
                    success: function (response) {
                        $('#max-amount').text(' 0 - ' + Math.round10(200 * response, -2).toFixed(2));
                        $('#max-amount').removeClass();
                        $('#max-amount').addClass('max-amount eur' + source.toLowerCase());
                        currentPrice = Math.round10(200 * response, -2).toFixed(2);
                        var min = 0;
                        var max = parseFloat(currentPrice);
                        $(".entryfee-range").slider({
                            range: true,
                            values: [min, max],
                            min: min,
                            max: max,
                            stop: function (event, ui) {
                                $('#entryFee_from').val(ui.values[0]);
                                $('#entryFee_to').val(ui.values[1]);

                                submitSearchForm();
                            },
                            slide: function (event, ui) {
                                $("#max-amount").text(" " + ui.values[0] + " - " + ui.values[1]);
                            }
                        });
                    }
                });
            });

            $(".entryfee-range").slider({
                range: true,
                values: [0, {{ maxValue|default(200) }}],
                min: 0,
                max: {{ maxValue|default(200) }},
                stop: function (event, ui) {
                    $('#entryFee_from').val(ui.values[0]);
                    $('#entryFee_to').val(ui.values[1]);

                    submitSearchForm();
                },
                slide: function (event, ui) {
                    $("#max-amount").text(" " + ui.values[0] + " - " + ui.values[1]);
                }
            });

            $('#mobile-filter-sort').change(function () {
                var value = $(this).val();
                $("#sort").val(value);
                submitSearchForm();

                return false;
            });

            $(" .leaguelist li > input ").bind('click', function (e) {

                $(this).next().toggleClass('hover');
                $(".availableLeaguesSearchResults").html(loadingTemplate);
                var input = $(this);
                if ($(input).attr('name') == "league") {
                    if ($(input).next('label').hasClass('hover')) {
                        $(':checkbox.leaguecheckbox').prop('checked', false);
                        $('.leaguelist li > label').addClass('hover');
                    } else {
                        // check all checkboxes when ALL is checked
                        $(':checkbox.leaguecheckbox').prop('checked', this.checked);
                        $('.leaguelist li > label').removeClass('hover');
                    }
                }

                if ($(input).attr('class') == "leaguecheckbox") {
                    // uncheck ALL when one checkbox is unchecked
                    if (this.checked == false) {
                        $(':checkbox.allleaguecheckbox').prop('checked', false);
                        $(':checkbox.allleaguecheckbox').next().addClass('hover');
                    } else if (this.checked == true) {
                        // find out if all leagues are selected, if so select ALL
                        var number_of_leagues = $(this).parent().siblings().children(":checkbox.leaguecheckbox").length;

                        if ($(this).parent().siblings().children(":checkbox:checked").length == number_of_leagues) {
                            $(':checkbox.allleaguecheckbox').prop('checked', true);
                            $('.leaguelist li > label').removeClass('hover');
                        }
                    }
                }

                $(input).parents('div.filtersGroup').find('h3 span.filterTitle').text($('label[for=' + $(this).attr('id') + ']').html());

                setTimeout(function () {
                    //$(input).parents('form').submit();
                    submitSearchForm();
                }, 500);

            });
            $('.leagues-available-search input[name="page"]').val(1);
        });
    </script>
{% endblock %}
