{% extends '::base.html.twig' %}
{% block theme 'create-league' %}
{% block custom_style style %}
{% block css_vers css_version %}
{% block js_vers js_version %}
{% block show_menu menu %}
 {% block body %}
     {% set clientId = app.session.get('client') %}
     <div class="center-content">
         <div class="text-content">
             <h1>{{ 'Create a new league'|trans }}</h1>
             <div class="white-bg">

                     <div class="message minAmount">
                         {% if error is defined %}
                         {#{% for e in error %}#}
                         <h5 class="error">{{ error[0]|trans({"%mincost%" : mincost})|raw }}</h5>
                         {#{% endfor %}#}
                         {% endif %}
                     </div>

                 <div class="create-league-nav">
                     <div class="go_to_prev_step step-circle active-step" style="margin-right: -4px;"><span>1</span>
                     </div>
                     <div class="step-line"></div>
                     <div class="go_to_next_step step-circle" style="margin-left: -4px;"><span>2</span></div>
                 </div>
                 <div class="clear"></div>
                 <form method="post" name="login" autocomplete="off" id="createleagueForm">
                     <input type="hidden" name="action" value="createleague"/>
                     <input type="hidden" name="leaguetypeid" id="leaguetypeid" value="1"/>
                     <input type="hidden" name="h2hentryfee" id="h2hentryfee" value="{{ mincost }}"/>
                     <input type="hidden" name="h2hispublic" id="h2hispublic" value="1"/>
                     <input type="hidden" name="prize" id="prizeid" value="2"/>
                     <input type="hidden" name="prize" id="prizeid" value="2"/>
                     <input type="hidden" name="tmpTeam" id="tmpTeam" value="{{ random() }}"/>
                     <input type="hidden" name="leagueispublic" id="leagueispublic" value="1"/>
                     <input type="hidden" name="maxParticipants" id="participants" value="-1"/>
                     <input type="hidden" name="invitefreindsemails" id="invitefreindsemails"/>
                     <input type="hidden" name="fromdate" id="from_date"/>
                     <div id="first-step">
                         <div class="section text-center">
                             <div class="league-basics-pod">
                                 <fieldset class="name">
                                     <div class="control-group">
                                         <div class="text-center">
                                             <h3><label class="control-label"
                                                        for="league_name">{{ 'League Name'|trans }}</label></h3>
                                         </div>
                                         <input id="league_name" type="text" autocomplete="off" name="leagueName"
                                                value="{{ params['leagueName'] is defined ? params['leagueName']:'' }}"
                                                placeholder='{{ "Type league name"|trans }}' required/>
                                         <span class="message"><span
                                                     class="error"></span></span>
                                     </div>
                                 </fieldset>
                                 <fieldset class="fromdate">
                                     <div class="control-group">
                                         <div class="text-center">
                                             <h3><label class="control-label"
                                                        for="from_date">{{ 'Choose Date'|trans }}</label></h3>
                                         </div>
                                         <div class="available-dates"></div>
                                         <span class="message"><span class="error"></span></span>
                                     </div>
                                 </fieldset>
                             </div>
                         </div>
                         <div class="clear"></div>
                         <div class="text-center top-border">
                             <input type="hidden" name="matches" id="matches" value="[]"/>
                             <h2>{{ 'SELECT MATCHES'|trans }}</h2>
                             <h5>{{ 'At least 2 matches have to be selected for the league to be valid'|trans }}</h5>
                             <div class="control-group select-matches">
                                 {% if matches is not empty %}
                                     {{ include('templates/controls/league-matches-list.html.twig', { 'realLeague': realLeague,'matches':matches }) }}
                                 {% else %}
                                     <div class="no-matches">{{ 'No matches available, please select a different date'|trans }}</div>
                                 {% endif %}
                             </div>
                             <div class="control-group accept-live">
                                 <div class="checkbox">
                                     <input type="hidden" name="allow_subs" id="allow_subs" value="-1"/>
                                     <input type="checkbox" name="allowsubs" id="allowsubs" checked disabled>
                                     <label>
                                         <h4>{{ 'Allow live substitutions'|trans }}</h4>
                                     </label>
                                 </div>
                                 <h5>{{ 'This will allow you to make changes to you team during live matches.'|trans }}</h5>
                             </div>
                             <input type="button" value="{{ 'Next'|trans }}" class="btn btn-large go_to_next_step"/>
                         </div>
                     </div>
                     <div class="section" id="second-step">
                         <div class="text-center">
                             <div class="option first" id="leagueType">
                                 <h3>{{ 'Choose league type'|trans }}</h3>
                                 <div class="league-option block league first selected" data-leaguetypeid="1">
                                     {{ 'League'|trans }}
                                 </div>
                                 <div class="league-option block headtohead" data-leaguetypeid="2">
                                     {{ 'Head to head'|trans }}
                                 </div>
                                 <div class="clear"></div>
                             </div>
                             <div class="option">
                                 <h3>{{ 'Entry Fee'|trans }}</h3>
                                 <div class="league-option block first leaguepayment selected"
                                      data-leaguepayment-id="1">
                                     {{ 'Play For Money'|trans }}

                                     <div class="paymant-parent">
                                         <div class="clear"></div>
                                         <div class="payment-block"  {% if clientId == 1 %} style="width: 100%;" {% endif %}>
                                             <span class="increment-btn decrement increment" data-sign="-">-</span>

                                             <span class="input-symbol-euro">
									<input type="text" class="league-payment-value" min="{{ mincost }}" max="100"
                                           value="{{ mincost }}"
                                           onkeypress='return event.charCode >= 46 && event.charCode <= 57'/>
								</span>

                                             <span class="increment-btn increment" data-sign="+">+</span>
                                         </div>
                                         {% if showCurrency == 1 and currency_class!='eureur' %}
                                         <div class="payment-block-second">
                                             <span id="asymp" class="waveyEqual">&asymp; </span>
                                             {% set curAmount=currency*mincost %}
                                             <div class="converted-value {{ currency_class }}">
                                                 &nbsp; {{ curAmount|number_format(2, '.', ',') }}</div>
                                         </div>
                                        {% endif %}
                                     </div>
                                 </div>

                                 <div class="league-option block leaguepayment" data-leaguepayment-id="0">
                                     {{ 'Free'|trans }}
                                 </div>
                                 <div class="clear"></div>
                             </div>
                             <div class="clear"></div>
                             <hr class="leagues-hr"/>
                             <div class="option first">
                                 <h3>{{ 'Participants'|trans }}</h3>
                                 <div style="float: none;margin: 0 auto;"
                                      class="league-option block first paticipant-option selected"
                                      data-league-ispublic="1">
                                     {{ 'Anyone can join (public)'|trans }}
                                 </div>
                             </div>
                             <div class="option">
                                 <h3>{{ 'Maximum participants'|trans }}</h3>
                                 <div class="league-option block first max-participant selected"
                                      data-max-participant="-1">
                                     {{ 'Unlimited'|trans }}
                                 </div>
                                 <div class="league-option block second max-participant" data-max-participant="1">
                                     {{ 'Limited'|trans }}
                                     <div>
                                         <span class="increment-btn decrement increment" data-sign="-">-</span>
                                         <span>
									<input style="width: 40px;text-align: center;" type="number" min="4"
                                           max="{{ maxParticipants | default('200') }}"
                                           value="{{ maxParticipants | default('200') }}" class="max-participant-value"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
								</span>
                                         <span class="increment-btn increment" data-sign="+">+</span>
                                     </div>
                                 </div>

                                 <div class="clear"></div>
                             </div>
                             <div class="clear"></div>
                         </div>
                         <hr class="leagues-hr"/>
                         <div class="text-center">
                             <div class="option first">
                                 <h3>{{ 'Choose reward structure'|trans }}</h3>
                                 <h5>{{ 'Total possible winnings'|trans }}: <span class="pos-winnings">&infin;</span>
                                 </h5>
                                 <h3 id="entry-fee-title"></h3>
                                 {% if prizes %}
                                     {% for key,prize in prizes %}
                                         <div data-prizeid="{{ prize.id }}"
                                              class="league-option block winning-option col-xs-3 {{ prize.css_class }}{% if loop.index0 == 0 %} first selected{% endif %}">
                                             {{ prize.title|trans }}
                                         </div>
                                     {% endfor %}
                                 {% endif %}
                             </div>
                             <div class="option">
                                 <h3>{{ 'Invite friends (Optional)'|trans }}</h3>
                                 <div class="invite-friends-block text-left">
                                     {#<div class="invite-friends-block-text">{{ 'Type the username of your friend(s), and if they are not yet registered then enter their email address (Press the "space" key after entering his email address to validate it)'|trans }}</div>#}
                                     <div class="invite-friends-block-text">{{ 'Insert emails separated by commas'|trans }}</div>
                                     <div class="invite-friends-block-textarea">
                                         <div class="friends-list-inside left"></div>
                                         <div class="friends-list-text-inside left">
                                             <input type="text" autocomplete="false" autocorrect="off"
                                                    autocapitalize="off" name="" id="invite_friends"/>
                                         </div>
                                         <div class="clear"></div>
                                     </div>
                                     <div class="clear"></div>
                                     <div class="invite-friends-block-text">{{ 'Your friends will receive an email once you create this league'|trans }}</div>
                                 </div>
                             </div>
                             <div class="clear"></div>
                         </div>
                         <div class="clear"></div>
                         <div class="text-center padding-top">
                             <div class="control-group">
                                 <div class="controls">
                                     <input id="createleague" type="submit" value="{{ 'Create league'|trans }}"
                                            class="btn btn-large"/>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
 {% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        var weekday = new Array(7);
        weekday[0] = "Sun";
        weekday[1] = "Mon";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thu";
        weekday[5] = "Fri";
        weekday[6] = "Sat";
        var loadingTemplate = '<div class="loading">' +
            '<div>' +
            '<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
            '<p>{{ "Loading. Please Wait..."|trans }}</p>' +
            '</div>' +
            '</div>';

        function getAvailableMatches($date, elem) {
            $('.league-choose-date').removeClass('active');
            elem.className += ' active';
            $(".select-matches").html(loadingTemplate);
            $("#from_date").val($date);

            $.ajax({
                type: "POST",
                url: "{{ asset('/'~app.request.locale~'/leagues/create') }}",
                data: {date: $date},
                success: function (availablematches) {
                    $(".select-matches").html(availablematches);
                },
                dataType: 'html'
            });

            $("#matches").val("[]");
        }

        function calculateTextareaWidth(sign, inF_width) {
            var text_width = $("#invite_friends").width();
            if (sign == "-") {
                var new_width = parseInt(text_width - inF_width) - parseInt($('.InF').length * 5);
            } else {
                var new_width = parseInt(text_width + inF_width) + parseInt($('.InF').length * 5);
            }
            $("#invite_friends").width(new_width);
        }

        function setEmailsToInvite() {
            var emails = "";
            var usernames = "";
            $('.InF').each(function () {
                emails += $(this).attr('data-username') + ";";
                usernames += $(this).attr('data-username') + ", ";
            });
            $('.invited_users_list').html(usernames);
            $('#invitefreindsemails').val(emails);
        }

        $(document).ready(function () {

            var availableDates = "";
            {% for key,gamedate in dates %}
            var MyDate = new Date({{ gamedate.Year }},{{ gamedate.Month-1 }},{{ gamedate.Day }});
            var formatedDate = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth() + 1)).slice(-2) + '-' + ('0' + MyDate.getDate()).slice(-2);
            availableDates += '<div class="league-choose-date" onclick="getAvailableMatches(\'' + formatedDate + '\',this)">' +
                '<div class="week">' + weekday[MyDate.getDay()] + '</div>' +
                '<div class="day"> ' + ('0' + (MyDate.getMonth() + 1)).slice(-2) + '.' + ('0' + MyDate.getDate()).slice(-2) + '. </div>' +
                '</div>';
            {% endfor %}
            $('.available-dates').html(availableDates + '<div class="clear"></div>');
            $('.league-choose-date').first().trigger('click');

            $('.invite-friends-block-textarea').click(function () {
                $("#invite_friends").focus();
            });

            function decimalAdjust(type, value, exp) {

                if (typeof exp === 'undefined' || +exp === 0) {
                    return Math[type](value);
                }
                value = +value;
                exp = +exp;

                if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
                    return NaN;
                }

                value = value.toString().split('e');
                value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));

                value = value.toString().split('e');
                return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
            }

            if (!Math.round10) {
                Math.round10 = function (value, exp) {
                    return decimalAdjust('round', value, exp);
                };
            }

            $('.increment').click(function () {
                $('.converted-value').show();
                $('#asymp').html('&asymp;');
                var $symbol = $(this).attr('data-sign');

                var mincost ={{ mincost|default(1) }};
                var addValue = 1;
                if (mincost <= 1) {
                    addValue = 0.50;
                }

                var mincost ={{ mincost|default(1) }};
                var addValue = 1;
                if (mincost <= 1) {
                    addValue = 0.50;
                    }

                    if ($symbol == "+") {
                        var input_elem = $(this).prev('span').find('input');
                        var oldVal = input_elem.val();
                        var newVal = parseFloat(oldVal) + addValue;
                    } else if ($symbol == '-') {
                        var input_elem = $(this).next('span').find('input');
                        var oldVal = input_elem.val();
                        var newVal = parseFloat(oldVal) - addValue;
                    }

                    if (newVal < {{ mincost|default(1) }}) {
                        input_elem.val(Math.round10({{ mincost }}, -2).toFixed(2));
                        $('.converted-value').text(" " + Math.round10(1 *{{ currency*mincost }}, -2).toFixed(2));
                    } else if (newVal > 100) {
                        input_elem.val(Math.round10(100, -2).toFixed(2));
                        $('.converted-value').text(" " + Math.round10(100 *{{ currency }}, -2).toFixed(2));
                    } else {
                        input_elem.val(Math.round10(newVal, -2).toFixed(2));
                        $('.converted-value').text(" " + Math.round10(newVal *{{ currency }}, -2).toFixed(2));

                    }
                    input_elem.trigger('change');
                }
            );

            $('.league-payment-value').bind('input propertychange', function () {
                var input_elem = $('.league-payment-value');
                var newVal = $(input_elem).val();
                if (newVal == 0) {
                    $('#asymp').text(" (Min. {{ mincost }})");
                    $('.converted-value').hide();
                    return;
                }
                $('.converted-value').show();
                $('#asymp').html('&asymp;');
                if (newVal < {{ mincost }}) {
                    $('#asymp').text(" (Min. {{ mincost }})");
                    $('.converted-value').hide();
                    //$('.converted-value').text(" "+Math.round10(1*{{ currency*mincost }},-2).toFixed(2));
                } else if (newVal > 100) {
                    $('.converted-value').text(" " + Math.round10(100 *{{ currency }}, -2).toFixed(2));
                } else {
                    $('.converted-value').text(" " + Math.round10(newVal *{{ currency }}, -2).toFixed(2));
                }
            });

            $('.league-payment-value').bind('input propertychange', function () {
                var input_elem = $('.league-payment-value');
                var newVal = $(input_elem).val();
                if (newVal == 0) {
                    $('#asymp').text(" (Min. {{ mincost }})");
                    $('.converted-value').hide();
                    return;
                }
                $('.converted-value').show();
                $('#asymp').html('&asymp;');
                if (newVal < {{ mincost }}) {
                    $('#asymp').text(" (Min. {{ mincost }})");
                    $('.converted-value').hide();
                    //$('.converted-value').text(" "+Math.round10(1*{{ currency*mincost }},-2).toFixed(2));
                } else if (newVal > 100) {
                    $('.converted-value').text(" " + Math.round10(100 *{{ currency }}, -2).toFixed(2));
                } else {
                    $('.converted-value').text(" " + Math.round10(newVal *{{ currency }}, -2).toFixed(2));
                }
            });

            var regex = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;
            {#$("#invite_friends").keyup(function () {#}
            {#var val = $(this).val();#}
            {#if (val != "" && val != null && val != undefined) {#}
            {#if (regex.test($.trim(val))) {#}
            {#if (val.indexOf(" ") > -1) {#}
            {#val = $.trim(val);#}
            {#var invite_friend = "<div class='InF'>" + val + " <span>&#10006;</span></div>";#}
            {#$('.invite-friends-block-textarea .friends-list-inside').append(invite_friend);#}

            {#setEmailsToInvite();#}
            {#$('.InF span').click(function () {#}
            {#$(this).parent().remove();#}
            {#setEmailsToInvite();#}
            {#var new_val = $('#invitefreindsemails').val().replace(val + ';', '');#}
            {#$('#invitefreindsemails').val(new_val);#}
            {#});#}
            {#$('.invite-users-list-block').remove();#}
            {#$('#invite_friends').val("").focus();#}
            {#}#}
            {#} else {#}
            {#$.ajax({#}
            {#type: "POST",#}
            {#url: '{{ asset("/"~app.request.locale~"/searchMembersToFollow") }}',#}
            {#data: {search: val, invite: true},#}
            {#success: function (searchresult) {#}
            {#$('.invite-users-list-block').remove();#}
            {#var users_list = "<ul class='invite-users-list'>";#}

            {#for (var i = 0; i < searchresult.length; i++) {#}
            {#var name = searchresult[i].username;#}

            {#users_list += "<li data-username='" + searchresult[i].username + "' >" + name + "</li>";#}
            {#}#}
            {#users_list += "</ul>";#}
            {#$('#invite_friends').after("<div class='invite-users-list-block'>" + users_list + "</div>");#}
            {#$('.invite-users-list li').click(function () {#}
            {#var user_username = $(this).attr('data-username');#}
            {#var this_li = $(this).clone();#}

            {#var invite_friend = "<div class='InF' data-username='" + user_username + "'>" + user_username + " <span>&#10006;</span></div>";#}

            {#$('.invite-friends-block-textarea .friends-list-inside').append(invite_friend);#}
            {#setEmailsToInvite();#}
            {#$('.InF span').click(function () {#}
            {#$(this).parent().remove();#}
            {#setEmailsToInvite();#}
            {#$('#invite_friends').val("").focus();#}
            {#});#}
            {#$('.invite-users-list-block').remove();#}
            {#$('#invite_friends').val("").focus();#}
            {#});#}
            {#},#}
            {#dataType: 'json'#}
            {#});#}
            {#}#}

            {#}#}
            {#});#}

            $("body").click(function () {
                $(".invite-users-list-block").remove();
            });
            $(".invite-users-list-block").click(function (e) {
                if (e) {
                    e.stopPropagation();
                }
                else {
                    window.event.cancelBubble = true;
                }
            });

            $('#createleagueForm').submit(function () {
                $('input[type="submit"]').prop('disabled', true);
                $('input[type="submit"]').before(loadingTemplate);
            });

            $(".go_to_next_step").click(function () {
                var league_name = $.trim($("#league_name").val());
                var matches = $.trim($("#matches").val());
                var isValid = true;
                if (league_name == "") {

                    $("#league_name").next("span.message").find("span.error").html("{{ 'Please fill out this field' | trans }}");
                    $("html,body").animate({scrollTop: 0}, 10);
                    isValid = false;
                } else {
                    $("#league_name").next("span.message").find("span.error").html("");
                    isValid = true;
                }
                if (matches == '[]' || matches.indexOf(',') < 0) {
                    $("#first-step").find("h5").first().addClass("error");
                    isValid = false;
                } else {
                    $("#first-step").find("h5").first().removeClass("error");
                }

                if (isValid) {
                    $(".create-league-nav div").removeClass("active-step");
                    $(".go_to_next_step").addClass("active-step");
                    $("#first-step").hide();
                    $("#second-step").show();
                    $("html,body").animate({scrollTop: 0}, 10);
                }
            });

            $(".go_to_prev_step").click(function () {
                $(".create-league-nav div").removeClass("active-step");
                $("#first-step").show();
                $("#second-step").hide();
                $(this).addClass("active-step");
                $("html,body").animate({scrollTop: 0}, 10);
            });

            $("#leagueType .league-option").click(function () {
                $("#leagueType .league-option").removeClass("selected");
                $(this).addClass("selected");
                var leagueTypeID = $(this).attr("data-leaguetypeid");
                $("#leaguetypeid").val(leagueTypeID);
                $(".league-payment-value").trigger('change');

                if (leagueTypeID == 1) {
                    $("#leagueispublic").val($("#h2hispublic").val());
                    $("#leagueentryfee").val($("#h2hentryfee").val());
                    var entryFee = $("#leagueentryfee").val();
                    $("#participants").val(-1);
                    updatePrizeWinngings(entryFee, -1);
                } else {
                    $("#h2hispublic").val($("#leagueispublic").val());
                    $("#h2hentryfee").val($("#leagueentryfee").val());
                    var entryFee = $("#h2hentryfee").val();
                    $("#participants").val(2);
                    updatePrizeWinngings(entryFee, 2);
                }
            });

            $(".paticipant-options").on("click", function () {
                $(".paticipant-options").removeClass("selected");
                $(this).addClass("selected");
                var that = $(this).attr("data-league-ispublic");

                if ($("#leaguetypeid").val() == 1) {
                    $("#leagueispublic").val(that);
                } else if ($("#leaguetypeid").val() == 2) {
                    $("#h2hispublic").val(that);
                }
            });

            $(".leaguepayment").on("click", function () {
                var that = $(this).attr("data-leaguepayment-id");
                $(".leaguepayment").removeClass("selected");
                $(this).addClass("selected");
                if ($("#leaguetypeid").val() == 1) {
                    if (that == 1) {
                        $(".league-payment-value").trigger("change");
                        /*entryfee*/
                        var entryFee = $(".league-payment-value").val();
                        /*Getting the previously selected prize type and setting it to selected */
                        var prizeID = $("#prizeid").val();
                        $(".winning-option").removeClass("disabled");
                        $(".winning-option.first").trigger("click");
                    } else {
                        /*free*/
                        var entryFee = -1;
                        /* Disable all reward options */
                        $(".winning-option").removeClass("selected").addClass("disabled");
                    }
                    $("#leagueentryfee").val(entryFee);
                    /* calculated the amount of potetial winnings */
                    var entryfee = $("#leagueentryfee").val();
                    if (entryfee == -1) {
                        entryfee = 0;
                    }
                    $("#participants").val(-1);
                    updatePrizeWinngings(entryfee, -1);
                } else if ($("#leaguetypeid").val() == 2) {
                    if (that == 1) {
                        /*entryfee*/
                        $(".league-payment-value").trigger("change");
                        var entryFee = $(".league-payment-value").val();
                        $(".winning-option").removeClass("disabled").addClass("selected");
                    } else {
                        /*free*/
                        var entryFee = -1;
                        /* Disable all reward options */
                        $(".winning-option").removeClass("selected").addClass("disabled");
                    }
                    $("#h2hentryfee").val(entryFee);

                    /* calculated the amount of potetial winnings */
                    var entryfee = $("#h2hentryfee").val();
                    if (entryfee == -1) {
                        entryfee = 0;
                    }
                    $("#participants").val(2);
                    updatePrizeWinngings(entryfee, 2);
                }

            });

            $(".paticipant-option").on("click", function () {
                $(".paticipant-option").removeClass("selected");
                $(this).addClass("selected");
                $("#leagueispublic").val($(this).attr("data-league-ispublic"));
            });

            $(".max-participant").on("click", function () {
                $(".max-participant").removeClass("selected");
                $(this).addClass("selected");
                if ($(this).attr("data-max-participant") == 1) {
                    /*//entryfee*/
                    var participants = $(".max-participant-value").val();

                } else {
                    /*//free*/
                    var participants = -1;
                }
                /* calculated the amount of potetial winnings */
                $("#participants").val(participants);
                var entryfee = $("#leagueentryfee").val();
                if (entryfee == -1) {
                    entryfee = 0;
                }
                var participants = $("#participants").val();
                updatePrizeWinngings(entryfee, participants);
            });

            $(".winning-option").click(function () {
                var current_prize = $(this).attr("data-prizeid");
                if ($("#leagueentryfee").val() == -1 || $("#h2hentryfee").val() == -1) {
                    $(".winning-option").removeClass("selected").addClass("disabled");

                    $("#leagueentryfee").val(1);
                    $("#h2hentryfee").val(1);
                    $(".leaguepayment[data-leaguepayment-id=\"1\"]").trigger("click");
                    $(".winning-option.first").addClass("selected");
                    $(".winning-option").removeClass("disabled");

                    $("#entry-fee-title").after("<div class=\"error\">{{ "You need to play for money to choose a winning structure" | trans }}</div>");
                    $("html, body").animate({
                        scrollTop: $("#entry-fee-title").offset().top - 80
                    }, 10);
                } else {
                    $("#prizeid").val(current_prize);
                    $(".winning-option").removeClass("disabled").removeClass("selected");
                    $(this).addClass("selected");
                    $(".option .error").remove();
                }
            });

            /*league custom entry fee input handler*/
            $(".league-payment-value").on("change", function () {
                if ($(".leaguepayment.selected").attr("data-leaguepayment-id") == 1) {
                    var entryfee = $(this).val();
                    if(entryfee<{{ mincost }}){
                        $('#createleague').attr('disabled','disabled');
                        $('.minAmount').html('<h5 class="error">{{ 'Minimum league entry fee should not be less than %mincost% &euro;'|trans({"%mincost%" : mincost})|raw }}</h5>')
                    }else{
                        $('#createleague').removeAttr('disabled');
                        $('.minAmount').html('')
                    }
                    var leaguetypeid = $("#leaguetypeid").val();

                    /* calculated the amount of potetial winnings */
                    if (leaguetypeid == 1) {
                        if (entryfee >= 0) {
                            $("#leagueentryfee").val(entryfee);
                        }
                    } else if (leaguetypeid == 2) {
                        if (entryfee >= 0) {
                            $("#h2hentryfee").val(entryfee);
                        }
                    }

                    if (entryfee == -1 || entryfee < 0) {
                        entryfee = 0;
                    }
                    var participants = $("#participants").val();
                    updatePrizeWinngings(entryfee, participants);
                }
            });

            var cmsn = 0.1;//{$commission};

            function updatePrizeWinngings(entryfee, participants) {
                if (entryfee < {{ mincost }}) $(".pos-winnings").html("0€");
                else if (participants == -1) $(".pos-winnings").html("&infin;");
                else $(".pos-winnings").html(parseFloat(Math.round((entryfee * participants) * (1 - cmsn))).toFixed(0) + "€");
            }

            $('#createleague').click(function () {
                var inputValue = "";
                var members = "";
                var validMember = [];
                inputValue = $('#invite_friends').val();
                if (inputValue.length > 6) {
                    members = inputValue.split(',');
                    $.each(members, function (i, val) {
                        if (isValidEmailAddress($.trim(val))) {
                            //Do stuff
                            validMember[i] = $.trim(val);

                        }
                    });

                    if (validMember.length >= 1) {
                        inviteMember(validMember);

                    } else {
                        $('.invite-friends-block-textarea').after('<span class="error-select">{{ "write valid email address"|trans }}</span>');
                    }
                } else {
                    $('.invite-friends-block-textarea').after('<span class="error-select">{{ "write at least one email"|trans }}</span>');
                }
            })

        });

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        }

        function inviteMember(members) {
            var league = $('#league_name').val();

            $.ajax({
                type: "POST",
                url: '{{ asset("/"~app.request.locale~"/inviteMember") }}',
                data: {
                    members: members,
                    leagueName: league
                },
                success: function (result) {

                }
            });
        }
    </script>
{% endblock %}