{% extends '::base.html.twig' %}
{% block theme 'team-builder' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block body %}
	<div class="fixtures-custom-live">
	{% set matchday = 0 %}
	{% set datesection =0 %}
    {% set val =0%}
    
	{% for match in fixtures %}
		{% if matchday != match.match_date %}
			{% set datesection = datesection+1 %}
			<div class="sub-heading {% if match.disabled == 1 %}disabled-match{% endif %}" data-datesection="{{ datesection }}">
				<span class="arrow orange"></span>&nbsp;&nbsp;{{ match.match_datetime| date("l, F d Y") }}
				{% if match.disabled == 1 %} - <span class="disabled-notice">{translate id=554}</span>{% endif %}
			</div>

			{% set matchday = match.match_date| date("Y-m-d") %}
		{% endif %}
		<div class="single-match-fixture">
			<div style="position:relative" data-day="{{ match.match_date| date('Y-m-d') }}" class="match fixture-heading match-{{ datesection }}{% if loop.index is odd %} odd{% endif %}{% if loop.last %} last{% endif%}{% if match.disabled == 1 %} disabled-match{% endif %} ">
			
				{% if match.disabled == 1 %}
					<div class="home full-width left finished" >
						<div class="kit" {% if match.home_kit_thumb %} style="background:white url('{{ match.home_kit_thumb }}') no-repeat center center;background-size:23px"{% endif%}></div>	
						{{ match.home_team }}
					</div>
					<div class="score score-home left">{{ match.home_goals }}</div>
				{% elseif match.finalised == 1 %}
					<div class="finished minute-container left">
						<div class="date left">{{ match.match_datetime| date("H:i") }}</div>
						<div class="minute left finished">90&rsquo;</div>
					</div>
					<div class="home full-width-minute left has-minute finished" >
						<div class="kit" {% if match.home_kit_thumb %} style="background:white url('{{ match.home_kit_thumb }}') no-repeat center center;background-size:23px"{% endif %}></div>	
						{# {if $playerteams[match.home_team_id]}
							<div class="player-no left text-center">
								{$playerteams[match.home_team_id]}
								{if $playerteams[match.away_team_id] or $playerteams[match.home_team_id]}
									<div class="has-players-tooltip">
										<span class="tip">
											<div class="fixtures-legend">
												<div class="text">{{"Number of players in your team"|trans}}</div>
											</div>
										</span>
									</div>
								{/if}
							</div>
						{/if} #}
						{{ match.home_team }}
					</div>
					<div class="score score-home left">{{ match.home_goals }}</div>
				{% elseif match.started == 1 and match.finalised == 0 %}
					<div class="minute-container left">
						<div class="date left">{{ match.match_datetime|date('H:i') }}</div>
						<div class="minute left inplay" data-bind="css: MatchViewModel.status({{ val }})(),text: MatchViewModel.minute({{ val }})() + '&rsquo;'"></div>
					</div>
					<div class="home full-width-minute has-minute left" data-bind="css: MatchViewModel.status({{ val }})()">
						<div class="kit" {% if match.home_kit_thumb %} style="background:white url('{{ match.home_kit_thumb }}') no-repeat center center ;background-size:23px"{% endif %}></div>	
						{# {if $playerteams[match.home_team_id]}
							<div class="player-no left text-center">
								{$playerteams[match.home_team_id]}
								{if $playerteams[match.away_team_id] OR $playerteams[match.home_team_id]}
									<div class="has-players-tooltip">
										<span class="tip">
											<div class="fixtures-legend">
												<div class="text">{translate id=1232 default="Number of players in your team"}</div>
											</div>
										</span>
									</div>
								{/if}
							</div>
						{/if}
						#}
						{{ match.home_team }}
					</div>
					<div class="score score-home left" data-bind="text: MatchViewModel.home_team_goals({{ val }})()"></div>
				{% else %}
					<div class="home full-width left finished">
						<div class="kit" {% if match.home_kit_thumb %} style="background:white url('{{ match.home_kit_thumb }}') no-repeat center center;background-size:23px"{% endif %}></div>	
						{#
						{ if $playerteams[match.home_team_id] }
							<div class="player-no left text-center">
								{$playerteams[match.home_team_id]}
								{if $playerteams[match.away_team_id] OR $playerteams[match.home_team_id]}
									<div class="has-players-tooltip">
										<span class="tip">
											<div class="fixtures-legend">
												<div class="text">{{ 'Number of players in your team'|trans}}</div>
											</div>
										</span>
									</div>
								{/if}
							</div>
						{ endif }
						#}
						{{ match.home_team }}
					</div>
					<div class="score score-home left"></div>
				{% endif %}
				<div class="versus left">
					{% if match.started == 1 %}
						-
					{% else %}
						vs
					{% endif %}
				</div>

				{% if match.finalised and 1 %}
					<div class="score score-away left">{{ match.away_goals }}</div>
				{% elseif match.started == 1 and match.finalised == 0 %}
					<div class="score score-away left" data-bind="text: MatchViewModel.away_team_goals({{ val }})()"></div>
				{% else %}
					<div class="score score-away left"></div>
				{% endif %}

				<div class="away full-width left">
					<div class="kit" {%if match.away_kit_thumb %} style="background:white url('{{ match.away_kit_thumb }}') no-repeat center center;background-size:23px"{% endif %}></div>	
					{#
					{if $playerteams[match.away_team_id]}
						<div class="player-no right text-center">
							{$playerteams[match.away_team_id]}
							{if $playerteams[match.away_team_id] OR $playerteams[match.home_team_id]}
								<div class="has-players-tooltip">
									<span class="tip">
										<div class="fixtures-legend">
											<div class="text">{translate id=1232 default="Number of players in your team"}</div>
										</div>
									</span>
								</div>
							{/if}
						</div>
					{/if}
					#}
					{{ match.away_team }}
				</div>
				
				<div {% if match.nation_code %} style="background-image:url('/bundles/images/icons/flags-medium-{{ match.nation_code }}.png')"{% endif %} class="fixture-heading {% if match.disabled == 1 %}}disabled-match{% endif %} left" data-fixturesection="{{match.match_id}}" id ="fixture-heading-{{ match.match_id }}">
					
				</div>
				<span class="clear"></span>
			</div>
			<form method="get" class="ajax" data-container="#fixture-{{ match.match_id }}" id="form-{{ match.match_id }}">
				<input type="hidden" name="action" value="loadFixtureContent" />
				<input type="hidden" name="matchid" value="{{ match.match_id }}" />
				<input type="hidden" name="matchdayid" value="{{ match.matchday_id }}" />
				<input type="hidden" name="index" value="{{ val }}" />
				<input type="hidden" name="finalised" value="{{ match.finalised }}" />
				<input type="hidden" name="started" value="{{ match.started }}"/>
				<div class="fixture-content fixture-content-{{ datesection }}" id ="fixture-{{ match.match_id }}"></div>
			</form>
    	</div>    
		{% if match.started == 1 and match.finalised == 0 %}
			{% set val =val+1 %}
		{% endif %}
	{% else %}
		<div class="error">
			<h3>
				{{ 'No Fixtures have been found'|trans }}
			</h3>
		</div>
	{% endfor %}
</div>
	<script>
        var nodeUrl='{{ nodeUrl }}';
        var event_names = [
            ''
            {% for eventtype in eventtypes %}
            , '{{ eventtype.event }}'
            {% endfor %}
        ];
        var positions = [];
        {% set val2=1 %}
        {% for playerposition in playerPositions %}
        positions[{{ val2 }}] = "{{ playerposition.abbreviation }}";
        {% set val2 =val2+1 %}
        {% endfor %}

        var matches = new Array();
        var match_ids = new Array();
        {% set val1=0 %}
        {% for match in fixtures %}

        {% if match.started == 1 and match.finalised == 0 %}
        match_ids[{{ match.match_id}}] = {{ val1 }};
        {% set val1 =val1+1 %}
        matches.push(
            new Match('{{ match.match_datetime }}', {{ match.match_id}},{{ match.matchday_id}},{{ match.home_team_id}},{{ match.away_team_id}},
                    {% if match.home_team_ids %}
                [
                    {{ match.home_team_ids}}
                ],
                    {% else%}null{% endif %},
                    {% if match.away_team_ids%}
                [
                    {{ match.away_team_ids}}
                ],
                    {% else %}null{% endif %}
            )
        );

        {% endif %}
        {% endfor %}

        $( ".searchFilters" )
            .accordion({
                header: "> div > h3",
                heightStyle: "content",
                collapsible: true,
                active: false,
                activate:function(event, ui )
                {
                    if ($(ui.newPanel).find('.selected').length>0)
                        $('.accordion-content, .leaguelist').animate(
                            {
                                scrollTop: $('.accordion-content, .leaguelist').find('li.selected').position().top - 532
                            }
                            , 500);
                },
                beforeActivate:function(event, ui )
                {
                    $('.accordion-content, .leaguelist').animate(
                        {
                            scrollTop: 0
                        }
                        , 0);
                }
            })
            .sortable({
                axis: "y",
                handle: "h3",
                stop: function( event, ui ) {
                    ui.item.children( "h3" ).triggerHandler( "focusout" );
                }
            });

        $(document).ready(function(){

            $('.fixture-content').stop().slideToggle('fast');

            $(".sub-heading").click(function(){
                $(this).find("span").toggleClass("closed");

                var datesection = $(this).data('datesection');
                $('.match-' + datesection).stop().slideToggle('fast');

                $('.fixture-content-' + datesection).css('display','none' );

                $('.match-' + datesection).toggleClass('open').removeClass('top-border');
                $('.match-' + datesection).find("span").addClass('closed');
                /*$('.match-' + datesection).find("span").text("▶");*/
                $('.match-' + datesection).find(".fixture-heading").removeClass('open');
                $(this).nextAll('.sub-heading:first').removeClass('top-border');
            });

            $(".orange-box").live("click", function(){
                var fixturesection = $(this).data('fixturesection');
                var fixtureid = '#fixture-heading-'+fixturesection;

                $(fixtureid+' > span').removeClass('open').addClass("closed");
                $(this).parent().parent().parent().find('.fixture-heading').removeClass("open");
                $(this).parent().parent().parent().removeClass("open");

                $('#fixture-' + fixturesection).slideToggle('fast');

            });

            $(".fixture-heading:not(.disabled-match)").click(function(event) {
                event.stopPropagation();
                if ( $(this).hasClass("open") ){
                    $(this).parent().find(".orange-box").trigger('click');
                    return false;
                }
                $(this).toggleClass("open");
                $(this).parent().toggleClass("open");

                var fixturesection = $(this).data('fixturesection');
                if (!fixturesection) {
                    var fixturesection = $(this).children('.fixture-heading').data('fixturesection');
                } else {
                    var parent = true;
                }
                var fixtureid = '#fixture-heading-'+fixturesection;
                $(fixtureid+' > span').toggleClass("closed");
                $(fixtureid).toggleClass("open");

                $('#fixture-' + fixturesection).slideToggle('fast');

                var accordian = $(this).find('.arrow');
                if (!accordian.hasClass("closed") && !accordian.hasClass('fired')) {
                    var matchid = $(this).data('fixturesection');
                    if (!matchid){
                        var matchid = $(this).children('.fixture-heading').data('fixturesection');
                    }
                    var fixtureid = '#fixture-'+matchid;
                    var formid = '#form-'+matchid;

                    if ( $(fixtureid).find('.live-fixtures-timeline-container').length <= 0 ){
//                        $(fixtureid).html('{include file="extra/loading.tpl" visible=true}');
                        $.ajax({
                            type: "POST",
                            url: '{{ asset(app.request.locale~"/league/fixtures") }}',
                            data: $(formid).serialize(),
                            success: function(formid) {

                                $(fixtureid).html(formid);
                                ko.applyBindings(MatchViewModel, $(fixtureid).find('.live-fixtures-timeline-container').get(0));
                                ko.applyBindings(MatchViewModel, $(fixtureid).find('.players-container').get(0));
                                accordian.addClass('fired');
                            },
                            dataType: 'html'
                        });
                    }
                }
            });
        });
	</script>

    <script type="text/javascript" src="{{ asset('bundles/js/livefixtures.js') }}{{ js_version }}"></script>
{% endblock %}