{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block body %}
    {% if name=='PiramitCasino' %}
        {% set name='Football Manager' %}
        {% endif %}
    <div class="howitworks">
        <div class="page-container light-bg">

        </div>
        <div class="page-container light-bg">
            <div class="container ">
                <div class="left">
                    <div class="number">1</div>
                    <h2>{{ 'how-it-works-create-league'| trans ({},'faq') }}</h2>
                    <p>{{ 'how-it-works-create-league-p'| trans ({},'faq') }}</p>
                </div>
                <div class="right">
                    <div class="image" style="background-image:url('https://storage.googleapis.com/static.oulala.com/media/images/howitworks/2-leagues-2682-390x245.jpg');height:140px"></div>
                </div>
            </div>
        </div><div class="page-container light-bg">
            <div class="container ">
                <div class="left">
                    <div class="number">2</div>
                    <h2>{{ 'how-it-works-build-team'| trans ({},'faq') }}</h2>
                    <p>{{ 'how-it-works-build-team-p'| trans ({},'faq') }}</p>
                </div>
                <div class="right">
                    <div class="image" style="background-image:url('https://storage.googleapis.com/static.oulala.com/media/images/howitworks/howitworks-playingfield-3449-390x245.jpg');"></div>
                </div>
            </div>
        </div><div class="page-container light-bg">
            <div class="container ">
                <div class="left">
                    <div class="number">3</div>
                    <h2>Invite Your Friends</h2>
                    <p>Compete against your mates, beat them and earn their respect.</p>
                </div>
                <div class="right">
                    <div class="image" style="background-image:url('https://storage.googleapis.com/static.oulala.com/media/images/howitworks/invite-friends-4341-510x400.png');"></div>
                </div>
            </div>
        </div><div class="page-container light-bg">
            <div class="container no-bottom-border">
                <div class="left">
                    <div class="number">4</div>
                    <h2>Coach your team live&nbsp;</h2>
                    <p>Make substitutions, change your team formation and check how your players are performing (70 criteria included) during live matches</p>
                </div>
                <div class="right">
                    <div class="image" style="background-image:url('https://storage.googleapis.com/static.oulala.com/media/images/howitworks/4-livecoaching-2684-390x245.jpg');"></div>
                </div>
            </div>
        </div><div class="page-container light-bg">
            <div class="container ">
                <div class="left">
                    <div class="number">5</div>
                    <h2>Win real cash</h2>
                    <p>Prove you have the skills to beat your friends and collect their cash!</p>
                </div>
                <div class="right">
                    <div class="image" style="background-image:url('https://storage.googleapis.com/static.oulala.com/media/images/howitworks/5-money-2685-390x245.jpg');"></div>
                </div>
            </div>
        </div><div class="page-container no-border light-bg"><div class="container content"><a href="/{{app.request.locale}}/leagues/create" class="btn btn-large registerbtn" data-action="create-league" data-label="how-it-works">Create league</a></div></div></div>
{% endblock %}