{% extends '::base.html.twig' %}
{% block theme 'team-builder' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block body %}

{% set totalScore = 0 %}
<div class="center-content">
<div id="liveTeamDataBlock">
    {% include 'templates/controls/live-matches-content.html.twig' %}
</div>
</div>
    <script type="text/javascript" src="{{ asset('bundles/js/html2canvas.min.js') }}{{ js_version }}"></script>
<script>

    $(document).ready(function () {
        bindInplayDialogs("{{ asset('/'~app.request.locale~'/playerstats') }}",{{ teamid }});

        var isPast = {{ isPast|default(1) }};
        if (!isPast) {
            setInterval(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ asset('/'~app.request.locale~'/live/'~leagueid~'/'~teamid) }}",
                    data: {
                        leagueid: {{ leagueid|default(0) }},
                        teamid: {{ teamid|default(0) }},
                    },
                    success: function (data, textStatus, jqXHR) {
                        $('#liveTeamDataBlock').html(data);
                    },
                    error: function (data, textStatus, jqXHR) {
                    },
                    dataType: 'html'
                });
            }, 30000);
        }

    });
    $('.team-share-fb').click(function () {
        showFBLoadingScreen();
        {% set  urlFb='http://beta-new.oulala.com/en?share='~teamid|default(tmpTeam)~'&version=' %}
        var randomNum=Math.floor(Math.random() * (100000 - 0)) + 0;
        setTimeout(function () {
            window.open("https://www.facebook.com/dialog/share?app_id=1429687837272791&href={{ urlFb|url_encode }}"+randomNum, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
        },2000)
    });
    var FBloadingTemplate = '<li class="loading  fb-loading">' +
        '<img src="{{ asset("bundles/images/web/loaderfb2-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
        '</li>';

    function showFBLoadingScreen() {
        $(".social-media-team-fb").append($(FBloadingTemplate));
        $('.team-share-fb').css('opacity','0.5');
        $('.team-share-fb').hide();
        setTimeout(function () {
            $(".social-media-team-fb").children('.loading').remove();
            $('.team-share-fb').show();
            $('.team-share-fb').css('opacity','1');
        },3000);
    }
    var nodeUrl='{{ nodeUrl }}';
    var event_names = [
        ''
        {% for eventtype in eventtypes %}
        , '{{ eventtype.event }}'
        {% endfor %}
    ];

    var positions = [
        ''
        {% for position in positions %}
        , '{{ position.abbreviation }}'
        {% endfor %}
    ];

    var player_ids = [
        {% for player in players %}

        {{ player.id }}
        {% if loop.last == false %} ,{% endif %}
        {% endfor %}
    ];

    var players = [];
    {% for key, item in players %}

        {% set minuteto =item.minute_to %}
        var oPlayer = new Player({{ item.id }}, "{{ item.player_name }}", {{ item.matchDay|default(0) }}, {{ item.player_played_from|default(0) }},{{ item.player_played_to|default(0) }}, {{ item.minute_from|default(0) }}, {{ item.minute_to|default(0) }}, {{ item.is_playing|default(0) }}, {{ item.positionId }}, '{{ item.image }}', {{ item.substituted_with_id|default(0) }}, '',
                {% if item.events %}[
                    {% for item2 in item.events %}

            {% if (item2.ends_match or item2.partial_ends_match)%}{% set minuteto =item2.minute %}{% endif %}
            new Event({{ item2.event_type_id }}, {{ item2.minute }}, '{{ item2.event_title }}')
                    {% if loop.last == false %} ,{% endif %}
                    {% endfor %}
            ],
        {% else %}null,{% endif %}
                {% if item.player_score is null or item.player_score==0 %} false{% else %} true{% endif %}
        )
        {% if players[key].player_score  is not null%}
        oPlayer.score({{ players[key].player_score }});
        oPlayer.minute({{ minuteto }});
        {% endif %}

            players.push(oPlayer);
    {% endfor %}

    var formation = [
        {% for i in 0..3 %}
        { position: {{ i+1 }}, count: {{ formation[i].slots|default(1) }} }
    {% if (i < 3)%},{% endif %}
        {% endfor %}
        ];

            function populateOfflinePlayer(index, minute, score) {
                players[index].minute(minute);
                players[index].score(score);
            }

//            {section name=player loop=$players}
//            {assign var=item value=$players[player]}

//            {if $item.completed_match AND !is_null($item.score)}
//// populateOfflinePlayer({$smarty.section.player.index}, {$item.player_played_to}, {$item.score});
//            {/if}
//                {/section}

</script>

<script type="text/javascript" src="{{ asset('bundles/js/inplay.js') }}{{ js_version }}"></script>

<script>

    $(document).ready(function () {
//            bindInplayDialogs('{$securebase}{$pages.playerstats}',{$leagueid});
    });
</script>
{% endblock %}
