{% extends '::base.html.twig' %}
{% block theme 'join-league-saved-team' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block body %}
<div class="white-container">
	<h1>{{'Leagues Available'|trans}}</h1>
	<div class="white-bg">
		<div class="leagues-available-search container">
			<form method="get" class="ajax">
				<input type="hidden" name="action" value="searchAvailableLeagues" />
					<input type="hidden" id="sort" name="sort" value="fromDate-ASC" />
					<div class="league-available-header for-saved-teams">	
					<div class="league-available-header-top">{{'SELECT THE LEAGUE YOU WANT TO ENTER WITH YOUR TEAM'|trans}}</div>
					<div class="league-available-header-filter-block">
						<div class="league-available-header-filter">
							<div>
								<ul class="leaguelist image">
									<li class="all-leagues" style="display:none;">
										<input type="checkbox" name="league" checked="checked" id="league_all"  class="allleaguecheckbox" value=""/>
										<label for="league_all"></label>
									</li>
									{% for league in leagues %}
										<li>
											<input type="checkbox" name="league[]" checked="checked" id="league_{{ league.id }}" value="{{ league.id }}" class="leaguecheckbox">
											<label{% if league.nation_thumb %} style="background:url({{ asset('bundles/'~league.nation_thumb) }}) no-repeat 0px 0px;"{% endif %}  
												  for="league_{{ league.id }}">
											</label>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="team-name">{{ teamname }}</div>
						</div>
					</div>
					<div class="league-available-selected">
						<div class="selected-text">
							{{ 'You will enter'|trans}} <span class="leagues_count">0</span> {{'time(s) in the league with a total entry fee of'|trans}} <span class="leagues_fee">0</span>&euro;
						</div>
					</div>
					<div class="league-available-header-join">
						<input type="hidden" id="selected-leagues"/>
						<input type="hidden" id="selected-leagues-entry-fee"/>
						<div class="btn white web-searchbox" id="leagues-create-button" onclick="openJoinDialog({{ teamid }})">
							<span>{{'Join league'|trans}}</span>
						</div>    
					</div>
					<div class="clear"></div>
				</div> 

				<div class="leagues-mobile-header">
					<input type="hidden" name="page" value="1" onchange="submitSearchForm();"/>
					<div class="availableLeaguesSearchResults" id="leagues-list">
						<div class="loading">
							<div>
							<img src="{{ asset('bundles/images/web/loader-30.gif') }}" class="center-tag" alt="loading"/><br/>
							<p>{{'Loading. Please Wait...'|trans}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
												
				<input type="hidden" id="entry_fee_from" name="entry_fee_from" value="0" />
				<input type="hidden" id="entry_fee_to" name="entry_fee_to" value="200" />
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	var loadingTemplate = '<div class="loading">'+
		'<div>'+
			'<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>'+
			'<p>{{"Loading. Please Wait..."|trans}}</p>'+
		'</div>'+
	'</div>';
	var serverurl = "{{ serverurl }}";

    $( document ).ready(function() {
        $( ".entryfee-range" ).slider({
            range: true,
            values: [ 0, 200 ],
            min: 0,
            max: 200,
            stop: function( event, ui ) {
                $('#entry_fee_from').val(ui.values[ 0 ]);
                $('#entry_fee_to').val(ui.values[ 1 ]);

                submitSearchForm();
            },
            slide: function( event, ui ) {
                $( "#entryfee-range-values" ).text("Entry Fee €" + ui.values[ 0 ] + " - €" + ui.values[ 1 ]);
            }
        });
    });
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).width() < 768 ) {
	}else {
		setTimeout(function(){
			$('.btn-action-2').qtip({
				content: {
					text: function(api) {
						return $('#' + $(this).data("help-content")).clone();
					}
				}, style: {
					classes: 'qtip-shadow qtip-help'
				},
				position: {
					my: 'bottom left',
					at: 'top center'
				}
			});
		},1000);
	}
	
	function submitSearchForm() {
		$(".availableLeaguesSearchResults").children().remove();
		$(".availableLeaguesSearchResults").html(loadingTemplate);
		                  
		$('.leagues-available-search > form').submit(); 
	}

	$(window).load(function(){
		submitSearchForm();
	});

	$(document).ready(function() {
		$('.leagues-available-search form').bind('submit', function(e) {
			e.preventDefault();
			e.stopPropagation();

			// Get the data because once the form elements are disabled, you cannot serialize them anymore
			var data = $(this).serialize();
			
			ajaxForm(data, '.availableLeaguesSearchResults',
				function(data) {
				},
				function(data) {
				},
				serverurl
			);

			return false;
		});
		
		$(" .leaguelist li > input ").bind('click', function(e) {
            $(this).next().toggleClass('hover');        
			$(".availableLeaguesSearchResults").html(loadingTemplate);
			var input = $(this);
			if ( $(input).attr('name') == "league" ) {
                if ( $(input).next('label').hasClass('hover') ) {
                	$(':checkbox.leaguecheckbox').prop('checked',''); 
					$('.leaguelist li > label').addClass('hover');	
				}else{
					// check all checkboxes when ALL is checked
					$(':checkbox.leaguecheckbox').prop('checked', this.checked); 
					$('.leaguelist li > label').removeClass('hover');	
				}
			}
                        
			if ($(input).attr('class') == "leaguecheckbox") {
				// uncheck ALL when one checkbox is unchecked
				if (this.checked == false) {
					$(':checkbox.allleaguecheckbox').prop('checked', false);
					$(':checkbox.allleaguecheckbox').next().addClass('hover');
				}
				
				if (this.checked == true) {
					// find out if all leagues are selected, if so select ALL
					var number_of_leagues = $(this).parent().siblings().children(":checkbox.leaguecheckbox").length;
					
					if($(this).parent().siblings().children(":checkbox:checked").length == number_of_leagues) {
						$(':checkbox.allleaguecheckbox').prop('checked', true);
						$('.leaguelist li > label').removeClass('hover');	
					}
					
				}
			}

			$(input).parents('div.filtersGroup').find('h3 span.filterTitle').text($('label[for=' + $(this).attr('id') + ']').html());
			
			$('.leagues-available-search input[name="page"]').val(1);

			setTimeout(function() {
				$(input).parents('form').submit();
			}, 500);
			
		});
		
		/**/
		var vars = [], hash;
	    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	    for(var i = 0; i < hashes.length; i++)
	    {
	        hash = hashes[i].split('=');
	        vars.push(hash[0]);
	        vars[hash[0]] = hash[1];
	    }
	   
	});
</script>
 {% endblock %}