{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
 {% block body %}
<div class="center-content">
<div class="text-content">
	{% if memberleague %}
	<div class="league-details">
		<h1>{{ memberleague[0].league_name }}</h1>
		<div class="fixtures-buttons">
			<a class="btn league-header" onclick="showLeagueInformation({{ memberleague[0].member_league_id|default(0) }}, '{{ memberleague[0].slug|default(0) }}', 'info',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">{{ 'Fixtures'|trans}}</a>
			{% if ispublic %}
				{# Do not display join button 30 minutes before start #}
				{% if show_join_button and member %} 
					<a class="btn league-header" href="{{ asset('/'~app.request.locale~'/squads/create/'~memberleague[0].member_league_id|default(0)) }}">
						{% if isLeagueMember %}
							{{ 'Join with another team'| trans }}
						{% else %}
							{{ 'Join'|trans }}
						{% endif %}
					</a>
				{% endif %}
			{% endif %}
		</div>
		<div class="mobile-clear"></div>
		<div>
			<div class="left">{{ 'Entries'|trans}}: {{ memberleague[0].entries }} / {{ memberleague[0].max_participants }}</div>
			<div class="left">{{ 'Entry Fee'|trans }}: <span class="{% if memberleague[0].class %}{{ memberleague[0].class }}{% else %}euro{% endif %}"> {{ memberleague[0].entry_fee|number_format(2) }}</span></div>
			<div class="left">{{ 'Prizes'|trans}}:
				<a class="{% if memberleague[0].class %}{{ memberleague[0].class }}{% else %}euro{% endif %}" onclick="showLeagueInformation({{ memberleague[0].member_league_id|default(0) }}, '{{ memberleague[0].slug|default(0) }}', 'prizes',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">

                    {% if memberleague[0].is_gprize_fixed=='0' %}
                        {{ (memberleague[0].memberleague[0]+memberleague[0].gprize)|number_format(2) }}
                    {% else %}
                        {{ memberleague[0].gprize|number_format(2) }}
                    {% endif %}
				</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{% endif %}
	<div class="left-column-wide">
		{% if memberleague %}
			<div class="generic-search-form web-show">

				<form method="post">
					<label for="input-member">	{{ 'Search'|trans }}</label>
					<input type="hidden" id="input_member_league_id" value="{{ memberleague[0].member_league_id }}">
					<input type="text" id="input-member" placeholder="{{ 'Type a member username...'|trans }}" autocomplete="off"/>
				</form>
			</div>
			<div class="fixtures fixtures-margin details-list">
				{% include 'templates/controls/league-details-list.html.twig' %}
			</div>
		{% else %}
			<div class="nothing-here">
				<div class="warning">{{ 'Nothing Here'|trans }}</div>
			</div>
		{% endif %}
	</div>
    {% if client_allow_chat == 1 %}
		<div class="middle-column-narrow">
            {% set id = memberleague[0].member_league_id %}
            {% set page = "league" %}
			<div class="circle-messagebox">
				<div class="messagebox circle-chat-form">
                    {% if isLeagueMember %}
						<h3>{{ 'League'|trans }} {{ 'Chat'|trans }}</h3>
						<form id="circle-chat-form" method="post">
					<textarea id="circle-text-box" rows=4 placeholder="{{ 'Enter the text for your message here'|trans }}"
							  name="message" required></textarea>
							<div class="bottom">
								<input id="circle-item-box-post" type="submit" value="{{ 'Comment'|trans }}" class="btn right gray"  disabled="disabled">
							</div>
						</form>
                    {% else %}
						<div class="bottom">
                            {% if member %}
								<div class="textarea">{{'Want to post?'|trans}} <a onclick="{{ asset('/'~app.request.locale~'/squads/create/'~memberleague[0].member_league_id|default(0)) }}">{{ 'Join league'|trans }}</a></div>
                            {% else %}
								<div class="textarea">{{'Want to post?'|trans}}
									<a href="">{{ 'Login'|trans }}</a> {{ 'or'|trans }}
									<a href="">{{ 'Register'|trans }}</a> {{ 'to contribute!'|trans }}
								</div>
                            {% endif %}
						</div>
                    {% endif %}
				</div>
			</div>
            {% if ( isLeagueMember or memberleague[0].is_public == 1) and memberleague[0].member_league_id %}
				<div class="circle-chat-container">

				</div>
            {% endif %}
		</div>
    {% endif %}
	<div class="clear"></div>
</div>
 <script>
	var memberleagueid = '{{ leagueid|default(0) }}';
	var loadingTemplate = '<div class="loading">'+
			'<div>'+
				'<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>'+
				'<p>{{"Loading. Please Wait..."|trans}}</p>'+
			'</div>'+
		'</div>';
	
	$('#input-member').on('keyup', function(){

		var member = $.trim($("#input-member").val());
	
		if ((member.length > 2) || (member.length == 0)) {
			var data = {
				member:member,
				member_league_id:memberleagueid
			};
			ajaxForm(data, '.details-list', '', '',"{{ asset('/'~app.request.locale~'/league/detail/'~leagueid|default(0)) }}");
		}
	});
	
	{% if client_allow_chat == 1 %}
		$('document').ready(function(e) {
			$('.circle-chat-container').html(loadingTemplate);

            reloadChat();
		});
    function reloadChat(){

        var data =
            {
                member_league_id : memberleagueid,
                is_public: {{ memberleague[0].is_public }},
                p:{{currentpage|default(0)}},
                limit: {{limit|default(3)}},
                is_league_member: {% if ispublic %}1{% elseif isLeagueMember %}1{% else %}0{% endif %}
            };
        var successFunction="";
		{% if pagecount>0 %}
             successFunction=function(){
                setTimeout(function(){reloadChat();}, 10000);
            }
		{% endif %}
        ajaxForm(data, '.circle-chat-container', successFunction,'',"{{ asset('/'~app.request.locale~'/chat/loadLeagueChats') }}");


    }
	{% endif %}
</script>
</div>
 {% endblock %}    