{% extends '::base.html.twig' %}
{% block body %}
<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 text">
                    {% if error is defined %}
						<h1 style="color: red">{{ error}}</h1>
                    {% else %}
						<h1><strong>Oulala iframe</strong></h1>
                    {% endif %}
				</div>
				<div class="col-sm-5 form-box">
					<div class="form-bottom">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}