{% extends '::base.html.twig' %}

 {% block body %}

     <div class="container">
         <h2>Match info</h2>
         <a href="/">
             <button type="button" class="btn btn-primary">
                 Home
             </button>
         </a>
         <div class="thumbnail">
             <div class="caption">
                 <dl>
                     <br>
                     <dt>Status:</dt>
                     <dd>{{ match[0].status }}</dd>
                     <br>
                     <dt>Teams:</dt>
                     <dd>Home: <br>
                         <img alt="Can't load image." src="{{ match[0].image }}"/>
                         <strong>{{ match[0].home_name }} </strong>
                     </dd>
                     <dd>league: {{ match[0].league_name }} </dd>
                     <br>
                     <dd>Away: <br>
                         <img alt="Can't load image." src="{{ match[1].image }}"/>
                         <strong>{{ match[0].away_name }}</strong>
                     </dd>
                     <dd>league: {{ match[0].league_name }} </dd>
                     <br>
                     <dt>Result:</dt>
                     <dd>Home: {{ match[1].home_golas }}</dd>
                     <dd>Away: {{ match[1].away_golas }}</dd>
                 </dl>
             </div>
         </div>

         </tbody>
         </table>
     </div>

 {% endblock %}