{% extends '::base.html.twig' %}
{% block body %}
<div class="popup-content playerstats ">
    <script>
        var event_names = [
            ''
            {#{% for eventtype in eventtypes %}#}
            {#, '{{ eventtype }}'#}
            {#{% endfor %}#}
        ];

        var minPlayerMinute = 90;
        var maxPlayerMinute = 0;
    </script>
    <style>
        body { margin-top:0; }
    </style>
    <div class="overlay top">
        <div class="gear" style="background-image: url({{ playerdetails.image }})"></div>
        <div class="playerdetails">
            <h2>{{ playerdetails.name }}</h2>
            <span class="player-position">&nbsp; <span class="orange">-</span> {{ playerdetails.position }} </span>

        </div>
        <div class="clear"></div>
        <div class="gamedetails">
            {% if memberplayer %}
                <div class="text left right-padding">
                    <span class="title">{{ "Your Score"|trans }}</span>
                    <br/>
                    <span class="value{% if playerdetails.score %} member-score{% endif %}">{{ memberplayer.score|default(0) }}</span>
                </div>
            {% endif %}
            <div class="text left right-padding{% if memberplayer %} left-padding border-left{% endif %}">
                <span class="title">{{ 'Week Score'|trans }}</span>
                <br/>
                <span class="value{%  if playerdetails.score is defined %} player-score{% endif %}">{{   playerdetails.score|default(0) }}</span>
            </div>
            <div class="text left right-padding left-padding border-left">
                <span class="title">{{ 'Season Score'|trans }}</span>
                <br/>
                <span class="value">{{ playerdetails.seasonScore }}</span>
            </div>
            <div class="text left right-padding left-padding border-left">
                <span class="title">{{ 'Value'|trans }}</span>
                <br/>
                <span class="value">{{ playerdetails.value }}<span class="lowercase">m</span></span>
            </div>
            <div class="text left right-padding left-padding border-left">
                <span class="title">{{ 'Club'|trans }}</span>
                <br/>
                <span class="value">{{ playerdetails.team_name }}</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="fixtures rounded-container">
            <div class="mobile-searchbox">
                <div class="mobile-table">
                    <div class="info-block {cycle values='odd,even'}">
                        <div class="info-league-date">
                            <span> {{ matchdetails.mdate | date('l') }}, </span>
                            <span> {{ matchdetails.mdate | date('F') }} </span>
                            <span> {{ matchdetails.mdate | date('d') }} </span>
                            <span> {{ matchdetails.mdate | date('Y') }} at</span>
                            <span> {{ matchdetails.mdate | date('H:i') }} </span>

                        </div>
                        <div>
                            <div class="text-center">
                                <div class="team" {% if matchdetails.home_kit_thumb %} style="background-image:url('{{ matchdetails.home_kit_thumb }}')"{% endif %}>
                                    {{ matchdetails.home_team }}
                                </div>
                                <div class="score">
                                    {% if ( matchdetails.home_goals is not null) and ( matchdetails.away_goals is not null ) %}
                                        {{ matchdetails.home_goals }}
                                        -
                                        {{ matchdetails.away_goals }}
                                    {% else %}
                                        {{ 'vs'|trans }}
                                    {% endif %}
                                </div>
                                <div class="team" {% if matchdetails.away_kit_thumb %} style="background-image:url('{{ matchdetails.away_kit_thumb  }}')"{% endif %}>
                                    {{ matchdetails.away_team }}
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="stadium-league text-center">
                                {#<div class="stadium">{{ matchdetails.stadium }}</div>#}
                                <div class="league-{{ matchdetails.nation_id }}">{{ matchdetails.league }}</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table web-searchbox">
                <thead>
                <tr>
                    <th class="date-column">{{ 'Date'|trans }}</th>
                    <th colspan="3" class="fixture-column">{{ 'Upcoming fixtures'|trans }}</th>
                    <th>{{ 'Stadium'|trans }}</th>
                    <th class="league-column">{{ 'League'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {#<td>{{ matchdetails.date | ('d/m/Y')}}</td>#}
                    <td class="home-team">
                        <div class="team"{% if matchdetails.home_kit_thumb %} style="background-image:url('{{ matchdetails.home_kit_thumb }}')"{% endif %}>
                            {{ matchdetails.home_team }}
                        </div>
                    </td>
                    <td class="versus">
                        {% if matchdetails.home_goals and matchdetails.away_goals %}
                            {{matchdetails.home_goals}}
                            -
                            {{matchdetails.away_goals}}
                        {% else %}
                            {{ 'vs'|trans }}
                        {% endif %}
                    </td>
                    <td class="away-team">
                        <div class="team"{% if matchdetails.away_kit_thumb %} style="background-image:url('{{ matchdetails.away_kit_thumb }}')"{% endif %}>
                            {{ matchdetails.away_team }}
                        </div>
                    </td>
                    {#<td class="stadium">{{ matchdetails.stadium }}</td>#}
                    <td><div class="league-{{ matchdetails.nation_id }}">{{ matchdetails.league }}</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div id="player-stats-tabs" class="overlay oulala-tabs ui-tabs">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                <a href="#tabs-member-data" class="ui-tabs-anchor">Player Data</a>
            </li>
            {% if hasmatchstatistics %}
            <li>
                <a href="#tabs-scoring-breakdown">{{ 'Scoring Breakdown'|trans }}</a>
            </li>
            {% endif %}
        </ul>
        {% if hasmatchstatistics %}
        <div id="tabs-scoring-breakdown">
            <div class="playercompare">
                <div class="rounded-container">
                    <div class="stats">
                        {% set statistic_category_id = 0 %}
                        {% for stat in matchstatistics %}
                        {% if statistic_category_id != stat.category_id %}
                        {% set statistic_category_id = stat.category_id %}
                        <div class="sub-heading category" data-category="{{ stat.category_id }}">
                        <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;{{ stat.category_title }}</div>
                    <div class="occurences">
                        {{ 'Occurrences'|trans }}
                    </div>
                    <div class="points">
                        {{ 'Points Received'|trans }}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            {% endif %}
            <div class="row {% if loop.index is even %}even{% else %}odd{% endif %} category-{{ stat.category_id }} statistic-{{ stat.statistic_id }} hidden">
                <div class="first">
                    {{ stat.title }}
                </div>
                <div class="occurences col-1">
                    {{ stat.occurences }}
                </div>
                <div class="points col-1">
                    {{ stat.score }}
                </div>
                <div class="clear"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endif %}
<div id="tabs-member-data" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div>
        <div class="player-timeline-container">
            <div class="heading"></div>
            <table class="player-timeline" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        {% if memberplayer %}
                            <div class="timeline">

                                <div data-bind="attr: { 'class': 'player p' + player_id, 'title': name }">
                                    <div data-bind="attr: { 'class': 'item actual from' + {{ memberplayer.minute_from|default(0) }} + ' to' + {% if memberplayer.minute_to > 90 %}90{% else %}{{ memberplayer.minute_to|default(90) }}{% endif %} + ' ' + status() }"></div>
                                    <!-- ko if: events -->
                                    <!-- ko foreach: events -->

                                    <!-- ko if: minute >= {{ memberplayer.minute_from|default(0) }} && minute <= {% if memberplayer.minute_to > 90 %}90{% else %}{{ memberplayer.minute_to|default(90) }}{% endif %} -->
                                    <div data-bind="attr: { 'class': 'event from' + minute + ' event-' + event_type_id }">
                                        <span class="tip"> <div data-bind="text: minute + '&rsquo; ' + event_names[event_type_id], attr: { 'class': 'event-' + event_type_id }"></div> </span>
                                    </div>
                                    <!-- /ko -->

                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                            </div>
                        {% else %}
                            <div class="timeline">
                                <div data-bind="attr: { 'class': 'player p' + player_id, 'title': name }">
                                    <div data-bind="attr: { 'class': 'item actual from' + minPlayerMinute + ' to' + maxPlayerMinute + ' ' + status() }"></div>
                                    <!-- ko if: events -->
                                    <!-- ko foreach: events -->
                                    <div data-bind="attr: { 'class': 'event from' + minute + ' event-' + event_type_id }">
                                        <span class="tip"> <div data-bind="text: minute + '&rsquo; ' + event_names[event_type_id], attr: { 'class': 'event-' + event_type_id }"></div> </span>
                                    </div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="progressChart" class="progressChart hide"></div>
        <div id="noData" class="noData"><p>{{ 'There is currently no live data to show for this player'|trans }}</p></div>

        {% if memberplayer %}
            <div class="rounded-container member-data">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <h5>{{ 'Team Name'|trans }}</h5>
                            <h6>{{ memberplayer.team_title }}</h6>
                        </th>
                        <th>
                            <h5>{{ 'Week'|trans }}</h5>
                            {#<h6>{{ competition["week"] }} - <span class="tiny">{{ competition["from_date"]|date:"Y-m-d" }} - {{ competition["to_date"]|date:"Y-m-d" }}</span></h6>#}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="text left right-padding">
                                <span class="title">{{ 'Team Score'|trans }}</span>
                                <br>
                                <span class="value">{{ memberplayer.team_score }}</span>
                            </div>
                            <div class="text left right-padding left-padding border-left">
                                <span class="title">{{ 'Starting 11'|trans }}</span>
                                <br>
                                <span class="value">{% if memberplayer.starting_11 %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif%}</span>
                            </div>
                            <div class="text left right-padding left-padding border-left">
                                <span class="title">{{ 'Played From'|trans }}</span>
                                <br>
                                <span class="value">{{ memberplayer.minute_from }}'</span>
                            </div>
                            <div class="text left right-padding left-padding border-left">
                                <span class="title">{{ 'Played To'|trans }}</span>
                                <br>
                                <span class="value">{% if memberplayer.minute_to == 1000 %}90{% else %}{{ memberplayer.minute_to }}{% endif %}'</span>
                            </div>
                            <div class="text left right-padding left-padding border-left">
                                <span class="title">{{ 'Team Ranking'|trans }}</span>
                                <br>
                                <span class="value">{{ memberplayer.ranking }}</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
</div>
<style>
    .member-data thead tr th {
        border-right:1px solid #d7d7d7;
    }

    .member-data thead tr th h5 {
        color:#e9531c;
        font-size:16px;
        font-weight:700;
        margin:0;
        padding:0;
        padding-top:16px;
        padding-bottom:6px;
    }

    .member-data thead tr th h6 {
        color:#2b2b2b;
        font-size:27px;
        font-weight:900;
        margin:0;
        padding:0;
        padding-bottom:18px;
    }

    .member-data thead tr th h6 .tiny {
        font-size:20px;
        font-weight:700;
    }

    .member-data .text .title {
        line-height: 100%;
        font-size: 16px;
    }

    .member-data .text .title {
        font-weight: 700;
        color: #ea5b0c;
    }

    .member-data .text > .value {
        font-size: 24px;
        line-height: 100%;
    }

    .member-data .text .value {
        font-weight: 900;
        font-size: 28px;
        white-space: nowrap;
    }

    .member-data .text.border-left {
        border-left: solid 1px #D7D7D7;
    }
    .member-data .text.right-padding {
        padding-right: 20px;
    }
    .member-data .text.left-padding {
        padding-left: 20px;
    }
</style>

<script>
    var player = new Player({{ player_id }}, "", {{ matchday_id }}, {{ playerdetails.player_played_from|default(0) }}, {{ playerdetails.player_played_to|default(0) }}, {{ memberplayer.minute_from|default(0) }}, {{ memberplayer.minute_to|default(1000) }}, {{ playerdetails.is_playing|default(0) }}, '{{ playerdetails.position }}', '{{ playerdetails.thumb }}', {{ playerdetails.substituted_with_id|default(0) }}, null);
    ko.applyBindings(player);
    {% if playerdetails.score is defined %}
    player.score({{ playerdetails.score }});
    player.minute({{ playerdetails.player_played_to }});
    {% endif %}
</script>

<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ asset('bundles/js/jqplot/excanvas.js') }}"></script><![endif]-->
<script type="text/javascript" src="{{ asset('bundles/js/jqplot/jquery.jqplot.min.js?version=1.1') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/jqplot/plugins/jqplot.cursor.min.js?version=1.1') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/jqplot/plugins/jqplot.highlighter.min.js?version=1.1') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/jqplot/plugins/jqplot.canvasOverlay.min.js?version=1.1') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js?version=1.1') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js?version=1.1') }}"></script>

<script class="code" type="text/javascript">

    var scoreline= [];
    var plotScore = null;
    {% if memberplayer %}
    var fromMinute = {{ memberplayer.minute_from|default(0) }};
    var toMinute = {% if memberplayer.minute_to > 90 %}90{% else %}{{ memberplayer.minute_to|default(90) }}{% endif %};
    var chartWidth = 905;
    {% endif %}
    var plot = function(){
        $('#noData').addClass('hide');
        $('#progressChart').removeClass('hide');
        plotScore = $.jqplot('progressChart', [ scoreline ], {
            animate: true,
            canvasOverlay: {
                show: true
            },
            grid: {
                gridLineColor: '#efefef',
                background: '#FFF',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            {% if memberplayer %}
            canvasOverlay: {
                show: true,
                objects:
                    [
                        {
                            dashedVerticalLine: {
                                name: 'minute_from',
                                x: fromMinute,
                                yOffset: 0,
                                lineWidth: 1,
                                color: 'rgb(150, 150, 150)',
                                shadow: false
                            }
                        },
                        {
                            dashedVerticalLine: {
                                name: 'minute_to',
                                x: toMinute,
                                yOffset: 0,
                                lineWidth: 1,
                                color: 'rgb(150, 150, 150)',
                                shadow: false
                            }
                        },
                        {% if memberplayer.minute_to %}
                        {
                            verticalLine: {
                                name: 'shadingBefore',
                                x: fromMinute - (fromMinute/2),
                                yOffset: 0,
                                lineWidth: (chartWidth / 90) * (fromMinute),
                                color: 'rgba(20, 20, 20, 0.1)',
                                shadow: false
                            }
                        },
                        {
                            verticalLine: {
                                name: 'shadingAfter',
                                x: 90 - ((90 - toMinute)/2),
                                yOffset: 0,
                                lineWidth: (chartWidth / 90) * (90 - toMinute),
                                color: 'rgba(20, 20, 20, 0.1)',
                                shadow: false
                            }
                        },
                        {% else %}
                        {
                            verticalLine: {
                                name: 'shading',
                                x: 45,
                                yOffset: 0,
                                lineWidth: chartWidth,
                                color: 'rgba(20, 20, 20, 0.1)',
                                shadow: false
                            }
                        }
                        {% endif %}
                    ]
            },
            {% endif %}
            axes:{
                xaxis:{
                    min:0,
                    max:90,
                    tickInterval: 5,
                    tickOptions:{
                        formatString:'%s&rsquo;'
                    }
                },
                yaxis:{
                    showTicks: false
                }
            },
            seriesDefaults: {
                fillToZero: true,
                color: '#AAAAAA',
                fillColor: 'rgba(221,245,217,0.8)',
                lineWidth: 1
            },
            series: [
                {
                    negativeColor: 'rgba(255,0,0,0.4)',
                    shadow: false,
                    showMarker: true,
                    showLine: true,
                    fill: true,
                    fillAndStroke: true,
                    markerOptions: {
                        style: 'filledCircle',
                        size: 5,
                        shadow:false,
                        color: '#ABABAB'
                    },
                    rendererOptions: {
                        smooth: false
                    }
                }
            ],
            highlighter: {
                shadow: false,
                show: true,
                formatString:'<div class="progressChart-highlighter"> \
					<p><span class="orange bold">{{ "Minute"|trans }} </span>%s</p> \
					<p><span class="orange bold">{{ "Score"|trans }} </span>%s</p></div>',
                tooltipLocation: 'n'
            }
        });
    };
</script>

{% if playerdetails.minute_to <= 0 %}
<script>
    var nodeUrl='https://live.oulala.com:1870/';
    setUpSocket(function(socket) {

        if ( typeof io != 'undefined') {

            {% if memberplayer and ( memberplayer.score is null ) %}
            socket.emit('register_player', player);
            {% endif %}

            socket.emit('minute_by_minute', { player_id: {{ player_id }}, matchday_id: {{ matchday_id }} });

            socket.on("minute_by_minute", function(data) {

                if (data.result) {
                    if (data.result.scores != undefined && data.result.scores.length > 0) {
                        for (var i=0; i < data.result.scores.length; i++) {
                            var current_score = data.result.scores[i];

                            if (current_score.score != null ){
                                var minute = parseInt(current_score.minute);
                                var score = parseInt(current_score.score == null ? 0 : current_score.score) ;
                                if (score != null) {
                                    if ( minute > 90 ) { if ( maxPlayerMinute < 90 ) { minute = maxPlayerMinute; }  else { minute = 90; } }
                                    if (minute < minPlayerMinute) minPlayerMinute = minute;
                                    if (minute > maxPlayerMinute) maxPlayerMinute = minute;
                                    var index = (scoreline.map(function (element) {
                                        return element[0];
                                    }).indexOf(minute));
                                    if ( index < 0 ) {
                                        scoreline.push([minute, score]);
                                    }
                                    else {
                                        scoreline[index][1] = score;
                                    }
                                }
                            }
                        }

                        player.events(data.result.events);
                        updatePlayerQtip(player.player_id);
                    }

                    if ( plotScore == null && scoreline.length > 0 ) {
                        plot();
                    }


                    {% if playerdetails.score is null %}
                    socket.emit('register_player', $.extend( player, { minute_from:0, minute_to:1000 }));
                    {% endif %}
                }

                closeAllDialogs();
            });
            {% if memberplayer and ( memberplayer.minute_to != 1000 or memberplayer.minute_from != 0 ) and ( memberplayer.score is null ) %}
            socket.on("score_data_" + player.player_id + "_" + player.matchday_id + "_" + player.member_played_from() + "_" + player.member_played_to()(), function(data) {
                if (data.result) {
                    var score = parseInt(data.result.score == null ? 0 : data.result.score);
                    $(".member-score").text(score);
                }
            });
            {% endif %}

            {% if playerdetails.score is null %}
            socket.on("score_data_" + player.player_id + "_" + player.matchday_id + "_0_1000", function(data) {
                if (data.result) {
                    var minute = parseInt(data.result.minute);
                    var score = parseInt(data.result.score == null ? 0 : data.result.score);
                    $(".player-score").text(score);

                    {% if memberplayer and memberplayer.minute_to == 1000 and memberplayer.minute_from == 0
                            and ( memberplayer.score is null ) %}
                            $(".member-score").text(score);
                    {% endif %}
                    player.minute(minute);
                    if (plotScore && plotScore.series[0].data[plotScore.series[0].data.length-1]){
                        if ( minute > 90 ) minute = 90;

                        var index = (plotScore.series[0].data.map(function (element) {
                            return element[0];
                        }).indexOf(minute));
                        if ( index < 0 ) {
                            plotScore.series[0].data.push([minute, score]);
                        }
                        else {
                            plotScore.series[0].data[index][1] = score;
                        }
                        player.score(score);

                        plotScore.replot( { resetAxes: ['yaxis'] } );
                    }
                    if (player.events != undefined) {
                        player.events(data.result.events);
                    }
                    updatePlayerQtip(player.player_id);

                }
                closeAllDialogs();
            });
            {% endif %}
        }
    });

    function updatePlayerQtip(player_id)
    {
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).width() < 768 ) {
        }else {
            $('.player.p' + player_id + ' .event').qtip({
                content: {
                    text: function(api) {
                        return $(this).find('.tip').clone();
                    }
                }, position: {
                    my: 'bottom center',
                    at: 'top center'
                }, style: {
                    classes: 'qtip-shadow qtip-oulala'
                }
            });
        }
    }
    $(document).ready(function() {
        $('#player-stats-tabs').tabs({
            activate: function(event ,ui){
                if ((ui.newTab.index() === 0 || ui.newTab.index() === 1) && plotScore != null) {
                    plotScore.replot();
                }
            }
        });
        $('footer').remove();

    });
</script>
{% endif %}
</div>
{% endblock %}