{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block body %}
    {% if name!='Oulala' %}
        {% set name='Football Manager' %}
    {% endif %}
    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    <div class="center-content">
        <div class="game-rules">
            <div class="text-content">
                <div class="container">
                    <h1 class="adjoining-legend">{{ 'help-h1' | trans ({},'faq') }}</h1>
                    {#{% if app.session.get('client')==1 %}#}
                    {#<div class="submit_ticket web-show">#}
                    {#<i class="fa fa-ticket"></i>#}
                    {#<a href="http://beta-new.oulala.com/en/help/contact">{{ 'contuct-us' | trans ({},'faq') }}</a>#}
                    {#</div>#}
                    {#{% endif %}#}
                    <div class="clear"></div>
                    <ul class="nav nav-tabs navtabclass page-tabs">
                        <li {% if ( currentPath != "/"~app.request.locale~"/help/scoring-system")
                        and (currentPath != "/"~app.request.locale~"/help/faq") %} class="menu-active" {% endif %} >
                            <a href="{{ path('rules', {'param': 'game-rules' }) }}">
                                {{ 'sub-menu-it1' | trans({},'faq') }}
                            </a>
                        </li>
                        <li {% if ( currentPath == "/"~app.request.locale~"/help/scoring-system") %} class="menu-active" {% endif %}>
                            <a href="{{ path('rules', {'param': 'scoring-system' }) }}">
                                {{ 'sub-menu-it2' | trans({},'faq') }}
                            </a>
                        </li>
                        <li {% if ( currentPath == "/"~app.request.locale~"/help/faq") %} class="menu-active" {% endif %} >
                            <a href="{{ path('rules', {'param': 'faq' }) }}">
                                {{ 'sub-menu-it3' | trans({},'faq') }}
                            </a>
                        </li>
                        {% if menu != "1" %}
                            <li class="important-show ">
                                <a href="http://beta-new.oulala.com/en/help/contact">Contact Us</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% if (currentPath == "/"~app.request.locale~"/help/scoring-system") %}
                    {% include (":templates/rules:scoring-system.html.twig") %}
                {% elseif (currentPath == "/"~app.request.locale~"/help/faq") %}
                    {% include (":templates/rules:faq.html.twig") %}
                {% else %}
                    {% include (":templates/rules:game-rules.html.twig") %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}