{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block theme 'saved-teams' %}
 {% block body %}
	 <div class="center-content">
 <div class="text-content">
	 <div class=" white-bg">
		<h1 class="adjoining-legend">{{ 'Saved Teams'|trans }}</h1>
		<div class="clear"></div>
		<ul class="nav nav-tabs navtabclass page-tabs">
			<li {% if ( active == 'current' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/current') }}">{{ 'Current'|trans }}</a></li>
			<li {% if ( active == 'upcoming' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/upcoming') }}">{{ 'Upcoming'|trans }}</a></li>
			<li {% if ( active == 'past' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/past') }}">{{ 'Past'|trans }}</a></li>
			<li {% if ( active == 'winning' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/winning') }}">{{ 'Won'|trans }}</a></li>
			<li {% if ( active == 'saved-teams' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/saved-teams') }}">{{ 'Saved team'|trans}}</a></li>
		</ul>
	 </div>
	<div class="saved-team-container ">
		<div class="saved-teams-top-block">
			<div class="saved-teams-top-block-left">
				<div class="text">
					<div class="bold">{{ 'Create New Team'|trans}}</div>
					<div>{{ 'First select a match date and click "Create New Team"'|trans}}
                        {% if dates %}
							<span><a class="bold" href="javascript:void(0);" onclick="showLeagueFixtures()">{{ 'View Fixtures'|trans}}</a></span>
                        {% endif %}</div>

				</div>
				<div class="available-dates"></div>
			</div>
			<div class="saved-teams-top-block-right">
				<form action="{{ asset('/'~app.request.locale~'/create-team?tmpteam='~random()) }}" method="post" id="createNewTeamForm">
					<input type="hidden" id="selected-league-ids" name="league">
					<input type="hidden" id="selected-league-days" name="days">
					<input type="hidden" id="selected-league-matches" name="matches">
					<input type="submit" class="btn disabled" value="{{ 'Create New Team'|trans}}"/>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="">
		<div class="my-saved-teams">
			<div class="myTeamsSearchResults">
				{% include 'templates/controls/my-saved-teams.html.twig' %}
			</div>
		</div>
	</div>
 </div>
	<script type="text/javascript">

		var weekday = new Array(7);
			weekday[0]=  "Sun";
			weekday[1] = "Mon";
			weekday[2] = "Tue";
			weekday[3] = "Wed";
			weekday[4] = "Thu";
			weekday[5] = "Fri";
			weekday[6] = "Sat";
		var leagueDates = [];

		function removeSavedTeam($teamId) {
			showDialog({ action: 'openDialogDeleteSavedTeam', teamid: $teamId },"{{ asset('/'~app.request.locale~'/saved-teams') }}");
		}

		function getAvailableMatches($date,elem){
			$('.league-choose-date').removeClass('active');
			elem.className += ' active';
			showDialog({ action: 'loadAvailableMatches', date:$date,langID: 1,fixture:1 },"{{ asset('/'~app.request.locale~'/saved-teams') }}");
			$("#createNewTeamForm input[type='submit']").addClass('active');
		}

		function showLeagueFixtures(){
			showDialog({ action: 'loadAvailableMatches', date:leagueDates,langID: 1,fixture:1 },"{{ asset('/'~app.request.locale~'/saved-teams') }}");
		}

		$(document).ready(function() {

			var availableDates = "";
			{% for key,gamedate in dates %}
				var MyDate = new Date({{gamedate.Year}},{{gamedate.Month-1 }},{{gamedate.Day}});
				var formatedDate = MyDate.getFullYear()+'-'+('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2);
				availableDates +=  '<div class="league-choose-date" onclick="getAvailableMatches(\''+formatedDate+'\',this)">'+
								'<div class="week">'+weekday[MyDate.getDay()]+'</div>'+
								'<div class="day"> '+('0' + (MyDate.getMonth()+1)).slice(-2) + '.' +('0' + MyDate.getDate()).slice(-2)+'. </div>'+
							'</div>';
				leagueDates.push(formatedDate);
			{% endfor %}
			$('.available-dates').html(availableDates+'<div class="clear"></div>');

			$("#createNewTeamForm").submit(function(event){
				var button = $("#createNewTeamForm input[type='submit']");
				$("#createNewTeamForm .error").remove();
				var leagues = $("#selected-league-ids").val();
				var days = $("#selected-league-days").val();
				var matches = $("#selected-league-matches").val();
				if ( leagues !="" && days !="" && matches!="" && $(button).hasClass('active') ){
					$("#createNewTeamForm .error").remove();
					return;
				}
				event.preventDefault();
			});
		});
	</script>
</div>
{% endblock %}
	
