{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block theme 'upcoming-league' %}
 {% block body %}
	 <div class="center-content">
		 <div class=" white-bg">
			 <h1 class="adjoining-legend">{{ 'My Teams'|trans }}</h1>
             {% set action = asset('/'~app.request.locale~'/openDialogForMemberInvitation') %}
			 {% if  inviteFb==1 %}
			 <div class="btn btn-primary web-show" id="invite-members-fb" onclick="btnClick()" style="float:right;">{{'Invite Facebook Friends'|trans}}</div>
             {% endif %}
             {% if menu==1 %}
				 <div class="btn web-show" id="invite-members-btn" onclick="showDialog({m:'{{userref}}' },'{{ action }}');" style="float:right;">{{'Invite Members'|trans}}</div>
             {% endif %}
			 <div class="clear"></div>
			 <ul class="nav nav-tabs navtabclass page-tabs">
				 <li {% if ( active == 'current' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/current') }}">{{ 'Current'|trans }}</a></li>
				 <li {% if ( active == 'upcoming' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/upcoming') }}">{{ 'Upcoming'|trans }}</a></li>
				 <li {% if ( active == 'past' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/past') }}">{{ 'Past'|trans }}</a></li>
				 <li {% if ( active == 'winning' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/squads-list/winning') }}">{{ 'Won'|trans }}</a></li>
				 <li {% if ( active == 'saved-teams' )  %} class="active" {% endif %}><a href="{{ asset('/'~app.request.locale~'/saved-teams') }}">{{ 'Saved team'|trans}}</a></li>
			 </ul>
		 </div>
		 <div class=" white-bg">
			 <div class="myteams-search">
				 <div class="">
					 <input type="hidden" id="sort" name="sort" value="fromDate-DESC">
					 <div class="myteams myteamsSearchResults">
                         {% include 'templates/controls/my-teams-list.html.twig' %}
					 </div>
					 <div class="content-legend content-legend-myteams">
						 <p class="legend-wager-ok">{{"League joined and your team is valid" | trans}}</p>
						 <p class="legend-invalid-team">{{"League joined but your team is not valid" | trans}}</p>
						 <p class="legend-not-joined">{{"You have not joined the league yet" | trans}}</p>
					 </div>
				 </div>
			 </div>
		 </div>
		 <script type="text/javascript">
             var loadingTemplate = '<div class="loading">'+
                 '<div>'+
                 '<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>'+
                 '<p>Loading. Please Wait...</p>'+
                 '</div>'+
                 '</div>';
             function submitSearchForm() {
                 $(".myteamsSearchResults").children().remove();
                 $(".myteamsSearchResults").html(loadingTemplate);
                 var sort = $("#sort").val();
                 var mobileFilterSort = $("#mobile-filter-sort").val();

                 $.ajax({
                     type: "POST",
                     url: '{{ asset("/"~app.request.locale~"/squads-list/"~active) }}',
                     data: {
                         orderby:sort,
                         mobileFilterByType:mobileFilterSort,
                     },
                     success: function (response) {
                         $('.myteamsSearchResults').html(response);
                     }
                 });
             }
             $(document).ready(function(){
             window.fbAsyncInit = function() {

                 FB.init({
                     appId   : '415623275539101',
                     xfbml   : true,
                     version : 'v2.0',
                     status  : true,
                     cookie  : true,
                     oauth   : true
                 });
             };
             });
             function btnClick() {

                 FB.login(function (response) {
                     if (response.authResponse) {
                         
                         FB.ui({
                                 method: 'send',
                                 link: 'http://beta-new.oulala.com/',
                             },
                             function(response) {});
                     } else {
                         alert('User is logged out');
                     }
                 }, {scope: 'public_profile,user_friends'})

             };

             (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));

             function jsonParser(response) {
                 var message = "";
                 var dataArray = response.data;
                 for(var count in dataArray){
                     message = message + dataArray[count].name;
                     message = message + '<br/>';
                 }
                 return message;
             };

		 </script>
	 </div>
 {% endblock %}