{% extends '::base.html.twig' %}
{% block theme 'team-builder pre-match' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% if app.request.query.all()['tmpteam'] is defined %}
    {% set tmpTeam=app.request.query.all()['tmpteam'] %}
{% else %}
    {% set tmpTeam=0 %}
{% endif %}

 {% block meta %}
     <meta property="og:url" content="{{ url('oulalai_frame_home')~ app.request.locale}}">
     <meta property="og:title" content="{{ team_name|default(client_name~' FC') }}">
     <meta property="og:description" content=""/>
     <meta property="og:image" content="{{ url('oulalai_frame_home') }}bundles/images/team/image-{{ teamid|default(tmpTeam) }}.jpg"/>
     <meta property="og:type" content="article">
 {% endblock %}
{% block body %}

    <div class="center-content">
        <div class="container white-container">
            <div class="team-builder-details">
                {% if app.request.get('loadTeam') %}
                    <div class="saved-teams-warning">{{ "You have player(s) in your team cannot join this league and we deselected them automatically. Please add the players you want."|trans }}
                        <span class="close-btn">x</span>
                    </div>
                {% endif %}
                {% set language = app.request.locale %}
                <input type="text" name="language" value="{{ language }}" style="display: none">
                <h1>{{ 'Create Your Team'|trans }}{% if league|length > 0 %} : {{ league.league_name }}{% endif %}</h1>
            {% if shareFb==1  %}
                <ul class="social-media-team-fb">
                    {% set currentPath = path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) %}
                    <li class="team-share-fb" onclick="saveTeamImage()"></li>
                </ul>
            {% endif %}
            </div>
            <div class="container  custom-margin team-builder-details league-details">
                <div class="text left">
                    <span class="title">{{ 'Entries'|trans }}:</span>
                    <span>
				<a onclick="showLeagueInformation({{ league.league_id|default(0) }}, '{{ league.slug|default(0) }}', 'entries',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">{{ league.entry|default(0) }}</a>{% if league.maxParticipants|default(0) > 0 %} / {{ league.maxParticipants|default(0) }}{% endif %}
			</span>
                </div>

                <div class="text left">
                    <span class="title">{{ 'Entry Fee'|trans }}:</span>
                    <span>
				 &euro;{{ league.entryFee|default(0)|number_format(2) }}
			</span>
                </div>

                <div class="text left">
                    <span class="title">{{ 'Prizes'|trans }}:</span>
                    <span>
				 <a onclick="showLeagueInformation({{ league.league_id|default(0) }}, '{{ league.slug|default(0) }}', 'prizes',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">
                     &euro;
                     {% if league.is_gprize_fixed=='0' %}
                         {{ (league.prize+league.gprize)|number_format(2) }}
                     {% else %}
                         {{ league.gprize|number_format(2) }}
                     {% endif %}
                 </a>
			</span>
                </div>
            </div>
        </div>
        <div class="page-container gamedetails">
            <div class="container">
                <div class="text-right right team-buttons-block">
                    <div>
                        <div class="builder-option black" id="team-builder-clear-team">
                            <form method="POST" action="{$securebase}{$pages.myaccount}">
                                <input type="button" class="btn-team btn-team-clear" value="{{ 'Clear Team'|trans }}"/>
                            </form>
                        </div>
                        <div class="builder-option black load-team" id="load-saved-teams"
                             onclick="loadSavedTeams({{ league.league_id|default(0) }}, {{ teamid|default('null') }})">
                            <div class="btn-team">{{ 'Load Team'|trans }}</div>
                        </div>
                        <div class="builder-option black show-fixtures" id="team-builder-fixtures"
                             onclick="showLeagueInformation({{ league.league_id|default(0) }}, '{{ league.slug|default(0) }}', 'info',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">
                            <div class="btn-team">{{ 'Fixtures'|trans }}</div>
                        </div>
                    </div>
                    <div>
                        {% if showJoinButton %}
                            <div class="builder-option join-league" id="team-builder-join-league">
                                <input type="button" value="{{ 'Join league'|trans }}" class="btn-team-save"
                                       data-help-content="help-save-team"/>
                            </div>
                        {% endif %}
                        {% if isSaved %}
                            <div class="builder-option join-league" id="team-builder-save-team">
                                <input type="button" value="{{ 'Save team'|trans }}" class="btn-team-save"/>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="text left right-padding border-right left-padding team-builder-tip"
                     id="team-builder-team-name" data-help-content="help-team-name" data-my="top center" data-at="0">
                    <span class="title">{{ 'Your Team Name'|trans }}</span>
                    <span class="teamname">
				<input type="text" value="{{ team_name|default(client_name~' FC') }}" id="teamname" maxlength="20"/>

				<a class="startedit btn-action-3 btn-edit-name" data-help-content="help-edit-name"
                   style="background-image: url({{ asset('/bundles/images/icons/edit.png') }});">
				</a>
				<a class="accept btn-action-3 btn-accept-name" data-help-content="help-accept-name"
                   style="background-image: url({{ asset('/bundles/images/icons/accept.png') }});">

				</a>
				<a class="cancel btn-action-3 btn-cancel-name" data-help-content="help-cancel-name"
                   style="background-image: url({{ asset('/bundles/images/icons/cancel.png') }});">

				</a>
			</span>
                    <div id="help-edit-name" class="helper">
                        {{ 'Click here to change your team name. Make us dream.'|trans }}

                    </div>
                    <div id="help-accept-name" class="helper">
                        {{ 'Click here to valid your team name.'|trans }}
                    </div>
                    <div id="help-cancel-name" class="helper">
                        {{ 'Click here to cancel your team name.'|trans }}
                    </div>
                </div>
                <div class="text left left-padding right-padding border-right team-builder-tip" id="team-builder-budget"
                     data-help-content="help-budget-left" data-my="top center" data-at="0">
                    <span class="title">{{ 'Budget Left'|trans }}</span>
                    <span class="value budget-left">{% if budget.left is defined %}{{ budget.left|number_format(2, '.', ',') }}{% else %}100.00{% endif %}
                        m</span>
                </div>
                <div class="text left left-padding right-padding" id="team-builder-formation">
                    <span class="title">{{ 'formation'|trans }}</span>
                    <span>
				<select id="formations" class="team-builder-tip" data-help-content="help-formations"
                        data-my="top center" data-at="0">
					{% for formation in formationList %}
                        <option value="{{ formation.id }}">{{ formation.name }}</option>
                    {% endfor %}
				</select>
			</span>
                </div>
                <input type="hidden" id="joinedLeagues" name="joinedLeagues"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="teambuilder-notice">
            <div class="error-container">
                <div class="container">{% if ( budget.error is defined ) and ( budget.error ) %}{{ budget.error }}{% endif %}</div>
            </div>
        </div>
        <div>
            <div class="page-container inplay-bg teambuilder">
                <div class="container grid">
                    <div style="height:695px;position:relative;margin-top: 20px;" class="team-left-sidebar-block">
                        <div class="left">
                            <div class="pitch-placeholder">
                                {% include 'templates/controls/teambuilder-pitch.html.twig' %}
                            </div>
                        </div>
                        <div class="right">
                            <!--players-->
                            <div class="side-board">
                                <div class="dropbox-delete">
                                    <div class="message">
                                        <img src="{{ asset('/bundles/images/background/delete-player.png') }}"
                                             alt="{translate id=1042}"/>
                                        <br/><br/><br/>
                                        Drop player here to remove him from your team
                                    </div>
                                </div>
                                <div class="playersearch playersearch-mini">
                                    <form method="get" id="myform" data-container=".playerSearchResults">
                                        <input type="hidden" name="action" value="searchPlayersBuildTeam"/>
                                        <input type="hidden" name="leagueid" value="{{ leagueId |default(0) }}"/>
                                        <input type="hidden" name="page" class="playerSearchResultsPage"
                                               value="{{ page_offset|default(0) }}" onchange="submitSearchForm();"/>
                                        <input type="hidden" id="budgetleft" name="budgetleft"
                                               value="{{ budgetleft|default(100) }}" class="budget-left-filter"/>
                                        <input type="hidden" id="sort" name="sort" value="value-desc"/>
                                        <input type="hidden" id="valuefrom" name="valuefrom" value="0"/>
                                        <input type="hidden" id="valueto" name="valueto" value="{{ playervalue }}"/>
                                        <input type="hidden" id="member_position" name="position"/>
                                        <input type="hidden" name="savedTeam" value="{{ isSaved|default(0) }}">
                                        <input type="hidden" name="days" value="{{ days|default('null') }}">
                                        <input type="hidden" name="matches" value="{{ matches|default('null') }}">
                                        <div class="rounded-container">
                                            <div class="heading build" id="team-builder-player-filters">

                                                <div class="select-players mobile-show">
                                                    <div class="select-text">{{ 'Select players'|trans }}</div>
                                                    <div class="go-to-pitch"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="team-side-block-1">
                                                    <div class="leagues-list">
                                                        <span class="filter-title">{{ 'League'|trans }}</span>
                                                        <select name="league" id="league-list"
                                                                onchange="updateSideSearchTeam($(this).val()); ">
                                                            <option value="">--------</option>
                                                            {% for league in leagues %}
                                                                <option value="{{ league.league_id }}"
                                                                        data-leagueid="{{ league.league_id }}">{{ league.title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="clubs-list">
                                                        <span class="filter-title">{{ 'Club'|trans }}</span>
                                                        <select name="team" id="club-list">
                                                            <option value="{% for team in teams %}{{ team.team_id }}{% if not loop.last %},{% endif %}{% endfor %}">
                                                                --------
                                                            </option>
                                                            {% for team in teams %}
                                                                <option value="{{ team.team_id }}"
                                                                        data-leagueid="{{ team.league_id }}">{{ team.title }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="team-side-block-2">
                                                    <div class="player-positions">
                                                        {% for key,pos in positions %}
                                                            <div class="player-position pos-{{ key }}"
                                                                 data-pos-id="{{ pos.rank }}">{{ pos.abbreviation }}</div>
                                                        {% endfor %}
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <input class="team-builder-tip"
                                                           data-help-content="help-search-players" type="text"
                                                           placeholder="{{ 'Type a player name'|trans }}" name="field"/>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="hidden-filter">
                                                    <div class="team-side-block-3">
                                                        <div class="slider-container">
                                                            <div id="value-range-values">{{ 'Value'|trans }}: 0m
                                                                - {{ playervalue }}m
                                                            </div>
                                                            <div id="value-range"></div>
                                                        </div>
                                                        <div class="show-in-budget">
                                                            <input id="showInBudget" type="checkbox" name="inbudget"/>
                                                            <label for="showInBudget"
                                                                   class="showInBudgetlabel">{{ 'Show in budget'|trans }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="playerSearchResults" id="team-builder-player-search-results">
                                                {% include 'templates/controls/search-players-result.html.twig' %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container white-container">
            <div class="memberteam-schedule-container substitution-guide-container">
                <div class="title">{{ 'Schedule of play'|trans }}</div>
                <div class="substitution-guide-placeholder rounded-container">
                    {% include 'templates/controls/memberteam-schedule.html.twig' %}
                </div>
                <div class="substitution-guide-legend">
                    <div class="legend-text substitute">= {{ 'substitute player'|trans }}</div>
                    <div class="legend-text after-substitute">
                        = {{ 'this player plays after a substitute player'|trans }}</div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/js/html2canvas.min.js') }}{{ js_version }}"></script>
    <script type="text/javascript">
        var loadingTemplate = '<div class="loading">' +
            '<div>' +
            '<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
            '<p>{{ "Loading. Please Wait..."|trans }}</p>' +
            '</div>' +
            '</div>';

            var FBloadingTemplate = '<li class="loading  fb-loading">' +
            '<img src="{{ asset("bundles/images/web/loaderfb2-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
            '</li>';

        var isEditTeam = {{ teamid|default('null') }};
        var memberleagueid = {{ leagueId |default(0) }};
        var teamid = {{ teamid|default(tmpTeam) }};
        var isSaved = {{ isSaved|default(0) }};
        var currentteamid = {{ teamid|default("null") }};
        var loadingteam = {{ loadingteam|default(0) }};
        var days = $('input[name="days"]').val();
        var matches = $('input[name="matches"]').val();
        var leagues = $("select#league-list option").map(function () {
            return $(this).val();
        }).get().join(",");

        var route = 'squad';
        if (isSaved) {
            route = 'savedsquad';
        }
        {%  if app.request.get('loadTeam') %}
        teamid={{ app.request.get('tmpteam') }};
        performAction("{{ 'squad/loadMyTeam'}}",{//'/'~app.request.locale~'/leagues/loadMyTeam'
            leagueid: memberleagueid,
            loadteamid: {{ app.request.get('loadTeam') }},
            currentteamid:isEditTeam,
            teamid: {{ app.request.get('tmpteam') }},
            loadingteam:true,
            savedTeam: 0,
            refresh:1
        },function(){
        });
        {% endif %}
        function showLoadingScreen() {
            $(".pitch-placeholder .field").children().remove();
            var $div = $("<div></div>").css("padding-top", "150px").append($(loadingTemplate));

            $(".pitch-placeholder .field").append($div);

            $(".pitch-placeholder .subs-container").children().remove();
            $(".pitch-placeholder .subs-container").append($(loadingTemplate))
            if (!isSaved) {
                $(".substitution-guide-placeholder").children().remove();
                $(".substitution-guide-placeholder").append($(loadingTemplate).css('padding-top', '50px'));
            }
        }

        function showSideLoadingScreen() {
            var $div = $("<div></div>").css("padding-top", "150px").append($(loadingTemplate));

            $(".playersearch .playerSearchResults").children().remove();
            $(".playersearch .playerSearchResults").append($(loadingTemplate));
        }

        function showFBLoadingScreen() {
            $(".social-media-team-fb").append($(FBloadingTemplate));
            $('.team-share-fb').css('opacity','0.5');
            $('.team-share-fb').hide();
            setTimeout(function () {
                $(".social-media-team-fb").children('.loading').remove();
                $('.team-share-fb').show();
                $('.team-share-fb').css('opacity','1');
            },3000);
        }

        function loadSavedTeams($leagueid, $teamid) {

            showDialog({
                leagueid: $leagueid,
                teamid: $teamid,
                savedTeam: isSaved,
                currentteamid: currentteamid
            }, "{{ asset('/'~app.request.locale~'/savedsquad/loadMySavedTeamDialog') }}");
        }

        var saveteamclicked = false;
        var joinleagueclicked = false;

        $(window).load(function () {
            submitSearchForm();
        });

        function saveTeamImage() {
                showFBLoadingScreen();

                {% set  urlFb='http://beta-new.oulala.com/'~app.request.locale~'?share='~teamid|default(tmpTeam)~'&version=' %}
                var randomNum=Math.floor(Math.random() * (100000 - 0)) + 0;

                    setTimeout(function () {
                        window.open("https://www.facebook.com/dialog/share?app_id=1429687837272791&href={{ urlFb|url_encode }}"+randomNum, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
                        },2000)
            }

        $(document).ready(function () {

            /* </actions> */
            $('.playersearch form').submit(function (e) {
                e.preventDefault();
                e.stopPropagation();

                // Get the data because once the form elements are disabled, you cannot serialize them anymore
                var data = $(this).serialize();

                // Lock the form elements so that they cannot be manipulated while the search is in progress
                changeSearchElementLock('lock');
                var serverurl = "{{ asset('/'~app.request.locale~'/') }}" + route + "/searchPlayersBuildTeam";

                ajaxForm(data, '.playerSearchResults',
                    function (data) {
                        changeSearchElementLock('unlock');
                        disableSelected();
                        //(memberleagueid);
                    },
                    function (data) {
                        changeSearchElementLock('unlock');
                    },
                    serverurl
                );

                return false;
            });

            $(".teambuilder-notice").hide();
            $("#showInBudget").change(function () {
                submitSearchForm();
            });

            $("#formations").change(function () {
                showLoadingScreen();

                performAction(route + '/setFormation', {
                    formation: $("#formations").val(),
                    leagueid: memberleagueid,
                    teamid: teamid,
                    savedTeam: isSaved,
                    currentteamid: currentteamid,
                    loadingteam: loadingteam,
                    days: days,
                    matches: matches,
                    league: leagues,
                });
            });

            $(".btn-team-clear").click(function () {

                showDialog({
                    formation: $("#formations").val(),
                    leagueid: memberleagueid,
                    teamid: teamid,
                    savedTeam: isSaved,
                    currentteamid: currentteamid,
                    loadingteam: loadingteam,
                    days: days,
                    matches: matches,
                    league: leagues,
                }, "{{ asset('/'~app.request.locale~'/') }}" + route + "/clearTeamConfirm");
            });

            $(".close-btn").click(function () {
                $(".saved-teams-warning").hide();
            })
            $("#team-builder-join-league .btn-team-save").click(function () {

                if ($('.teamnotification .problem').hasClass('valid')) {
                    joinleagueclicked = true;
                    showDialog({
                        formation: $("#formations").val(),
                        leagueid: memberleagueid,
                        teamid: teamid,
                        savedTeam: isSaved,
                        currentteamid: currentteamid,
                        loadingteam: loadingteam,
                        days: days,
                        matches: matches,
                        league: leagues,
                        loadTeam:{{ app.request.get('loadTeam')|default(0) }},
                        totalCount:{{ app.request.get('total')|default(1) }}
                    }, "{{ asset('/'~app.request.locale~'/') }}" + route + "/joinLeagueConfirm");
                }
            });

            $("#team-builder-save-team .btn-team-save").click(function () {
                if ($('.teamnotification .problem').hasClass('valid')) {
                    saveteamclicked = true;
//                    showLoadingScreen();
                    if (isEditTeam != 'null' && isEditTeam != 0 && isEditTeam != '') {
                        showDialog({
                            formation: $("#formations").val(),
                            leagueid: memberleagueid,
                            teamid: teamid,
                            savedTeam: isSaved,
                            currentteamid: currentteamid,
                            loadingteam: loadingteam,
                            days: days,
                            matches: matches,
                            league: leagues,
                        }, "{{ asset('/'~app.request.locale~'/') }}" + route + "/chooseLeaguesTeamToChange");
                    } else {
                        showDialog({
                            formation: $("#formations").val(),
                            leagueid: memberleagueid,
                            teamid: teamid,
                            savedTeam: isSaved,
                            currentteamid: currentteamid,
                            loadingteam: loadingteam,
                            days: days,
                            matches: matches,
                            league: leagues,
                        }, "{{ asset('/'~app.request.locale~'/') }}" + route + "/saveTeamConfirm");
                    }
                }
            });
            /* <team-name> */
            var teamname = "";

            $(".teamname .cancel").click(function () {
                $('#teamname').css('width', '75%');
                $(this).parents(".teamname").removeClass("edit");

                $(".teamname #teamname").val(teamname);
            });

            $(".teamname .accept").click(function () {
                $('#teamname').css('width', '75%');
                var teamName = $("#teamname").val().trim();
                var locale = $('.team-builder-details').children('input').val();
                $(this).parents(".teamname").removeClass("edit");


                if ((teamName.length >= 2) && (isEditTeam !== null) && !isSaved) {
                    $.ajax({
                        type: 'POST',
                        url: "/" + locale + "/changeTeamName",
                        data: {
                            teamName: teamName,
                            teamId: teamid
                        }, success: function (data) {
                        }
                    });
                } else if ((isEditTeam !== null) && isSaved) {
                    $.ajax({
                        type: 'POST',
                        url: "{{ asset('/'~app.request.locale~'/') }}" + route + "/changeTeamName",
                        data: {
                            teamName: teamName,
                            currentteamid: teamid
                        }, success: function (data) {
                        }
                    });
                }
            });

            $(".teamname #teamname, .teamname .startedit").click(function () {
                $('#teamname').css('width', '55%');
                startEdit();
            });

            function startEdit() {
                teamname = $(".teamname #teamname").val();
                $(".teamname").addClass("edit");
                $(".teamname #teamname").select();
            }

        });
        /* </team-name> */

        $('.hide-filters').click(function () {
            $('.hidden-filter').slideToggle();
            $(this).toggleClass('active');
        });

        $("#value-range").slider({
            range: true,
            values: [0, {{ playervalue|default(45) }} ],
            min: 0,
            max: {{ playervalue|default(45) }},
            stop: function (event, ui) {
                $('#valuefrom').val(ui.values[0]);
                $('#valueto').val(ui.values[1]);
                setPagination(0);
            },
            slide: function (event, ui) {
                $("#value-range-values").text("Value: " + ui.values[0] + "m - " + ui.values[1] + "m");
            }
        });

        var window_width = $(window).width();
        if (window_width > 767) {
            $(window).resize(function () {
                var window_width = $(this).width();
                if (window_width > 767) {
                    $('.teambuilder .right,.teambuilder .left,.memberteam-schedule-container').show();
                } else {
                    $('.teambuilder .right').hide();
                    $('.teambuilder .left,.memberteam-schedule-container').show();
                }
            });
        }

        $('.go-to-pitch').click(function () {
            $('.team-builder-nav-mobile span').removeClass('active');
            $('.teambuilder .right').hide();
            $('.teambuilder .left,.memberteam-schedule-container').show();
            $(this).addClass('active');
        });

        {% if formation %}
        $("#formations").val("{{ formation }}");
        {% endif %}

        $('.team-auto-saved').delay(3000).fadeOut();

        $('.team-auto-saved').click(function () {
            $(this).stop().fadeOut();
        });

        $(window).unload(function () {
            if (!isEditTeam && !saveteamclicked && !joinleagueclicked) {
                var action = "clearTeam";
                if (isSaved) {
                    var action = "cancelTeamSave";
                }

                $.ajax({
                    type: 'POST',
                    url: "{{ asset('/'~app.request.locale~'/') }}" + route + '/' + action,
                    async: false,
                    data: {
                        formation: $("#formations").val(),
                        leagueid: memberleagueid,
                        teamid: teamid,
                        savedTeam: isSaved,
                        currentteamid: currentteamid,
                        loadingteam: loadingteam,
                        days: days,
                        matches: matches,
                        league: leagues,
                    }
                });
            } else if (!saveteamclicked && isSaved) {
                $.ajax({
                    type: 'POST',
                    url: "{{ asset('/'~app.request.locale~'/') }}" + route + "/cancelTeamSave",
                    async: false,
                    data: {
                        formation: $("#formations").val(),
                        leagueid: memberleagueid,
                        teamid: teamid,
                        savedTeam: isSaved,
                        currentteamid: currentteamid,
                        loadingteam: loadingteam,
                        days: days,
                        matches: matches,
                        league: leagues,
                    }
                });
            }
        });
    </script>

{% endblock %}