{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
 {% block body %}
     <div class="center-content">
     <div class="profile-name">
         {#<div class="left" style="margin-bottom: 10px">#}
         <div> {% if aMemberTeam.image is defined %}<span><img src="{{ aMemberTeam.image }}"
                                                               style="vertical-align: top; height: 30px"
                                                               alt="{{ aMemberTeam.team_name }}"
                                                               title="{{ aMemberTeam.team_name }}"></span>{% endif %}
             {{ memberinfo.username|default(client_name) }}</div>
         &nbsp;&nbsp;<div>
             {% if memberinfo.memberexperience is defined %}
                 <span class="fa fa-{{ memberinfo.memberexperience.icon }}"
                       title="Entered {{ memberinfo.memberexperience.value }} teams"></span>
             {% endif %}
             {% if memberinfo.membertrophy is defined %}
                 <span class="fa fa-trophy"></span>
             {% endif %}
         </div>

         {#</div>#}
         <div class="profile-invite right">
             {% include 'templates/controls/profile-action.html.twig' %}
         </div>
         <div class="clear"></div>
         <div class="aboutUser">
             <div class="userTextarea">
                 <textarea class="aboutYourself" placeholder="{{ 'Write something about yourself' | trans }}"
                           maxlength="140">{% if(bio) %}{{ bio }}{% endif %}</textarea>
                 <span>140</span>
             </div>
             <div class="favoriteTeam">
                 <div class="optionSection">
                     <span>{{ "Who is your favorite team" | trans }} {{ "?" }}</span>
                     <div class="chooseTeam">
                         <select name="league" id="league-list" onchange="updateSideSearchTeam($(this).val()); ">
                             <option disabled selected data-thumb="/bundles/images/kits/default-kit.png">Choose league
                             </option>
                             {% for league in leagues %}
                                 {% if(league.code !='EU') %}
                                     <option value="{{ league.id }}"
                                             data-leagueid="{{ league.id }}">{{ league.name }}</option>
                                 {% endif %}
                             {% endfor %}
                         </select>
                         <select name="team" id="club-list">
                             <option disabled selected data-thumb="/bundles/images/kits/default-kit.png">Choose team
                             </option>
                             {% for team in teams %}
                                 <option value="{{ team.id }}" data-thumb="{{ team.image }}"
                                         data-leagueid="{{ team.fk_league_id }}" {% if aMemberTeam.id is defined %}
                                     {% if(aMemberTeam.id==team.id) %}selected{% endif %}{% endif %}>{{ team.name }}</option>
                             {% endfor %}
                         </select>
                     </div>
                 </div>
                 <div class="teamFlag"><img src="{{ asset('bundles/images/kits/default.png') }}"></div>
             </div>
             <div class="clear"></div>
             <div class="acceptButtons">
                 <div class="acceptButtonsSave right">{{ "Save" | trans }}</div>
                 <div class="acceptButtonsCancel right">{{ "Cancel" | trans }}</div>
             </div>
         </div>
         <div class="clear"></div>

     </div>
     <div class="profile-bio"> {{ bio|default('Edit your profile to add your description'|trans) }}</div>
     <!--</div> My Points -->
     <div class="container white-container badge-header-content">

         <div class="mainbadges-dashboard-header">
             <div class="my-point">
                 <div class="member-level-container">
                     <p class="title">{{ 'Badge score'|trans }}</p>
                     <p class="score">{{ memberinfo.points|default(0) }} {{ 'Points'|trans }}</p>
                     {% if memberinfo.level  is defined %}
                         <p class="level">{{ 'Player status'|trans }}: {{ memberinfo.level }}</p>
                     {% endif %}
                     <p class="level-info">{{ 'Collecting badges will improve your status on'|trans }}<span
                                 class="orange"><strong><em> {{ client_name }}</em> </strong></span></p>
                 </div>
             </div>
             <div class="my-level">
                 <div class="levels-container">
                     {% set columnwidth = 100 / memberlevels|length %}
                     {% for level in memberlevels %}
                         <div class="level" style="width:{{ columnwidth }}%">
                             <div class="level-picture"
                                  style="background-image: url('{{ asset('bundles/images/levels/'~level.image ) }}')">
                                 <div class="level-amount {% if (memberinfo.points is defined and memberinfo.points|number_format >= level.score|number_format) %} achieved{% endif %}">{{ level.rewards_amount }}
                                     <span>&euro;</span></div>
                             </div>
                             {% if not loop.last %}
                                 <div class="single-level-bar{% if (memberinfo.points is defined and  memberinfo.points|number_format >= memberlevels[loop.index].score|number_format ) and ( memberlevels[loop.index].score ) %} achieved{% endif %}">
                                     {% if (memberinfo.points is defined and ( memberinfo.points|number_format > level.score|number_format ) and ( memberinfo.points|number_format < memberlevels[loop.index].score|number_format ) ) or ( ( memberlevels[loop.index].score|number_format == 0 ) and ( points|number_format > level.score|number_format) ) %}
                                         <div class="single-level-bar-fill-in"
                                              style="width: {% if memberlevels[loop.index].score < 0 %}100%{% else %}{% set equation = ((( memberinfo.points|number_format ) / memberlevels[loop.index].score ) * 100 )|number_format %}{{ min(equation,100) }}%{% endif %};"></div>
                                     {% endif %}
                                 </div>
                             {% endif %}
                             <div class="level-score{% if (memberinfo.points is defined and memberinfo.points|number_format >= level.score|number_format) %} achieved{% endif %}">{{ level.score }}</div>
                         </div>
                     {% endfor %}
                 </div>
                 {#<div class="next-prize">{include file="pods/items/member-rewards-nextprize.tpl"}</div>#}
             </div>
         </div>
     </div>
     <div class="white-container">
         {% include 'templates/controls/completed-badges.html.twig' %}
         {% include 'templates/controls/dashboard-followers.html.twig' %}
     </div>
     <script type="text/javascript">
         $(document).ready(function () {
             {% if user_ref !='' and allowRedirect==1 %}
                 var clicked=getCookie('clicked');
                 var leagueId=getCookie('leagueId');
                 eraseCookie('clicked');
                 eraseCookie('leagueId');
                 if(clicked && clicked=='create'){
                     window.location.replace('{{ url('oulalai_frame_home')~app.request.locale~'/leagues/create' }}');
                 }else if(clicked && clicked=='join'){
                     window.location.replace('{{ url('oulalai_frame_home')~app.request.locale}}');
                 }
             {% endif %}

             $('.acceptButtonsSave').on('click', function () {
                 var bio = $('.aboutYourself').val();
                 var team_id = $('#club-list').val();
                 $.ajax({
                     type: "POST",
                     url: '{{ asset('/'~app.request.locale~'/addBio') }}',
                     async: false,
                     data: {
                         bio: bio,
                         teamid: team_id
                     },
                     success: function (data, textStatus, jqXHR) {

                         if (JSON.parse(data).success == true) {
                             location.reload()
                         } else {
                             console.log(data);
                         }

                     },
                     error: function (data, textStatus, jqXHR) {
                     },
                     dataType: 'html'
                 });
             })
         })
     </script>
     </div>
 {% endblock %}

