{% extends '::base.html.twig' %}

 {% block body %}
     <div class="container">
         <h2> Home </h2>
         <ol class="breadcrumb">
             <li><a href="/leagues">League</a></li>
             <li><a href="/squads">Squads</a></li>
         </ol>
     </div>
 {% endblock %}