<h2>{{ "top-faq-h2" | trans({}, "faq") | raw }}</h2>
<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq1" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "top-faq2" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p>
                {{ "top-faq3" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <span class="arrow"></span>
            <h3>
                {{ "top-faq4" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq5" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "top-faq6" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                <span class="orange"></span>
                {{ "top-faq7" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq8" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq9" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "top-faq10" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                <span class="orange"></span>
                {{ "top-faq11" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq12" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                <span class="orange"></span>
                {{ "top-faq13" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq14" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "top-faq15" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                <span class="orange"></span>
                {{ "top-faq16" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "top-faq17" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq18" | trans({"%name%": name}, "faq") | raw }}
            </h3>
            </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq19" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq20" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq21" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
</ul>