<h2>
    {{ "faq-menu-list10" | trans ({"%name%" : name},'faq') | raw }}
</h2>

<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq18" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq19" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq20" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq21" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "community01" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "community02" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "community03" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "community04" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "community05" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "community06" | trans ({"%name%" : name},'faq') | raw }}
            </p>

            <p style="text-align: justify;">
                {{ "community07" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
</ul>