<h2>
    {{ "faq-menu-list3" | trans ({"%name%" : name},'faq') | raw }}
</h2>

<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "deposits01" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "deposits02" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "deposits03" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "deposits04" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "deposits05" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "deposits06" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "deposits07" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "deposits08" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "deposits09" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p class="MsoNormal" style="margin-bottom: 12.55pt; text-align: justify;">
                {{ "deposits10" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
</ul>