<h2></h2>

<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq1" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "top-faq2" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p>
                {{ "top-faq3" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq4" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq5" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "top-faq6" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "game-description2" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer"><p style="text-align: justify;">
                {{ "game-description3" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq7" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq8" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "game-description4" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "game-description5" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "game-description6" | trans({"%name%": name}, "faq") | raw }}

            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "game-description7" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
</ul>