<h2>
    {{ "faq-menu-list8" | trans ({"%name%" : name},'faq') | raw }}
</h2>
<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq11" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq12" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "live-coaching01" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "live-coaching02" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq13" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "top-faq14" | trans ({"%name%" : name},'faq') | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "top-faq15" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "live-coaching03" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer"><p style="text-align: justify;">
                {{ "live-coaching04" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "live-coaching05" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer"><p style="text-align: justify;">
                {{ "live-coaching06" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "live-coaching07" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "live-coaching08" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "live-coaching09" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "live-coaching10" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
</ul>
