<h2>
    {{ "faq-menu-list4" | trans({"%name%": name}, "faq") | raw }}
</h2>

<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "my-account1" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "my-account2" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "my-account3" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "my-account4" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "my-account40" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
</ul>