<h2>
    {{ "faq-menu-list6" | trans ({"%name%" : name},'faq') | raw }}
</h2>

<ul class="faq-items">
    <li>
        <div class="question">
            <span class="arrow"></span>
            <h3>
                {{ "player-values01" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "player-values02" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "player-values03" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "player-values04" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "player-values05" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "player-values06" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
</ul>