<h2>
    {{ "registration1" | trans({"%name%": name}, "faq") | raw }}

</h2>
<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration2" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer"><p style="text-align: justify;">

            </p>
            <p style="font-style: normal; font-variant: normal; font-weight: normal; line-height: 18.2px; font-family: 'Titillium Web', Arial, sans-serif; text-align: justify;">
                {{ "registration3" | trans({"%name%": name}, "faq") | raw }}
            </p>
            {{ "registration4" | trans({"%name%": name}, "faq") | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration5" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration6" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "registration7" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "registration8" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "registration9" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "registration10" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration11" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration12" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration13" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration14" | trans({"%name%": name}, "faq") | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "registration15" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration16" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration17" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration18" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration19" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration20" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration21" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration22" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration23" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "registration24" | trans({"%name%": name}, "faq") | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "registration25" | trans({"%name%": name}, "faq") | raw }}
            </p>
        </div>
    </li>
</ul>