<h2>
    {{ "faq-menu-list7" | trans ({"%name%" : name},'faq') | raw }}
</h2>

<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "socring-system01" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "socring-system02" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "top-faq9" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p>
                {{ "top-faq10" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "socring-system03" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "socring-system04" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "socring-system05" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "socring-system06" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "socring-system07" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "socring-system08" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "socring-system09" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "socring-system10" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "socring-system11" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "socring-system12" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
</ul>