<h2>
    {{ "faq-menu-list5" | trans ({},'faq') | raw }}
</h2>

<ul class="faq-items">
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building1" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building2" | trans ({"%name%" : name},'faq') | raw }}
            </p>
            <p style="text-align: justify;">
                {{ "team-building3" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building4" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building5" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building6" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building7" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building8" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building9" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building10" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            {{ "team-building11" | trans ({"%name%" : name},'faq') | raw }}
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building12" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: left;">
                {{ "team-building13" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building14" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building15" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building16" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building17" | trans ({"%name%" : name},'faq') | raw }}
            </p>
        </div>
    </li>
    <li>
        <div class="question"><span class="arrow"></span>
            <h3>
                {{ "team-building18" | trans ({"%name%" : name},'faq') | raw }}
            </h3>
        </div>
        <div class="answer">
            <p style="text-align: justify;">
                {{ "team-building19" | trans ({"%name%" : name},'faq') | raw }}
            </p>
            <p>• {{ "team-building20" | trans ({"%name%" : name},'faq') | raw }}</p>
            <p>• 5-3-2</p>
            <p>• 4-5-1</p>
            <p>• 4-4-2</p>
            <p>• 4-3-3</p>
            <p>• 3-5-2</p>
            <p>• 3-4-3</p></div>
    </li>
</ul>