body {
    background: #181818 !important;
}

.white-bg {
    background: #181818 !important;
}

h1, h2, h3 {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    border-bottom: 1px solid #343434;
}

h4 {
    color: #666666;
}

a {
    color: #ED1C24!important;
    text-decoration: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: blue !important;
}

.sub-player {
    color: #458a28 !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #458a28 !important;
}

.navbar-default {
    background-color: #458a28;
    border-color: #458a28;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}

nav .navbar-collapse {
    background-color: #458a28;
}

.player-data.player-add-sub-tr .add-player-sub, .player-data.player-add-tr .add-player-starter {
    background-color: #458a28;
    border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

@media (max-width: -1px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #458a28;
        background-color: #2b2b2b;
    }
}

.navbar-default .navbar-link:hover {
    color: #458a28;
}

.navbar-default .btn-link {
    color: #ffffff;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #458a28;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #458a28;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.orange {
    color: #458a28;
}

.btn {
    -webkit-appearance: none;
    background: #ed1c24;
    color: white !important;
}

.btn:hover {
    background: #c0151b;
}

.btn a {
    color: white !important;
}

.btn-gray {
    background: #2b2b2b;
}

ul.navtabclass > li > a:hover {
    background-color: white;
}

ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
    color: #458a28;
}

span.username a.username {
    color: #458a28;
}

.submit_ticket {
    background-color: #458a28;
}

.upload-number {
    background: #458a28 none repeat scroll 0 0 padding-box;
}

ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
    color: #ed1c24;
}

.document_filter_container .ui-slider-handle {
    background: #458a28 !important;
    border: none !important;
}

.document_filter_container .league_filter_heading span {
    display: inline-block;
    background-color: #458a28;
}

.select-styling::after {
    color: #458a28;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.orange {
    color: #ed1c24;
}

.page-container.expandable > .container > .show-hide .show-text > .text,
.page-container.expandable > .container > .show-hide .hide-text > .text {
    color: #458a28;
}

.grid-checkbox fieldset:hover {
    background-color: #458a28;
    color: white;
}

.table-custom .fixture-seperator {
    background: #458a28;
    color: #ffffff;
    padding: 8px 0 8px 10px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar .navbar-nav .dropdown.active > a {
    background-color: #458a28;
}

.navbar .navbar-nav .dropdown.default-theme ul li.second-level-pill > a:hover {
    background-color: #2b2b2b;
    color: #458a28;
}

.navbar .calltoaction {
    border-bottom: 1px solid #458a28;
}

/* Custom hover for opened dropdowns in navbar */
.navbar-default .navbar-nav > .open > a:hover {
    color: #458a28;
}

.navbar-oulala .navbar-nav > li > a.btn:hover,
.navbar-oulala .navbar-nav > li > a.btn:focus {
    color: #ffffff;
    background-color: #458a28;
}

footer ul.footer-sub-links > li > a.selected {
    color: #458a28;
}

.inplay-sidepanel th {
    color: #ed1c24;
}

.blog.bottom .ui-button,
.single-blog .ui-button {
    -webkit-appearance: none;
    background: #458a28;
}

.slider-strip li .container > .slides-text > .note span {
    color: #458a28;
}

.video-strip {
    background: #458a28;
}

.video-strip-alternate > .grid > .container > .video .video-title-text hr {
    border-top: 4px solid #458a28;
    padding: 0;
    padding-top: 15px;
}

.what-our-users-say .left .username {
    color: #458a28;
    padding-top: 175px;
    margin-bottom: 3px;
}

.feature-strip > .grid > .container > .feature-header > .show-details > .text {
    color: #458a28;
    float: left;
}

.feature-strip-alternate > .grid > .container > .feature-header > .show-details > .text {
    color: #458a28;
    float: left;
}

.feature-strip-alternate > .grid > .container > .feature-header > .feature-text .feature-header-title {
    color: #458a28;
    line-height: 0.95;
    margin-bottom: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.feature-strip-alternate-b > .grid > .container > .feature-header > .show-details > .text {
    color: #458a28;
    float: left;
}

.feature-strip-b-0 {
    background-color: #458a28;
    background-size: 100% auto;
    height: 400px;
    color: #000000;
    padding: 20px;
}

.feature-strip-b-2 {
    background-color: #458a28;
    background-size: 100% auto;
    height: 400px;
    color: #000000;
    padding: 20px;
}

#bigTriangleColorOrange path {
    fill: #458a28;
    stroke: #458a28;
    stroke-width: 0;
}

.overlapping-banner .overlapping-banner-body .overlapping-banner-title hr {
    display: block;
    height: 1px;
    width: 60px;
    border: 0;
    border-top: 4px solid #458a28;
    padding: 0;
    padding-top: 15px;
}

.unread {
    color: #ffffff;
    background: #458a28;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.administrator {
    color: #458a28;
}

.forum-details span.featured,
.ticket-details span.featured,
.ticket-list-details span.featured {
    color: #458a28;
}

.middle-column .support .notification {
    color: #458a28;
}

.support ul.forum-items li.admin-reply,
.support ul.ticket-items li.admin-reply {
    background: #458a28;
}

.support ul.faq-items > li > .question > .arrow::before,
.support ul.faq-items > li > .question > .arrow.open::before {
    content: '\25b6';
    color: #458a28;
}

.support ul.faq-items > li > .question > .arrow.closed::before {
    content: '\25bc';
    color: #458a28;
}

.orange-box {
    background-color: #458a28;
}

.mysavedteams .team-top .team-remove {
    width: 25px;
    height: 25px;
    background: #458a28;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date:hover,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.active,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.selected {
    background: rgba(237, 28, 36, 0.3);
    border: 1px solid #ed1c24;
    color: #1a1a1a;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-right .btn.active {
    background: #ed1c24;
}

.leagues-available-search .league-available-header.for-saved-teams .league-available-selected .selected-text span.leagues_count {
    color: #458a28;
}

.leagues-available-search .league-available-header.for-saved-teams .league-available-header-join #leagues-create-button.active {
    background: #458a28;
}

.leagues-available-search .league-available-header.for-saved-teams .league-available-header-join #leagues-create-button span {
    font-size: 24px;
}

.leagues-available-search table.available-for-saved-teams .increment-btn {
    background: #458a28;
    vertical-align: baseline;
    margin-top: 2px;
}

.leagues-available-search table.available-for-saved-teams tr.active-selected td {
    border: 1px solid #458a28;
}

.recipe > .rounded-container .sub-heading.category .title span {
    color: #458a28;
}

.recipe > .rounded-container > .stats > .row > div.first {
    color: #458a28;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.playersearch .slider-container .ui-slider-horizontal .ui-slider-handle {
    background: #458a28 !important;
    border: none !important;
    width: 20px;
    height: 20px;
}

table.table thead tr th.add_as {
    color: #ed1c24 !important;
}

.player-action-block .inner-btn {
    background: #ed1c24;
}

.player-position.active,
.player-position:hover {
    color: #ffffff;
    background: #ed1c24;
}

.builder-option.join-league.active {
    background-color: #ed1c24 !important;
}

.prizes h5 {
    color: #458a28;
}

.prizes.rounded-container > .rank {
    background: #212020;
    color: #458a28;
}

.prizes.rounded-container .prizes-container > .prize-row > .prize > .text {

    color: #458a28;
}

.tabs li.selected h4 {
    color: #458a28;
}

.prize-grid tr th.completed {
    color: #458a28;
    background-color: #458a28;
}

.prize-grid tr th .prize-bracket-score.your-score {
    background-color: #458a28;
}

.prize-grid tr th .upsidedown-triangle.completed {
    border-top: 5px solid #458a28;
}

.prize-grid tr th .level-marker {
    height: 25px;
    background: #458a28;
    border-right: 1px solid white;
    position: absolute;
    z-index: 98;
}

.clock-bar {
    border-top: 1px solid #ffffff;
    background: #458a28;
}

.ui-accordion .accordion-content ul > li.active a {
    color: #458a28;
}

.ui-accordion .accordion-content ul > li.upcoming {
    background: #458a28;
}

.preferences-container .preferences > li > a.view > .edit-link,
.preferences-container .preferences > li > a.view > .info {
    float: right;
    padding-right: 30px;
    color: #458a28;
}

.profile-name span.fa {
    color: #458a28;
    font-size: 20px;
    padding-left: 5px;
}

.leaderboard tbody tr.your-score td {
    border-color: #f3691c;
    padding: 3px 10px;
    border: 1px solid #458a28 !important;
}

.leaderboard tbody tr.your-score td a {
    color: #458a28;
    font-weight: 700;
}

.leaderboard tbody tr.your-score td.rank {
    color: #458a28;
}

.leaderboard tbody tr.your-score td:last-child {
    border-right: 1px solid #458a28;
}

.dialog .formation:hover > .name {
    background: #458a28;
    border-color: #458a28;
}

#dialog-start-substitution > .formations .formation-player-list .player-group > ul > li:hover,
#dialog-choose-formation > .formations .formation-player-list .player-group > ul > li:hover {
    background-color: #458a28;
    color: #ffffff;
}

.dialog-player ul li .player:hover .name {
    background: #458a28;
    border-color: #458a28;
}

.playerstatistics .rounded-container .statistics li .player .details .team-name {
    color: #458a28;
}

.ui-autocomplete .ui-menu-item a.view-all {
    color: #458a28;
}

.playercompare > .rounded-container > .heading > .row > div.player .details .team {
    color: #458a28;
}

.playercompare > .rounded-container > .heading > .row > div.player .details .price,
.playercompare > .rounded-container > .heading > .row > div.player .details .points {
    padding-top: 3px;
    color: #458a28;
}

.playercompare > .rounded-container .sub-heading.category .title span {
    color: #458a28;
}

.playercompare > .rounded-container > .stats > .row > div.first {
    color: #458a28;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.leagues-available-search .league_filters .league_filter_container .ui-slider-handle {
    background: #ed1c24 !important;
    border: none !important;
}

.leagues-available-search .league_filters .league_filter_container .league_filter_heading span {
    display: inline-block;
    color: #ffffff;
    background-color: #458a28;
}

.leagues-available-search .league_filters .select-styling::after {
    color: #458a28;
}

.leagues-available-search .league-available-header .digit {
    color: #458a28;
}

.create-league .league-option.selected .increment-btn {
    background: #ed1c24;
}

.create-league .text-content .number {
    text-align: center;
    background: #458a28;
}

.invite-users-list-block .invite-users-list li:hover {
    background: #458a28;
    color: white;
}

.InF {
    float: left;
    background: #458a28;
}

.league-choose-date:hover,
.league-option:hover,
.league-choose-date.active,
.league-option.active,
.league-choose-date.selected,
.league-option.selected {
    background: rgba(237, 28, 36, 0.3);
    border: 1px solid #ed1c24;
    color: #ffffff;
}

.league-choose-date:hover {
    background: #c0151b;
}

.leaderboard tbody tr.your-score td {
    border-color: #f3691c;
    padding: 3px 10px;
    border: 1px solid #458a28 !important;
}

.leaderboard tbody tr.your-score td a {
    color: #458a28;
    font-weight: 700;
}

.leaderboard tbody tr.your-score td.rank {
    color: #ed1c24;
}

.leaderboard tbody tr.your-score td:last-child {
    border-right: 1px solid #458a28;
}

.introjs-tooltip .introjs-progress .introjs-progressbar {
    background-color: #458a28;
}

.introjs-tooltip .introjs-button {
    -webkit-appearance: none;
    background: #458a28;
}

.introjs-tooltip .introjs-bullets ul li a.active,
.navbar-default .navbar-toggle:hover,
.mainbadges-dashboard-header .my-level .levels-container .level .single-level-bar .single-level-bar-fill-in {
    background: #458a28;
}

/*Less the iPad portrait size - 767px*/
@media all and (max-width: 767px) {

    .mobile-filter-by-sort .league_filter_heading span {
        display: inline-block;
        color: #ffffff;
        background-color: #458a28;
    }

    .mobile-table a {
        color: #458a28;
        text-transform: capitalize;
    }

    .mobile-table .table-heading a {
        color: #458a28;
    }

    .mobile-table .info-block .info-right.points {
        color: #458a28;
    }

}

.playersearch .slider-container .ui-slider-horizontal .ui-slider-handle {
    background: #ed1c24 !important;
}

.gamedetails .text .title {
    color: #458a28;
}

.myteams table.table thead tr th a, .myteams table.table thead tr th a,
.leagues-available-search table.table thead tr th a, .leagues-available-search table.table thead tr th a:hover {
    color: white !important;
}

.looking-for-league .ui-dialog .league-starts .digit,
.league-detailpage .ui-dialog .league-starts .digit,
.team-builder .ui-dialog .league-starts .digit,
.live .ui-dialog .league-starts .digit,
.join-league-saved-team .ui-dialog .league-starts .digit,
.mainbadges-dashboard-header .my-point .member-level-container .level,
.gamedetails .text .title,
.mainbadges-dashboard-header .my-point .member-level-container .title,
.mainbadges-dashboard-header .my-level .levels-container .level .level-score.achieved {
    color: #ed1c24;
}

/*** available leagues ***/

.leagues-available-search > form {
    background: #181818 !important;
    border: 1px solid #4a4a4a;
}

.leagues-available-search .btn {
    margin: 15px 30px 0 0;
}

.white-bg .leagues-available-search .league-available-header {
    background: #181818;
}

.availableLeaguesSearchResults .leagues-available-search.container {
    background: #181818;
}

.availableLeaguesSearchResults .leagues-available-search .league_filters {
    background: #808080;
}

.availableLeaguesSearchResults .leagues-available-search table.table thead {
    background: #181818;;
}

.availableLeaguesSearchResults table.table thead tr {
    border: 1px solid #343434
}

.text-content .container {
    background: #181818;
}

.match-selector {
    background: none;
}

.leagues-available-search table.table tbody tr td.error > h3 {
    color: #fff;
    font-weight: 700;
}

/***first step***/
.create-league .text-content .top-border {
    border-top: 1px solid #343434;
}

.create-league .text-content .league-basics-pod input {
    border: 1px solid #343434;
}

.step-circle.active-step, .step-line {
    background: #ffffff;
}

.step-circle {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.leagues-available-search table.table tbody tr:nth-child(even) {
    background-color: #2C2C2C;
}

.leagues-available-search table.table tbody tr {
    background: #343434;
    color: #fff;
}

.leagues-available-search table.table thead tr th {
    border-left: none;
}

.leagues-available-search .league_filters {
    background: #393939;
}

table.table {
    background-color: #2C2C2C;
}

table.table tbody tr {
    border: none;
}

table.table tbody tr td {
    border: none;
}

.leagues-available-search .league_filters .league_filter_container#leagues-filter-fee {
    color: #fff;
}

#accordion > h3 {
    background-color: #4C4C4C;
    color: #fff;
}

.create-league .match-selector .ui-accordion-content .match {
    background-color: #2C2C2C;
    color: #fff;
}

.create-league .match-selector .ui-accordion-content .match.odd {
    background-color: #343434;
    color: #fff;
}

.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom {
    width: 99.9%;
}

.create-league .match-selector .ui-accordion-content .match > div {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.create-league .match-selector .ui-accordion-content .match .checkbox-container {
    border-right: none;
}

table.table thead tr th {
    border: 1px solid #000;
}

/***second step***/

.invite-friends-block .invite-friends-block-textarea {
    background: #ffffff;
}

.team-builder .team-builder-details, .gamedetails .text .value {
    color: #ffffff;
}

.league-choose-date, .league-option {
    background: #ffffff;
    color: #000;
}

/***squad ***/
.team-builder .white-container, .team-builder .gamedetails {
    background: #181818;
}

.team-builder .teamname > input {
    background: #181818;
    color: #ffffff !important;
    border: 1px solid #343434 !important;
}

.page-container.inplay-bg {
    background: none;
}

.page-container > .grid {
    background-image: none;
}

.inplay-bg .subs ul li.inplay, .inplay-bg .subs ul li.idle {
    background: #393939;
}

.page-container.inplay-bg .container .subs {
    min-height: 0;
    background-color: #393939;
}

.legend-text {
    color: #fff;
}

.builder-option .btn-team {
    background-color: #088c35;
    border: 1px solid #088c35;
}

.builder-option .btn-team:hover {
    background-color: rgba(8, 140, 53, 0.55);
}

.memberteam-schedule-container table {
    color: #fff;
}

.builder-option.join-league.active:hover {
    background: #c0151b !important;
}

form .rounded-container {
    border: 1px solid #999 !important;
}

.page-container.inplay-bg .container .subs .title {
    background-color: #393939;
    color: #fff;
}

.memberteam-schedule-container > .title {
    background-color: #343434;
    background-position: 7px 6px;
    color: #fff;
}

.memberteam-schedule-container table>tbody>tr:nth-child(odd)>td{
    background-color: #343434!important;
}
.memberteam-schedule-container table>tbody>tr>td:first-child{
    background-color: #343434!important;
}
.memberteam-schedule-container table tr:nth-child(2){
    background-color: #2C2C2C;
}
.memberteam-schedule-container table tr.players td{
    background: #2C2C2C;
}
.memberteam-schedule-container table tr td,.memberteam-schedule-container table tr.odd th,.memberteam-schedule-container table tr th{
    border: 1px solid #999;
}

.side-board .playersearch.playersearch-mini .rounded-container .heading.build{
    background-color: #4C4C4C;
}
table.table tbody tr:nth-child(even){
    background-color: #2C2C2C!important;
}
table.table tbody tr{
    background-color: #343434;
    color: #fff;
}
.team-side-block-1 .filter-title,.show-in-budget,.playersearch .slider-container #value-range-values{
    color: #fff;
}
.playerSearchResults table>tbody a{
    color: #fff!important;
}
.playerSearchResults table>tbody .player-team-name{
    color: #ed1c24!important;
}
.playersearch-mini .searchbox tr th,.side-board .playersearch .playerSearchResults{
    background-color: #343434;
}
.side-board .playersearch.playersearch-mini .rounded-container .heading.build{
    border: none;
}
.teambuilder .playersearch .searchbox tr th, .live .playersearch .searchbox tr th{
    border: 1px solid #000;
}
.inplay-bg .playerSearchResults .pagination{
    color: #fff;
}

.player-data .player-mobile-icon {
display: inline-block;
width: 28px;
height: 29px;
text-align: center;
cursor: pointer;
}

.player-data .player-mobile-icon.add-player-starter {
background: url('../../images/icons/circle-type-5.png') no-repeat;
background-position-x: -6px;
background-position-y: -5px;
}

.player-data.player-add-tr .add-player-starter {
background: url('../../images/icons/circle-type-5.png') no-repeat;
background-position-x: -6px;
background-position-y: -5px;
}
.player-data.player-add-sub-tr .add-player-sub, .player-data.player-add-tr .add-player-starter{
    background-color: #458a28!important;
}

.player-data .player-mobile-icon.add-player-sub {
    background: url('../../images/icons/sub_icon_orange.png') no-repeat;
    background-position-x: -1px;
    background-position-y: 1px;
}
.player-data.player-add-sub-tr .add-player-sub{
    background: url('../../images/icons/sub_icon_orange.png') no-repeat;
    background-position-x: -1px;
    background-position-y: 0px;
}
.page-container.inplay-bg .container .field .player > .name, .team-selection .player > .name,
.inplay-bg .subs ul li > div > .player > .name{
    background-color: #4a4a4a;
    border: none;
}

/***popups***/
.ui-dialog.black-dialog {
    border: 1px solid #343434 !important;
}

.my-saved-teams .error {
    color: #fff;
}

.nav-tabs a {
    color: #000 !important;
}

.nav-tabs .active a {
    color: #ed1c24 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    background-color: #ed1c24;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:hover {
    background: rgba(237, 28, 36, 0.7);
    opacity: unset;
}

.ui-dialog-buttonpane #continueButton {
    background-color: #ed1c24;
}

.ui-dialog-buttonpane #continueButton:hover {
    background-color: #c0151b;
}

/***upcoming leagues***/

.upcoming-league .nav-tabs a{
    color: #ed1c24!important;
}

.upcoming-league .myteams table.table tbody tr{
    background-color: #343434;
    color: #fff;
}
.saved-teams ul li>a  {
    color: #ed1c24!important;
}

/***league detail***/
.looking-for-league .league-details{
    color: #fff;
    border-bottom: 1px solid #999;
}
.looking-for-league table.table thead{
    background: #2C2C2C;
    color: #fff;
}
.looking-for-league .leaderboard tbody tr.your-score {
    background: #343434 !important;
    color: #fff;
}
.looking-for-league .leaderboard tbody tr.your-score td{
    border: 1px solid #000!important;
}
.looking-for-league .left-column-wide{
    border-right: 1px solid #999;
}

.looking-for-league .left-column-wide{
    width: 50%;
    min-width: 480px;
}
.looking-for-league .middle-column-narrow{
    float: none;
    display: inline-block;
    width: 47.5%;
    margin: 0 0.5%;
}
.looking-for-league .circle-messagebox .messagebox{
    background: #000;
}
.looking-for-league .circle-messagebox{
    border: 1px solid #999;
}

/*** live ***/
.team-builder .page-container.inplay-bg .container .side-board{
    border: 1px solid #999;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

