{% set category =  app.request.query.get("cat") %}
<div class="container">
    <div class="left-column">
        <div class="support">
            <div class="left-widget">
                <h2>
                    {{ "faq-h2" | trans({}, "faq") | raw }}
                </h2>
                <ul>
                    <li {% if(category != "gameDescription")    and (category != "registration")
                            and (category != "myAccount")       and (category != "teamBuilding")
                            and (category != "playersValue")    and (category != "scoringSystem")
                            and (category != "liveCoaching")    and (category != "calendar")
                            and (category != "community")       and (category != "depositsWithdrawals") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=all">
                            {{ "faq-menu-list1" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "gameDescription") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=gameDescription">
                            {{ "faq-menu-list2" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "registration") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=registration">
                            {{ "faq-menu-list343" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "myAccount") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=myAccount">
                            {{ "faq-menu-list4" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "teamBuilding") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=teamBuilding">
                            {{ "faq-menu-list5" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "playersValue") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=playersValue">
                            {{ "faq-menu-list6" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "scoringSystem") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=scoringSystem">

                            {{ "faq-menu-list7" | trans({"%name%" : name}, "faq") | raw }}

                        </a>
                    </li>
                    <li {% if (category == "liveCoaching") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=liveCoaching">
                            {{ "faq-menu-list8" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "calendar") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=calendar">

                            {{ "faq-menu-list9" | trans({"%name%" : name}, "faq") | raw }}

                        </a>
                    </li>
                    <li {% if (category == "community") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=community">
                            {{ "faq-menu-list10" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                    <li {% if (category == "depositsWithdrawals") %} class="selected" {% endif %}>
                        <a href="{{ path('rules', {'param': 'faq' }) }}?cat=depositsWithdrawals">
                            {{ "faq-menu-list3" | trans({}, "faq") | raw }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle-column">
        <div class="support">
            {% if (category == "gameDescription") %}
                {% include ":templates/rules/faq-categories:game-description.html.twig" %}
            {% elseif (category == "registration") %}
                {% include ":templates/rules/faq-categories:registration.html.twig" %}
            {% elseif (category == "myAccount") %}
                {% include ":templates/rules/faq-categories:my-account.html.twig" %}
            {% elseif (category == "teamBuilding") %}
                {% include ":templates/rules/faq-categories:team-building.html.twig" %}
            {% elseif (category == "playersValue") %}
                {% include ":templates/rules/faq-categories:players-value.html.twig" %}
            {% elseif (category == "scoringSystem") %}
                {% include ":templates/rules/faq-categories:scoring-system.html.twig" %}
            {% elseif (category == "liveCoaching") %}
                {% include ":templates/rules/faq-categories:live-coaching.html.twig" %}
            {% elseif (category == "calendar") %}
                {% include ":templates/rules/faq-categories:calendar.html.twig" %}
            {% elseif (category == "community") %}
                {% include ":templates/rules/faq-categories:community.html.twig" %}
            {% elseif (category == "depositsWithdrawals") %}
                {% include ":templates/rules/faq-categories:deposits-withdrawals.html.twig" %}
            {% else %}
                {% include ":templates/rules/faq-categories:all-categories.html.twig" %}
            {% endif %}
        </div>
        <script type="text/javascript">
            jQuery(".faq-items > li > .question").bind("click", function () {
                var $clickedlistitem = jQuery(this).parent("li");
                jQuery(".faq-items > li").not($clickedlistitem).removeClass("open");
                $clickedlistitem.toggleClass("open");
                $clickedlistitem.find('.arrow').toggleClass("closed");
            });
        </script>
    </div>
    <div class="clear"></div>
</div>
