<div class="container">
    <div>
        <div class="left" style="width: 260px;">
            <ol>

                <li><a class="internal-link" href="#one">{{ 'the-game' | trans ({"%name%" : name},'faq') | raw }}</a>
                    <ol>
                        <li><a class="internal-link" href="#one-a">{{ 'the-game-first-step' | trans ({"%name%" : name},'faq') | raw }}</a></li>
                        <li><a class="internal-link" href="#one-b">{{ 'the-game-oulala-calendar' | trans ({"%name%" : name},'faq') | raw }}</a>

                            <ol>
                                <li><a class="internal-link" href="#one-b-1">{{ 'the-game-description' | trans ({"%name%" : name},'faq') | raw }}</a></li>
                                <li><a class="internal-link" href="#one-b-2">{{ 'the-game-match-canceled' | trans ({"%name%" : name},'faq') | raw }}</a></li>
                            </ol>
                        </li>
                        <li><a class="internal-link" href="#one-c">{{ 'the-game-registration-process' | trans ({"%name%" : name},'faq') | raw }}</a>
                            <ol>
                                <li><a class="internal-link" href="#reg-c-1">{{ 'the-game-register' | trans ({"%name%" : name},'faq') | raw }}</a></li>
                                <li><a class="internal-link" href="#one-c-2">{{ 'the-game-team-building' | trans ({"%name%" : name},'faq') | raw }}</a></li>
                                <li><a class="internal-link" href="#one-c-3">{{ 'the-game-player-selection' | trans ({"%name%" : name},'faq') | raw }}</a></li>

                            </ol>
                        </li>
                    </ol>
                </li>
                <li><a class="internal-link" href="#two">
                        {{ 'socring-system' | trans ({},'faq') | raw }}
                    </a>
                    <ol>
                        <li>

                            <a class="internal-link" href="#two-a">{{ 'socring-system' | trans ({"%name%" : name},'faq') | raw }}</a>
                        </li>
                        <li>
                            <a class="internal-link" href="#statistics-a">{{ 'socring-system1' | trans ({"%name%" : name},'faq') | raw }}</a>
                        </li>
                        <li>
                            <a class="internal-link" href="#official-a">{{ 'socring-system2' | trans ({"%name%" : name},'faq') | raw }}</a>

                        </li>
                    </ol>
                </li>
                <li><a class="internal-link" href="#three"> {{ 'player-values' | trans ({"%name%" : name},'faq') | raw }} </a>
                    <ol>
                        <li>
                            <a class="internal-link" href="#three-a">
                                {{ 'player-values1' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                        <li>
                            <a class="internal-link" href="#three-b">
                                {{ 'player-values2' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a class="internal-link" href="#four">
                        {{ 'live-coaching' | trans ({"%name%" : name},'faq') | raw }}
                    </a>
                    <ol>
                        <li>
                            <a class="internal-link" href="#four-a">
                                {{ 'live-coaching1' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                        <li>
                            <a class="internal-link" href="#four-b">
                                {{ 'live-coaching2' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                    </ol>
                </li>
                <li><a class="internal-link" href="#six">
                        {{ 'play-for-money' | trans ({"%name%" : name},'faq') | raw }}
                    </a>
                    <ol>
                        <li>
                            <a class="internal-link" href="#six-a">
                                {{ 'play-for-money1' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                        <ol>
                            <li>
                                <a class="internal-link" href="#six-a-1">
                                    {{ 'play-for-money2' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                            <li>
                                <a class="internal-link" href="#six-a-2">
                                    {{ 'play-for-money3' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                            <li>
                                <a class="internal-link" href="#six-a-3">
                                    {{ 'play-for-money4' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                            <li>
                                <a class="internal-link" href="#six-a-4">
                                    {{ 'play-for-money5' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                            <li>
                                <a class="internal-link" href="#six-a-5">
                                    {{ 'play-for-money6' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                        </ol>
                        <li>
                            <a class="internal-link" href="#six-b">
                                {{ 'play-for-money7' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                        <li>
                            <a class="internal-link" href="#six-c">
                                {{ 'play-for-money8' | trans ({"%name%" : name},'faq') | raw }}
                            </a>
                        </li>
                        <ol>
                            <li>
                                <a class="internal-link" href="#six-c-1">
                                    {{ 'play-for-money9' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                            <li>
                                <a class="internal-link" href="#six-c-2">
                                    {{ 'play-for-money10' | trans ({"%name%" : name},'faq') | raw }}
                                </a>
                            </li>
                        </ol>
                    </ol>
                </li>
                <li>
                    <a class="internal-link" href="#seven">
                        {{ 'sub-fraud' | trans ({"%name%" : name},'faq') | raw }}
                    </a>
                </li>
                <li>
                    <a class="internal-link" href="#eight">
                        {{ 'sub-community' | trans ({"%name%" : name},'faq') | raw }}
                    </a>
                </li>
            </ol>
        </div>
        <div class="left rules-image">
        </div>
        <div class="clear"></div>
    </div>
    <hr>

    <h2 id="one" class="content-h2"><span class="orange">1</span>
        {{ "the-game-h1" | trans ({"%name%" : name}, "faq") | raw }}
    </h2>
    <h3 id="one-a" class="content-h3"><span class="orange">a.</span>
        {{ "the-game-a" | trans ({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "the-game-a-p1" | trans ({'%name%': name}, "faq") | raw }}
    </p>

    <p style="text-align: justify;">
        {{ "the-game-a-p2" | trans ({'%name%': name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "the-game-a-p3" | trans ({'%name%': name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "the-game-a-p4" | trans ({'%name%': name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "the-game-a-p5" | trans ({'%name%': name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "the-game-a-p6" | trans ({'%name%': name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "the-game-a-p7" | trans ({'%name%': name}, "faq") | raw }}
    </p>
    <h3 id="one-b" class="content-h3">
        {{ "calendar-b" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <h4 id="one-c-1" class="content-h4">
        {{ "calendar-b-desc" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "calendar-b-desc-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="one-c-1" class="content-h4">
        {{ "calendar-b-match" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "calendar-b-match-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="one-c" class="content-h3">
        {{ "register-process-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <h4 id="one-c-1" class="content-h4">
        {{ "register-process-c-i" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "register-process-c-i-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>

    <p style="text-align: justify;">
        {{ "register-process-c-i-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "register-process-c-i-p3" | trans({"%name%" : name}, "faq") | raw }}
    </p>

    <p style="text-align: justify;">
        {{ "register-process-c-i-p5" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="one-c-3" class="content-h4">
        {{ "register-process-team-building" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "register-process-team-building-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="one-c-2" class="content-h4">
        {{ "register-process-player-section" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "register-process-player-section-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "register-process-player-section-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>

    <ul>
        <li>
            <p>
                {{ "register-process-player-section-p3" | trans({"%name%" : name}, "faq") | raw }}
            </p>
            <p>
                {{ "register-process-player-section-p4" | trans({"%name%" : name}, "faq") | raw }}
            </p>
            {{ "register-process-player-section-p5" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li>
            <p>
                {{ "register-process-player-section-p6" | trans({"%name%" : name}, "faq") | raw }}
            </p>
            <ul>
                <li>3-4-3</li>
                <li>3-5-2</li>
                <li>4-3-3</li>
                <li>4-4-2</li>
                <li>4-5-1</li>
                <li>5-3-2</li>
                <li>5-4-1</li>
            </ul>
        </li>
        <li style="text-align: justify;">
            {{ "register-process-player-section-p7" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li style="text-align: justify;">
            {{ "register-process-player-section-p8" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li style="text-align: justify;">
            {{ "register-process-player-section-p9" | trans({"%name%" : name}, "faq") | raw }}
        </li>
    </ul>
    <br><br>
    <hr>

    <h2 id="two" class="content-h2">
        {{ "scoring-system-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h2>
    <h3 id="two-a" class="content-h3">
        {{ "scoring-system-a" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "scoring-system-a-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="two-b" class="content-h3">
        {{ "scoring-system-b" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "scoring-system-b-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="two-c" class="content-h3">
        {{ "scoring-system-c" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p3" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p4" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p5" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p6" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p7" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "scoring-system-c-p8" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <br>
    <hr>
    <h2 id="three" class="content-h2">
        {{ "players-values-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h2>
    <h3 id="three-a" class="content-h3">
        {{ "players-values-a" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "players-values-a-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="three-b" class="content-h3">
        {{ "players-values-b" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "players-values-b-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <hr>
    <h2 id="four" class="content-h2">
        {{ "live-coaching-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h2>
    <h3 id="four-a" class="content-h3">
        {{ "live-coaching-a" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "live-coaching-a-p" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="four-b" class="content-h3">
        {{ "live-coaching-b" | trans({"%name%" : name}, "faq") | raw }}
    </h3>

    <ul>
        <li style="text-align: justify;">
            {{ "live-coaching-b-p1" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li style="text-align: justify;">
            {{ "live-coaching-b-p2" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li style="text-align: justify;">
            {{ "live-coaching-b-p3" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li style="text-align: justify;">
            {{ "live-coaching-b-p4" | trans({"%name%" : name}, "faq") | raw }}
        </li>
        <li>
            {{ "live-coaching-b-p5" | trans({"%name%" : name}, "faq") | raw }}
        </li>
    </ul>
    <br><br>

    <h2 id="six" class="content-h2">
        {{ "play-for-money-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h2>
    <h3 id="six-a" class="content-h3">
        {{ "play-for-money-a" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "play-for-money-a-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="six-a-1" class="content-h4">
        {{ "play-for-money-a-i" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-a-i-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-i-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="six-a-2" class="content-h4">
        {{ "play-for-money-a-ii" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-a-ii-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-ii-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="six-a-3" class="content-h4">
        {{ "play-for-money-a-iii" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iii-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iii-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iii-p3" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iii-p4" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="six-a-4" class="content-h4">
        {{ "play-for-money-a-iv" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iv-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iv-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-iv-p3" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="six-a-5" class="content-h4">
        {{ "play-for-money-a-v" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-a-v-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-a-v-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="six-b" class="content-h3">
        {{ "play-for-money-b-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <p style="text-align: justify;">
        {{ "play-for-money-b-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-b-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-b-p3" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-b-p4" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-b-p5" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-b-p6" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h3 id="six-c" class="content-h3">
        {{ "play-for-money-c-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h3>
    <h4 id="six-c-1" class="content-h4">
        {{ "play-for-money-c-i" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-c-i-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h4 id="six-c-2" class="content-h4">
        {{ "play-for-money-c-ii" | trans({"%name%" : name}, "faq") | raw }}
    </h4>
    <p style="text-align: justify;">
        {{ "play-for-money-c-ii-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "play-for-money-c-ii-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h2 id="seven" class="content-h2">
        {{ "fraud-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h2>
    <p style="text-align: justify;">
        {{ "fraud-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "fraud-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <h2 id="eight" class="content-h2">
        {{ "community-h1" | trans({"%name%" : name}, "faq") | raw }}
    </h2>
    <p style="text-align: justify;">
        {{ "community-p1" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "community-p2" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "community-p3" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "community-p4" | trans({"%name%" : name}, "faq") | raw }}
    </p>
    <p style="text-align: justify;">
        {{ "community-p5" | trans({"%name%" : name}, "faq") | raw }}
    </p>

</div>
