<div class="container">
    <p>
        {{ "sub-scoring-system" | trans({}, "faq") | raw }}
    </p>

    <div>
        <img width="100%" alt="Scoring System"
             src="{{ asset('bundles/images/background/help-how-it-works.jpg') }}">
        <br>
        <br>
    </div>
    <div class="recipe">
        <div class="rounded-container">
            <div class="heading">
                <div class="row even">
                    <div class="first full-width">
                        {{ "sub-scoring-system1" | trans({}, "faq") | raw }}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="stats">
                <div class="sub-heading category" data-category="1">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>
                            {{ "sub-scoring-offensive" | trans({}, "faq") | raw }} +
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row odd category-1 statistic-77">
                    <div class="first">
                        {{ "sub-scoring-accurate-through" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-1 statistic-65">
                    <div class="first">
                        {{ "sub-scoring-big-chance" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        15
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-1 statistic-74">
                    <div class="first">
                        {{ "sub-scoring-goal-assist" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        40
                    </div>
                    <div class="weight">
                        20
                    </div>
                    <div class="weight">
                        15
                    </div>
                    <div class="weight">
                        15
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-1 statistic-82">
                    <div class="first">
                        {{ "sub-scoring-goal-scored" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        70
                    </div>
                    <div class="weight">
                        35
                    </div>
                    <div class="weight">
                        30
                    </div>
                    <div class="weight">
                        25
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-1 statistic-71">
                    <div class="first">
                        {{ "sub-scoring-penalty-won" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        30
                    </div>
                    <div class="weight">
                        15
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-1 statistic-40">
                    <div class="first">
                        {{ "sub-scoring-player-assists" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-1 statistic-66">
                    <div class="first">
                        {{ "sub-scoring-second-goal" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        15
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-1 statistic-72">
                    <div class="first">
                        {{ "sub-scoring-shot-on" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-1 statistic-69">
                    <div class="first">
                        {{ "sub-scoring-successful-cross" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-1 statistic-64">
                    <div class="first">
                        {{ "sub-scoring-successful-dribble" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-1 statistic-70">
                    <div class="first">
                        {{ "sub-scoring-dribble-defender" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-1 statistic-59">
                    <div class="first">
                        {{ "sub-scoring-won-corners" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="2">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;
                            {{ "sub-scoring-offensive" | trans({}, "faq") | raw }} &nbsp; -
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row odd category-2 statistic-24">
                    <div class="first">
                        {{ "sub-scoring-big-chance-missed" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -3
                    </div>
                    <div class="weight">
                        -5
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-2 statistic-101">
                    <div class="first">
                        {{ "sub-scoring-missed-cross" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-2 statistic-60">
                    <div class="first">
                        {{ "sub-scoring-missed-through-ball" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-2 statistic-9">
                    <div class="first">
                        {{ "sub-scoring-penalty-off-target" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-2 statistic-10">
                    <div class="first">
                        {{ "sub-scoring-penalty-on-post" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-2 statistic-36">
                    <div class="first">
                        {{ "sub-scoring-block-within" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-2 statistic-25">
                    <div class="first">
                        {{ "sub-scoring-shot-blocked" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-2 statistic-26">
                    <div class="first">
                        {{ "sub-scoring-shot-off-target" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-2 statistic-11">
                    <div class="first">
                        {{ "sub-scoring-stopped-penalty" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -10
                    </div>
                    <div class="weight">
                        -10
                    </div>
                    <div class="weight">
                        -10
                    </div>
                    <div class="weight">
                        -10
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="3">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;
                            {{ "sub-scoring-defensive" | trans({}, "faq") | raw }} +
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row even category-3 statistic-31">
                    <div class="first">
                        {{ "sub-scoring-blocked-cross" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-3 statistic-42">
                    <div class="first">
                        {{ "sub-scoring-clearance-goal" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-3 statistic-30">
                    <div class="first">
                        {{ "sub-scoring-defender-blocks-shot" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-3 statistic-28">
                    <div class="first">
                        {{ "sub-scoring-offside-provoked" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-3 statistic-34">
                    <div class="first">
                        {{ "sub-scoring-successful-blocked" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-3 statistic-29">
                    <div class="first">
                        {{ "sub-scoring-successful-defensive" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-3 statistic-51">
                    <div class="first">
                        {{ "sub-scoring-successful-shield" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-3 statistic-50">
                    <div class="first">
                        {{ "sub-scoring-successful-tackle" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-3 statistic-49">
                    <div class="first">
                        {{ "sub-scoring-successful-tackle-while" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="4">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-defensive" | trans({}, "faq") | raw }} -
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row odd category-4 statistic-3">
                    <div class="first">
                        {{ "sub-scoring-error-lead" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -20
                    </div>
                    <div class="weight">
                        -14
                    </div>
                    <div class="weight">
                        -12
                    </div>
                    <div class="weight">
                        -8
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-4 statistic-16">
                    <div class="first">
                        {{ "sub-scoring-error-lead-shot" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -10
                    </div>
                    <div class="weight">
                        -6
                    </div>
                    <div class="weight">
                        -4
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-4 statistic-12">
                    <div class="first">
                        {{ "sub-scoring-goals-conceded" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -6
                    </div>
                    <div class="weight">
                        -3
                    </div>
                    <div class="weight">
                        0
                    </div>
                    <div class="weight">
                        0
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-4 statistic-14">
                    <div class="first">
                        {{ "sub-scoring-lost-corners" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-4 statistic-18">
                    <div class="first">
                        {{ "sub-scoring-missed-clearance" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -6
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-4 statistic-99">
                    <div class="first">
                        {{ "sub-scoring-missed-tackle" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -3
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-4 statistic-4">
                    <div class="first">
                        {{ "sub-scoring-own-goals" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -20
                    </div>
                    <div class="weight">
                        -20
                    </div>
                    <div class="weight">
                        -20
                    </div>
                    <div class="weight">
                        -20
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-4 statistic-15">
                    <div class="first">
                        {{ "sub-scoring-dribbled-past" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -6
                    </div>
                    <div class="weight">
                        -4
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="5">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-behaviour" | trans({}, "faq") | raw }} +
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row odd category-5 statistic-39">
                    <div class="first">
                        {{ "sub-scoring-was-fouled" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="6">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-behaviour" | trans({}, "faq") | raw }} -
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row even category-6 statistic-21">
                    <div class="first">
                        {{ "sub-scoring-fouls" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -5
                    </div>
                    <div class="weight">
                        -3
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-6 statistic-2">
                    <div class="first">
                        {{ "sub-scoring-penalty-conceded" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -15
                    </div>
                    <div class="weight">
                        -15
                    </div>
                    <div class="weight">
                        -15
                    </div>
                    <div class="weight">
                        -15
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-6 statistic-1">
                    <div class="first">
                        {{ "sub-scoring-red-card" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -25
                    </div>
                    <div class="weight">
                        -25
                    </div>
                    <div class="weight">
                        -25
                    </div>
                    <div class="weight">
                        -25
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-6 statistic-81">
                    <div class="first">
                        {{ "sub-scoring-straight-red-card" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -30
                    </div>
                    <div class="weight">
                        -30
                    </div>
                    <div class="weight">
                        -30
                    </div>
                    <div class="weight">
                        -30
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-6 statistic-27">
                    <div class="first">
                        {{ "sub-scoring-total-offside" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-6 statistic-8">
                    <div class="first">
                        {{ "sub-scoring-yellow-card" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -5
                    </div>
                    <div class="weight">
                        -5
                    </div>
                    <div class="weight">
                        -5
                    </div>
                    <div class="weight">
                        -5
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="7">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-possession" | trans({}, "faq") | raw }}+
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row even category-7 statistic-44">
                    <div class="first">
                        {{ "sub-scoring-duel-won" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-7 statistic-35">
                    <div class="first">
                        {{ "sub-scoring-interception" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-7 statistic-46">
                    <div class="first">
                        {{ "sub-scoring-interceptions-box" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-7 statistic-47">
                    <div class="first">
                        {{ "sub-scoring-successful-interception" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="8">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-possession" | trans({}, "faq") | raw }} -
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row even category-8 statistic-45">
                    <div class="first">
                        {{ "sub-scoring-duel-lost" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-8 statistic-23">
                    <div class="first">
                        {{ "sub-scoring-loss-ball-attempting" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -8
                    </div>
                    <div class="weight">
                        -4
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-8 statistic-7">
                    <div class="first">
                        {{ "sub-scoring-loss-ball-touch" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -6
                    </div>
                    <div class="weight">
                        -4
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-8 statistic-6">
                    <div class="first">
                        {{ "sub-scoring-loss-ball-opponent" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -10
                    </div>
                    <div class="weight">
                        -4
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-8 statistic-104">
                    <div class="first">
                        {{ "sub-scoring-missed-dribble" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -6
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="9">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}+
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row odd category-9 statistic-62">
                    <div class="first">
                        {{ "sub-scoring-catch-diving" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="weight">
                        20
                    </div>
                    <div class="weight">
                        20
                    </div>
                    <div class="weight">
                        20
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-9 statistic-56">
                    <div class="first">
                        {{ "sub-scoring-catch-standing" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        12
                    </div>
                    <div class="weight">
                        12
                    </div>
                    <div class="weight">
                        12
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-9 statistic-67">
                    <div class="first">
                        {{ "sub-scoring-clean-sheet" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        25
                    </div>
                    <div class="weight">
                        0
                    </div>
                    <div class="weight">
                        0
                    </div>
                    <div class="weight">
                        0
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-9 statistic-37">
                    <div class="first">
                        {{ "sub-scoring-cross-caught" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-9 statistic-52">
                    <div class="first">
                        {{ "sub-scoring-wins-possession" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-9 statistic-73">
                    <div class="first">
                        {{ "sub-scoring-penalty-save" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        25
                    </div>
                    <div class="weight">
                        50
                    </div>
                    <div class="weight">
                        50
                    </div>
                    <div class="weight">
                        50
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-9 statistic-57">
                    <div class="first">
                        {{ "sub-scoring-punches-ball" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        1
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="weight">
                        2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-9 statistic-55">
                    <div class="first">
                        {{ "sub-scoring-save-diving" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        3
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-9 statistic-54">
                    <div class="first">
                        {{ "sub-scoring-save-diving2" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        6
                    </div>
                    <div class="weight">
                        12
                    </div>
                    <div class="weight">
                        12
                    </div>
                    <div class="weight">
                        12
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-9 statistic-38">
                    <div class="first">
                        {{ "sub-scoring-save-standing" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        4
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="weight">
                        8
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-9 statistic-63">
                    <div class="first">
                        {{ "sub-scoring-successful-catch" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        5
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="weight">
                        10
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-9 statistic-68">
                    <div class="first">
                        {{ "sub-scoring-successful-situation" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        15
                    </div>
                    <div class="weight">
                        30
                    </div>
                    <div class="weight">
                        30
                    </div>
                    <div class="weight">
                        30
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="sub-heading category" data-category="10">
                    <div class="row">
                        <div class="first title"><span class="arrow"></span>&nbsp;&nbsp;
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}  -
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-goalkeeper" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-defender" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-midfielder" | trans({}, "faq") | raw }}
                        </div>
                        <div class="weight">
                            {{ "sub-scoring-striker" | trans({}, "faq") | raw }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row odd category-10 statistic-19">
                    <div class="first">
                        {{ "sub-scoring-cross-claimed" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -4
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-10 statistic-100">
                    <div class="first">
                        {{ "sub-scoring-missed-catch" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="weight">
                        -1
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row odd category-10 statistic-98">
                    <div class="first">
                        {{ "sub-scoring-missed-throws" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -3
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="weight">
                        -2
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row even category-10 statistic-5">
                    <div class="first">
                        {{ "sub-scoring-six-second" | trans({}, "faq") | raw }}
                    </div>
                    <div class="weight">
                        -16
                    </div>
                    <div class="weight">
                        -8
                    </div>
                    <div class="weight">
                        -8
                    </div>
                    <div class="weight">
                        -8
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
