{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/blog/blog-navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Blog Settings
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% form_theme form 'bootstrap_3_layout.html.twig' %}
                        {{ form_errors(form) }}
                        <form method="post" action="{{ path('admin_blog') }}/settings">
                            {% for flash_message in app.session.flashBag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            {% for flash_message in app.session.flashBag.get('error') %}
                                <div class="alert alert-danger">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                                {{ form_row(form.postCount) }}

                            <input type="submit" value="Save">
                            {{ form_rest(form) }}
                        </form>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}