{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/blog/blog-navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Blog categories
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% if role!='ROLE_SUPER_ADMIN' %}
                        <ul>
                            <li>
                                <a href="{{ path('blog_category_new') }}">Create a new category</a>
                            </li>
                        </ul>
                        {% endif %}
                        <table width="100%" class="table table-striped table-bordered table-hover" id="category_data">

                            <thead>
                            <tr>
                                <th>Category Title</th>
                                <th>Category Slug</th>
                                <th>Category Language</th>
                                <th>Actions</th>
                            </tr>
                            <tr  id="filterrow">
                                <th>Category Title</th>
                                <th>Category Slug</th>
                                <th>Category Language</th>
                                <th>Actions</th>
                            </tr>
                            </thead>


                            <tbody>
                            {% for blogCat in blogCats %}
                                <tr class="odd gradeX">
                                    <td>{{ blogCat.category_title }}</td>
                                    <td>{{ blogCat.category_slug }}</td>
                                    <td>{{ blogCat.category_local }}</td>
                                    <td ><a href="{{ path('admin_blog_category') }}/{{ blogCat.category_id }}/edit" class="btn btn-success" role="button">Edit</a>
                                        <a href="{{ path('admin_blog_category') }}/{{ blogCat.category_id }}/delete" class="btn btn-danger" role="button">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#category_data thead tr#filterrow th').each( function () {
                var title = $('#category_data thead th').eq( $(this).index() ).text();
                $(this).html( '<input type="text" onclick="stopPropagation(event);" placeholder="Search '+title+'" />' );
            } );

            // DataTable
            var table = $('#category_data').DataTable({orderCellsTop: true});

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( '#category_data thead input').on( 'keyup change', function () {
                    table
                        .column( $(this).parent().index()+':visible' )
                        .search( this.value )
                        .draw();
                } );
            } );

        } );
        function stopPropagation(evt) {
            if (evt.stopPropagation !== undefined) {
                evt.stopPropagation();
            } else {
                evt.cancelBubble = true;
            }
        }
    </script>
    <style>
        #blog_data tfoot th input{
            width: 150px!important;
        }
    </style>
{% endblock %}