{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/blog/blog-navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Blog posts
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% if role!='ROLE_SUPER_ADMIN' %}
                        <ul>
                            <li>
                                <a href="{{ path('blog_new') }}">Create a new blogPost</a>
                            </li>
                        </ul>
                        {% endif %}
                        <table width="100%" class="table table-striped table-bordered table-hover" id="blog_data">

                            <thead>
                            <tr>
                                <th>Created date</th>
                                <th>Post Title</th>
                                <th >Language</th>
                                <th>Featured</th>
                                <th>Post image</th>
                                <th>Category</th>
                                <th>Author</th>
                                <th>Actions</th>
                            </tr>
                            <tr id="filterrow">
                                <th>Created date</th>
                                <th>Post Title</th>
                                <th >Language</th>
                                <th>Featured</th>
                                <th>Post image</th>
                                <th>Category</th>
                                <th>Author</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for blogPost in blogPosts %}
                                <tr class="odd gradeX">
                                    <td>{{ blogPost.create_date }}</td>
                                    <td>{{ blogPost.post_subject }}</td>
                                    <td >{{ blogPost.post_locale }}</td>
                                    <td>{{ blogPost.is_featured}}</td>
                                    <td>{{ blogPost.post_illustration_link[:20] }}...</td>
                                    <td class="center">{{ blogPost.category_title }}</td>
                                    <td  class="center">{{ blogPost.author }}</td>
                                    <td><a href="{{ path('admin_blog') }}/{{ blogPost.post_id }}/edit" class="btn btn-success" role="button">Edit</a>
                                        <a href="{{ path('admin_blog') }}/{{ blogPost.post_id }}/delete" class="btn btn-danger" role="button">Delete</a>
                                        <a href="{{ path('admin_blog') }}/{{ blogPost.post_id }}/show" class="btn btn-info" role="button">Show</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    
    <script>

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#blog_data thead tr#filterrow th').each( function () {
        var title = $('#blog_data thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" onclick="stopPropagation(event);" placeholder="'+title+'" class="'+title+'" />' );
    } );

    // DataTable
    var table = $('#blog_data').DataTable({orderCellsTop: true, "order": [[ 0, "desc" ]]});

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( '#blog_data thead input').on( 'keyup change', function () {
            table
                .column( $(this).parent().index()+':visible' )
                .search( this.value )
                .draw();
        } );
    } );

} );
function stopPropagation(evt) {
    if (evt.stopPropagation !== undefined) {
        evt.stopPropagation();
    } else {
        evt.cancelBubble = true;
    }
}
    </script>
    <style>
        #blog_data thead tr#filterrow th input{
            width: 100px;
        }
        .Featured, .Language{
            width: 75px!important;
        }
    </style>
{% endblock %}