{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
<div class="col-sm-auto">
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li {% if 'category' not in currentPath %}class="active"{% endif %} >
                    <a href="{{ path('admin_blog') }}">{{ 'Blog posts'|trans }}</a></li>
                <li {% if 'category' in currentPath %}class="active"{% endif %}>
                    <a href="{{ path('admin_blog_category') }}">{{ 'Blog category'|trans }}</a></li>
                {% if role!='ROLE_SUPER_ADMIN' %}
                <li {% if 'setings' in currentPath %}class="active"{% endif %}>
                    <a href="{{ path('admin_blog') }}/settings">{{ 'Blog settings'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>