{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <script src="{{ asset('admin/tinymce/tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'textarea',
            plugins: "image code, image imagetools,media,textcolor colorpicker,code",
            menubar: "insert",
            toolbar: " code |formatselect | bold italic strikethrough forecolor backcolor | link |" +
            " alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat | link image ",
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function(cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function() {
                    var file = this.files[0];
                    var reader = new FileReader();
                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            }


        });</script>
    <div id="page-wrapper">
        {% include 'admin/blog/blog-navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Edit Blog posts
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="form">
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_errors(form) }}
                            <form action="{{ path('admin_blog') }}/{{ blogPost.post_id }}/edit" method="POST" enctype="multipart/form-data">

                                {{ form_row(form.postSubject) }}
                                {{ form_row(form.postLocale) }}
                                {{ form_row(form.isFeatured) }}
                                {{ form_row(form.postContent) }}
                                {{ form_row(form.postIllustrationLink) }}
                                <img src="{{ asset('/bundles/images/blog/'~postImage) }}" width="200px" height="150px">
                                {{ form_row(form.categoryId) }}

                                <input type="submit" value="Edit" />
                                <div class="clr"></div>
                                {{ form_rest(form) }}
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload{
            width: 50px;
            height: 50px;
        }
    </style>
    <script type="text/javascript">
        // Bind to the change event of our file input
        $(document).delegate("#oulalaiframebundle_blogposts_postIllustrationLink","change", function(){
            // Get a reference to the fileList
            var files = !!this.files ? this.files : [];

            // If no files were selected, or no FileReader support, return
            if ( !files.length || !window.FileReader ) return;

            // Only proceed if the selected file is an image
            if ( /^image/.test( files[0].type ) ) {

                // Create a new instance of the FileReader
                var reader = new FileReader();

                // Read the local file as a DataURL
                reader.readAsDataURL( files[0] );

                // When loaded, set image data as background of page
                reader.onloadend = function(){

                    $("form img").attr("src", this.result );

                }

            }

        });
        var $sport = $('#oulalaiframebundle_blogposts_postLocale');
        // When sport gets selected ...
        $sport.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$sport.attr('name')] = $sport.val();
            // Submit data via AJAX to the form's action path.
            console.log(data);
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#oulalaiframebundle_blogposts_categoryId').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#oulalaiframebundle_blogposts_categoryId')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
{% endblock %}
