{% extends 'admin/index.html.twig' %}
{% block admin_content %}
<div id="page-wrapper">
    {% include 'admin/blog/blog-navigation.html.twig' %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Blog</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Blog posts {{ blogPost.postSubject }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Post id</th>
                <td>{{ blogPost.post_id }}</td>
            </tr>
            <tr>
                <th>Post Title</th>
                <td>{{ blogPost.post_subject }}</td>
            </tr>
            <tr>
                <th>Create date</th>
                <td>{% if blogPost.create_date %}{{ blogPost.create_date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update date</th>
                <td>{% if blogPost.update_date %}{{ blogPost.update_date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Post language</th>
                <td>{{ blogPost.post_locale }}</td>
            </tr>
            <tr>
                <th>Featured Post</th>
                <td>{{ blogPost.is_featured }}</td>
            </tr>
            <tr>
                <th>Post Image</th>
                <td>
                    <img class="blog-img" src="{{ asset('bundles/images/blog/'~blogPost.post_illustration_link) }}">
                </td>

                {#<td>{{ blogPost.post_illustration_link }}</td>#}
            </tr>
            <tr>
                <th>Post Content</th>
                <td>{{ blogPost.post_content|raw }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ blogPost.category_title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_blog') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blog_edit', { 'postId': blogPost.post_id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
{% endblock %}
