<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="handheldfriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if app.session.get('user_ref') %}
        {% set user_ref = app.session.get('user_ref') %}
    {% else %}
        {% set user_ref = "" %}
    {% endif %}
    {% set language = app.request.locale %}
    {% if( language == "tr" ) %}
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-9">
        <META HTTP-EQUIV="Content-language" CONTENT="tr">
        {% set name = " Futbol Menajer" %}
    {% endif %}
    <meta property="fb:app_id" content="1429687837272791">
    <meta itemprop="name" content="">

    {% block meta %}
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:title" content="">
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="Fantasy football">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">
        <meta name="twitter:image:src" content="">
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38939044-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-38939044-5');
    </script>
    {% block stylesheets %}
        <link href="{{ asset('bundles/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/css/compiled-common.css') }}{{ block ('css_vers') }}" rel="stylesheet"/>
        {#<meta http-equiv="cache-control" content="max-age=0" />#}
        {#<meta http-equiv="cache-control" content="no-cache" />#}
        {#<meta http-equiv="expires" content="0" />#}
        {#<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />#}
        {#<meta http-equiv="pragma" content="no-cache" />#}
        <link rel="stylesheet" href="{{ asset('bundles/js/jquery.fancybox/fancybox/jquery.fancybox-1.3.4.css') }}{{ block ('css_vers') }}" type="text/css" media="screen" />
        <link href="{{ asset('bundles/css/compiled.css') }}{{ block ('css_vers') }}" rel="stylesheet"/>
        {% set _block = block('custom_style') %}
        {% if _block is not empty %}
            <link href="{{ asset('bundles/css/templates/') }}{% block custom_style %}orange-style.css{% endblock %}"
                  rel="stylesheet"/>
        {% endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/js/compiled.js') }}{{ block('js_vers') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/socket.io.js') }}{{ block('js_vers') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/iframeResizer.contentWindow.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.fancybox/fancybox/jquery.fancybox-1.3.4.js') }}{{ block('js_vers') }}"></script>
</head>
<body class="{% block theme %}looking-for-league{% endblock %}">
<input type="hidden" value="/{{ app.request.locale }}" id="local_l" name="ajax_url"/>

<!--  optional menu block -->
{% if (block('show_menu')) %}
    <div class="piramit-menu">
        {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
        <ul>
            {#<li {% if ( currentPath == "/"~app.request.locale~"/how-it-works") %} class="menu-active" {% endif %}>#}
                {#<a href="{{ asset('/'~app.request.locale~'/how-it-works') }}">{{ 'item5' | trans ({},'faq') }}</a>#}
            {#</li>#}
            <li {% if ( currentPath == "/" )
            or(currentPath == "/"~app.request.locale~"")
            or(currentPath == "/"~app.request.locale~"/leagues/create")
            or(currentPath == "/"~app.request.locale~"/league/oulala-fixtures")
            or(currentPath == "/"~app.request.locale~"/leagues") %} class="menu-active" {% endif %}>
                <a href="{{ asset('/'~app.request.locale) }}">{{ 'item1' | trans ({},'faq') }}</a>
            </li>
            {% if user_ref != "" %}
                <li {% if ( currentPath == "/"~app.request.locale~"/squads-list/current")
                or (currentPath == "/"~app.request.locale~"/squads-list/upcoming")
                or (currentPath == "/"~app.request.locale~"/squads-list/past")
                or (currentPath == "/"~app.request.locale~"/squads-list/winning")
                or (currentPath == "/"~app.request.locale~"/saved-teams")
                or (currentPath == "/"~app.request.locale~"/squads/create/"~app.request.get('leagueId'))
                or (currentPath == "/"~app.request.locale~"/league/detail/"~app.request.get('leagueId'))
                or (currentPath == "/"~app.request.locale~"/live/"~app.request.get('leagueId')~"/"~app.request.get('teamId'))
                or (currentPath == "/"~app.request.locale~"/squads/create/"~app.request.get('leagueId')~"/"~app.request.get('iCurrentTeamId'))
                or (currentPath == "/"~app.request.locale~"/create-team") %} class="menu-active" {% endif %}>
                    <a href="{{ asset('/'~app.request.locale~'/squads-list/upcoming') }}">{{ 'item2' | trans ({},'faq') }}</a>
                </li>
            {% endif %}
            {% if user_ref != "" %}
                <li {% if ( currentPath == "/"~app.request.locale~"/userprofilehome/")
                or (currentPath == "/"~app.request.locale~"/profile/"~app.request.get('member')) %} class="menu-active" {% endif %}>
                    <a href="{{ asset('/'~app.request.locale~'/userprofilehome/') }}">{{ 'item3' | trans ({},'faq') | raw }}</a>
                </li>
            {% endif %}
            {#<li {% if ( currentPath == "/"~app.request.locale~"/forum" ) %} class="menu-active" {% endif %}>#}
                {#<a href="{{ asset('/'~app.request.locale~'/forum') }}">Forum</a>#}
            {#</li>#}
            <li {% if ( currentPath == "/"~app.request.locale~"/help/"~app.request.get('param') ) %} class="menu-active" {% endif %}>
                <a href="{{ asset('/'~app.request.locale~'/help/game-rules') }}">{{ 'item4' | trans ({},'faq') }}</a>
            </li>

            {#<li {% if ( currentPath == "/"~app.request.locale~"/blog/post/"~app.request.get('postId')#}
            {#or currentPath == "/"~app.request.locale~"/blog"#}
            {#or currentPath == "/"~app.request.locale~"/blog/category/"~app.request.get('catName')#}
            {#)#}
            {#%} class="menu-active" {% endif %}>#}
                {#<a href="{{ asset('/'~app.request.locale~'/blog') }}">{{ 'Blog' | trans }}</a>#}
            {#</li>#}
    </ul>
</div>
{% endif%}

<!-- end menu -->


{#<header class="oulala-header">
    <nav class="navbar navbar-oulala navbar-default " id="header-static" role="navigation" style="left: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ asset('/'~app.request.locale) }}">YourBrand</a>
                <button class="right-button mobile-prof-icon navbar-toggle" data-toggle="collapse" data-target="#topProfile">
                    <i class="fa fa-user "></i>
                </button>
            </div>
            <div class="header-container collapse navbar-collapse logged-in-menu" id="topNavbar">
                <ul class="nav navbar-nav">
                    {% if(app.request.cookies.get('user_ref')) %}
                        <li class="dropdown default-theme">
                            <a class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-expanded="false" href="{{ asset('/'~app.request.locale) }}" target="_self">{{ 'Leagues'|trans }}</a>
                        </li>
                        <li class="dropdown default-theme">
                            <a class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-expanded="false" href="{{ asset('/'~app.request.locale~'/squads-list/upcoming') }}" target="_self">{{ 'My Teams'|trans }}</a>
                        </li>
                        <li class="profile-menu"><a class="list-item account-logout" href="{{ asset('/'~app.request.locale~'/logout') }}">{{ 'Logout'|trans}}</a></li>
                    {% endif %}
                </ul>
                {% if(app.request.cookies.get('user_ref')) %}
                <div class="dropup col-xs-3 padding-20 margin-10">
                    <button class="btn btn-lang-footer dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">
                        <span class="footer-lang">
                            <img src="http://static.oulala.com/media/images/flags/{{ app.request.locale }}.png" alt="{% if (app.request.locale == 'en') %}English{% else %}Français{% endif %}"></span>
                            <span class="lang">{% if (app.request.locale == 'en') %}English{% else %}Français{% endif %}</span>
                            <span><i class="fa fa-caret-down"></i></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><span><img src="http://static.oulala.com/media/images/flags/en.png" alt="English"></span>English</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" rel="alternate" hreflang="fr-FR"><span><img src="http://static.oulala.com/media/images/flags/fr.png" alt="Français"></span>Français</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>#}
{% block dialog %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %} {% endblock %}
</div>
</body>
</html>
