/* bootstrap variables */
/* COMMON */
/* IMAGES */
/* Fonts */
/* custom font sizes */
/* rewards */
/* Popup */
/* Prizes */
/* profiles */
/* rewards */
/* howitworks */
/* create-league */
/* homepage */
/* teambuilder */
/* dashboard */
/* 404 */
/* blog */
/* circle */
/* player value */
/* member ranking */
/* teamname */
/* name */
/* OULALA */
/* used for inactive states */
/* live fixtures */
/* Social */
/* player timeline */
/* nav bar */
/* notifications pod in navbar */
/* the collapsible navbar will occupy the whole side of the screen */
/* margin for navbar header*/
/* the point at which the nav bar becomes uncollapsed */
/* the mobile navbar only opens when clicked */
/* the point at which the nav bar begins collapsing */
div.development-banner {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 2000000;
  text-align: center;
  color: #FFF;
  height: 20px;
  line-height: 20px;
  font-size: 10pt;
  font-weight: bold;
  background: red;
  text-transform: capitalize;
}
html,
body {
  /*overflow-x: hidden;*/
}
body {
  line-height: 100%;
  font-family: "Titillium Web", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #2b2b2b;
  background-color: #2b2b2b;
}
body.contentonly {
  background-color: #ffffff;
  min-width: auto;
  min-height: auto;
  width: auto;
  height: auto;
}
/* Overlays */
.ui-widget-overlay {
  background: #1a1a1a url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .7;
  filter: alpha(opacity=70);
}
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #1a1a1a url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .7;
  filter: alpha(opacity=70);
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: #ea5b0c;
}
a:hover {
  color: #9c3d08;
}
a img {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #2b2b2b;
  margin-bottom: 15px;
}
h1 {
  font-weight: 900;
  font-size: 32px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
h1.adjoining-legend {
  float: left;
  border-bottom: none;
  padding-bottom: 0px;
}
h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 1em;
}
h3 {
  font-weight: 900;
  font-size: 22px;
}
h4 {
  font-weight: 900;
  font-size: 18px;
}
h5 {
  font-weight: 700;
  font-size: 18px;
}
.orange {
  color: #ea5b0c;
}
.grey {
  color: #999999;
}
.blue {
  color: #0000ee;
}
.white {
  color: #ffffff;
}
.underline {
  text-decoration: underline;
}
p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 130%;
}
p.no-margin {
  margin-bottom: 0;
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
pre {
  background: #c7c7c7;
  padding: 20px 40px;
  font-family: "Consolas,monospace";
  margin: 20px 0;
}
pre code {
  font-size: 12px;
  color: #000000;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.lowercase {
  text-transform: lowercase;
}
.btn {
  -webkit-appearance: none;
  background: #ea5b0c;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-transform: uppercase;
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  margin-bottom: 4px;
  line-height: 100%;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}
.btn.smaller-radius {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn.black {
  background: #333232;
  color: #ffffff;
}
.btn.black:hover {
  color: #ffffff;
  background: #545353;
}
.btn.gray {
  background: #1a1a1a;
  color: #ffffff;
  cursor: default;
}
.btn.gray:hover {
  background: #c7c7c7;
  color: #ffffff;
}
.btn.inactive {
  background: #8e8e8e;
  color: #ffffff;
  cursor: default;
}
.btn.inactive:hover {
  background: #8e8e8e;
  color: #ffffff;
}
.btn:hover {
  color: #ffffff;
  background-color: #2b2b2b;
}
.btn.btn-large {
  font-size: 30px;
  padding: 10px 55px;
  margin-bottom: 34px;
  font-weight: 900;
}
.btn.btn-medium {
  font-size: 30px;
  font-weight: 900;
}
.btn.invite-friends {
  box-sizing: border-box;
  text-align: center;
  margin: 5px 0px;
  display: inline-block;
  background-image: url("../images/buttons/invite-user.png");
  background-position: 5px 3px;
  background-repeat: no-repeat;
  font-size: 12px;
  padding: 7px 7px 7px 28px;
}
.btn.socialbuttons {
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 20px;
  padding-left: 33px;
  color: #ffffff;
  border-radius: 3px;
  width: 100%;
}
.btn.socialbuttons.linked {
  padding: 0px;
  width: 35px;
  height: 30px;
  border-radius: 5px;
}
.btn.socialbuttons.facebook {
  background-image: url('../images/buttons/icon-facebook.png');
  background-color: #3b5998;
  text-transform: none;
  width: 160px;
}
.btn.socialbuttons.facebook:hover {
  background-color: #6484b5;
}
.btn.socialbuttons.google {
  background-image: url('../images/buttons/icon-googleplus.png');
  background-color: #dd4b39;
  text-transform: none;
  width: 160px;
}
.btn.socialbuttons.google:hover {
  background-color: #dc2924;
}
.btn.socialbuttons.twitter {
  background-image: url('../images/buttons/icon-twitter.png');
  background-color: #00aced;
  text-transform: none;
  width: 160px;
}
.btn.socialbuttons.twitter:hover {
  background-color: #0084b4;
}
.btn.socialbuttons.disabled {
  cursor: default;
  background-color: #c7c7c7;
  color: #2b2b2b;
}
.btn.socialbuttons.disabled:hover {
  cursor: default;
  background-color: #c7c7c7;
  color: #2b2b2b;
}
.btn.socialbuttons:disabled {
  cursor: default;
  background-color: #c7c7c7;
  color: #2b2b2b;
}
.btn.socialbuttons:disabled:hover {
  cursor: default;
  background-color: #c7c7c7;
  color: #2b2b2b;
}
.btn.btn-header {
  margin-right: 20px;
  padding: 7px;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: 600;
}
table.table {
  background: #ffffff;
  width: 100%;
}
table.table.searchbox thead tr th {
  font-size: inherit;
  font-weight: inherit;
}
table.table thead tr th,
table.table tbody tr th,
table.table thead tr td,
table.table tbody tr td {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
table.table thead {
  font-weight: 600;
  font-size: 12px;
  background: #c7c7c7;
}
table.table thead tr {
  border: 1px solid #c7c7c7;
  border-bottom-color: #999999;
}
table.table thead tr th {
  padding: 8px 10px;
  text-align: left;
  text-transform: uppercase;
  border-right: 1px solid #999999;
  font-size: 16px;
  font-weight: 700;
}
table.table thead tr th:last-child {
  border-right: 0;
}
table.table tbody {
  font-weight: 600;
  font-size: 12px;
}
table.table tbody tr {
  background: #ffffff;
  border-bottom: 1px solid #c7c7c7;
}
table.table tbody tr:nth-child(even) {
  background: #f5f5f5;
}
table.table tbody tr td {
  padding: 7px 10px;
}
table.table tbody tr td.error {
  text-align: center;
}
table.table tbody tr td.error > h3 {
  padding: 0;
  margin: 0;
  padding: 20px 0;
}
table.table tbody tr td > .player-name {
  height: 35px;
  line-height: 10px;
  padding-left: 30px;
  background-repeat: no-repeat;
  font-size: 13px;
  font-weight: 700;
}
table.table tbody tr td > .player-name .player-team-name {
  color: #757575;
  line-height: 12px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
}
table.table tbody tr td > .side-total-score {
  height: 22px;
  line-height: 10px;
  padding-left: 30px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  color: #ea5b0c;
}
table.table tbody tr.custom-padding > td {
  padding: 6px 10px;
}
.popup-content {
  background: #545353;
}
.popup-content > .container {
  padding: 30px 0;
}
input[type="text"],
input[type="email"],
textarea {
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 12px;
  border-color: #000000;
  border-width: 1px;
  /*
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  */
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}
input[type="password"] {
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 12px;
}
select.select {
  font-weight: 600;
  cursor: pointer;
}
#tinymce {
  font-family: "Titillium Web", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #2b2b2b;
}
#tinymce {
  margin-top: 15px;
  background: #ffffff;
  padding: 0px 0 10px 0;
}
.text-content.custom-margin,
#tinymce.custom-margin {
  padding-bottom: 5px;
}
.text-content hr,
#tinymce hr {
  margin: 0;
  height: 1px;
  background: #ededed;
  border: none;
  outline: none;
}
.text-content h2.content-h2,
#tinymce h2.content-h2 {
  padding-top: 10px;
}
.text-content h3.content-h3 span,
#tinymce h3.content-h3 span {
  text-transform: lowercase;
}
.text-content h4.content-h4 span,
#tinymce h4.content-h4 span {
  text-transform: lowercase;
}
.text-content blockquote,
#tinymce blockquote {
  font-style: italic;
  width: 500px;
  margin: 30px auto;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #333232;
}
.text-content blockquote cite,
#tinymce blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
.text-content blockquote cite:before,
#tinymce blockquote cite:before {
  content: "\2014 \2009";
}
.text-content blockquote:before,
#tinymce blockquote:before {
  font-family: Georgia, serif;
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7979;
}
.text-content ul,
#tinymce ul {
  list-style-type: disc;
}
.text-content ol:first-child,
#tinymce ol:first-child {
  list-style-type: decimal;
}
.text-content ol:first-child > li,
#tinymce ol:first-child > li {
  font-weight: 700;
}
.text-content ul,
#tinymce ul,
.text-content ol,
#tinymce ol {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 14px;
}
.text-content ul > li,
#tinymce ul > li,
.text-content ol > li,
#tinymce ol > li {
  padding: 5px 0 5px 5px;
  font-weight: 400;
  line-height: 1.3em;
}
ul.navtabclass {
  margin-bottom: 20px;
}
ul.navtabclass > li {
  font-weight: bold;
  padding: 0 !important;
}
ul.navtabclass > li > a {
  border-radius: 0;
  color: #ea5b0c;
}
ul.navtabclass > li > a:hover {
  background-color: white;
}
ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
  color: #ea5b0c;
}
.ellipsis {
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
}
span.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
span.username a.username {
  color: #ea5b0c;
}
.qtip-oulala {
  background-color: #2b2b2b !important;
  border-color: none !important;
  color: #ffffff !important;
  border-radius: 6px !important;
  border-width: 0;
  font-family: "Titillium Web", Arial, sans-serif;
}
.qtip-oulala-badge {
  font-size: 14px;
}
.qtip-oulala-high {
  background-color: #2b2b2b !important;
  border-color: none !important;
  color: #ffffff !important;
  border-radius: 6px !important;
  border-width: 0;
  font-family: "Titillium Web", Arial, sans-serif;
  z-index: 200000 !important;
}
.qtip-help {
  background-color: #545353 !important;
  border-color: none !important;
  color: #ffffff !important;
  border-radius: 6px !important;
  border-width: 0;
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 110%;
}
.qtip-content h3 {
  color: #ffffff;
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.qtip-content p {
  line-height: 110%;
}
.qtip-default {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #2b2b2b !important;
  font-family: "Titillium Web", Arial, sans-serif;
  position: absolute;
}
.player-tooltip-container {
  width: 400px;
  color: #ffffff;
}
.player-tooltip-container h4,
.player-tooltip-container h5,
.player-tooltip-container h6 {
  color: #ffffff;
  padding: 0;
  margin: 4px 0;
}
.player-tooltip-container h6 {
  padding-bottom: 5px;
}
.player-tooltip-container .stats-container {
  width: 100%;
}
.player-tooltip-container .stats-container .kit {
  display: inline-block;
  padding: 10px 6px;
}
.player-tooltip-container .stats-container .stats {
  display: inline-block;
  vertical-align: top;
}
.full-width {
  width: 100%;
}
.center-text {
  text-align: center;
}
.left-column-wide {
  float: left;
  width: 560px;
  padding-right: 10px;
  border-right: 1px solid #c7c7c7;
}
.middle-column-narrow {
  float: right;
  width: 380px;
}
.tab-content .email-info .info {
  display: block;
  font-size: 10px;
}
.avatar {
  padding-left: 16px;
  background: left center no-repeat;
  background-size: 12px;
}
.registerbtn {
  display: inline-block;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.avatar.isoulala {
  background-image: url('../images/icons/oulala-ball-icon.png') !important;
}
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}
.sidebar {
  display: none;
}
.submit_ticket {
  background-color: #ea5b0c;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding: 3px 12px 3px 9px;
  vertical-align: central;
  float: right;
}
.submit_ticket > a {
  color: #ffffff;
  margin: 0px 0px 0px 10px;
  line-height: 1.5em;
}
.submit_ticket > a:hover {
  color: #ffffff;
}
.submit_ticket i {
  font-size: 18px;
}
.notice-unavailable {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2em;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 1em;
  background-position: top center;
  background-repeat: no-repeat;
}
.notice-unavailable .header {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 1em;
  display: block;
}
.notice-unavailable p,
.notice-unavailable li {
  font-size: 16px;
  font-weight: 700;
}
.empty-drawer {
  background-image: url('../images/icons/empty-drawer.png') !important;
  padding-top: 225px;
}
.vault-open {
  background-image: url('../images/icons/vault-open.png') !important;
  padding-top: 225px;
}
.vault-closed {
  background-image: url('../images/icons/vault-closed.png') !important;
  padding-top: 225px;
}
.deposit-approval-request {
  background-image: url('../images/web/deposit-card.jpg') !important;
  padding-top: 225px;
}
#file-select-identity {
  display: none;
}
#file-select-address {
  display: none;
}
#file-select-credit {
  display: none;
}
#file-select {
  display: none;
}
.kyc_upload {
  padding: 35px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
}
.upload-title {
  height: 50px;
  text-align: left;
  padding-bottom: 5px;
}
.upload-number {
  background: #ea5b0c none repeat scroll 0 0 padding-box;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  margin-right: auto;
  padding: 16px 0;
  text-align: center;
  width: 45px;
  float: left;
}
.upload-text {
  padding-top: 17px;
  padding-left: 55px;
}
.upload-form {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 25px;
}
.size-limit {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #999999;
  margin-bottom: 20px;
}
.name-container {
  padding-bottom: 0px;
}
#identity-loading {
  display: none;
}
#address-loading {
  display: none;
}
#credit-loading {
  display: none;
}
.ui-slider-horizontal .ui-slider-range {
  background: #1a1a1a;
}
ul.navtabclass {
  margin: 0px 0px 20px 0px;
}
ul.navtabclass > li {
  font-weight: bold;
  font-size: 16px;
  padding: 0 !important;
}
ul.navtabclass > li > a {
  border-radius: 0;
  color: black;
}
ul.navtabclass > li > a:hover {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: white;
}
ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
  color: #ea5b0c;
}
.content-legend {
  float: right;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}
#document-upload-top {
  width: 100%;
}
#document-upload-left {
  width: 50%;
  float: left;
}
#document-upload-right {
  width: 50%;
  float: right;
}
#new-btn {
  margin-left: 20px;
  margin-right: 20px;
}
.document_filter_container {
  padding-left: 20px;
  padding-bottom: 10px;
}
.document_filter_container .ui-slider-handle {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  top: -2px;
  cursor: pointer;
  background: #ea5b0c !important;
  border: none !important;
}
.document_filter_container .ui-widget-content {
  border: none;
}
.document_filter_container #entryfee-range {
  margin-top: 12px;
  background: #AAAAAA;
  /* use background not background-color */
  border-radius: 0;
  cursor: pointer;
  left: 7px;
}
.document_filter_container .league_filter_heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.document_filter_container .league_filter_heading span {
  display: inline-block;
  color: #ffffff;
  background-color: #ea5b0c;
  border-radius: 8px;
  width: 11px;
  height: 14px;
  padding-left: 5px;
  padding-top: 2px;
  margin-right: 6px;
  font-size: 16px;
  line-height: 12px;
  font-family: "Titillium Web", Arial, sans-serif;
}
.select-styling select,
.select-styling:after,
.select-styling::after {
  display: block;
  background: #ffffff;
}
.select-styling select,
.select-styling option {
  padding: 2px 8px;
}
.select-styling {
  position: relative;
  display: inline-block;
  border: 1px solid #8e8e8e;
  color: #8e8e8e;
}
.select-styling::after {
  content: "∨";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  line-height: 35px;
  border-bottom: 1px solid #8e8e8e;
  text-align: center;
  color: #ea5b0c;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
.select-styling select {
  height: 35px;
  border: 0;
  width: 150px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #8e8e8e;
  outline: 0 none;
  cursor: pointer;
  -webkit-appearance: none;
}
.select-styling option {
  background: #fff;
  color: #8e8e8e;
}
#document-upload-bottom table thead th {
  color: #ffffff;
  font-weight: bold;
}
#document-upload-bottom table thead th {
  background: #4c4c4c;
}
