{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/forum/forum_navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forum</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Edit Forum reply
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="form">
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_errors(form) }}

                            <form action="{{ path('forum_reply_admin_edit', {'replyId': id }) }}" method="POST" enctype="multipart/form-data">
                                {#/admin/blog/{{ blogPost.post_id }}/edit#}
                                {{ form_row(form.replyContent) }}
                                {#{{ form_row(form.topicLocale) }}#}
                                <input type="submit" value="Edit" />
                                <div class="clr"></div>
                                {{ form_rest(form) }}
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}