{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
<div class="col-sm-auto">
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li {% if 'reply' not in currentPath %}class="active"{% endif %} >
                    <a href="{{ path('admin_forum') }}">{{ 'Topic'|trans }}</a></li>
                <li {% if 'reply' in currentPath %}class="active"{% endif %}>
                    <a href="{{ path('admin_reply') }}">{{ 'Reply'|trans }}</a></li>
            </ul>
        </div>
    </nav>
</div>