{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/forum/forum_navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forum</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Forum reply {{ forumTopic.topic_id }}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Reply id</th>
                                <td>{{ forumTopic.reply_id }}</td>
                            </tr>

                            <tr>
                                <th>Reply Content</th>
                                <td>{{ forumTopic.reply_content|raw }}</td>
                            </tr>
                            <tr>
                                <th>Topic Content</th>
                                <td>{{ forumTopic.topic_subject|raw }}</td>
                            </tr>
                            <tr>
                                <th>Create date</th>
                                <td>{% if forumTopic.create_time %}{{ forumTopic.create_time|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Update date</th>
                                <td>{% if forumTopic.update_time %}{{ forumTopic.update_time|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>

                            </tbody>
                        </table>

                        <ul>
                            <li>
                                <a href="{{ path('admin_reply') }}">Back to the list</a>
                            </li>
                            <li>
                                <a href="{{ path('forum_reply_admin_edit', { 'replyId': forumTopic.reply_id }) }}">Edit</a>
                            </li>
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}