body {
    background: #ebebeb;
}

.center-content {
    width: 960px;
    margin: 0 auto;
    padding-top: 5px;
}

.white-bg {
    background: #ebebeb!important;
}

h1, h2, h3 {
    color: #2b67f5;
}
p{
    color: #545353;
}

h1 {
    color: #2b67f5;
    border-bottom: 1px solid #2b67f5;
}

.team-builder-details > h1 {
    border-bottom: none !important;
}

h4 {
    color: #666666;
}

a {
    color: #2b67f5 !important;
    text-decoration: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #2b67f5 !important;
}

.sub-player {
    color: #458a28 !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #458a28 !important;
}

.navbar-default {
    background-color: #458a28;
    border-color: #458a28;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}

nav .navbar-collapse {
    background-color: #458a28;
}

.player-data.player-add-sub-tr .add-player-sub, .player-data.player-add-tr .add-player-starter {
    background-color: #458a28;
    border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

@media (max-width: -1px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #458a28;
        background-color: #2b2b2b;
    }
}

.navbar-default .navbar-link:hover {
    color: #458a28;
}

.navbar-default .btn-link {
    color: #ffffff;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #458a28;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #458a28;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/*.orange {*/
/*color: #458a28;*/
/*}*/

.btn {
    -webkit-appearance: none;
    background: #2b67f5;
    color: white !important;
}

.btn:hover {
    background: #0055e6;
}

.btn a {
    color: white !important;
}

.btn-gray {
    background: #2b2b2b;
}

ul.navtabclass > li > a:hover {
    background-color: #2b67f5;
}

.game-rules ul.navtabclass > li > a:hover{
    background: none;
}


ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
    color: #ed1c24;
}

.orange {
    color: #2b67f5;
}

.page-container.expandable > .container > .show-hide .show-text > .text,
.page-container.expandable > .container > .show-hide .hide-text > .text {
    color: #ed1c24;
}

.navbar .navbar-nav .dropdown.default-theme ul li.second-level-pill > a:hover {
    background-color: #2b2b2b;
    color: #458a28;
}

.navbar .calltoaction {
    border-bottom: 1px solid #458a28;
}

.inplay-sidepanel th {
    color: #2b67f5;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date:hover,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.active,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.selected {
    background: rgba(36, 97, 245, 0.3);
    border: 1px solid #0055e6;
    color: #1a1a1a;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-right .btn.active {
    background: #ed1c24;
}

table.table thead tr th.add_as {
    color: #2b67f5  !important;
}

.player-action-block .inner-btn {
    background: #ed1c24;
}

.player-position.active,
.player-position:hover {
    color: #ffffff;
    background: #2b67f5;
}

.builder-option.join-league.active {
    background-color: #2b67f5 !important;
}

.profile-name span.fa {
    color: #2b67f5;
    font-size: 20px;
    padding-left: 5px;
}

.leaderboard tbody tr.your-score td {
    padding: 3px 10px;
    border: 1px solid #458a28 !important;
}

.leagues-available-search .league_filters .league_filter_container .ui-slider-handle {
    background: #2b67f5 !important;
    border: none !important;
}

.leagues-available-search .league_filters .league_filter_container .league_filter_heading span {
    display: inline-block;
    color: #ffffff;
    background-color: #458a28;
}

.leagues-available-search .league-available-header .digit {
    color: #458a28;
}

.create-league .league-option.selected .increment-btn {
    background: #0055e6;
}

.create-league .text-content .number {
    text-align: center;
    background: #458a28;
}

.invite-users-list-block .invite-users-list li:hover {
    background: #ed1c24;
    color: white;
}

.InF {
    float: left;
    background: #ed1c24;
}

.league-choose-date:hover,
.league-option:hover,
.league-choose-date.active,
.league-option.active,
.league-choose-date.selected,
.league-option.selected {
    background: rgba(36, 97, 245, 0.3);
    border: 1px solid #2461f5;
    color: #ffffff;
}

.league-choose-date:hover {
    background: #0055e6;
}

.leaderboard tbody tr.your-score td {
    border-color: #f3691c;
    padding: 3px 10px;
    border: 1px solid #458a28 !important;
}

.leaderboard tbody tr.your-score td a {
    color: #458a28;
    font-weight: 700;
}

.leaderboard tbody tr.your-score td.rank {
    color:#2b67f5;
}

.leaderboard tbody tr.your-score td:last-child {
    border-right: 1px solid #458a28;
}

.introjs-tooltip .introjs-progress .introjs-progressbar {
    background-color: #458a28;
}

.introjs-tooltip .introjs-button {
    -webkit-appearance: none;
    background: #458a28;
}

.introjs-tooltip .introjs-bullets ul li a.active,
.navbar-default .navbar-toggle:hover,
.mainbadges-dashboard-header .my-level .levels-container .level .single-level-bar .single-level-bar-fill-in {
    background: #458a28;
}

/*Less the iPad portrait size - 767px*/
@media all and (max-width: 767px) {

    h1{
        border-bottom: none;
    }
}

.playersearch .slider-container .ui-slider-horizontal .ui-slider-handle {
    background: #2b67f5  !important;
}

.gamedetails .text .title {
    color: #458a28;
}

.myteams table.table thead tr th a, .myteams table.table thead tr th a,
.leagues-available-search table.table thead tr th a, .leagues-available-search table.table thead tr th a:hover {
    color: white !important;
}

.looking-for-league .ui-dialog .league-starts .digit,
.league-detailpage .ui-dialog .league-starts .digit,
.team-builder .ui-dialog .league-starts .digit,
.live .ui-dialog .league-starts .digit,
.join-league-saved-team .ui-dialog .league-starts .digit,
.mainbadges-dashboard-header .my-point .member-level-container .level,
.gamedetails .text .title,
.mainbadges-dashboard-header .my-point .member-level-container .title,
.mainbadges-dashboard-header .my-level .levels-container .level .level-score.achieved {
    color: #2b67f5;
}

/*** available leagues ***/

.leagues-available-search > form {
    background: #9b9b9b !important;
    border: 1px solid #2b67f5;
}

/*.leagues-available-search .btn {*/
    /*margin: 15px 30px 0 0;*/
/*}*/

.white-bg .leagues-available-search .league-available-header {
    background: #ebebeb;
}

.availableLeaguesSearchResults .leagues-available-search.container {
    background: #181818;
}

.availableLeaguesSearchResults .leagues-available-search .league_filters {
    background: #808080;
}

.availableLeaguesSearchResults .leagues-available-search table.table thead {
    background: #181818;;
}

.availableLeaguesSearchResults table.table thead tr {
    border: 1px solid #ebebeb;
    border-right: none !important;
    border-left: none!important;
}

.text-content .container {
    background: #ebebeb;
}

.match-selector {
    background: none;
    overflow: hidden;
}

.leagues-available-search table.table tbody tr td.error > h3 {
    color: #2b67f5;
    font-weight: 700;
}

.dashboard-followers .search-users .search-input input{
    border: 1px solid #2b67f5;
}
/***first step***/
.create-league .text-content .top-border {
    border-top: 1px solid #2b67f5;
}



.create-league .text-content .league-basics-pod input {
    border: 1px solid #afc1ee;
}

.create-league .text-content h5{
    color: #4a4a4a;
}

.step-circle.active-step, .step-line {
    background: #0055e6;
    color: #fff;
}
.create-league .create-league-nav .step-line{
    background:#0055e6;
}


.step-circle {
    color: #000;
    border: 2px solid #0055e6;
}

.leagues-available-search table.table tbody tr:nth-child(even) {
    background-color: #2C2C2C;
    color: #fff;
}

.leagues-available-search table.table tbody tr {
    background: #ccc;
    color: #4a4a4a;;
}

.leagues-available-search table.table thead tr th {
    border-left: none;
}

.leagues-available-search .league_filters {
    background: #999999;
}

table.table {
    border: 1px solid #9b9b9b;
    background-color: #999999;
}

table.table tbody tr {
    border: none;
}

table.table tbody tr td {
    border: none;
}

.leagues-available-search .league_filters .league_filter_container#leagues-filter-fee {
    color: #fff;
}

#accordion > h3 {
    background-color: #afc1ee;
    color: #2b67f5;
}

.create-league .match-selector .ui-accordion-content .match {
    background-color: #ccc;
    color: #4a4a4a;
}

.create-league .match-selector .ui-accordion-content .match.odd {
    background-color: #999999 !important;
    color: #fff;
}


.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom {
    width: 99.9%;
}

.create-league .match-selector .ui-accordion-content .match > div {
    border-bottom: 1px solid #fff;
}
.create-league .match-selector .ui-accordion-content .match > div{
    border-left: none;
}

#first-step .match>div:nth-child(1),#first-step .match>div:nth-child(4){
    border-right: 1px solid #fff;
}
.create-league .match-selector .ui-accordion-content .match .checkbox-container {
    border-right: none;
}

/*.myteams table.table thead .text-align-center {*/
    /*border-right: 1px solid #000;*/
/*}*/

table.table thead tr th:nth-child(1) {
    border-right: 1px solid #ebebeb;
    border-left: none;
}
.myteams-search .myteams table.table thead{
    background-color: #9b9b9b;
}

table.table thead tr th:nth-child(5){
    border-right: none!important;
}

#leagues-list table.table thead tr th:nth-child(5) {
    border-right: 1px solid #ebebeb !important;
}

table.table tbody tr:nth-child(odd){
    color: #4a4a4a!important;
}

table.table thead tr th:nth-child(6){
    border-left: none!important;
}
table.table thead tr th:nth-child(2) {
    border-right: 1px solid #ebebeb;
}

table.table thead tr th:nth-child(3) {
    border-right: 1px solid #ebebeb;
}

table.table thead tr th:nth-child(4) {
    border-right: 1px solid #ebebeb;
    vertical-align: middle;
}

.myteams table.table tr {
    /*border-color: #000;*/
}

/***second step***/

.invite-friends-block .invite-friends-block-textarea {
    background: #ffffff;
}

.team-builder .team-builder-details, .gamedetails .text .value {
    color: #545353;
}

.league-choose-date, .league-option {
    background: #ffffff;
    color: #000;
}

/***squad ***/
.memberteam-schedule-container {
    margin-left: 1.5%;

}

.team-builder .white-container, .team-builder .gamedetails {
    width: 100%;
    background: #ebebeb;
}

.team-builder .teamname > input {
    background: #fff;
    color: #545353 !important;
    border: 1px solid #545353 !important;
}

.page-container.inplay-bg {
    width: 100%;
    background: none;
}

.page-container > .grid {
    background-image: none;
}

.inplay-bg .subs ul li.inplay, .inplay-bg .subs ul li.idle {
    background: #999999;
}

.page-container.inplay-bg .container .subs {
    min-height: 0;
    background-color: #999999;
    border: 1px solid #545353;
}

.legend-text {
    color: #1a1a1a;
}

.builder-option .btn-team {
    background-color: #2b67f5;
    border: 1px solid #0055e6;
}

.builder-option{
    line-height: 22px;
}

.builder-option .btn-team:hover {
    background-color: rgba(43, 103, 245, 0.3);
    border: 1px solid #2b67f5;
}

.memberteam-schedule-container table {
    color: #fff;
}

.builder-option.join-league.active:hover {
    background: #0055e6 !important;
}

form .rounded-container {
    border: 1px solid #999 !important;
}

.page-container.inplay-bg .container .subs .title {
    background-color: #999999;
    color: #fff;
    border: 1px solid #545353;
    border-bottom: none;
}

.memberteam-schedule-container > .title {
    background-color: #999;
    background-position: 7px 6px;
    color: #fff;
    border: 1px solid #545353;
    border-bottom: none;
}

.memberteam-schedule-container table > tbody > tr:nth-child(odd) > td {
    background-color: #999999 !important;
}

.memberteam-schedule-container table > tbody > tr > td:first-child {
    background-color: #cccccc !important;
}

.memberteam-schedule-container table tr:nth-child(2) {
    background-color: #cccccc;
    color: #545353;
}

.memberteam-schedule-container table tr.players td {
    background: #cccccc;
}

.memberteam-schedule-container table tr td, .memberteam-schedule-container table tr.odd th, .memberteam-schedule-container table tr th {
    border: 1px solid #545353;
}

.side-board .playersearch.playersearch-mini .rounded-container .heading.build {
    background-color: #4C4C4C;
}

table.table tbody tr:nth-child(even) {
    background-color: #999999 !important;
}

table.table tbody tr {
    background-color: #ccc !important;
    color: #fff;
}

.team-side-block-1 .filter-title, .show-in-budget, .playersearch .slider-container #value-range-values {
    color: #fff;
}

.playerSearchResults table > tbody a {
    color: #fff !important;
}

.playersearch-mini .searchbox tr th, .side-board .playersearch .playerSearchResults {
    background-color: #cccccc;
}

.side-board .playersearch .playerSearchResults{
    border: none;
}

.side-board .playersearch.playersearch-mini .rounded-container .heading.build {
    border: none;
}

.teambuilder .playersearch .searchbox tr th, .live .playersearch .searchbox tr th {
    border: 1px solid #545353;
}

.inplay-bg .playerSearchResults .pagination {
    color: #545353;
    background: #ebebeb;
    border: 1px solid #999999;
}

.player-data .player-mobile-icon {
    display: inline-block;
    width: 27px;
    height: 26px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 100%;
}

.add-player-sub.player-mobile-icon {
    display: inline-block;
    width: 26px;
    height: 27px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 100%;
}

.player-data .player-mobile-icon.add-player-starter {
    background: url('../../images/icons/circle-type-5.png') no-repeat;
    background-position-x: -6px;
    background-position-y: -7px;
}

.player-data.player-add-tr .add-player-starter {
    background: url('../../images/icons/circle-type-5.png') no-repeat;
    background-position-x: -6px;
    background-position-y: -7px;
}

.player-data.player-add-sub-tr .add-player-sub, .player-data.player-add-tr .add-player-starter {
    background-color: #458a28 !important;
}

.player-data .player-mobile-icon.add-player-sub {
    background: url('../../images/icons/sub_icon_piramit.png') no-repeat;
    background-position-x: -2px;
    background-position-y: -1px;
}

.player-data.player-add-sub-tr .add-player-sub {
    background: url('../../images/icons/sub_icon_piramit.png') no-repeat;
    background-position-x: -2px;
    background-position-y: -1px;
}

.page-container.inplay-bg .container .field .player > .name, .team-selection .player > .name,
.inplay-bg .subs ul li > div > .player > .name {
    background-color: #4a4a4a;
    border: none;
}

/***popups***/

.table-custom .match > div {
    /*width: 72%;*/
}

.table-custom .match .league{
    width:120px
}

.ui-dialog.black-dialog {
    border: 1px solid #8e8e8e !important;
}

.my-saved-teams .error {
    color: #fff;
}

.nav-tabs a {
    color: #000 !important;
}

.nav-tabs .active a {
    color: #ed1c24 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    background-color: #2b67f5;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:hover {
    background: rgba(0, 85, 230, 0.7);
    opacity: unset;
}

.ui-dialog-buttonpane #continueButton {
    background-color: #2b67f5;
}

.ui-dialog-buttonpane #continueButton:hover {
    background-color: #0055e6;
}

.ui-dialog.black-dialog .table-custom .heading {
    background-color: #545353;
}

.table-custom .sub-heading {
    background-color: #ccc!important;
    color: #545353;
    border-top: 1px solid #dddddd!important;
}

.matches-container .match {
    background-color: #9b9b9b!important;
    border-top: 1px solid #dddddd;
    color: #fff;
}

#dialog-invite-members-to-league .step-circle {
    color: #2461f5;
}

#dialog-invite-members-to-league .step-circle.active-step > span {
    color: #fff !important;
}

#dialog-invite-members-to-league {
    background-color: #ccc !important;
}

#dialog-invite-members-to-league .inner-content-block {
    color: #2461f5;;
}

#dialog-invite-members-to-league .block-top h3, .dialog-self-exclude .block-top h3{
    color: #2461f5;;
}

#dialog-invite-members-to-league .invite-users-list-block .invite-users-list,
#dialog-invite-members-to-league .invited_users_list_block .invited_users_list {
    color: #ed1c24;
}

#dialog-invite-members-to-league table thead th {
    border-right: 1px solid #cccccc;
}

#dialog .table-custom .match .league .league-image {
    color: #fff;
}

.ui-dialog .entries-and-prizes{
    background-color: #9b9b9b;
    border-top: 1px solid #d9d9d9;
}

.ui-dialog .entries-and-prizes .inline{
    border-left: 1px solid #d9d9d9!important;
    color: #fff;
}

.ui-dialog .entries-and-prizes .inline:nth-child(3){
    border-right: 1px solid #d9d9d9;
}

.ui-dialog .league-starts,ul.nav.nav-tabs.navtabclass{
    background: #999999;
    color: #fff;
}
.ui-dialog .ui-dialog-content ul.navtabclass li.active{
    border: 1px solid #c7c7c7;
    background: #2C2C2C;
}
.looking-for-league .ui-dialog .tab-content{
    background: #ebebeb;
}

.ui-dialog ul.navtabclass > li > a{
    background: #545353!important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: none;
}

.ui-dialog ul.navtabclass > li.active > a, .ui-dialog ul.navtabclass > li.active a:hover, .ui-dialog ul.nav-tabs > li.active > a:focus{
    margin-top: -2px;
    bottom: -2px;
}

.ui-dialog .ui-dialog-content ul.navtabclass li,ul.navtabclass > li > a:hover{
    border: none;
}

.ui-dialog ul.navtabclass > li.active > a{
    color: #2b67f5!important;
}

.ui-dialog ul.navtabclass > li> a{
    color: #fff!important;
}

.dialog-users-search{
    padding: 10px 0 10px 10px;
}

.ui-dialog, .looking-for-league .ui-dialog{
    border: 1px solid #ccc;
}

.table-custom .match .league{
    width: 100px;
}

.ui-dialog .ui-dialog-content{
    background: none;
    margin: 0;
}

#dialog .dialog-users-table table th{
    background-color: #545353;
    border-left: 1px solid #d9d9d9;
}

/***upcoming leagues***/

.upcoming-league .nav-tabs a {
    color: #fff !important;
}

.upcoming-league .nav-tabs a:hover {
    color: #fff !important;
}

.page-tabs > li.active > a, .page-tabs > li.active > a:hover, .page-tabs > li.active > a:focus {
    background: none;
    border-bottom: 1px solid #0055e6;
    color: #0055e6 !important;
}

.upcoming-league .nav-tabs > li.active > a:hover {
    background: none !important;
}

.upcoming-league .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: none;
}

.upcoming-league .myteams table.table tbody tr {
    background-color: #343434;
    color: #fff;
}

.saved-teams ul li > a {
    color: #fff !important;
}

.saved-teams ul li > a:hover {
    color: #fff !important;
}

.upcoming-league .nav-tabs {
    border-bottom: 1px solid #999 !important;
}

.navtabclass .nav > li > a:hover, .nav > li > a:focus {
    color: #fff !important;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-left,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-right{
    background: #9b9b9b;
}

.saved-teams .text-content ul{
    margin-left: 0!important;
}

.saved-teams .saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date:hover,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.active{
    color: #fff;
}

.saved-teams .saved-team-container .saved-teams-top-block .saved-teams-top-block-right .btn.disabled{
    background: #fff;
    color: #2c2c2c!important;
}

.saved-teams .saved-team-container .saved-teams-top-block .saved-teams-top-block-right .btn.active{
    background: rgba(0, 85, 320, 0.3)!important;
    border: 1px solid #0055e6!important;
    color: #fff!important;
}

.saved-teams  .saved-team-container .saved-teams-top-block .saved-teams-top-block-left .text{
    padding: 10px 0 8px 10px;
    color: #fff;
}

.mysavedteams .saved-team .team-subs,
.mysavedteams .team-top{
    background: #9b9b9b;
}

.mysavedteams .saved-team .team-field,
.mysavedteams .team-top{
    border-left: 1px solid #545353;
    border-right: 1px solid #545353;
}
.mysavedteams .team-top{
    border-top: 4px solid #545353;
}
.mysavedteams .team-join-block{
    background: #545353;
}


.mysavedteams .team-top .team-remove{
    background-color: #ebebeb;
    color: #9b9b9b;

}

.table.leaderboard.reduced-padding tbody tr td.separator{
    padding: 0 10px!important;
    border: none!important;
    background-color: #000!important;
}

.leaderboard tbody tr td:first-child {
    border-left: 1px solid #000;
}

.leaderboard tbody tr td:last-child{
    border-right: 1px solid #000;
}

.table.leaderboard tbody tr > td{
    border: 1px solid #000;
}



/***league detail***/
.looking-for-league .league-details {
    color: #545353;
    border-bottom: 1px solid #2b67f5;
}

.looking-for-league table.table thead {
    background: #999999;
    color: #fff;
}

.looking-for-league .leaderboard tbody tr.your-score {
    background: #ebebeb !important;
    color: #fff;
}

.looking-for-league .leaderboard tbody tr.your-score td {
    border: 1px solid #fff !important;
}
.table.leaderboard thead tr{
    border-color: #fff;
}

.looking-for-league .left-column-wide {
    /*border-right: none!important;*/
}

.looking-for-league .left-column-wide {
    width: 48%;
    min-width: 443px;
}

.looking-for-league .middle-column-narrow {
    float: none;
    display: inline-block;
    width: 48.5%;
    margin: 0 8px;
}

.team-builder-details .text{
    color: #343434;
}
.team-builder-details .text span:nth-child(2){
    color: #2b67f5;
}

.looking-for-league .circle-messagebox .messagebox {
    background: #999;
}

.looking-for-league .circle-messagebox {
    border: 1px solid #999;
}

/*** live ***/
.team-builder .page-container.inplay-bg .container .side-board {
    border: 1px solid #999;
}

.page-container.inplay-bg .container .side-board table.table thead {
    background-color: #343434;
}

.page-container {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.page-container.timeline-bg {
    width: 94.1%;
    background: -webkit-linear-gradient(left, #999 0%, #666666 15%, #666666 85%, #999 100%);
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
}

.timeline-item-grey {
    background-color: #393939;
}

.timeline .timeline-item {
    height: 42px;
}

.timeline .player-name {
    color: #fff !important;
}

.page-container.expandable {
    background: none;
    border-bottom: none;
}

/***menu***/
.piramit-menu {
    width: 100%;
    background-color: #9b9b9b;
    border-bottom: 1px solid #2b67f5;
}

.piramit-menu ul {
    list-style: none;
    width: 960px;
    margin: 0 auto;
}

.piramit-menu ul > li {
    display: inline-block;
    padding: 0 3px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.piramit-menu ul > li > a {
    min-width: 90px;
    line-height: 45px;
    display: block;
    color: #2b67f5;
    text-decoration: none;
}

.piramit-menu ul > li > a:focus {
    display: block;
    color: #fff !important;
}

li.menu-active {
    background-color: #2b67f5;
}

.menu-active>a{
    color: #fff !important;
}

.piramit-menu ul li > a:hover {
    color: #fff !important;
}

/***league/oulala-fixtures ***/
.fixtures-custom-live .match .home.has-minute, .fixtures-custom-live .match .away.has-minute {
    background: none;
    color: #fff;
}

.fixtures-custom-live .match .home.full-width, .fixtures-custom-live .match .away.full-width,
.fixtures-custom-live .match .versus, .fixtures-custom-live .match .score {
    background: none;
    color: #fff;
}

.fixtures-custom-live .match .fixture-heading {
    background-color: #181818;
}

/*** userprofile ***/
.container.white-container {
    background: none;
    width: 100%;
    margin: unset;
    padding: 4px 0 0 0px
}

.favoriteTeam .chooseTeam > select {
    background-color: #fff;
}

.aboutUser .favoriteTeam .optionSection:first-of-type {
    color: #545353;
}

.profile-name > div:first-child {
    color: #545353;
}

.aboutUser .acceptButtons {
    border-top: 1px solid #999;
    background-color: #9b9b9b;
}

.aboutUser {
    border-color: #999;
}

.profile-name {
    border-bottom: 1px solid #999;
    padding: 0 0 10px 0;
    /*padding:10px 0;*/
}

.socialWall {
    background-color: #ebebeb;
    color: #fff;
    border: 3px solid #999;
}

.socialWall #title {
    background: #545353;
}

.completed-badges-container .badge {
    background-color: #545353;
}

.completed-badges-container .badge .prize-item {
    border-top: 1px solid #ebebeb;
}

.completed-badges-container .badge .rank .rank-item {
    color: #fff;
}

.completed-badges-container .badge .prize-item.inactive, .completed-badges-container .badge .prize-item.inactive .next-badge-title, .completed-badges-container .badge .prize-item.inactive .prize-level-desc, .completed-badges-container .badge .prize-item.inactive .prize_title {
    color: #fff;
}

.dashboard-followers .followers-result-block {
    background-color: #9b9b9b;
}

.dashboard-followers .followers-result-block .follow-item .follow-title {
    color: #fff;
}

.dashboard-followers .followers-result-block .follow-item .follower-block {
    background: #ebebeb;
    color: #545353;
    border-top: 1px solid #999;
}

.dashboard-followers .followers-result-block .follow-item .follower-block ul li span {
    color: #999;
}

.dashboard-followers .search-users {
    background: none;
}

.mainbadges-dashboard-header .my-level .levels-container .level .level-score {
    color: #2b67f5;
}

.mainbadges-dashboard-header .my-level .levels-container .level .level-amount {
    color: #2b67f5;
}

.mainbadges-dashboard-header .my-level {
    background-color: #9b9b9b;
}
.mainbadges-dashboard-header .my-point .member-level-container .level-info{
    color:#fff;
}

.mainbadges-dashboard-header .my-point {
    background: #9b9b9b;
}

.mainbadges-dashboard-header .my-point .member-level-container .score {
    color: #fff;
}

/*** help ***/
.game-rules h3 {
    font-weight: 600 !important;
}

.game-rules h4 {
    color: #545353;
    font-weight: 500;
}

.game-rules .text-content ol:first-child > li, #tinymce ol:first-child > li {
    color: #545353;
}

.game-rules ul.navtabclass > li > a {
    color: #2b67f5;
}

.menu-active a{
    color: #fff!important;
}

.game-rules ul.navtabclass > .active a {
    color: #ed1c24 !important;
}

.game-rules ul.navtabclass > .active a:hover {
    color: #ed1c24 !important;
}

.game-rules ul.navtabclass > li > a:focus {
    color: #000 !important;
}

.game-rules ul.navtabclass > li > a:hover {
    color: #000 !important;
}

.text-content {
    background: #ebebeb;
    color: #fff;
}

.game-rules .nav-tabs {
    border-bottom: 1px solid #999;
}

.game-rules .text-content hr, #tinymce hr {
    background: #999;
}

.game-rules .text-content .container h2 span {
    display: inline-block;
    color: #FFF;
    background-color: #2b67f5;
    border-radius: 3px;
    margin-right: 10px;
    padding-top: 5px;
    height: 32px;
    width: 37px;
    text-align: center;
    position: relative;
    top: -2px;
    font-size: 22px;
}

.game-rules .submit_ticket {
    margin-top: 3px;
    background-color: #ed1c24;
    color: #1a1a1a;
}

.submit_ticket > a {
    color: #000 !important;
}

.game-rules .rules-image {
    width: 589px;
    height: 451px;
}

#dialog .table-custom .match.disabled-match > div{
    color: #fff;
}

.game-rules .recipe > .rounded-container .sub-heading,
.game-rules .recipe > .rounded-container .sub-heading > .row > div.first {
    background: #545353;
}

.game-rules .recipe > .rounded-container > .stats > .row.odd,
.game-rules .recipe > .rounded-container > .stats > .row.odd .first {
    background-color: #ccc;
    color: #545353;
}

.game-rules .recipe > .rounded-container > .stats > .row.even,
.game-rules .recipe > .rounded-container > .stats > .row.even .first {
    background-color: #999999;
    color: #fff;
}

.recipe > .rounded-container > .stats > .row > div.first {
    color: #2b67f5;
    font-weight: 500;
}

.game-rules .row {
    background-color: #999999;
}

.game-rules .recipe > .rounded-container > .stats > .row > div.first {
    background-color: #999999;
    line-height: 17px;
    font-weight: bold;
}

.game-rules .recipe > .rounded-container .sub-heading > div:first-child {
    background: none;
    border: none;
}

.game-rules .recipe > .rounded-container > .stats > .row.odd .first {
    border: none;
}

.game-rules .recipe > .rounded-container > .stats > .row.odd,
.game-rules .row {
    border-bottom:1px solid #ebebeb;
}

.game-rules .recipe > .rounded-container .stats > .row > div {
    border-left: none;
}

.game-rules .recipe > .rounded-container .sub-heading {
    border-top: 1px solid #999;
}

.game-rules .recipe > .rounded-container > .heading > .row {
    background-color: #4C4C4C;
}

.game-rules .support ul.faq-items > li > .question > .arrow::before,
.game-rules .support ul.faq-items > li > .question > .arrow.open::before {
    color: #2b67f5;
}

.game-rules .support ul.faq-items li p {
    color: #fff;
}

.game-rules .support ul.faq-items > li:hover,
.game-rules .left-widget > ul > li:hover,
.support ul.faq-items > li.open {
    background: #999999;
}
.game-rules .left-widget > ul > li.selected,.game-rules .left-widget > ul > li:hover{
    background: #2b67f5;
}
.game-rules .left-widget > ul > li>a:hover{
    color: #fff!important;
}


.game-rules .left-widget > ul > li a,
.game-rules .support ul.faq-items li {
    border-top: 1px solid #fff;
}

.game-rules .left-widget > ul > li:first-child a,
.game-rules .support ul.faq-items > li:first-child {
    border-top: none;
}

.client-name {
    color: #2b67f5 !important;
}

.game-rules li{
    color: #2b67f5;
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .center-content {
        width: 100%;
    }

    .leagues-available-search.container{
        position: relative!important;
    }

    .sort-filters.mobile-show{
        top: 109px!important;
        right: 5%;
    }

    .white-bg .leagues-available-search .league-available-header{
        background: none;
    }
    .currency{
        right: 6px;
        top: -35px;
        width: 27%;
    }
}

@media (max-width: 550px) {
    .leagues-available-search.container{
        position: relative!important;
    }

    .sort-filters.mobile-show{
        top: 82px!important;
    }
}

/*** squad live responsive ***/

.gamedetails .builder-option .btn-team-clear,
.live .page-container.gamedetails .builder-option .btn-team-clear{
    width: 100%;
}

.team-builder-details.league-details{
    border-top: 1px solid #2b67f5;
    border-bottom: 1px solid #2b67f5;
}

.page-container.inplay-bg .container .field {
    width: 100%;
    background-size: 100% 100%;
}

.league-details .left {
    border-top: none;
}

.memberteam-schedule-container{
    width: 100%;
    margin: 0;
}

@media (max-width: 324px) {
    .center-content{
        padding-bottom: 5px;
    }
}

.holder>div:nth-child(2){
    color: #fff;
}

.nothing-found h3{
    color: #2b67f5;
}

@media (max-width: 767px) {

    .piramit-menu ul > .menu-active a {
        background-color: #ed1c24 !important;
    }

    .piramit-menu ul > li > a:focus {
        background-color: #393939;
    }

    .piramit-menu ul {
        width: 100%;
    }

    .piramit-menu ul > li {
        display: block;
        border-bottom: 1px solid #999;
    }

    .piramit-menu ul > li > a {
        width: 99%;
        font-size: 14px;
        text-align: center;
        padding-left: 5px;
    }

    .piramit-menu ul > li {
        display: block;
        border-bottom: 1px solid #999;
    }

    .piramit-menu ul > li:last-of-type {
        border-bottom: none;
    }

    .piramit-menu ul > .menu-active a {
        background-color: #ed1c24 !important;
    }


    .piramit-menu ul > li > a:focus {
        background-color: #393939;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .center-content,
    .piramit-menu ul{
        width: 95%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .center-content{
        width: 960px;
    }

    .piramit-menu ul{
        width: 960px;
    }
}

@media (min-width: 1201px) and (max-width: 1366px) {
    .center-content{
        width: 960px;
    }

    .piramit-menu ul{
        width: 960px;
    }
}

/*** temp  ***/

.completed-badges-container .badge{
    width: 32%;
}

/***invite dialog***/
.invite-friends-block .friends-list-text-inside{
    width: 100%;
}
.invite-friends-block .invite-friends-block-textarea input[type="text"]{
    width: 99%;
}

.invite-users-list-block{
    border-bottom: none;
}
.profile-bio {
    color: #545353;
}

.ui-widget-overlay{
    background: #ccc!important;
    opacity: 0.7!important;
}

.myteams table.table tr td {
    line-height: 13px;
}

.profile-name .editProfile{
    font-family: Titillium -webkit-body;
    font-weight: 600;
}

.myteams .league_today{
    vertical-align: middle!important;
}

#dialog-error{
    color: #ffffff;
}

/***ODT 132***/

.view-leagues {
    border: 1px solid #545353!important;
}

.view-leagues  .mysavedteams{
    min-height: 110px;
}

.view-leagues  .team-builder .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button{
    width: 225px;
}

.view-leagues  button.black.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
    background: #2b67f5;
    opacity: unset;
}

.view-leagues  .ui-button-text{
    cursor: pointer;
}

.view-leagues  button.black.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover{
    background: rgba(0, 85, 230, 0.7);
    opacity: unset;
}

.view-leagues  .ui-dialog-titlebar{
    margin-left: 0!important;
    margin-right: 0!important;
}

.view-leagues  .error{
    width: 100%;
    margin-top: 20px;
}

.view-leagues  .error>p{
    margin: 0;
    text-align: center ;
}

/***Forum***/
.oulala-forum .heading p,.text
{
    color: #545353;
}

/***End Forum***/

body.about-news .left-column .support ul li a{
    color:#ffffff!important;
}
body.about-news .left-column .support ul li.selected a{
    color:#ED1C24 !important;
}
.blog-item .blog-content h2{
    color: #000000;
}
body.about-news .middle-column .blog-item .blog-text,.blog-item .blog-content .details{
    color: #000000;
}
body.about-news .administrator{
    color:#ED1C24 !important;
}
.pagination{
    color: black;
}
.circle-chat-container .pagination{
    color: #fff;
}
.circle-chat .error{
    background-color: #000!important;
    color: #fff!important;
}

#chat-error-color{
    color: #fff;
    margin-top: 13px;
}

/***  END ODT 135  ***/
.howitworks .page-container.light-bg .container>.left .number, .howitworks .page-container.dark-bg .container>.left .number, .howitworks .page-container.light-bg .container .right .number, .howitworks .page-container.dark-bg .container .right .number {
    background: #ed1c24!important;
}
.howitworks .page-container.light-bg{
    background-color: #272727;
}
.howitworks .page-container.light-bg .container>.left p, .howitworks .page-container.dark-bg .container>.left p, .howitworks .page-container.light-bg .container .right p, .howitworks .page-container.dark-bg .container .right p {
    color: #ffffff;
}
.payment-block{
    color: #000;
}


table.table tbody tr:nth-child(odd)>td>div>a>span{
     color: #545353 ;
 }

.playerSearchResults table > tbody>tr>td>div>a>.player-team-name{
    color: #2b67f5 !important;
}

.memberteam-schedule-container table tr th{
    background-color: #999;
}

.teamnotification .problem{
    background-color: #999999;
}

.content-legend{
    background-color: #cccccc;
}

.create-league .no-matches{
    color: #2b67f5;
}

.memberteam-schedule-container > .rounded-container{
    border: 1px solid #545353;
}
.ui-dialog, .looking-for-league .ui-dialog, .league-detailpage .ui-dialog, .team-builder .ui-dialog, .live .ui-dialog, .join-league-saved-team .ui-dialog{
    background: #9b9b9b;
    border: 1px solid #545353
}
.looking-for-league .ui-dialog .ui-dialog-titlebar, .league-detailpage .ui-dialog .ui-dialog-titlebar, .team-builder .ui-dialog .ui-dialog-titlebar, .live .ui-dialog .ui-dialog-titlebar, .join-league-saved-team .ui-dialog .ui-dialog-titlebar{
    background:#9b9b9b;
}

.looking-for-league .ui-dialog .ui-dialog-titlebar .ui-state-default .ui-icon, .league-detailpage .ui-dialog .ui-dialog-titlebar .ui-state-default .ui-icon, .team-builder .ui-dialog .ui-dialog-titlebar .ui-state-default .ui-icon, .live .ui-dialog .ui-dialog-titlebar .ui-state-default .ui-icon, .join-league-saved-team .ui-dialog .ui-dialog-titlebar .ui-state-default .ui-icon{
    background-color: #9b9b9b;
}

.looking-for-league .ui-dialog .ui-dialog-titlebar .ui-dialog-title, .league-detailpage .ui-dialog .ui-dialog-titlebar .ui-dialog-title, .team-builder .ui-dialog .ui-dialog-titlebar .ui-dialog-title, .live .ui-dialog .ui-dialog-titlebar .ui-dialog-title, .join-league-saved-team .ui-dialog .ui-dialog-titlebar .ui-dialog-title{
    color: #2b67f5;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.gray{
    color: #000;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.gray:hover{
    color: #fff;
}
.looking-for-league .ui-dialog.confirmjoinleague #dialog-choose-formation .formations, .league-detailpage .ui-dialog.confirmjoinleague #dialog-choose-formation .formations, .team-builder .ui-dialog.confirmjoinleague #dialog-choose-formation .formations, .live .ui-dialog.confirmjoinleague #dialog-choose-formation .formations, .join-league-saved-team .ui-dialog.confirmjoinleague #dialog-choose-formation .formations, .looking-for-league .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations, .league-detailpage .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations, .team-builder .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations, .live .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations, .join-league-saved-team .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations, .ui-dialog .formations{
    background: #9b9b9b;
}

.looking-for-league .ui-dialog.confirmjoinleague #dialog-choose-formation .formations h3,
.league-detailpage .ui-dialog.confirmjoinleague #dialog-choose-formation .formations h3,
.team-builder .ui-dialog.confirmjoinleague #dialog-choose-formation .formations h3,
.live .ui-dialog.confirmjoinleague #dialog-choose-formation .formations h3,
.join-league-saved-team .ui-dialog.confirmjoinleague #dialog-choose-formation .formations h3,
.looking-for-league .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations h3,
.league-detailpage .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations h3,
.team-builder .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations h3,
.live .ui-dialog.dialog-clearTeam #dialog-choose-formation .formations h3,
.ui-dialog.dialog-clearTeam #dialog-choose-formation .formations h3,
.table-custom .sub-heading .disabled-notice{
    color:#2b67f5!important;
}

.tab-content > .active{
    border: 1px solid #9b9b9b;
}
.looking-for-league .ui-dialog .ui-dialog-buttonpane, .league-detailpage .ui-dialog .ui-dialog-buttonpane, .team-builder .ui-dialog .ui-dialog-buttonpane, .live .ui-dialog .ui-dialog-buttonpane, .ui-dialog .ui-dialog-buttonpane{
    background: #9b9b9b;
}

.ui-dialog.dialog-invite-members-to-league{
    background: #999;
}

#dialog-invite-members-to-league .block-top, .dialog-self-exclude .block-top,
#dialog-invite-members-to-league .block-bottom, .dialog-self-exclude .block-bottom,
.generic-search-form{
    background: #999;
}

#dialog-invite-members-to-league .close-invite-dialog, .dialog-self-exclude .close-invite-dialog{
    background-color: #999;
}

.invite-friends-block .invite-friends-block-textarea{
    border: 1px solid #545353;
}

.page-container.inplay-bg .container .side-board .heading {
    background: #9b9b9b;
}

.dashboard-followers .search-users .search-title{
    background: #ebebeb;
    color: #393939;
}

.circle-chat ul.forum-items li .circle-chat-details{
    color: #545353;
}
.recipe > .rounded-container .sub-heading > .row > div{
    border-color: #ebebeb;
}
.left-widget > ul > li.selected a{
    color: #fff!important;
}
.ui-dialog.black-dialog .ui-dialog-titlebar .ui-state-default .ui-icon{
    background-color: #9b9b9b;
}
.ui-dialog.black-dialog .ui-dialog-titlebar{
    background: #9b9b9b;
    color: #2b67f5;
}
.client-color{
    color: #2b67f5;
}

#sub-title{
    background-color: #393939;
    border-bottom: 1px solid #393939;
    color: #fff;
}

span.decrement-btn.decrement, span.increment-btn.increment{
    background: #0055e6;
}
.leagues-available-search .league-available-header.for-saved-teams .league-available-header-join #leagues-create-button.active{
    background: #2b67f5 !important;
}
.leagues-available-search .league-available-header.for-saved-teams .league-available-selected .selected-text span.leagues_count{
    color: #2b67f5 !important;
}
.leagues-available-search table.available-for-saved-teams tr.active-selected{
    background: rgba(43, 103, 245, 0.16) !important;
}
.leagues-available-search table.available-for-saved-teams tr.active-selected td{
    border: 1px solid #2b67f5;
}
.leagues-available-search table.available-for-saved-teams .increment-btn{
    background: #2b67f5 !important;
}
.game-rules .rules-image{
    display: none!important;
}
.looking-for-league .nothing-found{
    border-right: 1px solid #2b67f5 !important;
}