a {
  color: #ffc107 !important;
  text-decoration: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffc107 !important;
}
.sub-player{
  color: #ffc107 !important;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #ffc107 !important;
}

.navbar-default {
  background-color: #ffc107;
  border-color: #ffc107;
  border: none;
}
.navbar-default .navbar-nav > li > a{
	color:white !important;
}
nav .navbar-collapse{
	background-color: #ffc107;
}
.player-data.player-add-sub-tr .add-player-sub,.player-data.player-add-tr .add-player-starter {
	background-color: #ffc107;
	border-radius:100%;
	-o-border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
}
@media (max-width: -1px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffc107;
    background-color: #2b2b2b;
  }
}

.navbar-default .navbar-link:hover {
  color: #ffc107;
}
.navbar-default .btn-link {
  color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #ffc107;
}


a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #ffc107;
}

a {
  text-decoration: none;
  color: #ffc107;
}

.orange {
  color: #ffc107;
}

.btn {
  -webkit-appearance: none;
  background: #ffc107;
  color:white !important;
}
.btn a{
	color:white !important;
}
.btn-gray {
    background: #2b2b2b;
}
ul.navtabclass > li > a {
  border-radius: 0;
  color: #ffc107;
}
ul.navtabclass > li > a:hover {
  background-color: white;
}
ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
  color: #ffc107;
}
span.username a.username {
  color: #ffc107;
}
.submit_ticket {
  background-color: #ffc107;
}

.upload-number {
  background: #ffc107 none repeat scroll 0 0 padding-box;
}

ul.navtabclass > li.active > a,
ul.navtabclass > li.active a:hover {
  color: #ffc107;
}
.document_filter_container .ui-slider-handle {
  background: #ffc107 !important;
  border: none !important;
}

.document_filter_container .league_filter_heading span {
  display: inline-block;
  background-color: #ffc107;
}
.select-styling::after {
  color: #ffc107;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.orange {
  color: #ffc107;
}

.page-container.expandable > .container > .show-hide .show-text > .text,
.page-container.expandable > .container > .show-hide .hide-text > .text {
  color: #ffc107;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  -webkit-appearance: none;
  background: #ffc107 !important;
}

.grid-checkbox fieldset:hover {
  background-color: #ffc107;
  color: white;
}

.table-custom .fixture-seperator {
  background: #ffc107;
  color: #ffffff;
  padding: 8px 0 8px 10px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar .navbar-nav .dropdown.active > a {
  background-color: #ffc107;
}

.navbar .navbar-nav .dropdown.default-theme ul li.second-level-pill > a:hover {
  background-color: #2b2b2b;
  color: #ffc107;
}

.navbar .calltoaction {
  border-bottom: 1px solid #ffc107;
}

/* Custom hover for opened dropdowns in navbar */
.navbar-default .navbar-nav > .open > a:hover {
  color: #ffc107;
}
.navbar-oulala .navbar-nav > li > a.btn:hover,
.navbar-oulala .navbar-nav > li > a.btn:focus {
  color: #ffffff;
  background-color: #ffc107;
}

footer ul.footer-sub-links > li > a.selected {
  color: #ffc107;
}

.inplay-sidepanel th {
  color: #ffc107;
}

.blog.bottom .ui-button,
.single-blog .ui-button {
  -webkit-appearance: none;
  background: #ffc107;
}

.slider-strip li .container > .slides-text > .note span {
  color: #ffc107;
}

.video-strip {
  background: #ffc107;
}

.video-strip-alternate > .grid > .container > .video .video-title-text hr {
  border-top: 4px solid #ffc107;
  padding: 0;
  padding-top: 15px;
}

.what-our-users-say .left .username {
  color: #ffc107;
  padding-top: 175px;
  margin-bottom: 3px;
}

.feature-strip > .grid > .container > .feature-header > .show-details > .text {
  color: #ffc107;
  float: left;
}

.feature-strip-alternate > .grid > .container > .feature-header > .show-details > .text {
  color: #ffc107;
  float: left;
}

.feature-strip-alternate > .grid > .container > .feature-header > .feature-text .feature-header-title {
  color: #ffc107;
  line-height: 0.95;
  margin-bottom: 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.feature-strip-alternate-b > .grid > .container > .feature-header > .show-details > .text {
  color: #ffc107;
  float: left;
}

.feature-strip-b-0 {
  background-color: #ffc107;
  background-size: 100% auto;
  height: 400px;
  color: #000000;
  padding: 20px;
}

.feature-strip-b-2 {
  background-color: #ffc107;
  background-size: 100% auto;
  height: 400px;
  color: #000000;
  padding: 20px;
}
#bigTriangleColorOrange path {
  fill: #ffc107;
  stroke: #ffc107;
  stroke-width: 0;
}

.overlapping-banner .overlapping-banner-body .overlapping-banner-title hr {
  display: block;
  height: 1px;
  width: 60px;
  border: 0;
  border-top: 4px solid #ffc107;
  padding: 0;
  padding-top: 15px;
}

.unread {
  color: #ffffff;
  background: #ffc107;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 4px;
}
.administrator {
  color: #ffc107;
}

.forum-details span.featured,
.ticket-details span.featured,
.ticket-list-details span.featured {
  color: #ffc107;
}

.middle-column .support .notification {
  color: #ffc107;
}

.support ul.forum-items li.admin-reply,
.support ul.ticket-items li.admin-reply {
  background: #ffc107;
}

.support ul.faq-items > li > .question > .arrow::before,
.support ul.faq-items > li > .question > .arrow.open::before {
  content: '\25b6';
  color: #ffc107;
}
.support ul.faq-items > li > .question > .arrow.closed::before {
  content: '\25bc';
  color: #ffc107;
}

.orange-box {
  background-color: #ffc107;
}

.mysavedteams .team-top .team-remove {
  width: 25px;
  height: 25px;
  background: #ffc107;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date:hover,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.active,
.saved-team-container .saved-teams-top-block .saved-teams-top-block-left .available-dates .league-choose-date.selected {
  background: #efda9b;
  border: 1px solid #ffc107;
  color: #1a1a1a;
}

.saved-team-container .saved-teams-top-block .saved-teams-top-block-right .btn.active {
  background: #ffc107;
}

.leagues-available-search .league-available-header.for-saved-teams .league-available-selected .selected-text span.leagues_count {
  color: #ffc107;
}

.leagues-available-search .league-available-header.for-saved-teams .league-available-header-join #leagues-create-button.active {
  background: #ffc107;
}
.leagues-available-search .league-available-header.for-saved-teams .league-available-header-join #leagues-create-button span {
  font-size: 24px;
}
.leagues-available-search table.available-for-saved-teams .increment-btn {
  background: #ffc107;
  vertical-align: baseline;
  margin-top: 2px;
}

.leagues-available-search table.available-for-saved-teams tr.active-selected td {
  border: 1px solid #ffc107;
}

.recipe > .rounded-container .sub-heading.category .title span {
  color: #ffc107;
}

.recipe > .rounded-container > .stats > .row > div.first {
  color: #ffc107;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}

.playersearch .slider-container .ui-slider-horizontal .ui-slider-handle {
  background: #ffc107 !important;
  border: none !important;
  width: 20px;
  height: 20px;
}

table.table thead tr th.add_as {
  color: #ffc107 !important;
}

.player-action-block .inner-btn {
  background: #ffc107;
}

.player-position.active,
.player-position:hover {
  color: #ffffff;
  background: #ffc107;
}

.builder-option.join-league.active {
  background-color: #ffc107 !important;
}

.prizes h5 {
  color: #ffc107;
}

.prizes.rounded-container > .rank {
  background: #212020;
  color: #ffc107;
}

.prizes.rounded-container .prizes-container > .prize-row > .prize > .text {

  color: #ffc107;
}

.tabs li.selected h4 {
  color: #ffc107;
}

.prize-grid tr th.completed {
  color: #ffc107;
  background-color: #ffc107;
}

.prize-grid tr th .prize-bracket-score.your-score {
  background-color: #ffc107;
}
.prize-grid tr th .upsidedown-triangle.completed {
  border-top: 5px solid #ffc107;
}
.prize-grid tr th .level-marker {
  height: 25px;
  background: #ffc107;
  border-right: 1px solid white;
  position: absolute;
  z-index: 98;
}

.clock-bar {
  border-top: 1px solid #ffffff;
  background: #ffc107;
}

.ui-accordion .accordion-content ul > li.active a {
  color: #ffc107;
}
.ui-accordion .accordion-content ul > li.upcoming {
  background: #ffc107;
}

.preferences-container .preferences > li > a.view > .edit-link,
.preferences-container .preferences > li > a.view > .info {
  float: right;
  padding-right: 30px;
  color: #ffc107;
}

.profile-name span.fa {
  color: #ffc107;
  font-size: 20px;
  padding-left: 5px;
}

.leaderboard tbody tr.your-score td {
  border-color: #f3691c;
  padding: 3px 10px;
  border: 1px solid #ffc107 !important;
}
.leaderboard tbody tr.your-score td a {
  color: #ffc107;
  font-weight: 700;
}
.leaderboard tbody tr.your-score td.rank {
  color: #ffc107;
}
.leaderboard tbody tr.your-score td:last-child {
  border-right: 1px solid #ffc107;
}

.dialog .formation:hover > .name {
  background: #ffc107;
  border-color: #ffc107;
}

#dialog-start-substitution > .formations .formation-player-list .player-group > ul > li:hover,
#dialog-choose-formation > .formations .formation-player-list .player-group > ul > li:hover {
  background-color: #ffc107;
  color: #ffffff;
}

.dialog-player ul li .player:hover .name {
  background: #ffc107;
  border-color: #ffc107;
}

.playerstatistics .rounded-container .statistics li .player .details .team-name {
  color: #ffc107;
}

.ui-autocomplete .ui-menu-item a.view-all {
  color: #ffc107;
}

.playercompare > .rounded-container > .heading > .row > div.player .details .team {
  color: #ffc107;
}
.playercompare > .rounded-container > .heading > .row > div.player .details .price,
.playercompare > .rounded-container > .heading > .row > div.player .details .points {
  padding-top: 3px;
  color: #ffc107;
}

.playercompare > .rounded-container .sub-heading.category .title span {
  color: #ffc107;
}

.playercompare > .rounded-container > .stats > .row > div.first {
  color: #ffc107;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}

.leagues-available-search .league_filters .league_filter_container .ui-slider-handle {
  background: #ffc107 !important;
  border: none !important;
}

.leagues-available-search .league_filters .league_filter_container .league_filter_heading span {
  display: inline-block;
  color: #ffffff;
  background-color: #ffc107;
}

.leagues-available-search .league_filters .select-styling::after {
  color: #ffc107;
}

.leagues-available-search .league-available-header .digit {
  color: #ffc107;
}

.create-league .league-option.selected .increment-btn {
  background: #ffc107;
}

.create-league .text-content .number {
  text-align: center;
  background: #ffc107;
}
.invite-users-list-block .invite-users-list li:hover {
  background: #ffc107;
  color: white;
}
.InF {
  float: left;
  background: #ffc107;
}

.league-choose-date:hover,
.league-option:hover,
.league-choose-date.active,
.league-option.active,
.league-choose-date.selected,
.league-option.selected {
  background: #efda9b;
  border: 1px solid #ffc107;
  color: #1a1a1a;
}

.leaderboard tbody tr.your-score td {
  border-color: #f3691c;
  padding: 3px 10px;
  border: 1px solid #ffc107 !important;
}
.leaderboard tbody tr.your-score td a {
  color: #ffc107;
  font-weight: 700;
}
.leaderboard tbody tr.your-score td.rank {
  color: #ffc107;
}
.leaderboard tbody tr.your-score td:last-child {
  border-right: 1px solid #ffc107;
}

.introjs-tooltip .introjs-progress .introjs-progressbar {
  background-color: #ffc107;
}
.introjs-tooltip .introjs-button {
  -webkit-appearance: none;
  background: #ffc107;
}

.introjs-tooltip .introjs-bullets ul li a.active,
.navbar-default .navbar-toggle:hover,
.mainbadges-dashboard-header .my-level .levels-container .level .single-level-bar .single-level-bar-fill-in{
  background: #ffc107;
}
/*Less the iPad portrait size - 767px*/
@media all and (max-width: 767px) {
 
  .mobile-filter-by-sort .league_filter_heading span {
    display: inline-block;
    color: #ffffff;
    background-color: #ffc107;
  }
  
  .mobile-table a {
    color: #ffc107;
    text-transform: capitalize;
  }
  .mobile-table .table-heading a {
    color: #ffc107;
  }
 
  .mobile-table .info-block .info-right.points {
    color: #ffc107;
  }
  
}
.playersearch .slider-container .ui-slider-horizontal .ui-slider-handle {
    background: #ffc107 !important;
}
.gamedetails .text .title{
	color: #ffc107;
}
.myteams table.table thead tr th a, .myteams table.table thead tr th a,
.leagues-available-search table.table thead tr th a, .leagues-available-search table.table thead tr th a:hover{
	color:white !important;
}
.looking-for-league .ui-dialog .league-starts .digit,
.league-detailpage .ui-dialog .league-starts .digit,
.team-builder .ui-dialog .league-starts .digit,
.live .ui-dialog .league-starts .digit,
.join-league-saved-team .ui-dialog .league-starts .digit,
.mainbadges-dashboard-header .my-point .member-level-container .level,
.gamedetails .text .title,
.mainbadges-dashboard-header .my-point .member-level-container .title,
.mainbadges-dashboard-header .my-level .levels-container .level .level-score.achieved
{
	color: #ffc107;
}