<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oulala Admin 1</title>

    <!-- jQuery -->
    <script src="{{ asset('admin/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('admin/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{{ asset('admin/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('admin/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('admin/dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('admin/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/admin.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <script src="{{ asset('bundles/js/socket.io.js') }}"></script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_index') }}">Oulala Admin v1.0</a>
        </div>
        <!-- /.navbar-header -->

        <!-- api status -->



        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('logoutadmin') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ path('admin_index') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Transactions</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_status') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Api status</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_blog') }}"><i class="fa fa-newspaper-o fa-fw"></i> Blog</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_forum') }}"><i class="fa fa-newspaper-o fa-fw"></i> Forum</a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN')==0 %}
                    <li>
                        <a href="{{ path('admin_leagues') }}"><i class="fa fa-newspaper-o fa-fw"></i> Leagues</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_operators') }}"><i class="fa fa-newspaper-o fa-fw"></i> Operators</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    {% block admin_content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Transactions</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Transactions Data Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">

                                <thead>
                                <tr>
                                    <td>League Id</td>
                                    <td>League Name</td>
                                    <td>League Start</td>
                                    <th>Date</th>
                                    <th>Transaction ID</th>
                                    <th>User</th>
                                    <th>Internal Ref</th>
                                    <th>Error(s)</th>
                                    <th>Type</th>
                                    <th>Team ID</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                    <tr class="odd gradeX">
                                        <td>{{ transaction.leagues_id }}</td>
                                        <td>{{ transaction.name }}</td>
                                        <td>{{ transaction.timeToStart }}</td>
                                        <td>{{ transaction.created_at }}</td>
                                        <td>{{ transaction.tid }}</td>
                                        <td>{{ transaction.username }}</td>
                                        <td>{{ transaction.tid_oulala }}</td>
                                        <td>{{ transaction.error_client |raw }}</td>
                                        <td class="center">{{ transaction.type }}</td>
                                        <td class="center">{{ transaction.teamid }}</td>
                                        <td class="center">{{ transaction.amount }} euro(s)</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    {% endblock %}
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->


<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('admin/metisMenu/metisMenu.min.js') }}"></script>

<!-- DataTables JavaScript -->
<script src="{{ asset('admin/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('admin/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('admin/datatables-responsive/dataTables.responsive.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('admin/dist/js/sb-admin-2.js') }}"></script>
<script src="{{ asset('admin/admin.js') }}"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>

    $(document).ready(function() {

        // DataTable
        var table = $('#dataTables-example').DataTable({
            orderCellsTop: true,
            "order": [[ 3, "desc" ]]});

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( '#dataTables-example thead input').on( 'keyup change', function () {
                table
                    .column( $(this).parent().index()+':visible' )
                    .search( this.value )
                    .draw();
            } );
        } );

    } );
    function stopPropagation(evt) {
        if (evt.stopPropagation !== undefined) {
            evt.stopPropagation();
        } else {
            evt.cancelBubble = true;
        }
    }
</script>

</body>

</html>

