{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/forum/forum_navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forum replies</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Topics replies
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-reply">

                            <thead>
                            <tr>
                                <th>Reply subject</th>
                                <th>Topic subject</th>
                                <th>Create time</th>
                                <th>Update time</th>
                                <th>Topic by</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reply in replies %}
                                <tr class="odd gradeX">
                                    <td>{{ reply.reply_content }}</td>
                                    <td>{{ reply.topic_subject }}</td>
                                    <td>{{ reply.create_time }}</td>
                                    <td>{{ reply.update_time }}</td>
                                    <td>{{ reply.reply_by }}</td>
                                    <td>
                                        <a href="{{ path('admin_reply') }}/{{ reply.reply_id }}/edit" class="btn btn-success" role="button">Edit</a>
                                        <a href="{{ path('admin_reply') }}/{{ reply.reply_id  }}/delete" class="btn btn-danger" role="button">Delete</a>
                                        <a href="{{ path('admin_reply') }}/{{ reply.reply_id  }}/show" class="btn btn-info" role="button">Show</a>
                                        <a href="{{ path('admin_reply') }}/{{ reply.reply_id  }}/new" class="btn btn-primary" role="button">Reply</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <script>

        $(document).ready(function() {

            // DataTable
            var table = $('#dataTables-reply').DataTable({orderCellsTop: true, "order": [[ 2, "desc" ]]});

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( '#dataTables-reply thead input').on( 'keyup change', function () {
                    table
                        .column( $(this).parent().index()+':visible' )
                        .search( this.value )
                        .draw();
                } );
            } );

        } );
        function stopPropagation(evt) {
            if (evt.stopPropagation !== undefined) {
                evt.stopPropagation();
            } else {
                evt.cancelBubble = true;
            }
        }
    </script>

{% endblock %}