{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Api status</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Api status
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="api-status-title">API endpoints status</div>
                {#{% if oulala_api == "false" is defined %}#}
                {#<label class="api-status">Oulala Api</label>#}
                {#<div class="btn {% if oulala_api == "true" %} btn-success {% else %} btn-danger {% endif %}btn-circle"></div>#}
                {#{% endif %}#}
                <div class="col-md-4">
                    <div class="row panel panel-default">
                        <p class="panel-heading">Oulala Api for</p>
                        <table class="table table-responsive">
                            {% for api in statuses['api'] %}
                                <tr>
                                    <td>
                                        {% for name in clientName %}

                                            {% if api['client_id'] == name['client_id'] %}
                                                <label class="api-status">{{ name['config_value'] }}</label>
                                            {% endif %}
                                        {% endfor %}

                                    </td>
                                    <td>
                                        <div class="btn {% if api['status'] == true %} btn-success {% else %} btn-danger {% endif %}btn-circle"></div>
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                        <div class="row panel panel-default">
                            <p class="panel-heading"> Clients api</p>
                            <table class="table table-responsive">

                                {% for client in statuses['client'] %}
                                    <tr>
                                        <td>
                                            {% for name in clientName %}
                                                {% if client['client_id'] == name['client_id'] %}
                                                    <label class="api-status">{{ name['config_value'] }}</label>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <div class="btn {% if client['status'] == true %} btn-success {% else %} btn-danger {% endif %}btn-circle"></div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                            {#<label class="api-status">{{ clientName }}</label>#}
                            {#<div class="btn {% if statuses['client'] == true %} btn-success {% else %} btn-danger {% endif %}btn-circle"></div>#}

                        </div>
                    </div>
                <div class="col-md-4">
                    <label class="api-status">stats</label>
                    <div class="stats btn btn-danger btn-circle"></div>
                </div>

                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <script>
$(document).ready(function () {
    var nodeUrl = '{{ nodeUrl }}';
    setUpSocketToURL(nodeUrl);
});
setUpSocketToURL = function (nodeUrl) {
    var socketToURL = io.connect(nodeUrl);
    console.log(socketToURL);
    socketToURL.on('connect', function () {
        $('#wrapper').find('.stats').removeClass('btn-danger');
        $('#wrapper').find('.stats').addClass('btn-success');
    });
};
</script>
{% endblock %}