{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/forum/forum_navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forum</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Forum posts
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% if role!='ROLE_SUPER_ADMIN' %}
                            <ul>
                                <li>
                                    <a href="{{ path('forum_post_admin') }}">Create a new Topic</a>
                                </li>
                            </ul>
                        {% endif %}
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-topic">
                            <thead>
                            <tr>
                                <th>Topic subject</th>
                                <th>Create time</th>
                                <th>Update time</th>
                                <th>Topic by</th>
                                <th>Language</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for topic in topics %}
                                <tr class="odd gradeX">
                                    <td>{{ topic.topic_subject }}</td>
                                    <td>{{ topic.create_time }}</td>
                                    <td>{{ topic.update_time }}</td>
                                    <td>{{ topic.topic_by }}</td>
                                    <td>{{ topic.topic_locale }}</td>
                                    <td>
                                        <a href="{{ path('admin_forum') }}/{{ topic.topic_id }}/edit" class="btn btn-success" role="button">Edit</a>
                                        <a href="{{ path('admin_forum') }}/{{ topic.topic_id }}/delete" class="btn btn-danger" role="button">Delete</a>
                                        <a href="{{ path('admin_forum') }}/{{ topic.topic_id }}/show" class="btn btn-info" role="button">Show</a>
                                        <a href="{{ path('admin_forum') }}/reply/{{ topic.topic_id  }}/new" class="btn btn-primary" role="button">Reply</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <script>

        $(document).ready(function() {

            // DataTable
            var table = $('#dataTables-topic').DataTable({orderCellsTop: true, "order": [[ 1, "desc" ]]});

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( '#dataTables-topic thead input').on( 'keyup change', function () {
                    table
                        .column( $(this).parent().index()+':visible' )
                        .search( this.value )
                        .draw();
                } );
            } );

        } );
        function stopPropagation(evt) {
            if (evt.stopPropagation !== undefined) {
                evt.stopPropagation();
            } else {
                evt.cancelBubble = true;
            }
        }
    </script>
{% endblock %}