{% extends 'admin/index.html.twig' %}
{% block admin_content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Leagues</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create league
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form method="post" name="login" autocomplete="off" id="createleagueForm">

                            <div class="col-sm-12 ">
                                <div class="col-xs-4 form-group">
                                    {% if error is defined %}
                                        {#{% for e in error %}#}
                                        <h5 class="error alert-danger">{{ error[0]|trans({"%mincost%" : mincost})|raw }}</h5>
                                        {#{% endfor %}#}
                                    {% endif %}
                                    <span class="alert-danger message hidden"></span>
                                    <input id="league_name" class="form-control" type="text" autocomplete="off"
                                           name="leagueName" value="" placeholder="Type league name" required="">

                                </div>
                                <div class="col-xs-4 form-group">
                                    {% for key,date in dates %}
                                        {% set mydate=date.Year~'-'~date.Month~'-'~date.Day %}
                                        <button type="button" class="btn btn-info league-choose-date "
                                                data-date='{{ mydate|date('Y-m-d') }}' data-toggle="collapse"
                                                data-target="#demo_{{ date.Day }}">{{ mydate|date('D, m.d') }}</button>
                                    {% endfor %}
                                </div>
                                <div class="container-fluid select-matches">

                                    {% if matches is not empty %}
                                        {{ include('admin/leagues/league-matches-list.html.twig', { 'realLeague': realLeague,'matches':matches }) }}
                                    {% else %}
                                        <div class="no-matches">{{ 'No matches available, please select a different date'|trans }}</div>
                                    {% endif %}

                                </div>
                                <input type="hidden" name="fromdate" id="from_date"/>
                                <input type="hidden" name="matchesList" id="matches" value="[]"/>
                            </div>
                            <div class="col-sm-12">
                                <div class="league-detailes">
                                    <div class="col-xs-12 col-lg-6 ">
                                        <div class="well clearfix">
                                            <div class="col-xs-6 ">
                                                <div class="row">
                                                    <h4>Choose league type</h4>
                                                    <div class="col-xs-5">
                                                        <div class="row">
                                                            <label for="league_type">League</label>
                                                            <input type="radio" id="league_type" name="league_type"
                                                                   value="1"
                                                                   checked>
                                                        </div>

                                                    </div>
                                                    <div class="col-xs-7">
                                                        <div class="row">
                                                            <label for="league_type_head">Head to head</label>
                                                            <input type="radio" id="league_type_head" name="league_type"
                                                                   value="2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <h4>Max participants</h4>
                                                <div class="col-xs-5">
                                                    <div class="row">
                                                        <label for="participants_unlimit">Unlimit</label>
                                                        <input type="checkbox" id="participants_unlimit"
                                                               name="max_participants"
                                                               value="0" checked>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7">
                                                    <div class="row">
                                                        <label for="participants">Limit</label>
                                                        <input type="number" id="participants" name="max_participants"
                                                               value="200"
                                                               max="200" min="4" disabled="disabled">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-xs-12 col-lg-6 ">
                                        <div class="well clearfix">
                                            <h4>Prize type</h4>
                                            <div class="col-xs-4">
                                                <div class="row">
                                                    <label for="takes_all">Winner Takes All</label>
                                                    <input type="radio" id="takes_all" name="prize_type" value="1">
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label for="top_3">Top 3 Players</label>
                                                <input type="radio" id="top_3" name="prize_type" value="2" checked>
                                            </div>
                                            <div class="col-xs-4 text-right">
                                                <label for="top_third">Top Third Win</label>
                                                <input type="radio" id="top_third" name="prize_type" value="3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6">
                                        <div class="well clearfix">

                                            <h4>Entry fee</h4>
                                            <div class="col-lg-3 col-sm-3">
                                                <div class="row">
                                                    <label for="free_fee">Free</label>
                                                    <input type="checkbox" id="free_fee" name="entry_fee"
                                                           value="0">
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <label for="entry_fee">play for money</label>
                                                <span class="increment-btn decrement increment" data-sign="-">-</span>
                                                <input style="width: 25%" type="text" class="league-payment-value"
                                                       min="{{ mincost }}" id="entry_fee" max="100"
                                                       value="{{ mincost }}" name="entry_fee"
                                                       onkeypress='return event.charCode >= 46 && event.charCode <= 57'/>
                                                <span class="increment-btn increment" data-sign="+">+</span>
                                                {#<input type="number" id="entry_fee" name="entry_fee" value="0">#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-6 ">
                                        <div class="well clearfix">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h4>Guaranteed prize</h4>
                                                    <div class="col-xs-3">
                                                        <div class="row">
                                                            <label for="guaranted_prize">Prize</label>
                                                            <input type="text" id="guaranted_prize"
                                                                   name="guaranted_prize"
                                                                   value="0"
                                                                   onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-9 text-right">
                                                        <div class="row">
                                                            <span>
                                                                <label for="fixed_prize">Fixed Guaranteed Prize</label>
                                                                <input type="radio" id="fixed_prize" name="guaranted_prize_fixed"value="1">
                                                            </span>
                                                            &nbsp;&nbsp;
                                                            <span>
                                                            <label for="fixed_prize">Minimum Guaranteed Prize</label>
                                                           <input type="radio" id="fixed_prize"
                                                                  name="guaranted_prize_fixed"
                                                                  value="0"
                                                                  checked>
                                                       </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pull-right">
                                    <input id="createleague" type="submit" value="{{ 'Create league'|trans }}"
                                           class="btn btn-large btn-success" disabled="disabled"/>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <style>

    </style>
    <script>
        // Initialize tooltip component
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize popover component
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $('#participants_unlimit').click(function () {
            if ($(this).is(':checked')) {
                $('#participants').attr('disabled', true);
            } else {
                $('#participants').attr('disabled', false);
            }
        })

        $('#free_fee').click(function () {
            if ($(this).is(':checked')) {
                $('#entry_fee').attr('disabled', true);
//                $('.increment').unbind('click');
            } else {
                $('#entry_fee').attr('disabled', false);
//                $('.increment').bind('click');
            }
        })

        function decimalAdjust(type, value, exp) {

            if (typeof exp === 'undefined' || +exp === 0) {
                return Math[type](value);
            }
            value = +value;
            exp = +exp;

            if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
                return NaN;
            }

            value = value.toString().split('e');
            value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));

            value = value.toString().split('e');
            return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
        }

        if (!Math.round10) {
            Math.round10 = function (value, exp) {
                return decimalAdjust('round', value, exp);
            };
        }

        $('.increment').click(function () {
            $('#free_fee').prop('checked', false);
            $('#entry_fee').attr('disabled', false);
            $('#asymp').html('&asymp;');
            var $symbol = $(this).attr('data-sign');

            var mincost ={{ mincost|default(1) }};
            var addValue = 1;
            if (mincost <= 1) {
                addValue = 0.50;
            }

            var mincost ={{ mincost|default(1) }};
            var addValue = 1;
            if (mincost <= 1) {
                addValue = 0.50;
            }

            if ($symbol == "+") {
                var input_elem = $(this).prev('input');

                var oldVal = input_elem.val();
                var newVal = parseFloat(oldVal) + addValue;
            } else if ($symbol == '-') {
                var input_elem = $(this).next('input');
                var oldVal = input_elem.val();
                var newVal = parseFloat(oldVal) - addValue;
            }

            if (newVal < {{ mincost }}) {
                input_elem.val(Math.round10({{ mincost }}, -2).toFixed(2));
                $('.converted-value').text(" " + Math.round10(1 *{{ mincost }}, -2).toFixed(2));
            } else if (newVal > 100) {
                input_elem.val(Math.round10(100, -2).toFixed(2));
                $('.converted-value').text(" " + Math.round10(100, -2).toFixed(2));
            } else {
                input_elem.val(Math.round10(newVal, -2).toFixed(2));
                $('.converted-value').text(" " + Math.round10(newVal, -2).toFixed(2));

            }
            input_elem.trigger('change');
        })

        $('#league_name').on('input', function () {
            validateData();
        })

        $("#createleague").click(function () {
            var league_name = $.trim($("#league_name").val());
            var matches = $.trim($("#matches").val());
            var isValid = true;
            if (league_name == "") {

                $("#league_name").next("span.message").find("span.error").html("{{ 'Please fill out this field' | trans }}");
                $("html,body").animate({scrollTop: 0}, 10);
                isValid = false;
            } else {
                $("#league_name").next("span.message").find("span.error").html("");
                isValid = true;
            }
            if (matches == '[]' || matches.indexOf(',') < 0) {
                $("#first-step").find("h5").first().addClass("error");
                isValid = false;
            } else {
                $("#first-step").find("h5").first().removeClass("error");
            }

            if (isValid) {
                $(".create-league-nav div").removeClass("active-step");
                $(".go_to_next_step").addClass("active-step");
                $("#first-step").hide();
                $("#second-step").show();
                $("html,body").animate({scrollTop: 0}, 10);
            }
        });

    </script>
{% endblock %}
