<div id="faq" role="tablist" aria-multiselectable="true">

		<div class="col-sm-12 well">
            {% for leagues in realLeague %}
				<div class="panel panel-default match-selector">
					<div class="panel-heading clearfix" role="tab" id="question_{{ leagues.id~key }}">
						<h5 class="panel-title col-xs-11">
							<a data-toggle="collapse" data-parent="#faq" id="link-{{ leagues.id~key }}" href="#answer_{{ leagues.id~key }}" aria-expanded="false" aria-controls="answer_{{ leagues.id~key }}">
								<img src="{{ asset('bundles/'~leagues.nation_thumb) }}">
                                {{ leagues.name }}
							</a>
						</h5>
						<div class=" pull-right"><input type="checkbox" data-leagueid="{{leagues.id}}"></div>
					</div>
					<div id="answer_{{ leagues.id~key }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question_{{ leagues.id~key }}">
						<div class="panel-body">

							<table class="table table-striped">
                                {% for match in matches %}
                                    {% if match.league_id == leagues.id %}
										<tr>
											<td>{{ match.date|date('D, M j Y @ H:i') }}</td>
											<td>{{ match.home_name }}
												<img src="{{ match.home_image }}" height="20">
												VS
												<img src="{{ match.away_image }}" height="20">
                                                {{ match.away_name }}
											</td>
											<td> {{'Day'|trans}} {{match.matchday}}</td>
											<td> <input name="matches[]" type="checkbox" value="{{ match.match_id }}" class="match-selector-1" data-leagueid="{{leagues.id}}" data-matchid="{{match.match_id}}"/></td>
										</tr>
                                    {% endif %}
                                {% endfor %}
							</table>

						</div>
					</div>
				</div>
            {% endfor %}
		</div>



</div>
<script>
    $(document).ready(function () {

        $(".match-selector input[type=checkbox]").click( function(e) {
            e.stopPropagation();

            //If the tab is closed then open it
//            var id = "#link-"+$( this ).data("leagueid");
//            $(id).trigger('click');

            var header = $( this ).parents(".panel-heading");
            var panel = header.next();
            var isOpen = panel.is(':visible');

            if ($( this ).is(':checked')) {
                //currently not checked
                //setting to checked
                if (!isOpen) {
                    //if the panel is closed and the check box went to checked from unchecked then open the panel
                    header.trigger( "click" );
                }
                //set child check boxes to checked
                panel.find("input[type=checkbox]").each(function() {

//                    $( this ).attr("checked", false);
                    $( this ).prop("checked", true);
                    var matchid = $( this ).data('matchid');
                    var obj = JSON.parse($("#matches").val());
                    obj.push(matchid);

                    $("#matches").val(JSON.stringify(obj));

                });

               validateData();
            } else {
                //currently checked
                //setting to unchecked
                if (!isOpen) {
                    //if the panel is closed and the check box went to checked from unchecked then open the panel
                    header.trigger( "click" );
                }

                //set child check boxes to unchecked
                panel.find("input[type=checkbox]").each(function() {

                    $( this ).prop("checked", false);
                    var matchid = $( this ).data('matchid');
                    var obj = JSON.parse($("#matches").val());

                    for(var i=0;i<obj.length;i++) {
                        if (obj[i] == matchid) {
                            obj.splice(i,1);
                            break;
                        }
                    }

                    $("#matches").val(JSON.stringify(obj));
                });

            }
        });

        $( ".panel-collapse input[type=checkbox]" ).click(function() {

            var id = "#question_"+$( this ).data("leagueid");

            var panel = $(id).next();
            var actionReq = true;
            if ( $( this ).is(':checked') ) {
                //user selected a match
                //set the header check box to checked
                if (actionReq) {

                    $(id).find("input[type=checkbox]").prop("checked", true);
                }

            } else {
                //user unselected a match
                //check whether all other matches are not selected
                panel.find( "input[type=checkbox]").each(function() {
                    if ($( this ).is(':checked')) { actionReq = false } else {  }
                });
                if (actionReq) {
                    $(id).find("input[type=checkbox]").prop("checked", false);
                }
            }
        });

        /* handles the selection of matches for individual check boxes*/
        $(".match-selector-1").click(function() {

            var matchid = $( this ).data("matchid");
            if ($( this ).is(':checked')) {
                /*//add match*/
                var obj = JSON.parse($("#matches").val());
                obj.push(matchid);

                $("#matches").val(JSON.stringify(obj));
                validateData();
            } else {
                /*//remove match*/
                obj = JSON.parse($("#matches").val());
                for(var i=0;i<obj.length;i++) {
                    if (obj[i] == matchid) { break; }
                }
                obj.splice(i,1);

                $("#matches").val(JSON.stringify(obj));

                validateData();
            }
        });
		$('.league-choose-date').click(function () {
			var date=$(this).attr('data-date');

			if(!$('.league-choose-date').hasClass('active')){
                $('.league-choose-date').addClass('active');
                getAvailableMatches(date, this)
			}else{
                $('.league-choose-date').removeClass('active');
			}
        })
    });

    function validateData() {
        var league_name = $.trim($("#league_name").val());
        var matches = $.trim($("#matches").val());
        var msg=$("#league_name").prev("span.message");

        if (league_name == "" && (matches == '[]' || matches.indexOf(',') < 0)) {

            msg.removeClass('hidden');
            msg.html("{{ 'At least 2 matches have to be selected for the league to be valid' | trans }}");
            $("#createleague").attr('disabled',true);

        } else if(league_name != "" && (matches == '[]' || matches.indexOf(',') < 0)) {
            msg.removeClass('hidden');
            msg.html("{{ 'At least 2 matches have to be selected for the league to be valid'|trans  }}");
            $("#createleague").attr('disabled',true);
        }else if(league_name == "" ){
            msg.removeClass('hidden');
            msg.html("{{ 'Please fill out this field' | trans }}");
            $("#createleague").attr('disabled',true);
		}
        else{
            msg.html("");
            msg.addClass('hidden');
            $("#createleague").attr('disabled',false);
        }
    }

    function getAvailableMatches($date, elem) {

        $("#from_date").val($date);
        $.ajax({
            type: "POST",
            url: "{{ path('admin_leagues_create') }}",
            data: {date: $date},
            success: function (availablematches) {
                console.log(availablematches)
                $(".select-matches").html(availablematches);
            },
            dataType: 'html'
        });

//        $("#matches").val("[]");
    }
</script>