{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Leagues</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Leagues list
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="{{ path('admin_leagues_create') }}">Create a new League</a>
                            </li>
                        </ul>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="league_data">

                            <thead>
                            <tr>
                                <th>League Name</th>
                                <th>League Starts</th>
                                <th>Entries/Size</th>
                                <th>Entry Fee</th>
                                <th>Prize</th>
                                <th>gPrize</th>
                                <th>gPrize fixed</th>
                                <th>Actions</th>
                            </tr>
                            <tr id="filterrow">
                                <th>League Name</th>
                                <th>League Starts</th>
                                <th>Entries/Size</th>
                                <th>Entry Fee</th>
                                <th>Prize</th>
                                <th>gPrize</th>
                                <th>gPrize fixed</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for league in leagues %}
                                <tr class="odd gradeX">
                                    <td>{{ league.name }}</td>
                                    <td>{{ league.timetostart }}</td>
                                    <td>{{ league.entry }}/ {%  if league.maxParticipants==0 %}&infin;{% else %}{{ league.maxParticipants }}{% endif %}</td>
                                    <td>{{ league.entryFee }}</td>
                                    <td>
                                        {% if league.is_gprize_fixed=='0' %}
                                        {{ league.prize+league.gprize }}
                                        {% else %}
                                            {{ league.gprize }}
                                        {% endif %}
                                    </td>
                                    <td>{{ league.gprize }}</td>
                                    <td>{{ league.is_gprize_fixed }}</td>
                                    <td>
                                        <a href="{{ path('admin_leagues') }}/{{ league.leagues_id }}/edit"
                                           class="btn btn-success" role="button" {% if league.allow_edit==0 %}disabled="" style="cursor: not-allowed; pointer-events: none;" {% endif %}>Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <script>

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#league_data thead tr#filterrow th').each( function () {
        var title = $('#league_data thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" onclick="stopPropagation(event);" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#league_data').DataTable({orderCellsTop: true, "order": [[ 1, "desc" ]]});

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( '#league_data thead input').on( 'keyup change', function () {
            table
                .column( $(this).parent().index()+':visible' )
                .search( this.value )
                .draw();
        } );
    } );

} );
function stopPropagation(evt) {
    if (evt.stopPropagation !== undefined) {
        evt.stopPropagation();
    } else {
        evt.cancelBubble = true;
    }
}
    </script>
    <style>
        #league_data thead tr#filterrow th input{
            width: 100%!important;
            font-size: 12px;
            font-weight: normal;
        }
    </style>
{% endblock %}