.league-choose-date {
    margin-bottom: 10px;
}

span.decrement-btn.decrement, span.increment-btn.increment{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0;
    background: #666;
    border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 7px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    cursor: pointer;
}
#guaranted_prize{
    width:50px;
}
#createleagueForm  h4{
    margin-top: 0;
}
#participants{
    width: 45px;
}
.league-detailes{
    display: flex;
    flex-flow: row wrap;
}
.edit_operator th{
    width: 200px;
}
.edit_operator th, .edit_operator td{
    vertical-align: middle!important;
}