{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Operators</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-sm-12 ">
                            <span class="alert-danger message hidden"></span>
                            <form action="" method="post">

                                <div class="col-sm-4 form-group">
                                    <label for="website">Client website</label>
                                    <input type="text" name="website" placeholder="Client website" class="form-control" id="website" required>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="website" placeholder="Username" class="form-control" id="username" required>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="website" placeholder="Email" class="form-control" id="email" required>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="button" value="Create" class="btn btn-success" id="create_client">
                                    <span class="load hidden"><img src="{{ asset('bundles/images/web/loader-302.gif') }}"></span>
                                </div>
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <style>
        #blog_data thead tr#filterrow th input {
            width: 150px !important;
        }
    </style>
    <script>
        var url="{{ path('admin_create_operator') }}";
        var adminUrl="{{ path('admin_operators') }}";
    </script>
{% endblock %}