{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Operators Edit</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row edit_operator">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-sm-8 ">
                            <form method="post" action="{{ path('admin_operators_edit',{"operatorId": operatorId}) }}">
                            <span class="alert-danger message hidden"></span>
                            <table class="table table-responsive table-bordered table-striped">
                                {% for config_key in config_keys %}
                                    <tr>

                                        {% if config_key['config_value'] is defined%}
                                            {% set value= config_key['config_value'] %}
                                        {% else %}
                                            {% set value= '' %}
                                        {% endif %}
                                            <th>{{ config_key['config_key'] }}</th>
                                            <td>
                                                <input type="text" name="{{ config_key['config_key'] }}" value="{{ value }}" class="form-control" >
                                            </td>
                                    </tr>
                                {% endfor %}
                            </table>
                           <div class="col-sm-6 form-group">
                                <input type="submit" value="Save" class="btn btn-success" id="edit_client">
                                <span class="load hidden"><img src="{{ asset('bundles/images/web/loader-302.gif') }}"></span>
                            </div>
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <style>
        #blog_data thead tr#filterrow th input {
            width: 150px !important;
        }
    </style>
    <script>
        {#var url="{{ path('admin_operators_edit') }}";#}
        {#var adminUrl="{{ path('admin_operators') }}";#}
    </script>
{% endblock %}