{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Operators</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="{{ path('admin_create_operator') }}">Create new operator</a>
                            </li>
                        </ul>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="blog_data">
                            <thead>
                            <tr>
                                <th>Operator Id</th>
                                <th>Operator Alias</th>
                                <th>Operator Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for operator in operators %}
                                <tr class="odd gradeX">
                                    <td>{{ operator['client_id'] }}</td>
                                    <td>{{ operator['client_alias'] }}</td>
                                    <td>{{ operator['config_value'] }}</td>
                                    <td >
                                        <a href="{{ path('admin_operators_edit',{"operatorId": operator['client_id']}) }}" class="btn btn-success" role="button">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <style>
        #blog_data thead tr#filterrow th input{
            width: 150px!important;
        }
    </style>
{% endblock %}