{% extends 'base.html.twig' %}
{% block title title %}
 {% block meta %}
         <meta property="og:url" content="{{ app.request.uri }}">
         <meta property="og:title" content="{{ title}}">
         <meta property="og:description" content="{{ description }}" />
         <meta property="og:image" content="{{ image }}" />
         <meta property="og:type" content="article">
         <meta name="twitter:card" content="summary_large_image">
         <meta name="twitter:title" content="{{ title }}">
         <meta name="twitter:description" content="{{ description }}">
         <meta name="twitter:image" content="{{ image }}">
         <meta name="twitter:image:src" content="{{ image }}">
 {% endblock %}
{% block body %}
<div class="iframe-container" style="height: 100%; display: block">
        <iframe onload="parent.document.title=document.title" src="http://iframe.loc/en/blog/post/{{ post_id }}?operator_id=9dc5beb30a97d0e3ad847db4774c6ac9" scrolling="no"   style="min-height: 764px; width: 100%" id="iframe-oulala"></iframe>
</div>
        <script type="text/javascript" src="{{ asset('bundles/js/iframe.js') }}"></script>
        <script >iFrameResize({log:true, checkOrigin:false}, '#iframe-oulala')</script>
{% endblock %}
