{% extends 'base.html.twig' %}

{% block body %}
<div class="iframe-container" style="height: 100%; display: block">
        <iframe onload="parent.document.title=document.title" src="http://iframe.loc/en/blog?operator_id=9dc5beb30a97d0e3ad847db4774c6ac9" scrolling="no"   style="min-height: 700px; width: 100%" id="iframe-oulala"></iframe>
</div>
        <script type="text/javascript" src="{{ asset('bundles/js/iframe.js') }}"></script>
        <script >iFrameResize({log:true, checkOrigin:false}, '#iframe-oulala')</script>
{% endblock %}
