{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogposts list</h1>

    <table>
        <thead>
            <tr>
                <th>Postid</th>
                <th>Postsubject</th>
                <th>Createdate</th>
                <th>Updatedate</th>
                <th>Postlocale</th>
                <th>Postoperator</th>
                <th>Postillustrationlink</th>
                <th>Postcontent</th>
                <th>Categoryid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogPost in blogPosts %}
            <tr>
                <td><a href="{{ path('blog_show', { 'postId': blogPost.postId }) }}">{{ blogPost.postId }}</a></td>
                <td>{{ blogPost.postSubject }}</td>
                <td>{% if blogPost.createDate %}{{ blogPost.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if blogPost.updateDate %}{{ blogPost.updateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ blogPost.postLocale }}</td>
                <td>{{ blogPost.postOperator }}</td>
                <td>{{ blogPost.postIllustrationLink }}</td>
                <td>{{ blogPost.postContent }}</td>
                <td>{{ blogPost.categoryId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_show', { 'postId': blogPost.postId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blog_edit', { 'postId': blogPost.postId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_new') }}">Create a new blogPost</a>
        </li>
    </ul>
{% endblock %}
