<li class="blog-item rounded-container" itemscope itemtype="http://schema.org/Article">
	<div class="blog-content">
            <div id="newsnowlogo" title="Click here for more Football news from NewsNow" style="width:225px;margin-top:0px;padding:0;border:1px solid #ccc;background:#555;color:#fff;font-size:8px;line-height:11px;font-family:Verdana,Arial,Helvetica,Sans-serif;font-weight:bold;"><div style="margin:0;padding:0;border:1px solid #fff;background:#555;"><div style="margin:0;padding:0;border:0;width:120px;height:38px;float:left;"><img src="https://oulala.com/system/media/images/partners/newsnow_f_ab.gif" alt="As featured on NewsNow: Football news" style="display:block;margin:0;padding:0;border:0;width:120px;height:38px;"></div><div style="padding:0;border:0;margin:0 0 0 120px;text-align:center;"><span style="margin:0;padding:0;border:0;display:inline-block;vertical-align:middle;text-align:center;width:90px;"><a id="newsnowlogo_a" href="http://www.newsnow.co.uk/h/Sport/Football" target="newsnow" style="color:#fff;text-decoration:underline;" rel="nofollow">Football News</a> 24/7</span><span style="margin:0;padding:0;border:0;display:inline-block;height:38px;width:1px;vertical-align:middle;line-height:38px;font-size:1px;"></span></div></div></div>
<div class="clear"></div>
			{#{assign var="url" value=$base|cat:$pages.blogitem|cat:"/"|cat:$item.seo_url}#}
			{#{assign var="shareurl" value=$pages.blogitem|cat:"/"|cat:$item.seo_url}#}
            {% set url='/'~app.request.locale~'/blog/post/'~item.post_id~'?operator_id='~clientAlias %}
				{% if item.post_illustration_link %}
        <a href="{{ url }}"><img src="{{ asset('bundles/images/blog/')~ item.post_illustration_link }}"
                                 width="210px" height="131px" alt="{{ item.title}}" itemprop="image" /></a>
        {% endif %}
        <a href="{{ url }}"><h2 itemprop="name">{{ item.post_subject }}</h2></a>
        <div class="blog-text" itemprop="articleBody">{{ item.post_content[:300]|striptags}}</div>
        <div class="blog-item-info">
			<a href="{{ '/'~app.request.locale~'/blog/category/'~item.category_slug }}" class="category" itemprop="articleSection">{{ item.category_title }}</a>&nbsp;|&nbsp;
			<span class="details">
				{{ "Posted On" |trans}} <span itemprop="datePublished" content="{{ item.create_date}}">
                    {{ item.create_date|date("D, M d Y")}}</span>&nbsp;
				{{"by"|trans}}&nbsp;<span  itemprop="author" itemscope itemtype="http://schema.org/Person">{{ item.author }}</span>
			</span>
			<a class="view_article" href="{{ url }}" itemprop="url"><button class="ui-button btn">{{ 'Read' }}</button></a>
       	</div>
    </div>
    <div class="clear"></div>

</li>

