{% extends '::base.html.twig' %}
{% block theme 'about-news'%}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
 {% block body %}


<div class="text-content">
    <div class="container padding-top">
        <h1>{{ 'FANTASY FOOTBALL NEWS'|trans }}</h1>
        <div class="mobile-show" id="blog-menu-mobile"><span>{{ "Categories / Search"|trans }}</span><div></div></div>
        <div class="left-column web-show">{% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}

            <div class="support">
                <form class="search" action="{{ currentPath }}" method="get">
                    <input type="text" name="s" placeholder="Enter your search term here" value="">
                </form>

            </div>

            <div class="support">
                <ul>
                    <li {% if app.request.attributes.get('_route') =='blog_all' %} class="selected"{% endif %}><a href="{{ asset('/'~app.request.locale~'/blog')}}">{{ 'All Categories'|trans }}</a></li>
                    {% if blogcategories %}
                    {#{section name="blogcategory" loop=$blogcategories}#}
                        {% for blogcategory in blogcategories %}
                            {% if blogcategory.category_local|lower == app.request.locale %}
                                <li{% if blogcategory.category_slug== app.request.get('catName') %} class="selected"{% endif %}>
                                    <a href="{{ asset('/'~app.request.locale~'/blog/category/')~blogcategory.category_slug  }}">{{ blogcategory.category_title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
                {#{*<div class="rounded-container left-widget">#}
                    {#<h3>{translate id=65 default="Pick a Category"}</h3>#}
                    {#<hr class="widget-hr">#}

                {#</div>*}#}
            </div>
            <div class="clear"></div>


        </div>
        <div class="middle-column">
            <div class="support">
                <ul class="blog-items">
                    {#{section name=item loop=$blogitems}#}
                    {% for item in blogitems %}
                        {% if item.post_locale|lower == app.request.locale %}
                            {% include ":blog:news-list-item.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </ul>

                {% set custom_search='' %}
                {% if app.request.query.get("s") %}
                    {% set custom_search= '&s='~app.request.query.get("s") %}
                {% endif %}

                {% if blogPostsCount>offset %}
                <div class="pagination">
                    {% if app.request.get('catName') %}
                        {% set catName='/category/'~app.request.get('catName') %}
                    {% endif %}
                    {% if prevPage>0  %}
                        <div class="prev first">
                            <a href="{{ asset('/'~app.request.locale~'/blog'~catName~'?p=1')~custom_search}}" rel="prev"></a>
                        </div>
                        <div class="prev">
                            <a href="{{ asset('/'~app.request.locale~'/blog'~catName~'?p=')~prevPage~custom_search}}" rel="prev"></a>
                        </div>
                    {% endif %}
                    <span class="page-count">{{ countFrom }} {{ 'to'|trans }} {{ countTo }}</span> {{ "of"|trans }} {{ blogPostsCount|default(0) }}
                    {% if lastPage >= nextPage %}
                    <div class="next last">
                        <a href="{{ asset('/'~app.request.locale~'/blog'~catName~'?p=')~lastPage~custom_search}}" class="next" rel="next"></a>
                    </div>
                    <div class="next" >
                        <a href="{{ asset('/'~app.request.locale~'/blog'~catName~'?p=')~nextPage~custom_search}}" class="next" rel="next"></a>
                    </div>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                {% endif %}
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        {#{if !$nocontainer}#}
    </div>
    {#{/if}#}
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#blog-menu-mobile').click(function(){
            $(this).next('div.left-column').slideToggle();
            $(this).find('div').toggleClass('active');
        });
    });
</script>
 {% endblock %}