{% extends '::base.html.twig' %}
{% block theme 'about-news'%}
{% block custom_style style %}
{% block css_vers css_version%}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block title metatitle %}
 {% block meta %}
     <meta property="og:url" content="{{ app.request.uri }}">
     <meta property="og:title" content="{{ metatitle}}">
     <meta property="og:description" content="{{ post_content }}" />
     <meta property="og:image" content="{{ post_image }}" />
     <meta property="og:type" content="article">
     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:title" content="{{ metatitle }}">
     <meta name="twitter:description" content="{{ post_content }}">
     <meta name="twitter:image" content="{{ post_image }}">
     <meta name="twitter:image:src" content="{{ post_image }}">
 {% endblock %}
 {% block body %}
<div class="text-content">
    <div class="container">
        {% if blogitems is not empty %}
        <div class="support">
            <a href="{{ '/'~app.request.locale~'/blog' }}" class="go-back"><span></span>{{ "Go back to the blog"|trans }}</a>
            <div class="blog-item">
                <div class="single-blog-content" itemscope itemtype="http://schema.org/Article">

                    {% if blogitems.post_illustration_link %}
                        <img src="{{ asset('bundles/images/blog/')~ blogitems.post_illustration_link }}" alt="{{ blogitems.post_subject}}"
                             itemprop="image" width="210px" height="157px"/>
                    {% endif %}
                    <h2 itemprop="name">{{ blogitems.post_subject }}</h2>
                    <a href="{{ '/'~app.request.locale~'/blog/category/'~blogitems.category_slug }}" class="category"
                       itemprop="articleSection">{{ blogitems.category_title }}</a> |
						<span class="details">
							{{ "Posted On" |trans}} <span itemprop="datePublished" content="{{ blogitems.create_date}}">{{ blogitems.create_date|date("D, M d Y")}}</span>&nbsp;
                            {{"by"|trans}}&nbsp;<span  itemprop="author" class="administrator"itemscope itemtype="http://schema.org/Person">{{ blogitems.author }}</span>
						</span>

                    <div class="blog-text" itemprop="articleBody">{{ blogitems.post_content |raw}}</div>
                    {#{assign var="shareTitle" value=$blogitem.title}#}
                    {#{assign var="shareImage" value=$blogitem.blog_mm}#}
					{#{assign var="shareurl" value=$pages.blogitem|cat:"/"|cat:$blogitem.seo_url}#}
					{#{assign var="shareContent" value=$blogitem.content|strip_tags:false|truncate:300:"..."}#}
                    {% include ':blog:social.html.twig' %}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="recommended-blog-block">
                <ul class="recommended-blog-items">
                    {% for lastPost in lastPosts %}
                        <li>
                            <div class="blog-media">
                                <a href="{{ path('blog_posts',{'postId':lastPost.post_id}) }}"><img src="{{ asset('bundles/images/blog/')~ lastPost.post_illustration_link }}" alt="oulala - Oulala to exhibit at Betting on Football"></a>
                            </div>
                            <div class="blog-cat">
                                <a href="{{ path('blog_category',{'catName':lastPost.category_slug}) }}" class="category">{{ lastPost.category_title }}</a>
                            </div>
                            <div class="blog-title">
                                <a href="{{ path('blog_posts',{'postId':lastPost.post_id }) }}">{{ lastPost.post_subject }}</a>
                            </div>
                            <div class="blog-author">
                                by&nbsp;<span class="administrator">{{ lastPost.author }}</span>
                            </div>
                            <div class="blog-date right"><span>{{ lastPost.create_date|date("D, M d Y")}}</span></div>
                        </li>
                    {% endfor %}
                    {% if featuredPost %}
                        <li>
                            <div class="blog-media">
                                <a href="{{ path('blog_posts',{'postId':featuredPost.post_id}) }}"><img src="{{ asset('bundles/images/blog/')~ featuredPost.post_illustration_link }}" alt="oulala - Oulala to exhibit at Betting on Football"></a>
                            </div>
                            <div class="blog-cat">
                                <a href="{{ path('blog_category',{'catName':featuredPost.category_slug}) }}" class="category">{{ featuredPost.category_title }}</a>
                            </div>
                            <div class="blog-title">
                                <a href="{{ path('blog_posts',{'postId':featuredPost.post_id }) }}">{{ featuredPost.post_subject }}</a>
                            </div>
                            <div class="blog-author">
                                by&nbsp;<span class="administrator">{{ featuredPost.author }}</span>
                            </div>
                            <div class="blog-date right"><span>{{ featuredPost.create_date|date("D, M d Y")}}</span></div>
                        </li>
                    {% endif %}
                    <div class="clear"></div>
                </ul>

            </div>
        </div>
            {% else %}

                <h2>{{ 'Page not found'| trans }}</h2>
            {% endif %}
    </div>
</div>
 {% endblock %}