<div class="blog-follow-title">{{ 'share'|trans }}</div>
<ul class="social-media">
	<li class="blog-share-fb"><a data-desc="This is a description of the page" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://www.facebook.com/sharer/sharer.php?u={{ blogUrl| replace({'%lang%':app.request.locale })~ app.request.attributes.get('postId') }}"></a><span>0</span></li>
	<li class="blog-share-tw"><a onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="http://twitter.com/home?status={{ blogitems.post_subject }}+{{ blogUrl| replace({'%lang%':app.request.locale })~ app.request.attributes.get('postId') }}"></a><span>0</span></li>
	<li class="blog-share-gp"><a onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url={{ blogUrl| replace({'%lang%':app.request.locale })~ app.request.attributes.get('postId') }}"></a><span>0</span></li>
	<li class="blog-share-pn"><a onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://pinterest.com/pin/create/button/?url={{ blogUrl| replace({'%lang%':app.request.locale })~ app.request.attributes.get('postId') }}&media={{ blogitems.post_illustration_link }}&description={{ blogitems.title }}"></a><span>0</span></li>
	<div class="clear"></div>
</ul>

<script type="text/javascript">
	$(document).ready(function(){
		$.getJSON('http://api.pinterest.com/v1/urls/count.json?callback=?', {
			url: '{{ app.request.uri }}',
		}).done(function (data) {
			$('ul.social-media li.blog-share-pn span').html(data.count);
		});
		$.getJSON('http://graph.facebook.com/?id={{ app.request.uri }}',function(data){
			$('ul.social-media li.blog-share-fb span').html(data.share.share_count);
		});
		$.getJSON('http://opensharecount.com/count.json?', {
			url: '{{ app.request.uri }}',
		}).done(function (data) {
			$('ul.social-media li.blog-share-tw span').html(data.count);
		});
		$.ajax({
		  type: 'POST',
		  url: 'https://clients6.google.com/rpc',
		  processData: true,
		  contentType: 'application/json',
		  data: JSON.stringify({
			'method': 'pos.plusones.get',
			'id': '{{ app.request.uri }}',
			'params': {
			  'nolog': true,
			  'id': '{{ app.request.uri }}',
			  'source': 'widget',
			  'userId': '@viewer',
			  'groupId': '@self'
			},
			'jsonrpc': '2.0',
			'key': 'p',
			'apiVersion': 'v1'
		  }),
		  success: function(response) {
			$('ul.social-media li.blog-share-gp span').html(response.result.metadata.globalCounts.count);
		  }
		});
	});
</script>