.oulala-forum.chats{
    margin-top: 20px;
}

.padding-top{
    padding-top: 0;
}

.oulala-forum .thread .title {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    background-color: #fde0d0;
    position: relative;
}

.oulala-forum .thread .title .item-details,
.oulala-forum .thread .reply .item-details{
    font-size: 11px;
    color: #403b3b;
}

.forum-topic-overlay{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: none;
    border-left: 1px #ea5b0c;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background: #f3691c;
    color: #fff;
    margin-top: -1px;
}

.oulala-forum .thread{
    line-height: 100%;
    margin-bottom: 20px;
}

/*.oulala-forum .thread>div:nth-child(odd) {*/
    /*background: #fff;*/
/*}*/

.oulala-forum .thread>div {
    position: relative;
    background: #ccc;
    padding: 10px 0;
    border: 1px solid #000;
    margin-top: -1px;
}

.oulala-forum .thread .title .new {
    background: url('../images/icons/star.png') center center no-repeat;
    height: 19px;
    width: 17px;
    position: absolute;
    top: -10px;
    left: -9px;
}

.more{
    cursor: pointer;
}

.closeTopic{
    cursor: pointer;
}

.topic-overlay{
    position: absolute;
    right: 0;
    min-width: 110px;
    z-index: 1;
    cursor: pointer;
    display: none;
    border-left: 1px #ea5b0c;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background: #f3691c;
    color: #fff;
    margin-top: -11px;
}

.topic-details{
    width: 194px;
    float: right;
    display: inline-block;
    text-align: right;
    padding-right: 6px;
    font-size: 12px;
    color: #000;
    vertical-align: middle;
}


.text{
    width: 75%;
    padding: 0 0 2px 5px;
    display: inline-block;
    overflow: hidden;
}

/***reply levels***/

.item-level-1{
    margin-left: 0.7%!important;
    width: 99.3%;
}
.item-level-2{
    margin-left: 1.4%!important;
    width: 98.6%;
}
.item-level-3{
    margin-left: 2.1%!important;
    width: 97.9%;
}
.item-level-4{
    margin-left: 2.8%!important;
    width: 97.2%;
}
.item-level-5{
    margin-left: 3.5%!important;
    width: 96.5%;
}
.item-level-6{
    margin-left: 4.2%!important;
    width: 95.8%;
}
.item-level-7{
    margin-left: 4.9%!important;
    width: 95.1%;
}
.item-level-8{
    margin-left: 5.6%!important;
    width: 94.4%;
}
.item-level-9{
    margin-left: 6.3%!important;
    width: 93.7%;
}
.item-level-10{
    margin-left: 7%!important;
    width: 93%;
}
.item-level-11{
    margin-left: 7.7%!important;
    width: 92.3%;
}
.item-level-12{
    margin-left: 8.4%!important;
    width: 91.6%;
}
.item-level-13{
    margin-left: 9.1%!important;
    width: 90.9%;
}
.item-level-14{
    margin-left: 9.8%!important;
    width: 90.2%;
}
.item-level-15{
    margin-left: 10.5%!important;
    width: 89.5%;
}
.item-level-16{
    margin-left: 11.2%!important;
    width: 88.8%;
}
.item-level-17{
    margin-left: 11.9%!important;
    width: 88.1%;
}
.item-level-18{
    margin-left: 12.6%!important;
    width: 87.4%;
}

.item-level-19{
    margin-left: 13.3%!important;
    width: 86.7%;
}
.item-level-20{
    margin-left: 14%!important;
    width: 86%;
}
.item-level-21{
    margin-left: 14.7%!important;
    width: 85.3%;
}
.item-level-22{
    margin-left: 15.4%!important;
    width: 84.6%;
}
.item-level-23{
    margin-left: 16.1%!important;
    width: 83.9%;
}
.item-level-24{
    margin-left: 16.8%!important;
    width: 83.2%;
}
.item-level-25,.item-level-26{
    margin-left: 17.5%!important;
    width: 82.5%;
}

.item-level-17 .text,.item-level-18 .text,.item-level-19 .text,.item-level-20 .text,.item-level-21 .text,
.item-level-22 .text,.item-level-23 .text,.item-level-24 .text,.item-level-25 .text,.item-level-26 .text{
    width: 73%!important;
}

/***reply popup***/
.ui-dialog .ui-dialog-buttonpane{
    background: #ccc;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button{
    width: 45%!important;
    margin-left: 3%!important;
}

.ui-dialog{
    background: #fff;
    border: 3px solid #999999!important;
    height: 245px;
}

.ui-dialog .ui-dialog-content{
    margin: 0;
}

.reply-content .original-text{
    max-height: 57px;
    overflow-x: hidden;
}

.thread>div:last-of-type{
    margin-bottom: 25px;
}

.chat-dialog .top{
    margin-top: -13px!important;
    padding: 0px !important;
}

#enterYourReply{
    top: -3px;
    position: absolute;
    background: whitesmoke;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    height: 25px;
    border-bottom: 1px solid #ccc;
}

.ui-dialog-titlebar{
    padding: 0!important;
    line-height: 0px!important;
}

.ui-dialog .ui-dialog-title{
    line-height: 18px;
}

.chat-dialog .reply-content{
    padding: 50px 17px 10px!important;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.7;
}

.rawDown{
    position: absolute;
    z-index: 2;
    top:0;
    cursor: pointer;
    display: block;
    background: url("../images/icons/196909-20.png");
    width: 20px;
    height: 20px;
    margin-top: 2px;
    bottom: 1px;
}

.text .ellipsis{
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
}

.oulala-forum .thread .title .read-more, .oulala-forum .thread .reply .read-more{
    width: 20px;
    height: 17px;
    background: url(../images/icons/wishlist_add.png) center center no-repeat;
    border-radius: 100%;
    float: left;
    cursor: pointer;
    margin-top: -1px;
}