</div>
<div class="page-container inplay-bg">
    <div class="grid">
        <div class="container team-left-sidebar-block" style="height:695px;">
            <div class="left live">
                <div data-step="1" class="field team-builder team-builder-tip" id="team-details-field" data-help-content="help-pitch">
                    {% if fieldFormation.positions is defined %}
                        {% for key,position in fieldFormation.positions %}
                            <div class="formation formation-{{ position.slots }} pp{{ loop.index0 }}" data-formation="{{ (loop.index0 + 1) }}" data-position-id="{{ position.player_position_id }}">
                                <div>
                                    {% set k = fieldFormation.positions[key].slots|number_format %}
                                    {% for slot in range(0,k-1) %}
                                        {% if ( playerslist['lineup']|length > 0 ) and ( playerslist['lineup'][position.position_title]|length > 0 ) and ( playerslist['lineup'][position.position_title] is defined ) and ( playerslist['lineup'][position.position_title][slot] is defined ) %}
                                            {% set player = playerslist['lineup'][position.position_title][slot] %}
                                            <div class="player p{{ player.id }} position{{ player.positionId }}  " data-for-save="{{ isSaved|default(0) }}" data-player-id="{{ player.id }}" data-kit="{{ player.image }}" data-position-id="{{ player.positionId }}" style="position:relative;">
                                                <div class="kit" {% if player.image %} style="background-image: url({{ player.image }} );"{% endif %}>
                                                </div>
                                                <div class="name">
                                                    {% if player.events is defined %}
                                                        <div style="display:inline-block; float:left;">
                                                            <marquee scrollamount="1">
                                                                {% for event in player.events %}
                                                                    <div style="display:inline-block;" class="event event-{{ event.event_type_id }}">
                                                                        <div class="tip" style="display:inline;">
                                                                            <div style="display:inline;" class="last event-{{event.event_type_id }}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </marquee>
                                                        </div>
                                                    {% endif %}
                                                    <span class="name-text">{{ player.player_name }}</span>
                                                </div>
                                                <div class="score {% if( player.player_score > 0 ) %} positive {% elseif( player.player_score == 0 ) %} neutral {% else %} negative {% endif %}">{{ player.player_score }}m</div>

                                                <div class="player-action-block">
                                                    {#{% if not isPast %}#}
                                                    {#<div class="view-profile inner-btn substituteplayer"  onclick="substitutePlayer({{ player.id }}, data, event)">{{ 'Substitute player'|trans }}</div>#}
                                                    <div class="view-profile inner-btn substituteplayer"  onclick="substitutePlayer({{ player.id }})">{{ 'Substitute player'|trans }}</div>
                                                    {#{% endif %}#}
                                                    <div class="view-profile inner-btn scoringbreakdown">{{ 'view profile'|trans }}</div>
                                                </div>
                                            </div>
                                            <script>$(document).ready(function() {bindPlayerHover({{ player.id }});})</script>
                                        {% else %}
                                            <div class="player default" data-formation-id="{{ position.player_position_id }}" style="position:relative;">
                                                <div class="kit"></div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="subs team-builder legend team-builder-tip" id="team-builder-substitutes" data-help-content="help-subs">
                    <div class="title">{{ 'Subs'|trans}}</div>
                    <div class="subs-container">
                        <ul class="flatten">
                            {% for slot in range(0, 5) %}
                                <li {% if isPast or (playerslist['bench'][slot].completed_match is defined and playerslist['bench'][slot].completed_match) %}class="finished"{% endif %}>
                                    <div style="position:relative;">
                                        {% if (playerslist is defined)	%}
                                            {% if ( playerslist['bench']|length > 0 )  and ( playerslist['bench'][slot] is defined ) %}
                                                <div class="events">
                                                    <div style="padding: 10px 0px 0;font-size:10px;">{{ playerslist['bench'][slot].abbreviation }}</div>
                                                    {% if playerslist['bench'][slot].events is defined %}
                                                        {% for event in playerslist['bench'][slot].events %}
                                                            <div style="display:inline-block;" class="event event-{{ event.event_type_id }}">
                                                                <div class="tip" style="display:inline;">
                                                                    <div style="display:inline;" class="last event-{{event.event_type_id }}"></div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="player for-sub scoringbreakdown" data-for-save="{{ isSaved|default(0) }}" data-player-id="{{ playerslist['bench'][slot].id }}" data-kit="{{ playerslist['bench'][slot].image }}" data-position-id="{{ playerslist['bench'][slot].positionId }}">
                                                    <div class="kit"{% if playerslist['bench'][slot].image is defined %} style="background-image: url({{ playerslist['bench'][slot].image }});"{% endif %}>
                                                    </div>
                                                    <div class="name">{{ playerslist['bench'][slot].player_name }}</div>
                                                    <div class="score scoringbreakdown">{{ playerslist['bench'][slot].player_score|default(0) }}</div>
                                                    {#tooltip#}
                                                    <div class="activity-tip">
                                                        <div class="player-name">
                                                            <a target="_blank" href="{$base}{$pages.playerprofile}?pid={{playerslist['bench'][slot].id }}">
                                                                <strong>{{ playerslist['bench'][slot].player_name }}</strong>
                                                            </a>
                                                        </div>
                                                        <div class="team-title"><strong>{{ 'Team'|trans}} : </strong>{{ playerslist['bench'][slot].team_name }}</div>
                                                        <div class="event-details"></div>
                                                        <div class="kit" {% if playerslist['bench'][slot].image %} style="background-image:url('{{ playerslist['bench'][slot].image }}');" {% endif %}></div>
                                                        <div class="details">
                                                            <p><strong>{{ 'Value'|trans}} : </strong>{{ playerslist['bench'][slot].value }}m</p>
                                                            <p><strong>{{ 'Score'|trans}} : </strong>{{ playerslist['bench'][slot].seasonScore }}m</p>
                                                            <p><strong>{{'D.O.B'|trans}} : </strong>{{ playerslist['bench'][slot].dateOfBirth|date('d/m/Y') }}</p>
                                                            <p><strong>{{ 'Weight'|trans}} : </strong>{{ playerslist['bench'][slot].weight }}kg</p>
                                                            <p><strong>{{ 'Height'|trans}} : </strong>{{ playerslist['bench'][slot].height }}cm</p>
                                                        </div>
                                                    </div>

                                                    {#end tooltip#}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                            <span class="clear"></span>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="side-board">
                    {% include "templates/controls/inplay-side.html.twig" %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="player-selection">
</div>
<div class="hide">
    <div id="help-change-formation">
        <h3>{{ "Change your team formation"|trans }}</h3>
        <p>{{ "Yes, this is not a joke: you can actually change your team formation during live matches. Wake up Sir Alex"|trans }} </p>
    </div>
</div>
<div class="container white-container">
    <script>
        var memberleagueid = "{{ leagueid|default(0) }}";
        var teamid = "{{ teamid|default(0) }}";

        function substitutePlayer(playerID) {
            var action = "{{ asset('/'~app.request.locale~'/live/chooseSubstitute') }}";
            showDialog({ playerid: playerID, league: memberleagueid, teamid: teamid },action);
        }

        function changeFormation() {
            var action = "{{ asset('/'~app.request.locale~'/live/changeFormation') }}";
            showDialog({ league: memberleagueid, teamid: teamid },action);
        }

        $(document).ready(function() {
            $('.live  .subs-container .player').qtip({
                content: {
                    text: function(api) {
                        return $(this).find('.activity-tip').clone();
                    }
                }, style: {
                    classes: 'qtip-shadow qtip-oulala'
                },
                position: {
                    my: 'bottom center',
                    at: 'top center'
                }
            });
            $(".subs .player").unbind("click");
        });
    </script>
</div>
