{% set locale = app.request.locale %}
{% if (locale == 'gr') %}
    {% set grClass = "special-class-gr" %}
{% elseif (locale == 'fr') %}
    {% set grClass = "special-class-fr" %}
{% else %}
    {% set grClass = "" %}
{% endif %}
<div class="mobile-searchbox mobile-filter-by-sort">
    <div class="league-available-header">
        <div class="left next_league">{{ 'Next Start in'|trans }}&nbsp;</div>
        <div id="2_countdown" class="time left next_league">
            <div class="dash days_dash left" style="display: none;">
                <span class="digit" style="display: inline-block;">0</span>
                <span class="digit" style="display: inline-block;">0</span>
                <span class="dash_separator">:</span>
            </div>
            <div class="dash hours_dash left">
                <span class="digit" style="display: inline-block;">1</span>
                <span class="digit" style="display: inline-block;">1</span>
                <span class="dash_separator">:</span>
            </div>
            <div class="dash minutes_dash left">
                <span class="digit" style="display: inline-block;">3</span>
                <span class="digit" style="display: inline-block;">3</span>
                <span class="dash_separator">:</span>
            </div>
            <div class="dash seconds_dash left">
                <span class="digit" style="display: inline-block;">1</span>
                <span class="digit" style="display: inline-block;">5</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="mobile-searchbox">
    <div class="mobile-table">
        {% for league in leagues %}
            <div class="info-block {% if loop.index0 is odd %} odd {% else %} even {% endif %}">
                <div class="table-heading">
				<span class="league-flags-mobile">
					{% for league_thumbs in league.nation_thumb %}
                        <img src="{{ asset('bundles/'~league_thumbs.thumb) }}" alt="{{ league_thumbs.league_name }}">
                    {% endfor %}
				</span>
                </div>
                <div>
                    <div class="info-league-name">
                        <a onclick="showLeagueInformation({{ league.leagues_id }}, '{{ league.slug }}', 'info',1,'{{ asset('/'~app.request.locale~'/league/details') }}' )">{{ league.name }}</a>
                    </div>
                    <div class="join-block">
                        {% if (league.maxParticipants != league.entry) or ( league.maxParticipants == 0 ) %}
                            {% set user_ref = app.session.get('user_ref') %}
                            {% if user_ref !='' or allowRedirect==0 %}
                                {% set createUrl=asset('/'~app.request.locale~'/squads/create/'~league.leagues_id)~'?operator_id='~app.session.get('alias')~'&token='~app.session.get('token')~'&tmpteam='~random() %}
                                <a href="{{ createUrl }}"
                                   data-league="{{ league.leagues_id }}" data-fee="{{ league.entryFee }}"
                                   class="btn checkForJoin">{{ 'Join'|trans }}</a>
                            {% else %}
                                {% set createUrl=loginUrl|replace({'%lang%':app.request.locale}) %}
                                <a href="#" onclick="window.top.location.href = '{{ createUrl }}'"
                                   data-league="{{ league.leagues_id }}" data-fee="{{ league.entryFee }}"
                                   class="btn checkForJoin">{{ 'Join'|trans }}</a>
                            {% endif %}
                        {% else %}
                            <a href="" class="btn inactive">
                                {{ 'Full'|trans }}
                            </a>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="one-forth">
                    <div class="info-title">{{ 'Starts'|trans }}<span class="web-show">▲</span></div>
                    <div class="info-value" id="{{ league.leagues_id }}_datetime_mobile">
                        {% if league.timetostart >0 %}
                            <div class="league_today">
                                <div class="dash seconds_dash right">
                                    <span class="digit"></span>
                                    <span class="digit"></span>
                                </div>
                                <div class="dash minutes_dash right">
                                    <span class="digit"></span>
                                    <span class="digit"></span>
                                    <span class="dash_separator">:</span>
                                </div>
                                <div class="dash hours_dash right">
                                    <span class="digit"></span>
                                    <span class="digit"></span>
                                    <span class="dash_separator">:</span>
                                </div>
                                <div class="dash right">
                                    <span class="dash_separator">-</span>
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        startTimer('#{{ league.leagues_id }}_datetime', {{ league.timetostart }});
                                        startTimer('#{{ league.leagues_id }}_datetime_mobile', {{ league.timetostart }});
                                    });
                                </script>
                            </div>
                        {% else %}
                            {{ league.fromDate | date("D j M H:i A") }}
                        {% endif %}
                    </div>
                </div>
                <div class="one-forth">
                    <div class="info-title">{{ 'Entries'|trans }} / {{ 'Size'|trans }} </div>
                    <div class="info-value">
                        {% if league.maxParticipants != 0 %}
                            <span class="ellipsis">{{ league.entry }} / {{ league.maxParticipants }}</span>
                        {% else %}
                            <span class="ellipsis">&infin;</span>
                        {% endif %}
                    </div>
                </div>
                <div class="one-forth">
                    <div class="info-title">{{ 'Entry Fee'|trans }} </div>
                    <div class="info-value">
                        {{ league.entryFee|number_format(2) }}
                    </div>
                </div>
                <div class="one-forth">
                    <div class="info-title">{{ 'Prizes'|trans }} </div>
                    <div class="info-value">&euro;
                        {% if league.is_gprize_fixed=='0' %}
                            {{ (league.prize+league.gprize)|number_format(2) }}
                        {% else %}
                            {{ league.gprize|number_format(2) }}
                        {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% else %}
            <div class="nothing-found error">
                <h3>{{ 'There is currently no league available'|trans }}</h3>
            </div>
        {% endfor %}
    </div>
</div>
<table class="table searchbox web-searchbox {{ grClass }}">
    <thead>
    <tr>
        <!--LEAGUE NAME -->
        {% if orderStarts == "name-ASC" %}
            <th class="name vertical-align no-border-right"><a href="#" class="name-sort sort">{{ 'League Name'|trans }}
                    ▲ </a></th>
        {% elseif  orderStarts == "name-DESC" %}
            <th class="name vertical-align no-border-right"><a href="#" class="name-sort sort">{{ 'League Name'|trans }}
                    ▼ </a></th>
        {% else %}
            <th class="name vertical-align no-border-right"><a href="#"
                                                               class="name-sort sort">{{ 'League Name'|trans }} </a>
            </th>
        {% endif %}

        <!--STARTS -->
        <th class="name vertical-align no-border-left"></th>
        {% if orderStarts == "fromDate-ASC" %}
            <th class="text-align-right vertical-align starts-th"><a href="#"
                                                                     class="starts-sort sort">{{ 'Starts'|trans }}▲ </a>
            </th>
        {% elseif  orderStarts == "fromDate-DESC" %}
            <th class="text-align-right vertical-align starts-th"><a href="#"
                                                                     class="starts-sort sort">{{ 'Starts'|trans }} ▼</a>
            </th>
        {% else %}
            <th class="text-align-right vertical-align starts-th">
                {% if orderStarts == "" %}
                    <a href="#" class="starts-sort sort">{{ 'Starts'|trans }} ▲</a>
                {% else %}
                    <a href="#" class="starts-sort sort">{{ 'Starts'|trans }}  </a>
                {% endif %}
            </th>
        {% endif %}

        <!--ENTRIES / SIZE -->
        <th class="text-align-right vertical-align entries-size-th">
            {% if orderStarts == "maxParticipants-ASC" %}
                <a href="#" class="maxParticipants-sort sort">{{ 'Entries'|trans }} / {{ 'Size'|trans }} ▲ </a>
            {% elseif  orderStarts == "maxParticipants-DESC" %}
                <a href="#" class="maxParticipants-sort sort">{{ 'Entries'|trans }} / {{ 'Size'|trans }} ▼ </a>
            {% else %}
                <a href="#" class="maxParticipants-sort sort">{{ 'Entries'|trans }} / {{ 'Size'|trans }} </a>
            {% endif %}
        </th>

        <!--ENTRY FEE -->
        {% if orderStarts == "entryFee-ASC" %}
            <th class="text-align-right vertical-align entry-fee-th"><a href="#"
                                                                        class="entryFee-sort sort">{{ 'Entry Fee' |trans }}
                    ▲ </a></th>
        {% elseif  orderStarts == "entryFee-DESC" %}
            <th class="text-align-right vertical-align entry-fee-th"><a href="#"
                                                                        class="entryFee-sort sort">{{ 'Entry Fee' |trans }}
                    ▼ </a></th>
        {% else %}
            <th class="text-align-right vertical-align entry-fee-th"><a href="#"
                                                                        class="entryFee-sort sort">{{ 'Entry Fee' |trans }} </a>
            </th>
        {% endif %}

        <!--PRIZES-->
        {% if orderStarts == "prize-ASC" %}
            <th class="text-align-center vertical-align prizes-th"><a href="#"
                                                                      class="prize-sort sort">{{ 'Prizes'|trans }}
                    ▲ </a></th>
        {% elseif  orderStarts == "prize-DESC" %}
            <th class="text-align-center vertical-align prizes-th"><a href="#"
                                                                      class="prize-sort sort">{{ 'Prizes'|trans }}
                    ▼ </a></th>
        {% else %}
            <th class="text-align-center vertical-align prizes-th"><a href="#"
                                                                      class="prize-sort sort">{{ 'Prizes'|trans }} </a>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    <!--Dynamic data start foreach -->
    {% for league in leagues %}
        <tr class="player-tooltip player-data">
            <td title="{{ league.name }}" class="no-border-right">
                <div class="ellipsis"><a
                            onclick="showLeagueInformation({{ league.leagues_id }}, '{{ league.slug }}', 'info',1,'{{ asset('/'~app.request.locale~'/league/details') }}' )">{{ league.name }}</a>
                </div>
            </td>

            <td class="text-right league_flags">
                {% for league_thumbs in league.nation_thumb %}
                    <img src="{{ asset('bundles/'~league_thumbs.thumb) }}" alt="{{ league_thumbs.league_name }}">
                {% endfor %}
            </td>

            <td class="text-right" id="{{ league.leagues_id }}_datetime">
                {% if league.timetostart > 0 %}
                    <div class="league_today">

                        <div class="dash seconds_dash right">
                            <span class="digit"></span>
                            <span class="digit"></span>
                        </div>
                        <div class="dash minutes_dash right">
                            <span class="digit"></span>
                            <span class="digit"></span>
                            <span class="dash_separator">:</span>
                        </div>
                        <div class="dash hours_dash right">
                            <span class="digit"></span>
                            <span class="digit"></span>
                            <span class="dash_separator">:</span>
                        </div>
                        <div class="dash days_dash right">
                            <span class="digit" style="display: inline-block;">0</span>
                            <span class="digit" style="display: inline-block;">1</span>
                            <span class="dash_separator"> d &nbsp;&nbsp;</span>
                        </div>
                        <div class="dash right">
                            <span class="dash_separator">-</span>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                {#startTimer('#{{ league.leagues_id }}_datetime', {{ league.timetostart }});#}
                            });
                        </script>
                    </div>
                {% else %}
                    {{ league.fromDate | date("D j M H:i A") }}
                {% endif %}
            </td>
            {% if league.maxParticipants != 0 %}
                <td class="text-right">{{ league.entry }} / {{ league.maxParticipants }}</td>
            {% else %}
                <td class="text-right">{{ league.entry }} / <span class="infinity">&infin;</span></td>
            {% endif %}
            <td class="text-right entry-fee-td {% if league.class %}{{ league.class }}{% else %}euro{% endif %}">
                {{ league.entryFee|number_format(2) }}
            </td>
            <td class="text-right {{ grClass }} {% if league.class %}{{ league.class }}{% else %}euro{% endif %} client-color">
                <a onclick="showLeagueInformation({{ league.leagues_id }}, '{{ league.slug }}', 'prizes',1,'{{ asset('/'~app.request.locale~'/league/details') }}')">

                    {% if league.is_gprize_fixed=='0' %}
                        {{ (league.prize+league.gprize)|number_format(2) }}
                    {% else %}
                        {{ league.gprize|number_format(2) }}
                    {% endif %}</a>
                {% if (league.maxParticipants != league.entry) or ( league.maxParticipants == 0 ) %}
                    {% set user_ref = app.session.get('user_ref') %}
                    {% if user_ref !='' or allowRedirect==0 %}
                        {% set createUrl=asset('/'~app.request.locale~'/squads/create/'~league.leagues_id)~'?operator_id='~app.session.get('alias')~'&token='~app.session.get('token')~'&tmpteam='~random() %}
                        <a href="{{ createUrl }}"
                           data-league="{{ league.leagues_id }}" data-fee="{{ league.entryFee }}"
                           class="btn checkForJoin">{{ 'Join'|trans }}</a>
                    {% else %}
                        {% set createUrl=loginUrl|replace({'%lang%':app.request.locale}) %}
                        <a href="#" onclick="window.top.location.href = '{{ createUrl }}'"
                           data-league="{{ league.leagues_id }}" data-fee="{{ league.entryFee }}"
                           class="btn checkForJoin">{{ 'Join'|trans }}</a>
                    {% endif %}

                {% else %}
                    <a href="" class="btn inactive">
                        {{ 'Full'|trans }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="nothing-found">
            <td colspan="7" class="error">
                <h3>{{ 'There is currently no league available'|trans }}</h3>
            </td>
        </tr>
    {% endfor %}

    <!--Dynamic data end -->
    </tbody>
</table>
{% set clientId = app.session.get('client') %}
                 {% if showCurrency==1 %}
                     <div class="term-and-conditions">{{ "*The official and only currency of the game is the euros. The currency conversion rate applied to these values is a guide only. Please check the" | trans }}
                         <a href="{{ terms_url|replace({'%lang%':app.request.locale }) }}"
                            target="_blank"> {{ "terms and conditions" | trans }} </a>{{ "for details." | trans }}</div>
                 {% endif %}
                     {% block javascripts %}
                         <script type="text/javascript">
                             {% if user_ref =='' and allowRedirect==1 %}
                             $('.checkForJoin').click(function () {
                                 eraseCookie('clicked');
                                 eraseCookie('leagueId');
                                 var leagueId=$(this).data('league');
                                 setCookie('clicked','join',1);
                                 setCookie('leagueId',leagueId,1);
                             });
                             {% endif %}
                             $(document).ready(function () {
                                 var ajaxURL = $('#ajax_url').val();

                                 $(".sort").click(function (e) {
                                     e.preventDefault();
                                     var value = $("#sort").val();
                                     if ($(this).hasClass("prize-sort")) {
                                         if (value == "prize-DESC") {
                                             $("#sort").val("prize-ASC");
                                         } else {
                                             $("#sort").val("prize-DESC");
                                         }
                                     } else if ($(this).hasClass("entryFee-sort")) {
                                         if (value == "entryFee-ASC") {
                                             $("#sort").val("entryFee-DESC");
                                         } else {
                                             $("#sort").val("entryFee-ASC");
                                         }
                                     } else if ($(this).hasClass("name-sort")) {
                                         if (value == "name-ASC") {
                                             $("#sort").val("name-DESC");
                                         } else {
                                             $("#sort").val("name-ASC");
                                         }
                                     } else if ($(this).hasClass("entry-sort")) {

                                         if (value == "entry-ASC") {
                                             $("#sort").val("entry-DESC");
                                         } else {
                                             $("#sort").val("entry-ASC");
                                         }
                                     } else if ($(this).hasClass("maxParticipants-sort")) {
                                         if (value == "maxParticipants-ASC") {
                                             $("#sort").val("maxParticipants-DESC");
                                         } else {
                                             $("#sort").val("maxParticipants-ASC");
                                         }
                                     } else if ($(this).hasClass("starts-sort")) {
                                         if (value == "fromDate-ASC") {
                                             $("#sort").val("fromDate-DESC");
                                         } else {
                                             $("#sort").val("fromDate-ASC");
                                         }
                                     }
                                     submitSearchForm();
                                     return false;
                                 });

                                 $('#mobile-filter-sort').change(function () {
                                     var value = $(this).val();
                                     $("#sort").val(value);
                                     submitSearchForm();

                                     return false;
                                 });

                             });
                         </script>
                     {% endblock %}