{% if color_scheme is defined  %}
	<div class="color-scheme">
		<div class="scheme-icon"></div>
		<div class="scheme-colors">
			<ul>
				{% for color in color_scheme %}
					<li><span title="{{ color.title }}" onclick="updateStyles({{ color.id }})" style="background-color:#{{ color.color }}"></span></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}