{% if memberinfo.badges is defined %}
    {% if memberNotification is not empty  %}
        {% set noteExist = 1 %}
    {% else %}
        {% set noteExist = 0 %}
    {% endif %}
	<div class="completed-badges-container">
		<div class="badge-content">
			<div class="budgets
    			{% if (noteExist == 1 or noteExist == 0) and (currentMember.currentMemberID == profileuserid) %} addSocialWall {% endif %}
          		{% if(currentMember.currentMemberID != profileuserid) %} noSocialWall {% endif %}">
                {% for badge in memberinfo.badges %}
					<div class="badge badge-{{badge.reward_rule_id }}
                    {% if(currentMember.currentMemberID != profileuserid) %} folowerBadge {% endif %}
					{% if (noteExist == 1 or noteExist == 0) %} budgeHalfWidth {% endif %}">
						<div class="rank">
                            {% for reward in badge.reward %}
								<div class="rank-item{% if reward.reward_id in memberinfo.membersrewards %} active active-{{ reward.badge_type|trans }} type-{{ badge.memberLastReward.type|trans }}{% endif %}">{{ reward.badge_type|trans }}</div>
                            {% endfor %}
						</div>
						<div class="prize-item {% if badge.memberLastReward.reward_id is not defined %}inactive{% endif %}">
                            {% if badge.memberLastReward %}
                                {% for key,item in badge %}
                                    {% set index = loop.index-1 %}
                                    {% if ( badge.reward[index] is defined ) and (badge.memberLastReward.reward_id == badge.reward[index].reward_id ) %}
										<div class="prize-img" style="background-image: url('{{ asset('bundles/'~badge.memberLastReward.badge_mm ) }}');">
											<div class="prize_title text-center">{{ badge.memberLastReward.title|trans }}</div>
										</div>
										<div class="prize-level-desc">
                                            {% if badge.memberNextReward %}
												<div class="next-badge-title">
													GET A {{ badge.memberNextReward.type|trans }} BADGE
												</div>
                                                {{ badge.memberNextReward.description|trans }}
                                            {% else %}
												<div class="next-badge-title">
                                                    {{ 'Congratulations'|trans }}
												</div>
                                                {{ 'You got all badges'|trans }}!
                                            {% endif %}
										</div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
								<div class="prize-img inactive-{{ badge.reward_rule_id }}">
									<div class="prize_title text-center">{{ badge.memberNextReward.title|trans }}</div>
								</div>
                                {% if badge.memberNextReward %}
									<div class="prize-level-desc">
										<div class="next-badge-title">
											GET A {{ badge.memberNextReward.type|trans }} BADGE
										</div>
                                        {{ badge.memberNextReward.description|trans }}
									</div>
                                {% endif %}
                            {% endif %}
						</div>
			</div>   
		{% endfor %}
		</div>
            {% if(currentMember.currentMemberID == profileuserid) and (noteExist == 1 or noteExist == 0) %}
				<div class="socialWall">
					<div id="title">{{ "Social wall" | trans }}</div>
					<div class="socialWallItems">
                        {% for notification in memberNotification %}
                            {% if notification['note_type'] == "join" %}
								<p class="joined">{{ notification['username'] }} joined  <a href="#">{{ notification['note_name'] }}</a> </p>
                            {% elseif notification['note_type'] == "rank" %}
								<p class="joined">{{ notification['username'] }} ranked 2nd in <a href="#">{{ notification['note_name'] }} </a> </p>
                            {% elseif notification['note_type'] == "earned_silver" %}
								<p class="joined">{{ notification['username'] }} earned {{ notification['note_name'] }} </p>
                            {% elseif notification['note_type'] == "faitful_gold" %}
								<p class="joined">Congratulations, you just earned Faithful Gold </p>
                            {% elseif notification['note_type'] == "messaged" %}
								<p class="joined">{{ notification['username'] }} {{ notification['note_name'] }} you </p>
                            {% elseif notification['note_type'] == "goalkeeper_bronze" %}
								<p class="joined">{{ notification['username'] }} earned Goalkeeper Bronze </p>
                            {% endif %}
                        {% endfor %}
					</div>
				</div>
            {% endif %}
		</div>
	</div>
{% endif %}
