<div class="dashboard-followers">
	<div class="search-users">
		<div class="search-title">{{ 'Search users'|trans }}</div>
		<div class="search-input">
			<input type="text" id="search-members-to-follow" name="search-members-to-follow"/>
		</div>
	</div>
	<div class="followers-result-block">
		<div class="follow-item">
			<div class="follow-title">{{ 'All members'|trans }}</div>
			<div class="follower-block member-search-result">
				<div style="text-align:center;font-weight: 600">{{ 'Use the search field above to search for members'|trans }}</div>
			</div>
		</div>
		<div class="follow-item">
			<div class="follow-title">{{ 'Following'|trans }} (<span class="following-count">{{ memberinfo.following|length }}</span>)</div>
			<div class="follower-block member-following">
				<ul>
					{% if memberinfo.following %}
						{% for member in memberinfo.following %}
						<li>
							<a href='{{ asset("/"~app.request.locale~"/profile/"~member.username) }}'>{{ member.username }}</a>
							{% if profileuserid != currentMember.currentMemberID %}
								{% if member.following in userfollowing %}
									<span>{{ 'Following'|trans }}</span>
								{% elseif member.following != currentMember.currentMemberID %}
									<input type="button" class="btn list" value="{{ 'Follow'|trans }}" onclick="follow('{{currentMember.currentMemberUsername}}','{{ member.username }}','follow',this);"/>
								{% endif %}
							{% else %}
								<input type="button" class="btn list" value="{{ 'Unfollow'|trans }}" onclick="follow('{{currentMember.currentMemberUsername}}','{{ member.username }}','unfollow',this);"/>
							{% endif %}
						</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="follow-item">
			<div class="follow-title">{{ 'Followers'|trans }} (<span class="followers-count">{{ memberinfo.followers|length }}</span>)</div>
			<div class="follower-block member-followers">
				<ul>
					{% if memberinfo.followers %}
						{% for member in memberinfo.followers %}
						<li><a href='{{ asset("/"~app.request.locale~"/profile/"~member.username) }}'>{{ member.username }}</a>
							{% if (member.follower in userfollowing) %}
								<span>{{ 'Following'|trans }}</span>
							{% elseif member.follower != currentMember.currentMemberID and profileuserid %}
								<input type="button" class="btn list follower" value="{{ 'Follow'|trans }}" onclick="follow('{{currentMember.currentMemberUsername}}','{{ member.username }}','follow',this);"/>
							{% endif %}
						</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
		
	</div>	
</div>	
<script type="text/javascript">
	
	function follow(follower,following,status,$this){
		if ( follower != '' && following != '' ){
			var input = $($this);
			
			$.post('{{ asset("/"~app.request.locale~"/followMember") }}', {
				following : following,
				follower:follower,
				status : status
			}, function(response) {
				if ( response == 'success' ){
					if ( status == 'follow' ){
						if ( input.hasClass('list') ){
							input.parent().find('input').val('{{ "Unfollow"|trans }}');
							input.parent().find('input').attr("onclick","follow("+follower+","+following+",'unfollow',this)");
							input.parent().clone().appendTo( ".member-following ul" );
							$sorted = $( ".member-following ul li" ).sort(function(a, b) {
							   return $(a).find('a').text().localeCompare($(b).find('a').text());
							});
							$( ".member-following ul" ).html($sorted);
							if( input.hasClass('follower') ){
								input.before('<span>{{"Following"|trans}}</span>');
								input.remove();
							}else{
								input.parent().remove();
							}
						}else{
							input.val("{{ 'Following'|trans }}");
							input.attr("onclick","follow('"+follower+"','"+following+"','unfollow',this)");
							input.css('padding-left','30px');
							input.addClass('btn-gray');
							input.before('<i class="fa fa-check"></i>');
						}
						
					}else{
						if ( input.hasClass('list') ){
							input.parent().remove();
						
						}else{
							input.val("{{ 'Follow'|trans }}");
							input.attr("onclick","follow('"+follower+"','"+following+"','follow',this)");
							input.css('padding-left','12px');
							input.removeClass('btn-gray');
							input.prev('i.fa').remove();
						}
					}
					
					$('.following-count').html($( ".member-following ul li" ).length);
					$('.followers-count').html($( ".member-followers ul li" ).length);
				}
			}, 'json');
		}
	}
	
    $('input:text[name=search-members-to-follow]').keyup( function(e){
        var v = $(this).val();
        
        if ( v != '' ){
			$.post('{{ asset("/"~app.request.locale~"/searchMembersToFollow") }}', {
				search : v,
			}, function(response) {
					var html = "<ul>";
					for( var i=0; i<response.length; i++ ){
						var follows = 0;
						html+='<li>';
						
						html+='<a href=\'{{ asset("/"~app.request.locale~"/profile/") }}'+response[i].username+'\'>'+response[i].username+'</a>';
						if ( '{{ profileuserid|default(0) }}' == '{{ currentMember.currentMemberID }}' ) {
							html+='<input type="button" class="btn list" name="follow" class="btn btn-profile" onclick="follow(\'{{ currentMember.currentMemberUsername }}\',\''+response[i].username+'\',\'follow\',this)" value="Follow">';
						}
						html+='</li>';
					}
					html += "<ul>";
					$('.followers-result-block .member-search-result').html(html);
						

			}, 'json');
		}
    });
</script>
