<div id="dialog-invite-members-to-league" class="dialog">
	<div class="close-invite-dialog"></div>
	<div id="invite-second-step">
        <div class="text block-top"><h3>{{'Confirm team changes'|trans}}</h3></div>
		<div class="dialog-content-block" style="margin-top: 70px;">
			<div class="inner-content-block">
				<div >{{'Please select for which list you want to apply the new changes.'|trans}}</div>
				<div style="max-height: 170px;overflow-y: auto;overflow-x: hidden;margin-top:15px;">
					<table class="table searchbox">
						<thead>
							<tr>
								<th class="name vertical-align no-border-right">
									{{'League Name'|trans}} 
								</th>
								<th class="text-align-center vertical-align">
									{{'Entry Fee'|trans}}
								</th>
								<th class="text-align-center vertical-align">
									{{'Starts'|trans}} 
								</th>
							</tr>
						</thead>
						<tbody>
						<!--Dynamic data start foreach -->
						{% for league in leagues %}
						<tr class="player-tooltip player-data">
							<td title="league - wed" class="no-border-right">
								<div class="ellipsis left">
									{{ league.name }}
								</div>
								<div class="league-flags right">
									{% for league_thumbs in league.nation_thumb %}
									<img src="{{ asset('bundles/'~league_thumbs.thumb) }}" alt="{{ league_thumbs.league_name }}">
									{% endfor %}
								</div>
							</td>
							<td class="text-right">&euro;{{ league.entryFee|number_format(2) }}</td>
							<td class="text-right" id="{{ league.leagues_id }}_datetime">
								{% if league.timetostart > 0 %}
									<div class="league_today">
										<div class="dash seconds_dash right">
											<span class="digit"></span>
											<span class="digit"></span>
										</div>
										<div class="dash minutes_dash right">
											<span class="digit"></span>
											<span class="digit"></span>
											<span class="dash_separator">:</span>
										</div>
										<div class="dash hours_dash right">
											<span class="digit"></span>
											<span class="digit"></span>
											<span class="dash_separator">:</span>
										</div>
										<div class="dash right">
											<span class="dash_separator">-</span>
										</div>
										<script type="text/javascript">
											$(document).ready(function () {
												startTimer('#{{ league.leagues_id }}_datetime', {{ league.timetostart }});
											});
										</script>
									</div>
								{% else %}
									
									<span style="margin-right:5px;" >{{ league.fromDate | date("D j M H:i A") }}</span>
									<span class="checkbox-td"><input type="checkbox" data-league-id="{{ league.leagues_id }}" name="member_league" class="right"/></span>
								{% endif %}
							</td>
							
							
						</tr>
						{% endfor %}
						<!--Dynamic data end -->
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
        <div class="clear"></div>
		<div class="text block-bottom">
			<input type="button" value="{{'Cancel'|trans}}" class="cancel-league-choose btn left"/>
			<input type="button" value="{{'Confirm'|trans}}" class="go-to-last btn right" /> 
			<div class="clear"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var serverurl="{{ asset('/'~app.request.locale~'/savedsquad/saveTeamConfirm') }}";
	var memberleagueid = {{ leagueId |default(0) }};
	var teamid = {{ teamid|default(random()) }};
	var isSaved = {{ isSaved|default(0) }};
	var currentteamid = {{ teamid|default("null") }};
	var loadingteam = {{ loadingteam|default(0) }};	
	var days = $('input[name="days"]').val();
	var matches = $('input[name="matches"]').val();
	var leagues = $("select#league-list option").map(function() {
		return $(this).val();
	}).get().join(",");
	
	$( "#dialog-invite-members-to-league").dialog({
		resizable: false,
		height: 400,
		width: 800,
		dialogClass: 'dialog-invite-members-to-league white-dialog',
		draggable: false,
		modal: true,
        open: function(event, ui) {
            $('.ui-widget-overlay').bind('click', function(){
                $("#dialog-invite-members-to-league").dialog('close');
            });
        }
	}).attr('id', 'dialog-invite-members-to-league');
	
	$('#dialog-invite-members-to-league').prev().remove();
	
	$('.close-invite-dialog').click(function(){
		$( "#dialog-invite-members-to-league" ).dialog('close');
	});
	
	$('.go-to-last').click(function(){
		$('.error-select').remove();
		var selected_leagues = "";
		$('#invite-second-step input[name="member_league"]:checked').each(function(){
			selected_leagues += $(this).attr('data-league-id')+', ';	
		});
		$('#joinedLeagues').val(selected_leagues);
		saveteamclicked = true;	
//		showLoadingScreen();
		showDialog({
			formation: $("#formations").val(),
			leagueid: memberleagueid,
			teamid: teamid,
			savedTeam: isSaved,
			currentteamid:currentteamid,
			loadingteam:loadingteam,
			days:days,
			matches:matches,
			league:leagues,
		},serverurl);
	});
	$(".cancel-league-choose").click(function(){
		saveteamclicked = true;	
//		showLoadingScreen();
		showDialog({
			formation: $("#formations").val(),
			leagueid: memberleagueid,
			teamid: teamid,
			savedTeam: isSaved,
			currentteamid:currentteamid,
			loadingteam:loadingteam,
			days:days,
			matches:matches,
			league:leagues,
		},serverurl);
	});
	
</script>