{% block dialog %}
<div id="dialog-invite-members-to-league" class="dialog">
	<div class="close-invite-dialog"></div>
	<input type="hidden" name="invitefreindsselectedleagues" id="invitefreindsselectedleagues"/>
	<div id="invite-second-step">
        <div class="text block-top"><h3>{{ 'Leagues selection'|trans }}</h3></div>
		<div class="dialog-content-block">
			<div class="step-block"></div>
			<div class="inner-content-block">
				<div >{{ 'Select the leagues you want to invite them into'|trans }}</div>
				<div style="max-height: 170px;overflow-y: auto;overflow-x: hidden;">
					<table class="table searchbox">
						<thead>
							<tr>
								<th class="name vertical-align no-border-right"><a href="#" class="name-sort sort">{{ 'League Name'|trans}} </a></th>
								<th class="text-align-right vertical-align"><a href="#" class="entryFee-sort sort">{{ 'Entry Fee' |trans}} </a></th>
								<th class="text-align-center vertical-align"><a href="#" class="starts-sort sort">{{ 'Starts'|trans}} ▲</a></th>
							</tr>
						</thead>
						<tbody>
						{% for league in available_leagues %}
							<tr class="player-tooltip player-data text-left">
								<td title="{$available_league.comment}" class="no-border-right">
									<div class="ellipsis left">
										<div class="ellipsis"><a onclick="showLeagueInformation({{ league.leagues_id }}, '{{ league.slug }}', 'info',1,'{{ asset('/'~app.request.locale~'/league/details') }}' )">{{ league.name }}</a></div>
									</div>
									<div class="league-flags right">
										{% for league_thumbs in league.nation_thumb %}
											<img src="{{ asset('bundles/'~league_thumbs.thumb) }}" alt="{{ league_thumbs.league_name }}">
										{% endfor %}
									</div>
								</td>
								<td class="text-right">&euro;{{ league.entryFee|number_format(2) }}</td>
								<td class="text-right" id="{{ league.leagues_id }}_datetime">
									{% if league.timetostart > 0 %}
										<span class="right checkbox-td"><input type="checkbox" data-league-id="{{ league.leagues_id }}" name="member_league" class="right"/></span>
										<div class="league_today right" style="margin-right:5px;">
											<div class="dash seconds_dash right">
												<span class="digit"></span>
												<span class="digit"></span>
											</div>
											<div class="dash minutes_dash right">
												<span class="digit"></span>
												<span class="digit"></span>
												<span class="dash_separator">:</span>
											</div>
											<div class="dash hours_dash right">
												<span class="digit"></span>
												<span class="digit"></span>
												<span class="dash_separator">:</span>
											</div>
											<div class="dash right">
												<span class="dash_separator">-</span>
											</div>
											<script type="text/javascript">
												$(document).ready(function () {
													startTimer('#{{ league.leagues_id }}_datetime', {{ league.timetostart }});
												});
											</script>
										</div>
									{% else %}
										<span style="margin-right:5px;" >{{ league.fromDate | date("D j M H:i A") }}</span>
										<span class="checkbox-td"><input type="checkbox" data-league-id="{{ league.leagues_id }}" name="member_league" class="right"/></span>
									{% endif %}
								</td>
							</tr>
							{% else %}
							<tr class="nothing-found">
								<td colspan="7" class="error">
									<h3>{{ 'There is currently no league available'|trans }}</h3>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
        <div class="clear"></div>
		<div class="text block-bottom">
			<input type="button" value="{{ 'Cancel'|trans }}" class="btn left cancel-invite cancel-button"/>
			<input type="button" value="{{ 'Invite a Member'|trans }}" class="submit-invite btn right"/>
			<div class="clear"></div>
		</div>
	</div>

</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$( "#dialog-invite-members-to-league").dialog({
		resizable: false,
		height: 400,
		width: 800,
		dialogClass: 'dialog-invite-members-to-league',
		draggable: false,
		modal: true,
        open: function(event, ui) {
            $('.ui-widget-overlay,.close-invite-dialog,.cancel-invite').bind('click', function(){
                $("#dialog-invite-members-to-league").dialog('close');
            });
        }
	}).attr('id', 'dialog-invite-members-to-league');

	$('#dialog-invite-members-to-league').prev().remove();

	$('.submit-invite').click(function(){
		var isValid = true;
		var selected_leagues = "";
		$('#invite-second-step input[name="member_league"]:checked').each(function(){
			selected_leagues += $(this).attr('data-league-id')+', ';
		});
		console.log(selected_leagues);
		if ( selected_leagues == '' ){
			$('.error-select').remove();
			$('#invite-second-step table').before('<span class="error-select">{{ "Select at least 1 league to invite members into"|trans }}</span>');
			isValid = false;
		}
		if ( isValid ) {
			$.ajax({
				type: "POST",
				url: '{{ asset("/"~app.request.locale~"/sendLeagueInvitationEmail") }}',
				data: { users: '{{ member }}',leagues:selected_leagues,emailtext:""},
				success: function(result) {
					var success = 0;
					var close = "{{'Close'|trans }}";
					if ( result[0].successful_invites > 0 ){
						$('#invite-second-step .dialog-content-block').html('<div style="margin: 80px auto 50px;text-align: center;">'+result[0].emailSucessText+'</div>');
						$('#invite-second-step .block-bottom').css('text-align','center').html('<input type="button" value="'+close+'" class="success-confirm btn"/>');
						$('.success-confirm').click(function(){
							 $("#dialog-invite-members-to-league").dialog('close');
						});
					}

				}
			});
		}
	});
</script>
{% endblock %}
