<div id="dialog" >
    <div id="dialog-start-substitution" class="dialog dialog-padding   inplay-bg">
        {% if leagueid %}
            {% if substitutes %}
                <div>{{ 'Who would you like to substitute with'|trans }} <span class="sub-player">{{ fromplayer.name }}</span></div>
                <div class="subs dialog-player">
                    <ul>
                        {% for item in substitutes %}
                            <li {% if item.completed_match %} class="finished"{% endif %}>
                                <div class="player {% if item.completed_match %} disabled{% endif %}"  data-player-id="{{ item.player_id }}">
                                    <div class="kit" {%  if item.image %} style="background-image: url({{ item.image }});"{% endif %}></div>
                                    <div class="name">{{ item.name  }}</div>
                                </div>
                            </li>
                        {% endfor %}
                        <div class="clear"></div>
                    </ul>
                    <input type="hidden" id="fromplayerid" value="{{ fromplayerid }}"/>
                    <input type="hidden" id="toplayerid" value="0"/>
                </div>
            {%  else %}
                <div>
                    {translate id=$dialogerrorid|default:259}
                </div>
            {% endif %}
        {% else %}
            {{ 'There was a problem while performing this request. Please reload the page and try again.'|trans }}
        {% endif %}
    </div>
</div>

<script>

    $('#dialog-start-substitution .player').click(function () {
        if (!$(this).hasClass('disabled')) {

            $("#toplayerid").val($(this).data("player-id"));
            var self = this;

            $('#dialog-start-substitution .player').not($(this)).switchClass('', 'unavailable', 300, "linear", function () {
                $(self).removeClass('unavailable');
            });

            $('#dialog-start-substitution .player').removeClass('available');
            $(this).addClass("available");

            if ($('.player.available').length == 1) {
                $('.confirmButton').removeClass('gray');
            } else {
                $('.confirmButton').addClass('gray');
            }
        }
    });

    $("#dialog").dialog({

        resizable: false,
        width: 'auto',
        minWidth: 380,
        modal: true,
        dialogClass: 'no-close fixed-dialog',
        buttons: {

            Cancel: {
                text: '{{ "Cancel"|trans }}',
                'class': 'cancel-button',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            } {% if substitutes %}
            ,
            Ok: {
                text: '{{ "Next"|trans }}',
                "class": 'btn confirmButton',
                click: function (e) {
                    e.preventDefault();

                    if ($('.confirmButton').hasClass('gray')) return;

                    var toplayerid = $("#toplayerid").val();

                    if (toplayerid == 0) {
                        showErrorDialog(666);
                    } else {
                        var action="{{ asset('/'~app.request.locale~'/live/substitutePlayer') }}";

                        showDialog({
                            toplayerid: toplayerid,
                            fromplayerid: {{ fromplayerid }},
                            league: {{ leagueid|default(0) }},
                            teamid: {{ teamid|default(0) }}
                        },action);
                    }
                }
            }
            {% endif %}
        }
    });
</script>
