<div id="dialog">
    <div id="dialog-choose-formation" class="dialog">
        <div class="step-count">
            <div class="counter counter-2"></div>
            <div class="steps"><span>Step 2/4</span>Sub-out players</div>
            <div class="clear"></div>
        </div>
        <div class="formations dialog-formation dialog-padding dialog-white">
            {% if leagueId %}
                <div class="formation left">
                    <div class="pitch set-pitch">
                        <div class="pitch-formation formation-{{ newformation[0].formation_id }}"></div>
                    </div>
                </div>
                {% if formationchanges %}
                    <div class="text width-400 left">

                        {% set form_changes='' %}
                        {% set form_title='' %}
                        {% for positionid,formationchange in formationchanges %}
                            {% set form_title= formationchange.title %}
                            {% set form_changes= formationchange.changes %}
                        {% endfor %}
                        <h3>{% if form_changes !=1 %} You must sub-out 1 stricker and 1 diffinder to change to {{ newformation[0].title }}
                            {% else %}You must sub-out {{ form_changes }} {{ form_title }} to change to {{ newformation[0].title }}{% endif %}</h3>
                        <p> Please select the players you want to sub-out from your team </p>
                    </div>
                    <div class="clear"></div>
                    <div class="formation-player-list positions-{{ formationchanges|length }}">

                        <form>
                            {#{foreach from=$formationchanges key=positionid item=formationchange name=changes}#}
                            {% for positionid,formationchange in formationchanges %}
                                <div class="player-group">
                                    <h4>{{ formationchange.title }}<span> (<span
                                                    class="position-{{ positionid }}-count">0</span>/{{ formationchange.changes }}
                                            )</span></h4>
                                    <span class="status-indicator hide status-position-{{ positionid }}"></span>
                                    <div class="clear"></div>
                                    <ul>
                                        {% for player in  formationchange.players %}
                                            <li class="player-container">
                                                <div class="selectable-players" data-player-id="{{ player.id }}">
                                                    <input name="players[]" data-position-id="{{ positionid }}"
                                                           id="position-{{ positionid }}-{{ player.id }}"
                                                           type="checkbox" value="{{ player.id }}"/>
                                                    <label for="position-{{ positionid }}-{{ player.id }}"
                                                           style="background-image:url('{{ player.image }}');background-size: contain">
                                                        {{ player.player_name }}
                                                    </label>
                                                </div>
                                                <div class="current-minute">{{ player.player_played_to | default(0) }}</div>
                                                <div class="sub-image"></div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            {#<input type="hidden" name="action" value="chooseSubstitutes"/>#}
                            <input type="hidden" name="formationid" value="{{ newformation[0].formation_id }}"/>
                            <input type="hidden" name="league" value="{{ leagueId|default(0) }}"/>
                            <input type="hidden" name="teamid" value="{{ teamId|default(0) }}"/>
                        </form>

                    </div>
                {% else %}
                    <div class="text width-400 left">
                        This formation change cannot be done, due to the formation you have chosen or due to the fact
                        that your substitutions have been depleted
                    </div>
                {% endif %}
                <div class="clear"></div>
            {% else %}
                There was a problem while performing this request. Please reload the page and try again.
            {% endif %}
        </div>
    </div>
</div>
<script>
    var changes = [];
    var totalrequiredchanges = 0;

    {% for positionid,formationchange in formationchanges %}
    changes[{{ positionid }}] = {{ formationchange.changes }};
    totalrequiredchanges = totalrequiredchanges + {{ formationchange.changes }};
    {% endfor %}

    $(document).ready(function () {
        $(".player-container").click(function () {
            selectItem($(this));
        });

        $(".player-container label").click(function () {
            selectItem($(this).parents(".player-container"));
        });

        function selectItem($element) {
            var $checkbox = $element.find("input[type=checkbox]");

            var position = $checkbox.data('position-id');

            var count = $('.player-container.selected[data-position=' + position + ']').length;

            if ((count >= changes[position] && !$element.hasClass('selected')) || $element.hasClass("disabled")) {
                return;
            }

            if ($element.hasClass('selected')) {
                $checkbox.attr('checked', false);
                $element.removeClass('selected');
                $element.removeAttr("data-position");
            } else {
                $checkbox.attr('checked', true);
                $element.addClass('selected');
                $element.attr("data-position", position);
                $element.removeClass("disabled");
            }

            count = $('.player-container.selected[data-position=' + position + ']').length;

            $('input[data-position-id=' + position + ']').parents("li").removeClass("disabled");

            if (count == changes[position]) {
                $('input[data-position-id=' + position + ']').parents("li").not(".player-container.selected").addClass("disabled");
                $('.status-position-' + position).removeClass('hide');
            } else {
                $('.status-position-' + position).addClass('hide');
            }

            $('.position-' + position + '-count').text(count);

            if ($('.player-container.selected').length == totalrequiredchanges) {
                $('.confirmButton').removeClass('gray');
            } else {
                $('.confirmButton').addClass('gray');
            }
        }
    });

    $("#dialog").dialog({
        resizable: false,
        width: 640,
        modal: true,
        dialogClass: 'no-close fixed-dialog',
        buttons: {
            {% if leagueId %}
            Back: {
                text: 'Back',
                click: function (e) {
                    e.preventDefault();
                    var action = "{{ asset('/'~app.request.locale~'/live/changeFormation') }}";
                    showDialog({
                        league: {{ leagueId|default(0) }},
                        teamid: {{ teamId|default(0) }} }, action);

                    $(this).dialog("destroy");
                }
            },
            Ok: {
                text: 'Next',
                "class": 'gray confirmButton',
                click: function (e) {
                    e.preventDefault();

                    if ($('.confirmButton').hasClass('gray')) return;
                    var action = "{{ asset('/'~app.request.locale~'/live/assignChooseSubstitutes') }}";

                    showDialog($('form').serializeArray(),action);

                    $(this).dialog("destroy");
                }
            },
            {% endif %}
            Cancel: {
                text: "{{ 'Cancel' | trans }}",
                "class": 'black',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            }
        }
    }).attr('id', 'dialog');
</script>
<style>


</style>