<div id="dialog">
    <div id="dialog-confirm-substitution" class="dialog">
        <div class="dialog-padding">
            <div>
                {% set fromplay, toplay= fromplayer.name, toplayer.name%}
                {{ "You have chosen to substitute %fromplayer% for %toplayer% at the %minute%\' minute" |trans({'%fromplayer%':fromplay,'%toplayer%':toplay ,'%minute%':60})  }}
            </div>
            {% if fromplayer and toplayer %}
                <div class="confirmation">
                    <div class="kits">
                        <div class="out">
                            <div class="player">
                                <div class="kit"{% if fromplayer.image %} style="background-image: url({{ fromplayer.image }});"{% endif %}></div>
                                <div class="name">{{ fromplayer.name }}</div>
                            </div>
                        </div>
                        <div class="in">
                            <div class="player">
                                <div class="kit" {% if toplayer.image %} style="background-image: url({{ toplayer.image }});"{% endif %}></div>
                                <div class="name">{{ toplayer.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <input type="hidden" id="fromplayerid" value="{{ fromplayer.id }}"/>
                <input type="hidden" id="toplayerid" value="{{ toplayer.id }}"/>
            {% else %}
                {translate id=258}
            {% endif %}
        </div>
    </div>
</div>
<script>
    $("#dialog").dialog({
        resizable: false,
        width: 640,
        modal: true,
        dialogClass: 'no-close fixed-dialog',
        buttons: {
            {% if fromplayer and toplayer %}
            Ok: {
                text: '{{ "Confirm"|trans }}',
                click: function (e) {
                    e.preventDefault();

                    var fromplayerid = $("#fromplayerid").val();
                    var toplayerid = $("#toplayerid").val();
                    var action="{{ asset('/'~app.request.locale~'/live/completeSubstitutePlayer') }}";
                    $.ajax({
                        type: "POST",
                        url: action,
                        data: {
                            fromplayerid: fromplayerid,
                            toplayerid: toplayerid,
                            league: {{ leagueid|default(0) }},
                            teamid: {{ teamid|default(0) }}
                        },
                        success: function(data, textStatus, jqXHR) {
                            var dialog = $("#dialog-temp");

                            if(data=='true'){
                                location.reload();
                            }
                            dialog.empty();
                            dialog.html(data);

                        },
                        error: function (err) {
                        },
//                        dataType: 'html'
                    });
                    {#showDialog({#}
                        {#fromplayerid: fromplayerid,#}
                        {#toplayerid: toplayerid,#}
                        {#league: {{ leagueid|default(0) }},#}
                        {#teamid: {{ teamid|default(0) }}#}
                    {#},action);#}

                    $(this).dialog("destroy");
                }
            },
            {% endif %}
            Cancel: {
                text: '{{ "Cancel"|trans }}',
                'class': 'black',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            }
        }
    }).attr('id', 'dialog');
</script>