<div id="dialog">
    <div id="dialog-choose-formation" class="dialog">
        <div class="step-count">
            <div class="counter counter-3"></div>
            <div class="steps"><span>Step 3/4</span> Sub-in players</div>
            <div class="clear"></div>
        </div>
        <div class="formations dialog-formation dialog-padding dialog-white">
            {% if leagueId %}
                <div class="text"><h3 style="padding-bottom:10px;">Select the players you want to sub in</h3></div>
                <div class="clear"></div>
                <div class="formation-player-list positions-{{ playersout|length }} wide">
                    {% if formationchanges %}
                        <form>

                            {% for plkey, playerout in playersout %}
                                <div class="player-column">
                                    <div class="player-sub-holder">

                                        <div class="out">
                                            <div class="player" data-player-id="{{ playerout.id }}"
                                                 data-kit="{{ playerout.image }}">
                                                <div class="kit"{% if playerout.image %} style="background-image:url('{{ playerout.image }}');"{% endif %}>
                                                    <div class="current-minute fixed">{{ playerout.player_played_to|default(0)}}
                                                        '
                                                    </div>
                                                </div>
                                                <div class="name">{{ playerout.player_name }}</div>
                                                <input type="hidden"
                                                       name="players[{{ plkey }}][fromplayerid]"
                                                       value="{{ playerout.id }}"/>
                                            </div>
                                        </div>

                                        <div class="in">
                                            <div class="player blank slot-1" data-player-id="" data-kit=""
                                                 data-position-id="1">
                                                <div class="kit">
                                                    <div class="current-minute fixed">0'</div>
                                                </div>
                                                <div class="name"></div>
                                                <input type="hidden"
                                                       name="players[{{ plkey }}][toplayerid]"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                    <ul>
                                        {% for positionid,formationchange in formationchanges %}
                                            <div class="player-group inner">
                                                <h4>{{ formationchange.title }}</h4><span
                                                        class="status-position-{{ positionid }}"></span>
                                                <div class="clear"></div>
                                                <ul>
                                                    {% for player in  formationchange.players %}
                                                        <li class="player-container column-{{ plkey }}"
                                                            data-position-id="{{ positionid }}"
                                                            data-column="{{ plkey }}"
                                                            data-player-name="{{ player.player_name }}"
                                                            data-kit-mm="{{ player.image }}"
                                                            data-player-minute="{{ player.player_played_to|default(0) }}'"
                                                            data-player-id="{{ player.id }}">
                                                            <div class="selectable-players">
                                                                <label for="position-{{ positionid }}-{{ player.id}}"
                                                                       style="background-image:url('{{  player.image }}');">
                                                                    {{ player.player_name }}
                                                                </label>
                                                            </div>
                                                            <div class="current-minute">{{ player.player_played_to|default(0) }}
                                                                '
                                                            </div>
                                                            <div class="sub-image"></div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            {#<input type="hidden" name="action" value="confirmFormation"/>#}
                            <input type="hidden" name="formationid" value="{{ newformation[0].formation_id }}"/>
                            <input type="hidden" name="league" value="{{ leagueId|default(0) }}"/>
                            <input type="hidden" name="teamid" value="{{ teamId|default(0) }}"/>
                        </form>
                    {% else %}
                    This player has no valid substitutes to replace him
                    {% endif %}
                </div>
                <div class="clear"></div>
            {% else %}
            There was a problem while performing this request. Please reload the page and try again.
            {% endif %}
        </div>
    </div>
</div>
<script>
    var maxSelections = [];
    {% for positionid,formationchange in formationchanges %}
    maxSelections[{{ positionid }}] = {{ formationchange.changes }};
    {% endfor %}

    $(document).ready(function () {
        $(".player-container").click(function () {
            selectItem($(this));
        });

        $(".player-container label").click(function (e) {
            e.preventDefault();
        });

        function selectItem($element) {

            if ($element.hasClass('disabled-column') ||
                $element.hasClass('disabled-row') ||
                $element.hasClass('disabled-position')) {
                return;
            }
            else {
                var column = $element.data('column');
                var playerID = $element.attr("data-player-id");
                var positionID = $element.attr("data-position-id");

                if (!$element.hasClass('selected')) {

                    var playerName = $element.attr("data-player-name");
                    var playerKit = $element.attr("data-kit-mm");
                    var playerMinute = $element.attr("data-player-minute");

                    $element.addClass('selected');

                    $('.player-container[data-player-id=' + playerID + ']').not($element).addClass("disabled-row");
                    $(".column-" + column).not($element).addClass("disabled-column");

                    if ($('.player-container[data-position-id=' + positionID + '].selected').length == maxSelections[positionID]) {
                        $('.player-container[data-position-id=' + positionID + ']').not($element).not('.selected').addClass("disabled-position");
                    }

                    $in = $element.parents(".player-column").find(".in");

                    $in.find('.player').removeClass('blank');
                    $in.find('.kit').css('background-image', 'url(' + playerKit + ')');
                    $in.find('.current-minute').text(playerMinute);
                    $in.find('.name').text(playerName);
                    $in.find('input').val(playerID);
                } else {
                    $('.player-container[data-player-id=' + playerID + ']').removeClass("disabled-row");
                    $(".column-" + column).removeClass("disabled-column");
                    $('.player-container[data-position-id=' + positionID + ']').removeClass("disabled-position");
                    $element.removeClass('selected');

                    $in = $element.parents(".player-column").find(".in");

                    $in.find('.player').addClass('blank');
                    $in.find('.kit').removeAttr('style');
                    $in.find('.current-minute').text("0'");
                    $in.find('.name').text(' ');
                    $in.find('input').val('');
                }
            }

            if ($('.blank').length == 0) {
                $('.confirmButton').removeClass('gray');
            } else {
                $('.confirmButton').addClass('gray');
            }
        }
    });

    $("#dialog").dialog({
        resizable: false,
        width: 'auto',
        modal: true,
        dialogClass: 'no-close fixed-dialog',
        buttons: {
            {% if leagueId %}
            Back: {
                text: 'Back',
                click: function (e) {
                    e.preventDefault();
                    var action = "{{ asset('/'~app.request.locale~'/live/choosePlayersToRemove') }}";
                    showDialog({
                        formationid: {{ newformation[0].formation_id }},
                        league: {{ leagueId|default(0)}},
                        teamid: {{ teamId|default(0)}} }, action);

                    $(this).dialog("destroy");
                }
            },
            Ok: {
                text: 'Next',
                "class": 'gray confirmButton',
                click: function (e) {
                    e.preventDefault();

                    if ($('.confirmButton').hasClass('gray')) return;
                    var action = "{{ asset('/'~app.request.locale~'/live/confirmFormation') }}";
                    showDialog($('form').serializeArray(),action);

                    $(this).dialog("destroy");
                }
            },
            {% endif %}
            Cancel: {
                text: "{{ 'Cancel' | trans }}",
                'class': 'black',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            }
        }
    }).attr('id', 'dialog');
</script>