<div id="dialog-choose-formation" class="dialog">
	<div class="formations dialog-formation dialog-padding">
		<h3>{{'Remove Saved Team'|trans}}</h3>
		<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close" style="margin-top:-5px">
			<span class="ui-button-icon-primary ui-icon"></span><span class="ui-button-text">close</span>
		</button>
	</div>
	<div class="text">
		<p>{{'Are you sure you want to delete this saved team?'|trans}}</p>
	</div>
</div>
<script>
	var teamid = {{ teamid|default('null') }};
	var isSaved = {{ isSaved|default(1) }};

	$( "#dialog-choose-formation" ).dialog({
		resizable: false,
		width: 500,
		modal: true,
		draggable: false,
		dialogClass: 'dialog-clearTeam',
		buttons: {
			Cancel : {
				text: "{{'Cancel'|trans}}",
				'class': 'cancel-button',
				click: function() {
					$( "#dialog-choose-formation" ).dialog( "destroy" );
					$( this ).hide();
				}
			},
			Ok: {
				text: "{{'Yes'|trans}}",
				click: function(e) {
					e.preventDefault();
					$.ajax({
					  	type: "POST",
					 	url: "{{ asset('/'~app.request.locale~'/saved-teams') }}",
					 	data: {
							action: "deleteSavedTeam",
							teamid: teamid,
							savedTeam: isSaved,
						},
					  	success: function(data, textStatus, jqXHR) {
							$('.saved-team[data-team-id='+teamid+']').remove();
							$( "#dialog-choose-formation" ).dialog( "destroy" );
							$( this ).hide();
					  	},
						error: function(data, textStatus, jqXHR) {
							console.log(data);
						},
					});

				}
			},

		}
	}).attr('id', 'dialog-choose-formation');
	$('.ui-dialog-titlebar-close').click(function(){
		$("#dialog-choose-formation").dialog("destroy");
	});
</script>
