{% set client = "piramit" %}
<div id="dialog-invite-members-to-league" class="dialog">
    <div class="close-invite-dialog"></div>
    <div id="invite-first-step">
        <div class="text block-top"><h3>{{ 'Invite Oulala Members'|trans }}</h3></div>
        <div class="clear"></div>
        <div class="dialog-content-block">
            <div class="step-block">
                <div class="step-circle go-to-first active-step"><span>1</span></div>
                <div class="step-line"></div>
                <div class="step-circle go-to-second"><span>2</span></div>
                <div class="step-line"></div>
                <div class="step-circle go-to-last"><span>3</span></div>
            </div>
            <div class="inner-content-block invite-friends-block">
                <div>{{ 'Insert emails separated by commas'|trans }}</div>
                <div class="invite-friends-block-textarea">
                    <div class="friends-list-inside left"></div>
                    <div class="friends-list-text-inside left">
                        <input type="text" autocomplete="false" autocorrect="off" autocapitalize="off" name="emails"
                               id="invite_friends" placeholder="{{ ''|trans }}"/>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <input type="hidden" name="invitefreindsemails" id="invitefreindsemails"/>
            </div>
        </div>
        <div class="text block-bottom"><input type="button" value="{{ 'Next'|trans }}" class="go-to-second btn right"/>
        </div>
        <div class="clear"></div>
    </div>
    <div id="invite-second-step">
        <div class="text block-top"><h3>{{ 'Leagues selection'|trans }}</h3></div>
        <div class="dialog-content-block">
            <div class="step-block">
                <div class="step-circle go-to-first"><span>1</span></div>
                <div class="step-line"></div>
                <div class="step-circle go-to-second active-step"><span>2</span></div>
                <div class="step-line"></div>
                <div class="step-circle go-to-last"><span>3</span></div>
            </div>
            <div class="inner-content-block">
                {% if (client != "piramit") %}
                <div>{{ 'Select the leagues you want to invite them into'|trans }}</div>
                {% else %}
                    <div>{{ 'People you want to invite' |trans }}</div>
                    <div class="mail-list"></div>
                {% endif %}
                <div style="max-height: 170px;overflow-y: auto;overflow-x: hidden;">
                    {% if (client != "piramit") %}
                    <table class="table searchbox">
                        <thead>
                        <tr>
                            <th class="name vertical-align no-border-right"><a href="#"
                                                                               class="name-sort sort">{{ 'League Name'|trans }} </a>
                            </th>
                            <th class="text-align-right vertical-align"><a href="#"
                                                                           class="entryFee-sort sort">{{ 'Entry Fee' |trans }} </a>
                            </th>
                            <th class="text-align-center vertical-align"><a href="#"
                                                                            class="starts-sort sort">{{ 'Starts'|trans }}
                                    ▲</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for league in available_leagues %}
                            <tr class="player-tooltip player-data text-left">
                                <td title="{{ league.name }}" class="no-border-right">
                                    <div class="ellipsis left">
                                        <div class="ellipsis"><a
                                                    onclick="showLeagueInformation({{ league.leagues_id }}, '{{ league.slug }}', 'info',1,'{{ asset('/'~app.request.locale~'/league/details') }}' )">{{ league.name }}</a>
                                        </div>
                                    </div>
                                    <div class="league-flags right">
                                        {% for league_thumbs in league.nation_thumb %}
                                            <img src="{{ asset('bundles/'~league_thumbs.thumb) }}"
                                                 alt="{{ league_thumbs.league_name }}">
                                        {% endfor %}
                                    </div>
                                </td>
                                <td class="text-right">&euro;{{ league.entryFee|number_format(2) }}</td>
                                <td class="text-right" id="{{ league.leagues_id }}_datetime">
                                    {% if league.timetostart > 0 %}
                                        <span class="right checkbox-td"><input type="checkbox"
                                                                               data-league-id="{{ league.leagues_id }}"
                                                                               name="member_league"
                                                                               class="right"/></span>
                                        <div class="league_today right" style="margin-right:5px;">
                                            <div class="dash seconds_dash right">
                                                <span class="digit"></span>
                                                <span class="digit"></span>
                                            </div>
                                            <div class="dash minutes_dash right">
                                                <span class="digit"></span>
                                                <span class="digit"></span>
                                                <span class="dash_separator">:</span>
                                            </div>
                                            <div class="dash hours_dash right">
                                                <span class="digit"></span>
                                                <span class="digit"></span>
                                                <span class="dash_separator">:</span>
                                            </div>
                                            <div class="dash right">
                                                <span class="dash_separator">-</span>
                                            </div>
                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    startTimer('#{{ league.leagues_id }}_datetime', {{ league.timetostart }});
                                                });
                                            </script>
                                        </div>
                                    {% else %}
                                        <span style="margin-right:5px;">{{ league.fromDate | date("D j M H:i A") }}</span>
                                        <span class="checkbox-td"><input type="checkbox"
                                                                         data-league-id="{{ league.leagues_id }}"
                                                                         name="member_league" class="right"/></span>
                                    {% endif %}

                                </td>
                            </tr>
                        {% else %}
                            <tr class="nothing-found">
                                <td colspan="7" class="error">
                                    <h3>{{ 'There is currently no league available'|trans }}</h3>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="text block-bottom">
            <input type="button" value="{{ 'Cancel'|trans }}" class="btn left cancel-invite cancel-button"/>
            <input type="button" value="{{ 'Invite'|trans }}" class="go-to-last btn right" />
            <div class="clear"></div>
        </div>
    </div>
    <div id="invite-last-step">
        <div class="text block-top"><h3>{{ 'Confirmation'|trans }}</h3></div>
        <div class="dialog-content-block">
            <div class="step-block">
                <div class="step-circle go-to-first"><span>1</span></div>
                <div class="step-line"></div>
                <div class="step-circle go-to-second"><span>2</span></div>
                <div class="step-line"></div>
                <div class="step-circle active-step go-to-last"><span>3</span></div>
            </div>
            <div class="inner-content-block">
                <div class="invited_users_list_block">
                    {% if(client != "piramit") %}
                    {{ 'You invited'|trans }} 
                    <span style="color: #000000; font-family: 'Courier New', Courier, monospace, arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; ">
						<span class="invited_users_list"></span>
					</span>
                    <span style="font-family: 'Titillium Web', Arial, sans-serif; font-weight: 400; line-height: 16px;">{{ 'to join you in the leagues listed below'|trans }}</span>
                    {% endif %}
                </div>
                <div style="max-height: 170px;overflow-y: auto;overflow-x: hidden;">
                    {% if(client != "piramit") %}
                    <table class="table searchbox" id="invite-friends-selected-leagues">
                        <thead>
                        <tr>
                            <th class="name vertical-align no-border-right"><a href="#"
                                                                               class="name-sort sort">{{ 'League Name'|trans }} </a>
                            </th>
                            <th class="text-align-right vertical-align"><a href="#"
                                                                           class="entryFee-sort sort">{{ 'Entry Fee' |trans }} </a>
                            </th>
                            <th class="text-align-center vertical-align"><a href="#"
                                                                            class="starts-sort sort">{{ 'Starts'|trans }}
                                    ▲</a></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    {% endif %}
                </div>
                {% if (client != "piramit") %}
                <div style="margin-bottom: 15px;">{{ 'Once you click "Confirm", these members will receive an email with an invitation'|trans }}</div>
                {% else %}
                    <div class="invite-message"style="margin-bottom: 15px;">{{ 'Your invitation was successfully sent' |trans }}</div>
                {% endif %}
            </div>
        </div>
        <input type="hidden" name="invitefreindsselectedleagues" id="invitefreindsselectedleagues"/>
        <div class="clear"></div>
        <div class="text block-bottom">
            <input type="button" value="{{ 'Back'|trans }}" class="go-to-second btn left cancel-button"/>
            <input type="button" value="{{ 'Confirm'|trans }}" class="submit-invite btn right"/>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $("#dialog-invite-members-to-league").dialog({
        resizable: false,
        height: 480,
        width: 800,
        dialogClass: 'dialog-invite-members-to-league fixed-dialog',
        draggable: false,
        modal: true,
        open: function (event, ui) {
            $('.ui-widget-overlay,.close-invite-dialog,.cancel-invite').bind('click', function () {
                $("#dialog-invite-members-to-league").dialog('close');
            });
        }
    }).attr('id', 'dialog-invite-members-to-league');

    $('#dialog-invite-members-to-league').prev().remove();
    $('#invite-second-step,#invite-last-step').hide();
    var selected_leagues = "";


    $('.go-to-second').click(function () {
        var members = "";
        var inputData = "";
        var validMember = [];
        $(".mail-list").html('');
        var html = '';
        inputData = $(this).parents('#dialog-invite-members-to-league').find('input[name="emails"]').val();
        $('.error-select').remove();
        if (inputData.length > 6) {
            members = inputData.split(',');
            $.each( members, function( i, val  ) {
                if(isValidEmailAddress($.trim(val))) {
                    //Do stuff
                    validMember[i] = $.trim(val);

                    html+='<li>'+val+'</li>';

                }
            });

            if(validMember.length>=1){
                $('#invite-second-step').show();
                $('#invite-first-step').hide();
                $('#invite-last-step').hide();
                $('.error-select').remove();

                $('#dialog-invite-members-to-league').find("input[name='emails']").val("");
                $(".mail-list").append("<ul style='overflow: hidden; margin-top: 10px'>"+html+"</ul>");

                $(document).delegate('.go-to-last', 'click', function () {
                    if(validMember){

                        inviteMember(validMember);
                    }

                });

            } else {
                $('.invite-friends-block-textarea').after('<span class="error-select">{{ "write valid email address"|trans }}</span>');
            }
        } else {
            $('.invite-friends-block-textarea').after('<span class="error-select">{{ "write at least one email"|trans }}</span>');
        }
    });

    {#$('.go-to-second').click(function () {#}
    {#$('.error-select').remove();#}
    {#if ($('#invitefreindsemails').val() != '') {#}
    {#$('#invite-second-step').show();#}
    {#$('#invite-first-step').hide();#}
    {#$('#invite-last-step').hide();#}
    {#$('.error-select').remove();#}
    {#} else {#}
    {#$('.invite-friends-block-textarea').after('<span class="error-select">{{ "Select at least 1 user to invite"|trans }}</span>');#}
    {#}#}
    {#});#}

    $('.go-to-first').click(function () {
        $('#invite-second-step').hide();
        $('#invite-first-step').show();
        $('#invite-last-step').hide();
        $('.error-select').remove();
    });

    $('.go-to-last').click(function () {
        $(".mail-list").html('');
        $('.error-select').remove();

        $('#invite-friends-selected-leagues tbody').html("");
        $('#invite-second-step input[name="member_league"]:checked').each(function () {
            var tr = $(this).closest('tr').clone();
            $('#invite-friends-selected-leagues tbody').append(tr);
            selected_leagues += $(this).attr('data-league-id') + ', ';
        });
        $('#invite-friends-selected-leagues tbody').find('.checkbox-td').remove();
//        $('.invited_users_list').html($('.invited_users_list').html().replace(/,(\s+)?$/, ''));
        //$('#invitefreindsselectedleagues').val(selected_leagues);
        if (selected_leagues != '') {
            $('#invite-second-step').hide();
            $('#invite-first-step').hide();
            $('#invite-last-step').show();
            $('.error-select').remove();
        } else {
            $('#invite-second-step table').before('<span class="error-select">{{ "Select at least 1 league to invite members into"|trans }}</span>');
        }
    });

    var loadingTemplate = '<div class="loading">' +
        '<div>' +
        '<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
        '<p>{{ "Loading. Please Wait..."|trans }}</p>' +
        '</div>' +
        '</div>';

    {#$('.submit-invite').click(function(){#}
    {#var isValid = true;#}
    {#$("#invite-last-step .inner-content-block > div").hide();#}
    {#$("#invite-last-step .inner-content-block").prepend(loadingTemplate);#}
    {#if ( selected_leagues == '' ){#}
    {#$('.error-select').remove();#}
    {#$('#invite-second-step table').before('<span class="error-select">{{ "Select at least 1 league to invite members into"|trans }}</span>');#}
    {#isValid = false;#}
    {#}#}
    {#if (isValid ) {#}
    {#$.ajax({#}
    {#type: "POST",#}
    {#url: '{{ asset("/"~app.request.locale~"/sendLeagueInvitationEmail") }}',#}
    {#data: { users: $('#invitefreindsemails').val(),legues:selected_leagues,emailtext:"" },#}
    {#success: function(result) {#}
    {#var success = 0;#}

    {#/*for( var i=0;i<res.length;i++ ){#}
    {#if( res[i].successful_invites > 0 ){#}
    {#success++;#}
    {#}#}
    {#}*/#}
    {#$("#invite-last-step .inner-content-block > div").show();#}
    {#$("#invite-last-step .inner-content-block").find('.loading').remove();#}

    {#if ( result[0].successful_invites > 0 ){#}
    {#var close = "{{'Close'|trans }}";#}
    {#$('#invite-first-step,#invite-second-step').remove();#}
    {#$('#invite-last-step .dialog-content-block').html('<div style="margin: 80px auto 50px;text-align: center;">'+result[0].emailSucessText+'</div>');#}
    {#$('#invite-last-step .block-bottom').css('text-align','center').html('<input type="button" value="'+close+'" class="success-confirm btn"/>');#}
    {#$('.success-confirm').click(function(){#}
    {#$("#dialog-invite-members-to-league").dialog('close');#}
    {#});#}
    {#}#}

    {#}#}
    {#});#}
    {#}#}
    {#});#}

    function setEmailsToInvite(flag) {
        var emails = "";
        var usernames = "";
        var count = 0;
        var result = [];

//        /*** this condition working for invite member***/
//        if(flag){
//            $('.InF').each(function(){
//                usernames += $(this).attr('data-username')+":";
//                count++;
//            });
//            result['count'] = count;
//            result['usernames'] = usernames;
//            return result;
//        }
//        /*** end this condition working for invite member***/

        $('.InF').each(function () {
            emails += $(this).attr('data-username') + ";";
            usernames += $(this).attr('data-username') + ", ";
        });

        $('.invited_users_list').html(usernames);
        $('#invitefreindsemails').val(emails);
    }

    var regex = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;
    {#$('#invite_friends').keyup(function () {#}
        {#var val = $(this).val();#}

        {#if (val != "" && val != null && val != undefined) {#}
            {#if (regex.test($.trim(val))) {#}
                {#if (val.indexOf(" ") > -1) {#}
                    {#val = $.trim(val);#}
                    {#var invite_friend = "<div class='InF'>" + val + " <span>&#10006;</span></div>";#}
                    {#$('.invite-friends-block-textarea .friends-list-inside').append(invite_friend);#}

                    {#setEmailsToInvite();#}
                    {#$('.InF span').click(function () {#}
                        {#$(this).parent().remove();#}
                        {#setEmailsToInvite();#}
                        {#var new_val = $('#invitefreindsemails').val().replace(val + ';', '');#}
                        {#$('#invitefreindsemails').val(new_val);#}
                    {#});#}
                    {#$('.invite-users-list-block').remove();#}
                    {#$('#invite_friends').val("").focus();#}
                {#}#}
            {#} else {#}
                {#$.ajax({#}
                    {#type: "POST",#}
                    {#url: '{{ asset("/"~app.request.locale~"/searchMembersToFollow") }}',#}
                    {#data: {search: val, invite: true},#}
                    {#success: function (searchresult) {#}
                        {#$('.invite-users-list-block').remove();#}
                        {#var users_list = "<ul class='invite-users-list'>";#}

                        {#for (var i = 0; i < searchresult.length; i++) {#}
                            {#var name = searchresult[i].username;#}

                            {#users_list += "<li data-username='" + searchresult[i].username + "' >" + name + "</li>";#}
                        {#}#}
                        {#users_list += "</ul>";#}
                        {#$('#invite_friends').after("<div class='invite-users-list-block'>" + users_list + "</div>");#}
                        {#$('.invite-users-list li').click(function () {#}
                            {#var user_username = $(this).attr('data-username');#}
                            {#var this_li = $(this).clone();#}

                            {#var invite_friend = "<div class='InF' data-username='" + user_username + "'>" + user_username + " <span>&#10006;</span></div>";#}

                            {#$('.invite-friends-block-textarea .friends-list-inside').append(invite_friend);#}
                            {#setEmailsToInvite();#}
                            {#$('.InF span').click(function () {#}
                                {#$(this).parent().remove();#}
                                {#setEmailsToInvite();#}
                                {#$('#invite_friends').val("").focus();#}
                            {#});#}
                            {#$('.invite-users-list-block').remove();#}
                            {#$('#invite_friends').val("").focus();#}
                        {#});#}
                    {#},#}
                    {#dataType: 'json'#}
                {#});#}
            {#}#}
        {#}#}
    {#});#}
    function inviteMember (members) {
            $.ajax({
                type: "POST",
                url: '{{ asset("/"~app.request.locale~"/inviteMember") }}',
                data: {
                    members: members
                },
                success: function (result) {
                    $('#invite-second-step').hide();
                    $('#invite-first-step').hide();
                    $('#invite-last-step').show();
                    $('.error-select').remove();
                    
                    if(JSON.parse(result)=="Success"){
                        $('.invite-message').text('Your invitation was successfully sent');
                    }else{
                        $('.invite-message').text('Your invitation was not sent');
                    }

                    $('#invite-last-step').find('.block-bottom').css('display', 'none');


                }
            });
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }
</script>
