{% block dialog %}
<div id="dialog" title="{{ leagues.name|default('OuLaLa') }}" class="dialog fixtures_dialog">
	<div class="league-starts">
		<div id="dialog-league-countdown{{leagues.leagues_id|default(0)}}" class="time inline next_league">
			{% if (leagues.timetostart is defined ) and ( leagues.timetostart > 0 ) %}
				<div class="inline next_league">
					{{'Starts In'|trans}}: 
				</div>
				<div class="dash days_dash inline">
					<span class="digit"></span>
					<span class="digit"></span>&nbsp;
					<span class="description">{{'Dys'|trans}}</span>
					<span class="dash_separator"></span>
				</div>
				<div class="dash hours_dash inline">
					<span class="digit"></span>
					<span class="digit"></span>&nbsp;
					<span class="description">{{'Hrs'|trans}}</span>
					<span class="dash_separator"></span>
				</div>
				<div class="dash minutes_dash inline">
					<span class="digit"></span>
					<span class="digit"></span>&nbsp;
					<span class="description">{{'Min'|trans}}</span>
					<span class="dash_separator"></span>
				</div>
				<div class="dash seconds_dash inline">
					<span class="digit"></span>
					<span class="digit"></span>&nbsp;
					<span class="description">{{'Sec'|trans}}</span>
				</div>
				<div class="clear"></div>

				<script type="text/javascript">
					$(document).ready(function () {
						startTimer('#dialog-league-countdown{{leagues.leagues_id}}',{{ leagues.timetostart|default(0) }});
					});
				</script>
			{% else %}
				{{ leagues.fromDate | date("l,F d Y") }}
			{% endif %}
		</div>
	</div>
	<div class="clear"></div>
	<div class="entries-and-prizes">
		<div class="inline">
			<div class="orange">{{'Entry Fee'|trans}}</div>
			<div><span>&euro;{{ leagues.entryFee|default(0)|number_format(2) }}</span></div>
		</div>
		<div class="inline">
			<div class="orange">{{'Entries'|trans}}</div>
			<div><span>{{ leagues.entry|default(0) }}/{{ leagues.maxParticipants|default(0) }}</span></div>
		</div>
		<div class="inline">
			<div class="orange">{{'Prizes'|trans}}</div>
			<div><span >&euro;
					{#{{ leagues.gprize }}#}
                    {% if leagues.is_gprize_fixed=='0' %}
                        {{ (leagues.prize+leagues.gprize)|number_format(2) }}
                    {% else %}
                        {{ leagues.gprize|number_format(2) }}
                    {% endif %}
					{#{{ leagues.prize|default(0)|number_format(2) }}#}
				</span></div>
		</div>
		<div class="clear"></div>
	</div>
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs navtabclass" role="tablist">
			<li role="presentation" {% if( activetab == 'info' ) %} class="active" {% endif %}><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{{'Info'|trans}}</a></li>
			<li role="presentation" {% if( activetab == 'entries' ) %} class="active" {% endif %}><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab">{{'Participants'|trans}}</a></li>
			<li role="presentation" {% if( activetab == 'prizes' ) %} class="active" {% endif %}><a href="#prizes" aria-controls="prizes" role="tab" data-toggle="tab">{{'Prizes'|trans}}</a></li>
		</ul>
	<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane {% if( activetab == 'info' ) %} active{% endif %}" id="info">
				<div class="table-custom">
					{#<div class="heading">
						<div class="time left">{{'Time'|trans}}</div>
						<div class="fixture left">{{'Fixtures'|trans}}</div>
						<div class="league left">{{'League'|trans}}</div>
						<div class="matchday left">{{'Day'|trans}}</div>
						<div class="clear"></div>
					</div>#}
					<div>
						{% for key,matcheDate in matcheDates %}
							{#<div class="sub-heading {% if matcheDate.disabled == 1 %}disabled-match{% endif %}" data-datesection="{{key}}">
								<span class="arrow orange"></span>&nbsp;&nbsp;{{ matcheDate.league_dates|date("l,F d Y") }}{% if matcheDate.disabled == 1 %} - <span class="disabled-notice">{{'Players chosen from these matches will be given zero points'|trans}}</span>{% endif %}
							</div>#}
							{% for match in matches %}
								{% set dates= match.date | date("Y-m-d") %}
								{%  if dates== matcheDate.league_dates %}
									<div class="match match-{{key}}{% if loop.index0 is odd %} odd{% endif %}{% if match.disabled == 1 %} disabled-match{% endif %}">
										<div class="league left">
											 <div class="league-image left"{%if match.nation_thumb %}style="background-image:url('{{ asset('bundles/'~match.nation_thumb) }}')"{% endif %}>{{ match.league_name }}</div>
										</div>
										<div class="fixture-match-block left">
											<div class="home left"{% if match.home_image %} style="background-image:url('{{ match.home_image }}');background-size:23px;"{% endif %}>{{ match.home_name }}</div>
											<div class="score score-home left">{{ match.home_goals }}</div>
											<div class="versus left">
												{% if (match.home_goals) and (match.away_goals) %}
													-
												{% else %}
													vs
												{% endif %}
											</div>
											<div class="score score-away left">{{ match.away_goals }}</div>
											<div class="away left"{% if match.away_image %} style="background-image:url('{{ match.away_image }}');background-size:23px;"{% endif %}>{{ match.away_name }}</div>
										</div>
										<div class="date right">{{ match.date|date("H:i") }}</div>
										<div class="clear"></div>
									</div>
								{% endif %}
							{% endfor %}
						
						{% endfor %}
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane {% if( activetab == 'entries' ) %} active{% endif %}" id="entries">
				<div class="dialog-users-search">
					<span>{{'Search users'|trans}}</span>
					<input type="text" name="username" id="search-participants">
				</div>	
				<div class="dialog-users-table">
					<table border="1">
						<thead>
							<tr>
								<th>{{ 'level'|trans }}</th>
								<th>{{ 'user name'|trans }}</th>
								<th>{{ 'team name'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
							<tr>
								<td class="text-center">
									{% if user.memberexperience is defined %}
										<span class="fa fa-{{ user.memberexperience }}"></span>
									{% endif %}
									{% if user.membertrophy %}
										<span class="fa fa-trophy"></span>
									{% endif %}
								</td>
								<td><a class="username" href="{{ asset('/'~app.request.locale~'/profile/'~user.user_name) }}">{{ user.user_name }}</a></td>
								<td>{{ user.team_name }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane {% if( activetab == 'prizes' ) %} active{% endif %}" id="prizes">
				<div class="prizes-dialog {{ rewardOption.css_class }}">
					{{ rewardOption.title | trans}}
					{% if rewardOption.fk_member_league_template_id == 2 %}
						{% for winningoption in rewardOptionWinnings %}
							<span class="top3-{{ winningoption.rank }}">&euro;{{ winningoption.winnings|number_format(2) }}</span>
						{% endfor %}
					{% endif %}
					<div class="img"></div>
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		var joinlink = "{{ leagues.slug }}";

		$(".sub-heading").click(function () {
			var datesection = $(this).data('datesection');
			$('.match-' + datesection).stop().slideToggle('fast');
		});
		
		$('#search-participants').keyup(function(){
			var val = $(this).val();
			if ( val != null && val != undefined ){
				$.ajax({
					type: "POST",
					url: '{{ asset("/"~app.request.locale~"/league/details") }}',
					data: { search: val,leagueId:{{ leagues.leagues_id }} },
					success: function(searchresult) {

						var output="";
						if ( searchresult.length > 0 ){
							for( i=0;i< searchresult.length;i++  ) {
								output+="<tr>";
									output+='<td class="text-center">';
										output+='<span class="fa fa-'+searchresult[i].memberexperience+'"></span>';
										if ( searchresult[i].membertrophy != 0 ) {
											output+='<span class="fa fa-trophy"></span>';
										}
									output+='</td>';
									var href = "{{ asset('/'~app.request.locale~'/profile/') }}";
									output+='<td><a class="username" href="'+href+searchresult[i].user_name+'">'+searchresult[i].user_name +'</a></td>';
									output+='<td>'+searchresult[i].team_name +'</td>';
								output+='</tr>';
							}	
						}
						$('.dialog-users-table table tbody').html(output);
					},
					dataType: 'json'
				});
			}
		});

		{% if showJoinButton == '1' %}
			var buttons = {
				Join: {
					text: "{{'Join league'|trans}}",
					class: "wide-button",
					click: function (e) {
						e.preventDefault();
						location.href = "{{ asset('/'~app.request.locale~'/squads/create/'~leagues.leagues_id) }}";
					}
				}
			}
		{% else %}
			var buttons = [];
		{% endif %}

		$( "#dialog" ).dialog({
			resizable: false,
			width: 755,
			height: 550,
			modal: true,
			dialogClass: 'no-close fixed-dialog league-fixture',
			buttons: buttons,
			open: function(event, ui) {
				$('.ui-widget-overlay').bind('click', function(){
					$("#dialog").dialog('close');
				});
			}
		}).attr('id', 'dialog');
		$('.ui-dialog-titlebar-close').click(function(){
			$("#dialog").dialog("destroy");
		});
	</script>
{% endblock %}		