<div id="dialog-join-leagues" class="dialog">
	<div class="formations dialog-formation dialog-padding">
		<h3>{{'Join league'|trans}}</h3>
		<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close">
			<span class="ui-button-icon-primary ui-icon"></span><span class="ui-button-text">close</span>
		</button>
	</div>
	<div class="text">
		<p>
		{{'Are you sure that you want to enter %selectedleaguecount% leagues with your saved team "%savedteamname%"  for total entry fee of %leagueentryfee%'|trans({'%selectedleaguecount%':selectedleaguecount,'%savedteamname%':savedteamname,'%leagueentryfee%':leagueentryfee|number_format(2)}) }}
		 </p>
	</div>
</div>
<script>
	var joinleagueclicked = false;
	var memberleagueids = '{{ memberleagueids|default(0) }}';
	var teamid = {{ teamid|default(0) }};
	var serverUrl = "{{ serverurl }}";
	var loadingTemplate = '<div class="loading">'+
		'<div>'+
			'<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>'+
			'<p>{{"Loading. Please Wait..."|trans}}</p>'+
		'</div>'+
	'</div>';

	$("#dialog-join-leagues").dialog({
		resizable: false,
		width: 500,
		modal: true,
		dialogClass: 'dialog-clearTeam',
		buttons: {
			Cancel : {
				text: "{{'Cancel'|trans}}",
				'class': 'text-center cancel-button',
				click: function() {
					$( this ).dialog( "destroy" );
					closeAllDialogs();
				}
			},
			Ok: {
				text: "{{'Join league'|trans}}",
				click: function (e) {
					$('#dialog-join-leagues .text').html(loadingTemplate);
					e.preventDefault();
					joinleagueclicked = true;
					 $.post(serverUrl, {
						action: 'joinLeague',
						leagueids: memberleagueids,
						teamid: teamid,
						savedTeam:true,
						 totalCount:{{ selectedleaguecount }}
					},
					function (response) {
						/*  Hide old messages */
						var locale= '{{ app.request.locale }}';
                        if (JSON.parse(response) ['errors'] ) {
                            var errors=JSON.parse(response)['errors'];
                            if(typeof(errors)==="object"){
                                var error=errors['errors'];
							}else{
                                var error=errors;
							}
                            // $('#dialog-join-leagues .text').html(error );
                            var url = window.location.hostname;
                            window.location.replace(window.location.protocol + "//"+ url +"/"+locale+JSON.parse(response)['url']+{{ random() }});

                        } else {
                            $(e.target).parent().remove();
                            $('#dialog-join-leagues .text').html("You have successfully joined to selected leagues!");
                            deselectLeagues();
                            var url = window.location.hostname;
                            window.location.replace(window.location.protocol + "//"+ url +"/"+locale+ JSON.parse(response) ['url']);
                        }
					});
				}
			},

		},
		beforeClose: function () {
			$(this).dialog("destroy");
			$(this).hide();
		}
	}).attr('id', 'dialog-join-leagues');
	$('.ui-dialog-titlebar-close').click(function(){
		$("#dialog-join-leagues").dialog("destroy");

	});

	function deselectLeagues(){
		$('.league-available-selected .leagues_count').html(0);
		$('.league-available-selected .leagues_fee').html(0);
		$('#selected-leagues').val("");
		$('#selected-leagues-entry-fee').val("");
		$('.league-available-header-join #leagues-create-button').removeClass('active');
		$('.availableLeaguesSearchResults table.available-for-saved-teams tr.active-selected').each(function(){
			$(this).find('input').val(0);
			$(this).removeClass('active-selected');
		});
	}
</script>
