<div class="chat-dialog dialog" title="{{ 'Reply'|trans }}" id="chat-dialog">
    <div class="top">
        {{ 'Enter your reply here'|trans }}
    </div>
    <div class="reply-content">
        <textarea id="replyBox" placeholder="{{ 'Enter the text for your message here'|trans }}" rows="7"></textarea>
    </div>
</div>
<script>
    $( "#chat-dialog" ).dialog({
        resizable: false,
        height: 350,
        width: 500,
        modal: true,
        dialogClass: 'no-close fixed-dialog chat-reply-dialog',
        buttons: {
            Ok: {
                text: "{{ 'Reply'|trans }}",
                id: 'ok-button',
                click: function(e) {
                    $('#ok-button').prop('disabled', true);
                    $('.circle-chat').html(loadingTemplate);
                    e.preventDefault();

                    $.post("{{ asset('/'~app.request.locale~'/chat/postLeagueReply') }}",{
                        item_parent_id : {{ id }},
                        item_text : $('#replyBox').val(),
                        member_league_id: {{ member_league_id }},
                        p:{{ currentpage }},
                        is_league_member: {{ isLeagueMember }},
                        limit: {{ limit }}
                    },
					function(response) {
						$('.circle-chat-container').html(response);
						validateCircleChatMessageBox();
						generateReadMore();
					}, 'html');
                    $( this ).dialog( "destroy" );
                    $( this ).hide();
                }
            },
            Cancel : {
                text: "{{ 'Cancel'|trans }}",
                "class": 'cancel-button',
                click: function() {
                    $( this ).dialog( "destroy" );
                    $( this ).hide();
                }
            }
        }
    }).attr('id', 'chat-dialog');

    $('#ok-button .ui-button-text').html("{{ 'Reply'|trans }}");
    $('#ok-button').addClass("gray");
    $('#ok-button').attr("disabled", "true");

    $('#replyBox').keyup(function(event) {
        validate();
    });

    function validate() {
        if ( ($.trim($("#replyBox").val()).length == 0)) {
            $('#ok-button').addClass("gray");
            $('#ok-button').attr("disabled", "true");
        }
        else {
            $('#ok-button').removeClass("gray");
            $('#ok-button').removeAttr("disabled", "true");
        }
    }

</script>
