<div id="dialog-choose-formation" class="dialog">
	<div class="formations dialog-formation dialog-padding">
		<h3>{{'Clear Team'|trans}}</h3>
		<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close">
			<span class="ui-button-icon-primary"></span>
			<span class="ui-button-text">close</span>
		</button>
	</div>
	<div class="text">
		<p>{{'Are you sure you want to clear your team? Don not come whining about it afterwards'|trans}}...</p>
	</div>
</div>
<script>
	var memberleagueid = '{{ leagueId|default(0) }}';
	var teamid = {{ teamid|default('null') }};
	var isSaved = {{ isSaved|default(0) }};
	var currentteamid = {{ currentteamid|default('null') }};
	var days = $('input[name="days"]').val();
	var matches = $('input[name="matches"]').val();
	var leagues = $("select#league-list option").map(function() {
		return $(this).val();
	}).get().join(",");
    var route = 'squad';

    if (isSaved!=0) {

        route = 'savedsquad';
    }
	$( "#dialog-choose-formation" ).dialog({
		resizable: false,
		width: 500,
		modal: true,
		dialogClass: 'dialog-clearTeam',
		buttons: {
			Cancel : {
				text: "{{'Cancel'|trans}}",
				'class': 'text-center cancel-button',
				click: function() {
					$( this ).dialog( "destroy" );
					closeAllDialogs();
				}
			},
			Ok: {
				text: "{{'Clear'|trans}}",
				click: function(e) {
					e.preventDefault();

					performAction(route + "/clearTeam",{
						formation: $("#formations").val(),
						leagueid: memberleagueid,
						teamid: teamid,
						savedTeam: isSaved,
						currentteamid:currentteamid,
						loadingteam:loadingteam,
						days:days,
						matches:matches,
						league:leagues,
					});
					$( this ).dialog( "destroy" );
					closeAllDialogs();
					$( this ).dialog( "destroy" );
				}
			},

		}
	}).attr('id', 'dialog-choose-formation');
	$('.ui-dialog-titlebar-close').click(function(){
		$("#dialog-choose-formation").dialog("destroy");
	});
</script>
