{% block dialog %}
<div id="dialog-choose-formation" class="dialog">
	<div class="formations dialog-formation dialog-padding">
		<h3>{{'Join league'|trans}}</h3>
		<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close">
			<span class="ui-button-icon-primary ui-icon"></span>
		</button>
	</div>
	<div class="text">
		<p>{{'You are about to join league "%name%" for %entryfee%.'|trans({'%name%': league.league_name, '%entryfee%': league.entryFee|number_format(2) }, "messages")}} &euro;
			{{ 'Do you want to continue?'|trans }}</p>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		var joinleagueclicked = false;
		var memberleagueid = '{{ leagueId|default(0) }}';
		var teamid = {{ teamid|default('null') }};
		var isSaved = {{ isSaved|default(0) }};
		var loadingteam = {{loadingteam|default(0)}};
		var formation = {{ formation|default(0) }};
		var days = $('input[name="days"]').val();
		var matches = $('input[name="matches"]').val();
		var leagues = $("select#league-list option").map(function() {
			return $(this).val();
		}).get().join(",");
		var loadingTemplate = '<div class="loading">'+
			'<div>'+
				'<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>'+
				'<p>{{ "Loading. Please Wait..."|trans}}</p>'+
			'</div>'+
		'</div>';	

		$("#dialog-choose-formation").dialog({
			resizable: false,
			width: 550,
			modal: true,
			dialogClass: 'fixed-dialog confirmjoinleague',
			buttons: {
				Cancel: {
					text: "{{'Cancel'|trans}}",
					'class': 'black',
					click: function () {
						$(this).dialog("destroy");
						$(this).hide();
					}
				},
				Ok: {
					text: "{{'Join'|trans}}",
					id : "continueButton",
					click: function (e) {
						e.preventDefault();
						joinleagueclicked = true;
						var serverurl="{{ asset('/'~app.request.locale~'/squad/joinLeague') }}";
//						$('#team-builder-field,.subs-container').html(loadingTemplate);
						$('#continueButton').attr("disabled", true);
						$.post(serverurl, {
								formation: $("#formations").val(),
								leagueid: memberleagueid,
								teamid: teamid,
								savedTeam: isSaved,
								currentteamid:currentteamid,
								loadingteam:loadingteam,
								days:days,
								matches:matches,
								league:leagues,
								totalCount:{{ totalCount|default(1) }},
								entryFee:{{league.entryFee|default(0)}},
								name:$('#teamname').val()
							},
							function (response) {
								{% if loadTeam %}
                                var redirect = "{{ asset('/'~app.request.locale~'/join-with-saved-team/')~loadTeam }}";
								{% else %}
                                var redirect = "{{ asset('/'~app.request.locale~'/squads-list/upcoming') }}";
                                {% endif %}
								if ( response == 'success' ){
									var url = window.location.hostname;
									window.location.replace(window.location.protocol + "//"+ url + redirect);
									$(this).dialog("destroy");
								}else{
									var response = $.parseJSON(response);
									if ( response.errors ){
										html = "{{'Error'|trans}} : "+response.errors.errors;
									}
									$('#dialog-choose-formation .text').html(html);
								}	
								
							});
						
						
					}
				},
			
			},
		}).attr('id', 'dialog-choose-formation');
		$('.ui-dialog-titlebar-close').click(function(){
			$("#dialog-choose-formation").dialog("destroy");
		});
	</script>
{% endblock %}	