<div id="dialog">
    <div id="dialog-confirm-formation" class="dialog">
        <div class="step-count">
            <div class="counter counter-4"></div>
            <div class="steps"><span>Step 4/4</span>Confirm</div>
            <div class="clear"></div>
        </div>
        <div class="dialog-padding dialog-white">
            <h3>Confirm your choices</h3>
            {% if leagueId %}
                {% if formationschanges %}
                    <form>

                        {% for plkey,formationchanges in formationschanges %}
                            <div class="confirmation">
                                <div class="kits">

                                    <div class="out">
                                        <div class="player">
                                            <div class="kit" {% if formationchanges.fromplayerid.image is defined %} style="background-image: url({{ formationchanges.fromplayerid.image }});"{% endif %}></div>
                                            <div class="name">{{ formationchanges.fromplayerid.player_name }}</div>
                                        </div>
                                    </div>

                                    <div class="in">
                                        <div class="player">
                                            <div class="kit" {% if formationchanges.toplayerid.image is defined %} style="background-image: url({{ formationchanges.toplayerid.image }});"{% endif %}></div>
                                            <div class="name">{{ formationchanges.toplayerid.player_name }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">

                                    <p>You have chosen to substitute <span
                                                class="orange">{{ formationchanges.fromplayerid.player_name }} </span>
                                        for
                                        <span class="orange">{{ formationchanges.toplayerid.player_name }}</span>at the
                                        <span class="orange">45</span> minute</p>
                                </div>
                                <input type="hidden" name="players[{{ plkey }}][fromplayerid]"
                                       value="{{ formationchanges.fromplayerid.id }}"/>
                                <input type="hidden" name="players[{{ plkey }}][toplayerid]"
                                       value="{{ formationchanges.toplayerid.id }}"/>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="league" value="{{ leagueId|default(0) }}"/>
                        <input type="hidden" name="teamid" value="{{ teamId|default(0) }}"/>
                        <input type="hidden" name="formationid" value="{{ newformation[0].formation_id }}"/>
                        <input type="hidden" name="action" value="completeFormationChange"/>
                    </form>
                    <div class="clear"></div>
                {% else %}
                    The game of the player you are trying to replace is over. If it is not the case, please contact us at contact@oulala.com.
                {% endif %}
            {% else %}
                There was a problem while performing this request. Please reload the page and try again.
            {% endif %}
        </div>
    </div>
</div>
<script>
    $("#dialog").dialog({
        resizable: false,
        width: 640,
        modal: true,
        dialogClass: 'no-close fixed-dialog',
        buttons: {
            {% if leagueId %}
            Back: {
                text: 'Back',
                click: function (e) {
                    e.preventDefault();
                    var action = "{{ asset('/'~app.request.locale~'/live/assignChooseSubstitutes') }}";
                    {% set players='' %}
                    {% for player in formationschanges %}
                    {% set playersList=player.fromplayerid.id %}
                    {% set players=playersList|join(',') %}
                    {% endfor %}
                    showDialog({
                        formationid: {{ newformation[0].formation_id }},
                        league: {{ leagueId|default(0) }},
                        teamid: {{ teamId|default(0) }},
                        players: [ {{ players }} ]
                    }, action);

                    $(this).dialog("destroy");
                }
            },
            Ok: {
                text: 'Confirm',
                click: function (e) {
                    e.preventDefault();
                    var action = "{{ asset('/'~app.request.locale~'/live/completeFormationChange') }}";
                    showDialog($('form').serializeArray(), action);

                    $(this).dialog("destroy");
                }
            },
            {% endif %}
            Cancel: {
                text: "{{ 'Cancel' | trans }}",
                'class': 'black',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            }
        }
    }).attr('id', 'dialog');
</script>