<div id="dialog">
    <div id="dialog-choose-formation" class="dialog">
        <div class="step-count">
            <div class="counter counter-1"></div>
            <div class="steps"><span>STEP  1/4</span>CHOOSE A FORMATION</div>
            <div class="clear"></div>
        </div>
        <div class="formations dialog-formation dialog-padding dialog-white">
            {% if leagueId is defined %}
                <div class="text">
                    <h3>CURRENT FORMATION : : {{ formation.title }}</h3>
                    <p>Please choose the new formation you want to change to</p>
                </div>
                <ul>
                    {% for form in formations %}
                        {% if formation.formation_id != form.formation_id %}
                            <li>
                                <div class="formation" data-formation-id="{{ form.formation_id }}">
                                    <div class="pitch">
                                        <div class="pitch-formation formation-{{ form.formation_id }}"></div>
                                    </div>
                                    <div class="name">{{ form.title }}</div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <div class="clear"></div>
                </ul>
                <input type="hidden" id="fromformationid" value="0"/>
                <input type="hidden" id="selectedformationid" value="0"/>
            {% else %}
                There was a problem while performing this request. Please reload the page and try again.
            {% endif %}
        </div>
    </div>
</div>
<script>

    $('#dialog-choose-formation .formation').click(function () {
        if (!$(this).hasClass('disabled')) {

            $("#selectedformationid").val($(this).data("formation-id"));

            var self = this;

            $('#dialog-choose-formation .formation').not($(this)).switchClass('', 'unavailable', 300, "linear", function () {
                $(self).removeClass('unavailable');
            });

            $('#dialog-choose-formation .formation').removeClass('available');
            $(this).addClass("available");
            $('.confirmButton').removeClass('gray');

        }
    });

    $("#dialog").dialog({
        resizable: false,
        width: 640,
        modal: true,
        dialogClass: 'no-close fixed-dialog',
        buttons: {
            {% if leagueId is defined %}
            Ok: {
                text: 'Next',
                "class": 'gray confirmButton',
                click: function (e) {
                    e.preventDefault();

                    if ($('.available').length == 0) return;
                    var memberleagueid = "{{ leagueId | default(0) }}";
                    var teamid = "{{ teamId | default(0) }}";
                    var formationid = $('.available').data('formation-id');
                    var action = "{{ asset('/'~app.request.locale~'/live/choosePlayersToRemove') }}";

                    showDialog({formationid: formationid, league: memberleagueid, teamid: teamid}, action);

                    $(this).dialog("destroy");
                }
            },
            {% endif %}
            Cancel: {
                text: "{{ 'Cancel' | trans }}",
                "class": 'black',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            }
        }
    }).attr('id', 'dialog');

</script>