{% block dialog %}
<div id="dialog" title="Fixtures" class="dialog">
	{% if availableMatches %}
	<div class="table-custom">
		<div class="heading">
			<div class="time left">{{'Time'|trans}}</div>
			<div class="fixture left">{{'Fixture'|trans}}</div>
			<div class="league left">{{'League'|trans}}</div>
			<div class="matchday left">{{'Day'|trans}}</div>
			<div class="clear"></div>
		</div>
		<span class="clear"></span>
		<div class="matches-container">
		{% set matchday = 0 %}
		{% set datesection = 0 %}
		{% for key,matcheDate in availableMatches %}
			{% for match in matcheDate %}
				{% if matchday != match.date %}
				<div class="sub-heading {% if match.disabled == 1 %}disabled-match{% endif %}" data-datesection="{{key}}">
					<span class="arrow orange"></span>&nbsp;&nbsp;{{ match.league_dates|date("l,F d Y") }}{% if match.disabled == 1 %} - <span class="disabled-notice">{{'Players chosen from these matches will be given zero points'|trans}}</span>{% endif %}
				</div>
				{% set matchday = match.date %}
				{% endif %}
				<div class="match match-{{key}}{% if loop.index0 is odd %} odd{% endif %}{% if match.disabled == 1 %} disabled-match{% endif %}">
					<div class="date left">{{ match.date|date("H:i") }}</div>
					<div class="home left"  style="{% if match.home_image %}background-image:url('{{ match.home_image }}');background-size:23px;{% endif %}padding-right: 30px;">{{ match.home_name }}</div>
					
					<div class="versus left">
						{% if (match.home_goals) and (match.away_goals) %}
							-
						{% else %}
							vs
						{% endif %}
					</div>
					<div class="away left" style="{% if match.away_image %}background-image:url('{{ match.away_image }}');background-size:23px;{% endif %}padding-left: 30px;">{{ match.away_name }}</div>
					<div class="league left">
						 <div class="league-image left"{%if match.nation_thumb %}style="background-image:url('{{ asset('bundles/'~match.nation_thumb) }}')"{% endif %}>{{ match.league_name }}</div>
					</div>
					<div class="matchday left">{{ match.matchday }}</div>
					<span class="clear"></span>
				</div>
			{% endfor %}
	
		{% endfor %}
		</div>
	{% else %}
		<div class="no-matches">
			{{'No matches available, please select a different date'|trans}}
		</div>
	{% endif %}
</div>
{% endblock %}	
<script type="text/javascript">
	var days = "";
	var matches = "";
	var leagues = "";
	{% for key,matcheDate in availableMatches %}
		{% for match in matcheDate %}
			days +="{{ match.matchday }},";
			matches +="{{ match.match_id }},";
			leagues += "{{ match.league_id }},";
		{% endfor %}
	{% endfor %}
    $(document).ready(function() {
    	
      $("#selected-league-ids").val(leagues);
      $("#selected-league-days").val(days);
      $("#selected-league-matches").val(matches);

        $(".match-selector input[type=checkbox]").click( function(e) {
            e.stopPropagation();
            //If the tab is closed then open it
            var header = $( this ).parents("#accordion .accordion-header");
            var panel = header.next();
            var isOpen = panel.is(':visible');

            if ($( this ).is(':checked')) {
                //currently not checked
                //setting to checked
                if (!isOpen) {
                    //if the panel is closed and the check box went to checked from unchecked then open the panel
                    header.trigger( "click" );
                }
                //set child check boxes to checked
                panel.find("input[type=checkbox]").each(function() {
                    $( this ).attr("checked", true);
                    var matchid = $( this ).data('matchid');
                    obj = JSON.parse($("#matches").val());
                    obj.push(matchid);

                    $("#matches").val(JSON.stringify(obj));
                });

            } else {
                //currently checked
                //setting to unchecked
                if (!isOpen) {
                    //if the panel is closed and the check box went to checked from unchecked then open the panel
                    header.trigger( "click" );
                }

                //set child check boxes to unchecked
                panel.find("input[type=checkbox]").each(function() {
                    $( this ).attr("checked", false);
                    var matchid = $( this ).data('matchid');
                    console.log(matchid);
                    obj = JSON.parse($("#matches").val());

                    for(var i=0;i<obj.length;i++) {
                        if (obj[i] == matchid) {
                            obj.splice(i,1);
                            break;
                        }
                    }

                    $("#matches").val(JSON.stringify(obj));
                });
            }
        });

        //checking to see if all matches have been un selected
        //if so then the header check box needs to be set to unchecked
        $( ".ui-accordion-content input[type=checkbox]" ).click(function() {
            var id = "#leagueid-"+$( this ).data("leagueid");
            var panel = $(id).next();
            var actionReq = true;
            if ( $( this ).is(':checked') ) {
                //user selected a match
                //set the header check box to checked
                if (actionReq) {
                    $(id).find("input[type=checkbox]").attr("checked", true);
                }

            } else {
                //user unselected a match
                //check whether all other matches are not selected
                panel.find( "input[type=checkbox]").each(function() {
                    if ($( this ).is(':checked')) { actionReq = false } else {  }
                });
                if (actionReq) {
                    $(id).find("input[type=checkbox]").attr("checked", false);
                }
            }
        });

        /* handles the selection of matches for individual check boxes*/
        $(".match-selector").on( "click" , function() {

            var matchid = $( this ).data("matchid");
            if ($( this ).is(':checked')) {
                obj = JSON.parse($("#matches").val());
                obj.push(matchid);

                $("#matches").val(JSON.stringify(obj));
            } else {
                
                obj = JSON.parse($("#matches").val());
                for(var i=0;i<obj.length;i++) {
                    if (obj[i] == matchid) { break; }
                }
                obj.splice(i,1);

                $("#matches").val(JSON.stringify(obj));
            }
        });
        
	$("#dialog").dialog({
		resizable: false,
		width: 655,
		modal: true,
		dialogClass: 'black-dialog fixed-dialog league-fixture',
		buttons: false,
		beforeClose: function () {
			$(this).dialog("destroy");
			$(this).hide();
		}
	}).attr('id', 'dialog');
	$('.ui-dialog-titlebar-close').click(function(){
		$("#dialog").dialog("destroy");
	});
	
	$(".sub-heading").click(function () {
		var datesection = $(this).data('datesection');
		$('.match-' + datesection).stop().slideToggle('fast');
	});
});
</script>	