<div id="dialog-error" class="dialog" title="{{ 'ERROR' | trans }}">
	<div class="text dialog-padding">
		{% for error in errors %}
			<p>{{ error }}</p>
		{% endfor %}
	</div>
</div>
<script type="text/javascript">
	closeAllDialogs();
	$( "#dialog-error" ).dialog({
		resizable: false,
		width: 500,
		modal: true,
		draggable: false,
		dialogClass: 'fixed-dialog ',
		buttons: {
            Cancel: {
                text: '{{ "Cancel"|trans }}',
                'class': 'cancel-button',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            }
        },
		open: function(event, ui) {
			$('.ui-widget-overlay').bind('click', function(){
				$("#dialog-error").dialog('close');
			});
		}
	}).attr('id', 'dialog-error');
	$('.ui-dialog-titlebar-close').click(function(){
		$("#dialog-error").dialog("destroy");
	});
</script>
