 <div class="container white-container">
	<div class="team-builder-details">
		<h1>{{ 'In Play'|trans}} {% if league|length > 0 %} : {{ league.league_name }}{% endif %}</h1>
		{% if shareFb==1  %}
		<ul class="social-media-team-fb">
            {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}

			<li class="team-share-fb"></li>
		</ul>
		{% endif %}
	</div>
	<div class="container  custom-margin team-builder-details league-details">
		<div class="text left">
			<span class="title">{{ 'Entries'|trans}}:</span>
			<span>
				<a onclick="showLeagueInformation({{ league.league_id|default(0) }}, '{{ league.slug|default(0) }}', 'entries',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">{{ league.entry|default(0) }}</a>{% if league.maxParticipants|default(0) > 0 %} / {{ league.maxParticipants|default(0) }}{% endif %}
			</span>
		</div>

		<div class="text left">
			<span class="title">{{ 'Entry Fee'|trans }}:</span>
			<span>
				 &euro;{{ league.entryFee|default(0)|number_format(2) }}
			</span>
		</div>

		<div class="text left">
			<span class="title">{{ 'Prizes'|trans}}:</span>
			<span>
				 <a onclick="showLeagueInformation({{ league.league_id|default(0) }}, '{{ league.slug|default(0) }}', 'prizes',0,'{{ asset('/'~app.request.locale~'/league/details') }}')">
					 &euro;
                     {% if league.is_gprize_fixed=='0' %}
                         {{ (league.prize+league.gprize)|number_format(2) }}
                     {% else %}
                         {{ league.gprize|number_format(2) }}
                     {% endif %}
				 </a>
			</span>
		</div>
	</div>
</div>
<div class="page-container gamedetails">
	<div class="container">
		<div class="text left right-padding left-padding" id="team-details-formation">
			<span class="title">{{ 'Formation'|trans }}</span>
			<span class="value left">
				{{ teamdetails.formation_name }}
			</span><a id="changeFormation" onclick="changeFormation();" data-help-content="help-change-formation" class="btn-action-3 btn-edit left"></a>
			<div class="clear"></div>
		</div>
		<div class="text left right-padding border-left left-padding">
			<span class="title">{{ 'Team Name'|trans }}</span>
			<span class="teamname value">{{ teamdetails.name }}</span>
		</div>
		<div class="text left border-left left-padding right-padding" id="team-details-score">
			<span class="title">{{ 'Score'|trans }}</span>
			<span class="value"><span data-bind="text: totalScore"></span></span>
		</div>
        <div class="text left border-left left-padding right-padding width-150">
            <span class="title">{{ "Fixtures"|trans }}</span>
            <div style="padding-top:5px;" id="team-details-fixtures">
                <a href="{{ asset('/'~app.request.locale~'/league/fixtures?day='~teamdetails.match_date|date("Y-m-d")) }}" class="btn btn-team-fixtures">
                    <div>{{ "Live Scores"|trans }}</div>
                </a>
            </div>
        </div>
		<div class="clear"></div>
	</div>
</div>
