<div class="heading">
	{{ 'Your team scoring details'|trans }}
</div>
<table class="inplay-sidepanel table" style="overflow: hidden;" id="team-details-score-sheet">
	<thead>
		<tr>
			<th>{{ 'Players'|trans }}</th>
			<th class="minutes"></th>
			<th class="weekly-score text-center">{{ 'Points'|trans }}</th>
		</tr>
	</thead>
	<tbody>
		{% set playing=0 %}
		{% for key,position in fieldFormation.positions %}
			{% set k = fieldFormation.positions[key].slots|number_format %}
			{% for slot in range(0,k-1) %}
				{% if ( playerslist['lineup']|length > 0 ) and ( playerslist['lineup'][position.position_title]|length > 0 )
				and ( playerslist['lineup'][position.position_title] is defined ) and
				( playerslist['lineup'][position.position_title][slot] is defined ) %}
					{% set player = playerslist['lineup'][position.position_title][slot] %}
					{% if player.is_playing or player.substituted_with_id %}
						{% set playing = playing+1 %}
						{% set totalScore = totalScore + player.player_score %}
						<tr class="p{{ player.id }} custom-padding">
							<td>
								<div class="player-name" style="background-image:url('{{ player.image }}');background-size:23px;">
									{{ player.player_name }}
								</div>
							</td>
							<td class="position" data-bind="text: positions[{{ player.positionId }}]">
								{{player.abbreviation }}
							</td>
							<td class="text-center score">{{ player.player_score|default('-') }}</td>
						</tr>
					{% endif %}	
				{% endif %}	
			{% endfor %}
		{% endfor %}	

		{% if  playerslist['bench']|length > 0 %}
        {% for i in 0..13-playing %}
			<tr class="custom-padding">
				<td>
					<div class="kit"></div>
					<div class="player-name" style="background-image:url('{{ asset('bundles/images/web/default-kit-23x22.png') }}');">
                        {{ 'Subs'|trans }}
					</div>
				</td>
				<td class="minutes"></td>
				<td class="text-center">-</td>
			</tr>
        {% endfor %}
		{% endif %}
		<tr class="custom-padding">
			<td>
				<div class="side-total-score">
				{{ 'Score'|trans }}
				</div>
			</td>
			<td class="minutes">
			</td>
			<td class="text-center"><span class="orange" data-bind="text: totalScore"></span></td>
		</tr>
	</tbody>
</table>