<div class="page-container white-bg live-schedule">
	<div class="memberteam-schedule-container substitution-guide-container" id="team-details-schedule">
		<div class="title">{translate id=1551}</div>
		<div class="rounded-container">
			{include file="pods/memberteam-schedule.tpl" nocache}
		</div>
		<div class="clear">&nbsp;</div>
		<div class="substitution-guide-legend">
			<div class="legend-text substitute">= {translate id=1040 default="substitute player"}</div>
			<div class="legend-text after-substitute">= {translate id=1041 default="this player plays after a substitute player"}</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
</div>