
<div class="page-container inplay-bg">
    <div class="grid">
        <div class="container team-left-sidebar-block" style="height:695px;">
            <div class="left live">
                <div class="field" data-bind="foreach: formation" id="team-details-field">

                    <div data-bind="attr: { 'class': 'formation formation-' + $data.count + ' pp' + $index(),  'position': position }">
                        <div data-bind="foreach: players">
                            <!-- ko if: $data.position_id() == $parent.position && $data.is_playing == 1 -->
                            <div data-bind="attr: { 'data-position-id': $parent.position, 'data-matchday-id': $data.matchday_id, 'data-id': $data.player_id, 'class': 'player p' + $data.player_id + ' position' + $parent.position }" style="position:relative;">
                                <!-- ko if: !is_default() -->
                                {% if not isPast %}
                                    <div class="player-action-block">
                                        {% if allowSubs==1 %}
                                        <div class="view-profile inner-btn substituteplayer"  data-bind="click: function(data, event) { substitutePlayer($data.player_id, data, event); }">{{ 'Substitute player'|trans }}</div>
                                        {% endif %}
                                        <div class="view-profile inner-btn scoringbreakdown">{{ 'view profile'|trans }}</div>
                                    </div>
                                {% else %}
                                    <div class="player-action-block">
                                        <div class="view-profile inner-btn scoringbreakdown">{{ 'view profile'|trans }}</div>
                                    </div>
                                {% endif %}
                                <!-- <div class="player-action-block">
                                    <div class="close"></div>
                                    <ul data-bind="attr: { 'player' : $data.player_id }">
                                        <li>
                                            <a class="substituteplayer" data-bind="click: function(data, event) { substitutePlayer($data.player_id, data, event); }">{translate id=184}</a>
                                        </li>
                                        <li>
                                            <a class="scoringbreakdown">{translate id=185}</a>
                                        </li>
                                    </ul>
                                </div>-->
                                <!-- /ko -->
                                <div class="kit" data-bind="style: { backgroundImage: kit_mm()().length > 0 ? 'url(' + kit_mm()() + ')' : '' }">
                                    <!-- ko if: status() != 'noscore' -->
                                    <div class="minutes">
                                        <div data-bind="css: status() + ' minute', text: '&nbsp;' + (minute() == 1000 ? 90 : minute()) + '&rsquo;'"></div>
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <!-- ko if: !is_default() -->
                                <div class="name">

                                    <!-- ko if: $data.events -->

                                    <!-- ko if: $data.events().length == 1 -->
                                    <div style="width:10px; display:inline-block; float:left;">
                                        <!-- ko foreach: events.sort(function (l, r) { return l.minute > r.minute ? 1 : -1 }) -->
                                        <!-- ko if: minute > $parent.member_played_from() -->
                                        <!-- ko if: minute <= $parent.member_played_to() -->
                                        <div style="display:inline-block;" data-bind="attr: { 'class': 'event event-' + event_type_id }">
															<span class="tip" style="display:inline;">
																<div style="display:inline;" data-bind="attr: { 'class': 'last event-' + event_type_id }">
																</div>
															</span>
                                        </div>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->

                                    <!-- ko if: $data.events().length > 1 -->
                                    <div style="width:10px; display:inline-block; float:left;">
                                        <marquee scrollamount="1">
                                            <!-- ko foreach: events.sort(function (l, r) { return l.minute > r.minute ? 1 : -1 }) -->
                                            <div style="display:inline-block;" data-bind="attr: { 'class': 'event event-' + event_type_id }">
												<span class="tip" style="display:inline;">
													<div style="display:inline;" data-bind="attr: { 'class': 'last event-' + event_type_id }">
													</div>
												</span>
                                            </div>
                                            <!-- /ko -->
                                        </marquee>
                                    </div>
                                    <!-- /ko -->


                                    <!-- /ko -->

                                    <span class="name-text" data-bind="text: name()"></span>
                                </div>
                                <div class="score" data-bind="text: score() != null ? score() : '-', css: { na: score() == null, positive: score() > 0, negative: score() < 0 }"></div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>

                </div>
                <div class="subs legend" id="team-details-substitutes">
                    <div class="title">{{ 'Subs'|trans}}</div>
                    <!-- ko if: players && players.length > 0 -->
                    <ul class="flatten" data-bind="foreach: players">
                        <!-- ko if: $data.is_playing == 0 -->
                        <li data-bind="css: status()"> <!-- states: inplay, completed, [none] -->
                            <div>
                                <div class="events">
                                    <div style="padding: 10px 0px 0;font-size:10px;" data-bind="text: positions[$data.position_id()]"></div>
                                    <!-- ko if: $data.events -->
                                    <div style="padding:4px; display: inline-block; width: 62px;">
                                        <!-- ko foreach: events -->
                                        <div style="display:inline;" data-bind="attr: { 'class': 'event event-' + event_type_id }">
											<span class="tip" style="display:inline;">
												<div style="display:inline;" data-bind="attr: { 'class': 'last event-' + event_type_id }">
												</div>
											</span>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <div data-bind="attr: { 'class': 'player-tooltip player p' + $data.player_id, 'data-matchday-id': $data.matchday_id, 'data-id': $data.player_id, 'data-player-id': $data.player_id }">
                                    <div class="kit scoringbreakdown" data-bind="style: { backgroundImage: kit_mm()().length > 0 ? 'url(' + kit_mm()() + ')' : '' }" style="background-position: 50% 10px;height: 72px;">
                                        <!-- ko if: status() != 'noscore' -->
                                        <div class="minutes">
                                            <div data-bind="css: status() + ' minute', text: '&nbsp;' + (minute() == 1000 ? 90 : member_played_to()()) + '&rsquo;'"></div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <div class="name scoringbreakdown" data-bind="text: name"></div>
                                    <div class="score scoringbreakdown" data-bind="text: score() != null ? score() : '-', css: { na: score() == null, positive: score() > 0, negative: score() < 0, nonplaying: member_played_to()() == 0 }"></div>
                                </div>
                            </div>
                        </li>
                        <!-- /ko -->
                    </ul>
                    <!-- /ko -->
                    <span class="clear"></span>
                    <!-- ko if: (!players || players.length == 0) || (players && players.length == 11) -->
                    <h3 style="text-align: center; padding-top:20px;">{{ 'No Subs Available'|trans }}</h3>
                    <!-- /ko -->
                </div>
            </div>
            <div class="right">
                <div class="side-board">
                    {% include "templates/controls/inplay-side.html.twig" %}
                </div>
                {#{nocache}#}
                {#{include file="pods/advert.tpl" code=$ads.livelargemobilebanner advertclass="large-mobile-banner" advertpositionclass="teambuilder" nocache}#}
                {#{/nocache}#}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {#{nocache}#}
    {#{include file="pods/advert.tpl" code=$ads.livebanner advertclass="banner" advertpositionclass="teambuilder" nocache}#}
    {#{/nocache}#}
</div>
<div class="player-selection">
</div>
<div class="hide">
    <div id="help-change-formation">
        <h3>{{ "Change your team formation"|trans }}</h3>
        <p>{{ "Yes, this is not a joke: you can actually change your team formation during live matches. Wake up Sir Alex"|trans }} </p>
    </div>
</div>
<div class="container white-container">
    <script>
        var memberleagueid = "{{ leagueid|default(0) }}";
        var teamid = "{{ teamid|default(0) }}";

        function substitutePlayer(playerID) {
            var action = "{{ asset('/'~app.request.locale~'/live/chooseSubstitute') }}";
            showDialog({ playerid: playerID, league: memberleagueid, teamid: teamid },action);
        }

        function changeFormation() {
            var action = "{{ asset('/'~app.request.locale~'/live/changeFormation') }}";
            showDialog({ league: memberleagueid, teamid: teamid },action);
        }

        $(document).ready(function() {
            $('.live  .subs-container .player').qtip({
                content: {
                    text: function(api) {
                        return $(this).find('.activity-tip').clone();
                    }
                }, style: {
                    classes: 'qtip-shadow qtip-oulala'
                },
                position: {
                    my: 'bottom center',
                    at: 'top center'
                }
            });
            $(".subs .player").unbind("click");
        });
    </script>
    <style>
        .tip > div {
            font-size:12px;
        }
    </style>
</div>