<div class="page-container timeline-bg">
	<div class="grid">
		<div class="player-timeline-container">
			<div class="heading ">
			</div>
			<table class="player-timeline" cellpadding="0" cellspacing="0">
				<tbody data-bind="foreach: timeline.inplay">
				<tr>
					<td>
						<div class="timeline">
							<!-- ko foreach: $data -->
							<span data-bind="text: name() , attr: { 'class' : 'player-name from' + member_played_from() + ' to' + (member_played_to()() == 1000 ? 1000 : (member_played_to()() - 1)), 'title' : name() }"></span>

							<div data-bind="attr: { 'class': 'player p' + $data.player_id, 'title': name }">

								<!-- ko if: status() != 'noscore' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' + member_played_from() + ' to' + ( $index() == 0 ? played_from() : member_played_to()() ), 'title' : name() }">
								</div>

								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' + played_from() + ' to' + member_played_from(), 'title' : name() }">
								</div>

								<!-- ko if: (status() == 'finished' || status() == 'complete') && played_from() == 0 && played_to()() == 0 -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-orange from' + Math.max(played_from(), member_played_from()) + ' to' + member_played_to()(), 'title' : name() }">
								</div>
								<!-- /ko -->

								<!-- ko if: (status() == 'finished' || status() == 'complete') && played_from() != 0 && (played_to() < member_played_to()() ? played_to()() : member_played_to()()) != 0 -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-orange from' + played_from() + ' to' + (played_to() < member_played_to()() ? played_to()() : member_played_to()()), 'title' : name() }">
								</div>
								<!-- /ko -->

								<!-- ko if: status() == 'inplay' -->
								<!-- ko if: sub_of -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-orange from' + member_played_from() + ' to' + minute(), 'title' : name() }">
								</div>
								<!-- /ko -->
								<!-- ko if: !sub_of -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-green from' + member_played_from() + ' to' + minute(), 'title' : name() }">
								</div>
								<!-- /ko -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgreen from' +  minute() + ' to' + member_played_to()(), 'title' : name() }">
								</div>
								<!-- /ko -->


								<!-- ko if: status() == 'idle' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgreen from' +  played_to()() + ' to' + member_played_to()(), 'title' : name() }">
								</div>
								<!-- /ko -->

								<!-- ko if: status() != 'inplay' -->
								<!-- ko if: (member_played_from() > played_to()()) -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' +  played_to()() + ' to' + member_played_from(), 'title' : name() }">
								</div>
								<!-- /ko -->
								<!-- ko if: (member_played_from() < played_to()()) -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' +  played_to()() + ' to' + member_played_to()(), 'title' : name() }">
								</div>
								<!-- /ko -->
								<!-- /ko -->

								<!-- ko if: red_card_at()() > 0 && red_card_at()() <= member_played_to()() -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-red from' + red_card_at()() + ' to90', 'title' : name() }">
								</div>
								<!-- /ko -->

								<!-- /ko -->
								<!-- ko if: status() == 'noscore' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgreen from' + member_played_from() + ' to' + member_played_to()(), 'title' : name() }">
								</div>
								<!-- /ko -->
								<!-- ko if: $data.events -->
								<!-- ko foreach: events -->
								<!-- ko if: minute > $parent.member_played_from() -->
								<!-- ko if: minute <= $parent.member_played_to()() -->
								<div data-bind="attr: { 'class': 'event from' + minute + ' event-' + event_type_id }">
													<span class="tip">
														<div data-bind="text: minute + '&rsquo;&nbsp;' + event_names[event_type_id], attr: { 'class': 'last event-' + event_type_id }">
														</div>
													</span>
								</div>
								<!-- /ko -->
								<!-- /ko -->
								<!-- /ko -->
								<!-- /ko -->
							</div>
							<!-- /ko -->
						</div>
					</td>
					<td class="score" data-bind="text: $data[0].score() + ($data[1] ? $data[1].score() : 0) + ($data[2] ? $data[2].score() : 0) + ($data[3] ? $data[3].score() : 0)">
					</td>
				</tr>
				</tbody>
			</table>

			<!-- ko if: (timeline.subs && timeline.subs().length > 0) -->
			<div class="middle">
			</div>

			<table class="player-timeline subs" cellpadding="0" cellspacing="0">
				<tbody data-bind="foreach: timeline.subs">
				<tr>
					<td>
						<div class="timeline">
							<!-- ko foreach: $data -->
							<span data-bind="text: name(), attr: { 'class' : 'player-name from' + member_played_from(), 'title' : name() }"></span>

							<div data-bind="attr: { 'class': 'player p' + $data.player_id, 'title': name }">

								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from0 to90', 'title' : name() }">

								</div>

								<!-- ko if: status() != 'noscore' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' + member_played_from() + ' to' + played_from(), 'title' : name() }">

								</div>

								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' + played_from() + ' to' + member_played_from(), 'title' : name() }">

								</div>

								<!-- ko if: status() == 'finished' && played_from() == 0 && played_to()() == 0 -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-orange from' + member_played_from() + ' to' + member_played_to()(), 'title' : name() }">

								</div>
								<!-- /ko -->

								<!-- ko if: status() == 'finished' && played_from() != 0 && (played_to() < member_played_to()() ? played_to()() : member_played_to()()) != 0 -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-orange from' + played_from() + ' to' + (played_to() < member_played_to()() ? played_to()() : member_played_to()()), 'title' : name() }">

								</div>
								<!-- /ko -->

								<!-- ko if: status() == 'inplay' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgrey from' + member_played_from() + ' to' + minute(), 'title' : name() }">

								</div>

								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgreen from' +  minute() + ' to' + member_played_to()(), 'title' : name() }">

								</div>
								<!-- /ko -->


								<!-- ko if: status() == 'idle' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgreen from' +  played_to()() + ' to' + member_played_to()(), 'title' : name() }">

								</div>
								<!-- /ko -->

								<!-- ko if: status() != 'inplay' && status() != 'idle' && red_card_at()() == null -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-grey from' +  played_to()() + ' to' + member_played_to()(), 'title' : name() }">

								</div>
								<!-- /ko -->

								<!-- ko if: red_card_at()() -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-red from' + red_card_at()() + ' to90', 'title' : name() }">

								</div>
								<!-- /ko -->

								<!-- /ko -->
								<!-- ko if: status() == 'noscore' -->
								<div data-bind="attr: { 'class' : 'timeline-item timeline-item-lightgreen from' + member_played_from() + ' to' + member_played_to()(), 'title' : name() }">

								</div>
								<div style="width:100%" class="timeline-item timeline-item-grey">

								</div>
								<!-- /ko -->

								<!-- ko if: $data.events -->
								<!-- ko foreach: events -->
								<div data-bind="attr: { 'class': 'event from' + minute + ' event-' + event_type_id }">
											<span class="tip">
												<div data-bind="text: minute + '&rsquo;&nbsp;' + event_names[event_type_id], attr: { 'class': 'last event-' + event_type_id }">
												</div>
											</span>
								</div>
								<!-- /ko -->
								<!-- /ko -->
							</div>
							<!-- /ko -->
						</div>
					</td>
					<td class="score" data-bind="text: $data[0].score() + ($data[1] ? $data[1].score() : 0) + ($data[2] ? $data[2].score() : 0) + ($data[3] ? $data[3].score() : 0)">
					</td>
				</tr>
				</tbody>
			</table>
			<div class="footer">
			</div>
			<div class="total-score">
				<h2><span class="orange">SCORE</span> : <span data-bind="text: totalScore"></span></h2>
			</div>
			<!-- /ko -->
			<div class="text-center">
				<div class="legend">
					<div class="title">LEGEND</div>
					<div>
						Hover over any colour for full details
						<span>
							<span class="item legend-box inplay" style="background:#1CB902;">
								<div class="legend-tip">
									{{ 'A player which is currently playing and score is being received.'|trans }}
								</div>
							</span>
							<span class="item legend-box complete" style="background:#F6752E;">
								<div class="legend-tip">
									{{ 'A player who exhausted the member specific allocated time or who\'s actual live match is over'|trans }}
								</div>
							</span>
							<span class="item legend-box noscore" style="background:#DDF5D9;">
								<div class="legend-tip">
									{{ 'A player who has not played yet or has not played at all in the actual live match.'|trans }}
								</div>
							</span>
							<span class="item legend-box red-card" style="background:#FF0000;">
								<div class="legend-tip">
									{{ 'A player who has received a red card.'|trans }}
								</div>
							</span>
							<span class="item legend-box no-action" style="background:#969696;">
								<div class="legend-tip">
									{{ 'Time where you have not gained any points.'|trans }}
								</div>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		.legend {
			margin-bottom:62px;
		}

		.legend-box {
			width:18px;
			height:18px;
			background:red;
			display: inline-block;
			border-radius:3px;
			margin-left:11px;
		}

		.legend-tip {
			display:none;
		}

		.timeline .timeline-item {
			height: 37px;
			border-left:1px solid #fff;
			border-right:1px solid #fff;
			border-radius:4px;
			top: 2px;
		}

		.timeline .player-name {
			position: absolute;
			z-index: 10;
			padding: 4px 6px;
			margin-top: 8px;
			font-size: 13px;
			font-family: 'Titillium Web', Arial, sans-serif;
			font-weight: 400;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			background: rgba(255, 255, 255, 0.6);
			border-radius: 3px;
			margin-left: 6px;
			color: #545353 !important;
			max-width: 100px;
		}

		.timeline-item-grey {
			background: #969696;
		}

		.timeline-item-orange {
			background: #F6752E;
		}

		.timeline-item-green {
			background: #1CB902;
		}

		.timeline-item-lightgreen {
			background: #DDF5D9;
		}

		.timeline-item-red {
			background:red;
			z-index: 1;
		}

		.timeline-item-lightgrey {
			background: #cacaca;
		}
	</style>
</div>