<table class="table searchbox available-for-saved-teams">
	<thead>
		<tr>
			<th class="name vertical-align no-border-right"><a href="#" class="name-sort sort">{{'League Name'|trans}} </a></th>
			<th class="name vertical-align no-border-left"></th>
			<th class="text-align-center vertical-align"><a href="#" class="starts-sort sort">{{'Starts'|trans}} ▲</a></th>
			<th class="text-align-right vertical-align"><a href="#" class="maxParticipants-sort sort">{{'Entries'|trans}} / {{'Size'|trans}} </a></th>
			<th class="text-align-right vertical-align"><a href="#" class="entryFee-sort sort">{{'Entry Fee'|trans}} </a></th>
			<th class="text-align-center vertical-align"><a href="#" class="prize-sort sort">{{'Prizes'|trans}} </a></th>
			<th class="text-align-center vertical-align"><a href="#">{{'Join'|trans}}</a></th>
		</tr>
		</thead>
		<tbody>
		{% for available_league in available_leagues %}
			<tr class="player-tooltip player-data" data-league-id="{{ available_league.leagues_id }}" data-league-fee="{{ available_league.entryFee }}">
				<td title="{{ available_league.name }}" class="no-border-right {% if ( (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) ) %}check{% endif %}">
					<div>
						<a onclick="showLeagueInformation({{ available_league.leagues_id }}, '{{ available_league.slug }}', 'info',1,'{{ asset('/'~app.request.locale~'/league/details') }}' )">
							{{ available_league.name }}
						</a>
					</div>
				</td>
				<td class="text-right league_flags no-border-left {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}check{% endif %}">
					{% for league_thumbs in available_league.nation_thumb %}
						<img src="{{ asset('bundles/'~league_thumbs.thumb) }}" alt="{{ league_thumbs.league_name }}">
					{% endfor %}
				</td>
				<td id="{{ available_league.leagues_id }}_datetime" class="text-right {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}check{% endif %}" id="{$available_league.member_league_id}_datetime">
					<div class="mobile-show info-title">
						<span>{{'Starts'|trans}}</span>
					</div>
					{% if available_league.timetostart > 0 %}
						<div class="league_today">
							<div class="dash seconds_dash right">
								<span class="digit"></span>
								<span class="digit"></span>
							</div>
							<div class="dash minutes_dash right">
								<span class="digit"></span>
								<span class="digit"></span>
								<span class="dash_separator">:</span>
							</div>
							<div class="dash hours_dash right">
								<span class="digit"></span>
								<span class="digit"></span>
								<span class="dash_separator">:</span>
							</div>
							<div class="dash right">
								<span class="dash_separator">-</span>
							</div>
							<script type="text/javascript">
								$(document).ready(function () {
									startTimer('#{{ available_league.leagues_id }}_datetime', {{ available_league.timetostart }});
								});
							</script>
						</div>
					{% else %}
						<div class="mobile-show">
							{{ available_league.fromDate | date("D j M H:i A") }}
						</div>
						<span class="web-show">
						{{ available_league.fromDate | date("D j M H:i A") }}
						</span>
					{% endif %}
				</td>
				{% if available_league.maxParticipants != 0 %}
					<td class="text-right {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}check{% endif %}">
						<div class="mobile-show info-title">
							<span>{{'Entries'|trans}}</span>
						</div>
						{{available_league.entry}} / {{available_league.maxParticipants}}
					</td>
				{% else %}
					<td class="text-right {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}check{% endif %}">
						<div class="mobile-show info-title">
							<span>{{'Entries'|trans}}</span>
						</div>
						{{available_league.entry}} / <span class="infinity">&infin;</span>
					</td>
				{% endif %}
				<td class="text-right {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}check{% endif %}">
					<div class="mobile-show info-title">
						<span>{{'Entry Fee'|trans}}</span>
					</div>
					&euro;{{ available_league.entryFee|number_format(2) }}
				</td>
				<td class="text-right {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}check{% endif %}">
					<div class="mobile-show info-title">
						<span>{{'Prizes'|trans}}</span>
					</div>
					<a onclick="showLeagueInformation({{ available_league.leagues_id }}, '{{ available_league.slug }}', 'prizes',1,'{{ asset('/'~app.request.locale~'/league/details') }}')">&euro;
                        {% if available_league.is_gprize_fixed=='0' %}
                            {{ (available_league.prize+available_league.gprize)|number_format(2) }}
                        {% else %}
                            {{ available_league.gprize|number_format(2) }}
                        {% endif %}
					</a>
		
				</td>
				<td class="text-right">
					<div>
						<span class="increment-btn decrement increment {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}{% else %}disabled{% endif %}" data-sign="-">-</span>
						<span class="input-symbol-euro">
							<input type="text" {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}{% else %}disabled{% endif %} class="league-payment-value" min="1" max="10" value="0" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"/>
						</span>
						<span class="increment-btn increment {% if (available_league.maxParticipants == 0) or (available_league.maxParticipants > available_league.entry) %}{% else %}disabled{% endif %}" data-sign="+">+</span>
					</div>
				</td>
			</tr>
			{% else %}
			<tr class="nothing-found">
				<td colspan="7" class="error">
					<h3>{{'No League Available'|trans}}</h3>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% block javascripts %}
<script type="text/javascript">
	total_fee = 0;
	total_count = 0; 
	selected_leagues = "";
	var serverurl = '{{ serverurl }}';
	
	function updateSelectedLeagues(){
		$('.league-available-selected .leagues_count').html(parseInt(total_count));
		$('.league-available-selected .leagues_fee').html(parseFloat(total_fee));
		$('#selected-leagues').val(selected_leagues);
		$('#selected-leagues-entry-fee').val(total_fee);
		if ( total_count > 0 ){
			$('.league-available-header-join #leagues-create-button').addClass('active');
		}else{
			$('.league-available-header-join #leagues-create-button').removeClass('active');
		}
	}
	
	function updateTotalFeeAndCount(){
		var all_total = 0;
		var all_count = 0
		$('.availableLeaguesSearchResults table.available-for-saved-teams tr.active-selected').each(function(){
			var count = $(this).find('input').val();
			var fee = $(this).attr('data-league-fee');
			var this_total = parseInt(count) * parseFloat(fee);
			
			all_total+=this_total;
			all_count+=parseInt(count);
		});
		total_fee = all_total;
		total_count = all_count;
	}
	
	function openJoinDialog($teamid){
		if( $('.league-available-header-join #leagues-create-button').hasClass('active') && total_count > 0 ){
			showDialog({
				action:"openDialogJoinLeagueWithSavedTeam",
				teamid:{{ teamid }},
				totalfee: total_fee,
				totalcount:total_count, 
				selectedleagues:selected_leagues 
				},
				"{{ asset('/'~app.request.locale~'/join-with-saved-team/'~teamid) }}");
		}
	}

	$(document).ready(function() {
		
		$('.availableLeaguesSearchResults table.available-for-saved-teams tr td.check').click(function(){

			$(this).parent('tr').toggleClass('active-selected');
			var league_id = $(this).parent('tr').attr('data-league-id');
			var league_fee =$(this).parent('tr').attr('data-league-fee');
			var input_elem = $(this).parent('tr').find('input');
			var oldVal = input_elem.val();
			var regex = new RegExp(''+league_id+',', 'g');
            $(this).parent('tr').siblings('tr').find('input').val(0);
            $(this).parent('tr').siblings('tr').removeClass('active-selected');
			if ( $(this).parent('tr').hasClass('active-selected') ) {
				var newVal = parseInt(oldVal) + 1;
				if( newVal > 10 ){
					newVal = 10;
				}
				selected_leagues=league_id;
			}else{
				var newVal = 0;
				$(this).parent('tr').removeClass('active-selected');
				selected_leagues = selected_leagues.replace(regex, '');
			}

			input_elem.val(newVal);
			updateTotalFeeAndCount();
			updateSelectedLeagues();
		});
		
		$(".league-payment-value").keyup(function(){
			var league_id = $(this).closest('tr').attr('data-league-id');
			var league_fee =$(this).closest('tr').attr('data-league-fee');
			var newVal = $(this).val();
			var regex = new RegExp(''+league_id+',', 'g');
            $(this).closest('tr').siblings('tr').find('input').val(0);
            $(this).closest('tr').siblings('tr').removeClass('active-selected');
			if ( $(this).closest('tr').hasClass('active-selected') ) {
				if( newVal > 10 ){
					newVal = 10;
				}
				if ( newVal <= 0 ){
					$(this).closest('tr').removeClass('active-selected');
					newVal = 0;
				}
			}else{
				if ( newVal > 0 ){
					$(this).closest('tr').addClass('active-selected');
				}
			}
			
			if ( newVal > 0 ){
				selected_leagues = selected_leagues.replace(regex, '');
				for( var i = 0 ;i < newVal ; i++ ){
					selected_leagues=league_id;
				}
			}
			$(this).val(newVal);
			updateTotalFeeAndCount();
			updateSelectedLeagues();
		});
		
		$('.available-for-saved-teams .increment').click(function(){
			
			var $symbol = $(this).attr('data-sign');
			var league_id = $(this).closest('tr').attr('data-league-id');
			var league_fee = $(this).closest('tr').attr('data-league-fee');
			var regex = new RegExp(''+league_id+',', 'g');
            $(this).closest('tr').siblings('tr').find('input').val(0);
            $(this).closest('tr').siblings('tr').removeClass('active-selected');
			if ( $symbol == "+" ){
				var input_elem = $(this).prev('span').find('input');
				var oldVal = input_elem.val();
				var newVal = parseInt(oldVal) + 1;
				if( newVal > 10 ){
					newVal = 10;
				}
				if ( ! $(this).closest('tr').hasClass('active-selected') ) {
					$(this).closest('tr').addClass('active-selected');
				}
				selected_leagues=league_id;

			}else if( $symbol == '-' ){
				var input_elem = $(this).next('span').find('input');
				var oldVal = input_elem.val();
				var newVal = parseInt(oldVal) - 1;
				if ( newVal < 0 ){
					newVal = 0;
					$(this).closest('tr').removeClass('active-selected');
				}else if( newVal==0 ){
					newVal = 0;
					$(this).closest('tr').removeClass('active-selected');
				}
				selected_leagues = selected_leagues.replace(regex, '');
			}
			input_elem.val(newVal);
			updateTotalFeeAndCount();
			updateSelectedLeagues();
		});
	
		$(".sort").click(function(e) {
			e.preventDefault();
			var value = $("#sort").val();
			if ($(this).hasClass("prize-sort")) {
				if (value == "prize-DESC") {
					$("#sort").val("prize-ASC");
				} else {
					$("#sort").val("prize-DESC");
				}
			} else if ($(this).hasClass("entryFee-sort")) {
				if (value == "entryFee-ASC") {
					$("#sort").val("entryFee-DESC");
				} else {
					$("#sort").val("entryFee-ASC");
				}
			} else if ($(this).hasClass("name-sort")) {
				if (value == "name-ASC") {
					$("#sort").val("name-DESC");
				} else {
					$("#sort").val("name-ASC");
				}
			} else if ($(this).hasClass("entry-sort")) {
				if (value == "entry-ASC") {
					$("#sort").val("entry-DESC");
				} else {
					$("#sort").val("entry-ASC");
				}
			} else if ($(this).hasClass("maxParticipants-sort")) {
				if (value == "maxParticipants-ASC") {
					$("#sort").val("maxParticipants-DESC");
				} else {
					$("#sort").val("maxParticipants-ASC");
				}
			} else if ($(this).hasClass("starts-sort")) {
				if (value == "fromDate-ASC") {
					$("#sort").val("fromDate-DESC");
				} else {
					$("#sort").val("fromDate-ASC");
				}
			}
			submitSearchForm();
			return false;
		});
	});
</script>
{% endblock %}