<div class="circle-chat">
    <ul class="forum-items non-member">
        {% if error is not defined %}
            {% set currentleaguechatitem = 0 %}
            {% for item in leaguechats %}
                {% if item.id != currentleaguechatitem %}
                    {% set currentcirclechatitem = item.id %}
                    <li class="chat-item" data-id="{{ item.id }}">
                        <div class="chat-text {% if item.replies is not empty %}has-reply{% endif %}">
                            <div class="circle-chat-content text ellipsis">{{ item.content }}</div>
                            {% if isLeagueMember %}
                                <div class="bottom circle-chat-reply">
                                    <input type="submit" value="{{ 'Reply'|trans }}"
                                           class="btn right {% if isLeagueMember != 1 %}gray{% endif %}"
                                           data-id="{{ item.id }}">
                                    <div class="clear"></div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="circle-chat-details">
                            {% if (item.featured == 1) %}
                                <span class="featured">{{ 'Featured' }} - </span>
                            {% endif %}
                            {{ 'Posted On' |trans }}
                            <span class="small-date"> {{ item.date_created| date("D j M H:i A") }}</span>
                            <span class="preposition"> {{ 'by'|trans }} </span>
                            <span class="author"><a class="username"
                                                    href="{{ asset('/'~app.request.locale~'/profile/'~item.member) }}"><i
                                            class="fa fa-user"></i>&nbsp;{{ item.member }}</a></span>
                        </div>
                    </li>
                {% endif %}
                {% if item.replies is not empty %}
                    {% for reply in item.replies %}
                        <li class="circle-items-reply chat-reply-{{ item.id }}">
                            <div class="circle-chat-content text ellipsis">{{ reply.reply_content }}</div>
                            <div class="circle-chat-details">
                                {{ 'Posted On'|trans }}<span
                                        class="small-date"> {{ reply.reply_publish_date| date("D j M H:i A") }}</span>
                                <span class="preposition">{{ 'by' |trans }}</span>
                                <span class="author"><a class="username"
                                                        href="{{ asset('/'~app.request.locale~'/profile/'~item.member) }}"><i
                                                class="fa fa-user"></i>&nbsp;{{ item.member }}</a></span>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            {% else %}

            {% endfor %}
        {% else %}
            <li class="no-results error">
                <h4 id="chat-error-color">{{ error }}</h4>
            </li>
        {% endif %}
    </ul>
</div>
{% if leaguechats|length > 0 %}
    <div class="pagination">
        {% if currentpage > 1 %}
            <div class="prev first">
                <a onclick="pagination(0)"></a>
            </div>
            <div class="prev">
                <a onclick="pagination({{ currentpage-1 }})"></a>
            </div>
        {% endif %}
        {% set tempcurrentpage = (currentpage+1) %}

        <span>{{ (currentpage-1) * pagelimit + 1 }} {{ 'to'|trans }} {{ ((currentpage) * pagelimit) + currentpagecount }}</span>

        {{ 'of'|trans }} {{ pagecount }}

        {% if currentpage <= ((pagecount-1)/pagelimit)|round(0, 'floor') %}
            <div class="next last">
                
                {% set lastItem = (pagecount/pagelimit)|round(0, 'ceil') %}
                <a onclick="pagination({{ lastItem }})" class="next"></a>
            </div>
            <div class="next">
                <a onclick="pagination({{ currentpage+1 }})" class="next"></a>
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
{% endif %}
<script>

    $(document).ready(function(){
        $(document).delegate('li .read-more', 'click', function (event) {
            event.stopImmediatePropagation();
            $(this).hide();
            $(this).parent().find('.text.ellipsis')
                .removeClass('ellipsis')
                .css('white-space', '')
                .css('width', '');
            var height = $(this).prev('.text').outerHeight();
            $(this).next('.circle-chat ul.forum-items li .circle-chat-reply').css('top', +height/2 +'px');
        });

        $('.circle-chat-content.text.ellipsis').click(function () {
            var chatid = $(this).parents('.chat-item').data("id");
            $('.chat-reply-' + chatid).slideToggle();
        });

        $('.circle-chat-reply>input').click(function () {
//        event.stopPropagation();
            $(this).attr('disabled','disabled');
            postChatReply($(this));
        });

        generateReadMore()
    });

    function pagination(page) {
        $('.circle-chat-container').html(loadingTemplate);
        var data =
            {
                member_league_id: {{ leaguId|default(0) }},
                p: page,
                limit: {{ limit|default(10) }},
                is_league_member: {% if isLeagueMember %}1{% else %}0{% endif %}
            };

        ajaxForm(data, '.circle-chat-container', '', '', "{{ asset('/'~app.request.locale~'/chat/loadLeagueChats') }}");

    }

    {% if isLeagueMember %}
    function postChatReply(e) {
        var chatid = e.data("id");
        showDialog({
            chat_id: chatid,
            member_league_id: {{ leaguId|default(0) }},
            p:{{ currentpage|default(0) }},
            is_league_member: {{ isLeagueMember|default(0) }},
            limit: {{ limit|default(10) }},
        }, "{{ asset('/'~app.request.locale~'/chat/showLeagueReplyBox') }}");
    }

    $(document).on('keyup', '#circle-text-box', function (event) {
        validateCircleChatMessageBox();
    });

    $('#circle-item-box-post').unbind('click');
    $('#circle-item-box-post').click(function (e) {
        $('#circle-item-box-post').prop('disabled', true);
        $('.circle-chat-container').html(loadingTemplate);
        e.preventDefault();
        var data =
            {
                member_league_id: {{ leaguId|default(0) }},
                message: $('#circle-text-box').val(),
                p:{{ currentpage|default(0) }},
                limit: {{ limit|default(10) }},
                is_league_member: {{ isLeagueMember }},
            };
        $.post("{{ asset('/'~app.request.locale~'/chat/postLeagueItem') }}", data,
            function (response) {
                $('.circle-chat-container').html(response);
                validateCircleChatMessageBox();
            }, 'html');
        $('#circle-text-box').val("");
    });
    {#$(document).on('click', '#circle-item-box-post', function (e) {#}
    {#$('#circle-item-box-post').prop('disabled', true);#}
    {#$('.circle-chat-container').html(loadingTemplate);#}
    {#e.preventDefault();#}
    {#var data =#}
    {#{#}
    {#member_league_id: {{ leaguId|default(0) }},#}
    {#message: $('#circle-text-box').val(),#}
    {#p:{{ currentpage|default(0) }},#}
    {#limit: {{ limit|default(10) }},#}
    {#is_league_member: {{ isLeagueMember }},#}
    {#};#}
    {#$.post("{{ asset('/'~app.request.locale~'/chat/postLeagueItem') }}", data,#}
    {#function (response) {#}
    {#$('.circle-chat-container').html(response);#}
    {#validateCircleChatMessageBox();#}
    {#generateReadMore();#}
    {#}, 'html');#}
    {#$('#circle-text-box').val("");#}
    {#});#}

    function validateCircleChatMessageBox() {
        if (($.trim($("#circle-text-box").val()).length == 0)) {
            $("#circle-item-box-post").addClass("gray");
            $("#circle-item-box-post").attr('disabled', 'disabled');
        }
        else {
            $("#circle-item-box-post").removeClass("gray");
            $("#circle-item-box-post").removeAttr('disabled');
        }
    }
    {% endif %}
</script>