<div id="accordion" class="match-selector ui-accordion ui-widget ui-helper-reset">
{% if realLeague %}
	{% for league in realLeague %}
		<h3 id="leagueid-{{league.id}}" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all bottom-margin" style="background-image:url({{ asset('bundles/'~league.nation_thumb) }})">
			<span>{{ league.name }}</span>
			<input type="checkbox"/>
			<div class="clear"></div>
		</h3>
		{% if matches is defined %}
			<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
				 {% for match in matches %}
				 	{% if match.league_id == league.id %}
					<div class="match{% if loop.index0 is odd %} odd{% endif %}">
						<div class="date left">{{match.date|date('D, M j Y @ H:i')}}</div>
						<div class="home left" {% if match.home_image %} style="background-image:url('{{ match.home_image }}');background-size:23px;" {% endif %}>{{ match.home_name }} </div>
						<div class="versus left">
							vs
						</div>
						<div class="away left" {% if match.away_image %} style="background-image:url('{{ match.away_image }}');background-size:23px;" {% endif %}>{{ match.away_name }}</div>
						<div class="day left">{{'Day'|trans}} {{match.matchday}}</div>
						<div class="checkbox-container"><input name="matches[]" type="checkbox" value="{{ match.match_id }}" class="match-selector" data-leagueid="{{league.id}}" data-matchid="{{match.match_id}}"/></div>
					</div>
					{% endif %}
				 {% endfor %}
			</div>
		{% endif %}
	{% endfor %}
</div>
{% else %}
	<div class="no-matches">
		{{'No matches available, please select a different date'|trans}}
	</div>
{% endif %}
{% block javascripts %}
 <script type="text/javascript">
	$(document).ready(function() {
		var headers = $('#accordion .accordion-header');
		var contentAreas = $('#accordion .ui-accordion-content ').hide();

		headers.click(function() {
			$(this).toggleClass('bottom-margin');
			var panel = $(this).next();
			var isOpen = panel.is(':visible');

			// open or close as necessary
			panel[isOpen? 'slideUp': 'slideDown']()
				// trigger the correct custom event
					.trigger(isOpen? 'hide': 'show');
			// stop the link from causing a pagescroll
			return false;
		});
		$(".match-selector input[type=checkbox]").click( function(e) {
			e.stopPropagation();
			//If the tab is closed then open it
			var header = $( this ).parents("#accordion .accordion-header");
			var panel = header.next();
			var isOpen = panel.is(':visible');

			if ($( this ).is(':checked')) {
				//currently not checked
				//setting to checked
				if (!isOpen) {
					//if the panel is closed and the check box went to checked from unchecked then open the panel
					header.trigger( "click" );
				}
				//set child check boxes to checked
				panel.find("input[type=checkbox]").each(function() {
					$( this ).attr("checked", true);
					var matchid = $( this ).data('matchid');
					obj = JSON.parse($("#matches").val());
					obj.push(matchid);

					$("#matches").val(JSON.stringify(obj));
				});

			} else {
				//currently checked
				//setting to unchecked
				if (!isOpen) {
					//if the panel is closed and the check box went to checked from unchecked then open the panel
					header.trigger( "click" );
				}

				//set child check boxes to unchecked
				panel.find("input[type=checkbox]").each(function() {
					$( this ).attr("checked", false);
					var matchid = $( this ).data('matchid');
					obj = JSON.parse($("#matches").val());

					for(var i=0;i<obj.length;i++) {
						if (obj[i] == matchid) {
							obj.splice(i,1);
							break;
						}
					}

					$("#matches").val(JSON.stringify(obj));
				});
			}
		});

		//checking to see if all matches have been un selected
		//if so then the header check box needs to be set to unchecked
		$( ".ui-accordion-content input[type=checkbox]" ).click(function() {
			var id = "#leagueid-"+$( this ).data("leagueid");
			var panel = $(id).next();
			var actionReq = true;
			if ( $( this ).is(':checked') ) {
				//user selected a match
				//set the header check box to checked
				if (actionReq) {
					$(id).find("input[type=checkbox]").attr("checked", true);
				}

			} else {
				//user unselected a match
				//check whether all other matches are not selected
				panel.find( "input[type=checkbox]").each(function() {
					if ($( this ).is(':checked')) { actionReq = false } else {  }
				});
				if (actionReq) {
					$(id).find("input[type=checkbox]").attr("checked", false);
				}
			}
		});

		/* handles the selection of matches for individual check boxes*/
		$(".match-selector").click(function() {

			var matchid = $( this ).data("matchid");
			if ($( this ).is(':checked')) {
				/*//add match*/
				obj = JSON.parse($("#matches").val());
				obj.push(matchid);

				$("#matches").val(JSON.stringify(obj));
			} else {
				/*//remove match*/
				obj = JSON.parse($("#matches").val());
				for(var i=0;i<obj.length;i++) {
					if (obj[i] == matchid) { break; }
				}
				obj.splice(i,1);

				$("#matches").val(JSON.stringify(obj));
			}
		});
	});
</script>
{% endblock %}