<table class="table leaderboard reduced-padding full-width mobile-show" id="generic-leaderboard">
	<thead>
		<tr>
			<th class="rank" title="{{ 'Rank'|trans }}"></th>
			<th class="member">{{ 'Username'|trans }}</th>
			<th class="points">{{ 'Progress'|trans }} %</th>
			<th class="points">{{ 'Points'|trans }}</th>
		</tr>
	</thead>
	<tbody class="larger-font">
	{% set has_winners = 0 %}
	{% set winner = 0 %}
	{% set winner_end = 0 %}

	{% for match in memberleague %}
		{% if match.is_winner %}
			{% set has_winners = 1 %}
		{% endif %}
		{% set winner = match.is_winner %}

		{% if ( winner == 0) and ( winner_end == 0) and ( has_winners) %}
			<tr>
				<td colspan="5" class="separator"></td>
			</tr>
			{% set winner_end = 1 %}
		{% endif %}

		<tr class="{% if match.is_winner %}winner {% else %} oulala-member {% endif %}">

			<td class="rank">{% if match.ranking == 0 %}N/A{% else %}{{ match.ranking }}{% endif %}</td>

			<td class="member">
				<span class="username ellipsis avatar" style="background-image: url(https://storage.googleapis.com/static.oulala.com/media/images/levels/status-1-2137-16x16.png);" title="{{ match.member }}">
					<a class="username" href="{{ asset('/'~app.request.locale~'/profile/'~match.member) }}">
						<i class="fa fa-user"></i>&nbsp;{{ match.member }}
					</a>
				</span>
			</td>	
			<td class="points">{{ match.percentage_played }}%</td>
			<td class="points">{{ match.points }}</td>
		</tr>
		{% else %}
		<tr>
			<td class="no-fixtures" colspan="5">
				<h3>{{ 'No Leaderboards for this week yet'|trans }}</h3>
			</td>
		</tr>
	{% endfor %}

	</tbody>
</table>
<table class="table leaderboard reduced-padding full-width web-searchbox" id="generic-leaderboard">
	<thead>
		<tr>
			<th class="rank" title="{{ 'Rank'|trans }}"></th>
			<th class="team">{{ 'Team Name'|trans }}</th>
			<th class="member">{{ 'Username'|trans }}</th>
			<th class="points">{{ 'Process'|trans }} %</th>
			<th class="points">{{ 'Points'|trans }}</th>
		</tr>
	</thead>
	<tbody class="larger-font">
	{% set has_winners = 0 %}
	{% set winner = 0 %}
	{% set winner_end = 0 %}

	{% for match in memberleague %}
		{% if match.is_winner %}
			{% set has_winners = 1 %}
		{% endif %}
		{% set winner = match.is_winner %}
		{% if ( winner == 0 ) and ( winner_end == 0) and ( has_winners) %}
			<tr>
				<td colspan="5" class="separator"></td>
			</tr>
			{% set winner_end = 1 %}
		{% endif %}
	
		<tr class="{% if ( match.member_id is defined) and ( match.member_id == member ) %}your-score {% endif %}{% if match.is_winner %}winner {% else %} oulala-member {% endif %}">

			<td class="rank">{% if match.ranking == 0 %}N/A{% else %}{{ match.ranking }}{% endif %}</td>
			
			<td class="team" title="{{ match.team_name }}" {% if client_id==1 %}style="background: url({{ asset('bundles/images/icons/leaderboard-oulala.png') }}) 10px center no-repeat;
    padding-left: 70px;" {% endif %}>
				{% if match.team_link is defined %}
					<a href="{{ asset('/'~app.request.locale~match.team_link) }}">{{ match.team_name }}</a>
				{% else %}
					{{ match.team_name }}
				{% endif %}
			</td>

			<td class="member">
				<span class="username ellipsis avatar" style="background-image: url(https://storage.googleapis.com/static.oulala.com/media/images/levels/status-1-2137-16x16.png);" title="{{ match.member }}">
					<a class="username" href="{{ asset('/'~app.request.locale~'/profile/'~match.member) }}">
						<i class="fa fa-user"></i>&nbsp;{{ match.member }}
					</a>
				</span>
			</td>
			<td class="points">{{ match.percentage_played }}%</td>
			<td class="points">{{ match.points }}</td>
		</tr>
		{% else %}
		<tr>
			<td class="no-fixtures" colspan="5">
				<h3>{{ 'No Leaderboards for this week yet'|trans }}</h3>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>