<script>
    var playersperteam = new Array();
//    {foreach from=$playersperteam key=player_id item=player}
    {% for player_id,player in playersperteam %}

    {% if (player.team_id == currentfixture.home_team_id) or (player.team_id == currentfixture.away_team_id) %}
        playersperteam[{{ player_id}}] = (new playerperteam({{ player_id}},{{ player.starting_11}}));

    {% endif %}
        {% endfor %}
</script>
{% if currentfixture is defined %}
    {% if currentfixture.home_team_id is defined or currentfixture.away_team_id  is defined %}
        <div class="live-fixtures-timeline-container">
        <!-- ko if: MatchViewModel.home_starters({{ val }})().length <= 0 -->
        <div class="live-fixture-message">
            {{ "No live data"|trans }}
        </div>
        <!-- /ko -->
        <!-- ko if: MatchViewModel.home_starters({{ val }})().length > 0 -->
        {#<div class="teamname">{{ currentfixture.home_team }}</div>#}
        <div class="live-fixtures-timeline">
        	<div class="live-fixtures-timeline-numbers" data-bind="foreach: MatchViewModel.full_match_events({{ val }})()">
           		<div data-bind="attr: { 'class':'player-event-line player-element ' + ( team == 'home' ? 'home left' : 'away right' ) }" >
					<div data-bind="text:minute + '&rsquo;', attr: { 'class': 'event-goal '+ ( team == 'home' ? 'right' : 'left' ) + ( ( $index() == MatchViewModel.full_match_events({{ val }})().length - 1 ) ? ' last' : '') }"></div>
					<div data-bind="attr: { 'class': 'tip live-fixtures-from' + (minute < 90 ? minute : 90) + ' ' + ( team == 'home' ? 'right' : 'left' ) + ' event-' + event_type_id  }">
						<div data-bind="attr: { 'class': 'event-icon event event-' + event_type_id }">
							<div class="event-description">
								<div class= "event-description-name" data-bind="text: player_name"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
           	</div>
        </div>
        <!-- /ko -->
    </div>
    <div class="players-container">
        <!-- ko if:  MatchViewModel.home_starters({{ val }})().length > 0 -->
         {#{if $currentfixture.stadium}<div class="stadiumname">{$currentfixture.stadium}</div>{/if} #}
        <div class="home-players left">
            <div class="header">
                <div class="kit" {% if currentfixture.home_kit_thumb %} style="background-image:url('{{ currentfixture.home_kit_thumb }}')"{% endif %}></div>
                <div class="dark-teamname">{{ currentfixture.home_team }}</div>
            </div>

            <div class="sub-header-starters">
                <div class="starters left">{{ "starters"|trans }}</div>
                <div class="pos left">{{ "Pos"|trans }}</div>
                <div class="points left">{{ "Points"|trans }}</div>
            </div>
            <div class="starters" data-bind="foreach: MatchViewModel.home_starters({{ val }})()">
                <div class="player-row" data-bind="css: { 'even': ($index() % 2 == 0), 'memberplayer': ((playersperteam[player_id] != undefined) && (playersperteam[player_id].starting_11 == 1)) }">
                    <div class="player-element player-element-name">
                        <a class="scoringbreakdown" ><span data-bind="text:name()"></span></a>
                        <!-- ko if:  (playersperteam[player_id] != undefined) && (playersperteam[player_id].starting_11 == 0) -->
                        {#<div class="memberplayer-sub right">#}
                            {#<span>{{ "s"|trans }}</span>#}
                                {#<span class="tip">#}
                                    {#<div class="fixtures-legend">#}
                                        {#<div class="text">{{ "substitute"|trans }}</div>#}
                                    {#</div>#}
                                {#</span>#}
                        {#</div>#}
                        <!-- /ko -->
                       <div class="player-element live-fixtures-events" data-bind="foreach: events">
                            <div class ="event-left">
                                <div data-bind="attr: { 'class': 'event event-' + event_type_id }">
                                    <span class="tip">
                                        <div data-bind="attr: { 'class': 'event-description-name last event-' + event_type_id }"></div>
                                        <div class="event-description">
                                            <div  data-bind="text: minute + '&rsquo;&nbsp;' + event_names[event_type_id], attr: { 'class': 'event-description-minute last event-' + event_type_id }"></div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player-element player-element-pos" data-bind="text: MatchViewModel.position(position_id())"></div>
                    <div class="player-element player-element-score" data-bind="css: { 'live-fixtures-positive': (score() > 0), 'live-fixtures-negative': (score() < 0) }">
                        <span data-bind="text: score()"></span>
                    </div>
                </div>
            </div>

            <!-- ko if:  MatchViewModel.home_subs({{ val }})().length > 0 -->
            <div class="sub-header-starters">
                <span class="subs-header">{{ "substitutions"|trans }}</span>
            </div>

            <div class="subs-bench" data-bind="foreach: MatchViewModel.home_subs({{ val }})()">
                <div class="player-row" data-bind="css: { 'even': ($index() % 2 == 0), 'memberplayer': ((playersperteam[player_id] != undefined) && (playersperteam[player_id].starting_11 == 1)) }">
                    <div class="player-element player-element-name">
                        <a class="scoringbreakdown" ><span data-bind="text:name()"></span></a>
                        <div class="player-element live-fixtures-events" data-bind="foreach: events">
                            <div class ="event-left">
                                <div data-bind="attr: { 'class': 'event event-' + event_type_id }">
                                    <span class="tip">
                                        <div data-bind="attr: { 'class': 'event-description-name last event-' + event_type_id }"></div>
                                        <div class="event-description">
                                            <div  data-bind="text: minute + '&rsquo;&nbsp;' + event_names[event_type_id], attr: { 'class': 'event-description-minute last event-' + event_type_id }"></div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player-element player-element-pos" data-bind="text: MatchViewModel.position(position_id())"></div>
                    <div class="player-element player-element-score" data-bind="css: { 'live-fixtures-positive': (score() > 0), 'live-fixtures-negative': (score() < 0) }">
                        <span data-bind="text: score()"></span>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if:  MatchViewModel.away_starters({{ val }})().length > 0 -->
        <div class="away-players left">
            <div class="header">
                <div class="kit" {% if currentfixture.away_kit_thumb %} style="background-image:url('{{ currentfixture.away_kit_thumb }}')"{% endif %}></div>
                <div class="dark-teamname">{{ currentfixture.away_team }}</div>
            </div>

            <div class="sub-header-starters">
                <div class="starters left">{{ "starters"|trans }}</div>
                <div class="pos left">{{ "Pos"|trans }}</div>
                <div class="points left">{{ "Points"|trans }}</div>
            </div>
            <div class="starters" data-bind="foreach: MatchViewModel.away_starters({{ val }})()">
                <div class="player-row" data-bind="css: { 'even': ($index() % 2 == 0), 'memberplayer': ((playersperteam[player_id] != undefined) && (playersperteam[player_id].starting_11 == 1)) }">
                    <div class="player-element player-element-name">
                        <a class="scoringbreakdown"><span data-bind="text:name()"></span></a>
                        <div class="player-element live-fixtures-events" data-bind="foreach: events">
                            <div class ="event-left">
                                <div data-bind="attr: { 'class': 'event event-' + event_type_id }">
                                    <span class="tip">
                                        <div data-bind="attr: { 'class': 'event-description-name last event-' + event_type_id }"></div>
                                        <div class="event-description">
                                            <div  data-bind="text: minute + '&rsquo;&nbsp;' + event_names[event_type_id], attr: { 'class': 'event-description-minute last event-' + event_type_id }"></div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player-element player-element-pos" data-bind="text: MatchViewModel.position(position_id())"></div>
                    <div class="player-element player-element-score" data-bind="css: { 'live-fixtures-positive': (score() > 0), 'live-fixtures-negative': (score() < 0) }">
                        <span data-bind="text: score()"></span>
                    </div>
                </div>
            </div>

            <!-- ko if:  MatchViewModel.away_subs({{ val }})().length > 0 -->
            <div class="sub-header-starters">
                <span class="subs-header">{{ "substitutions"|trans }}</span>
            </div>

            <div class="subs-bench" data-bind="foreach: MatchViewModel.away_subs({{ val }})()">
                <div class="player-row" data-bind="css: { 'even': ($index() % 2 == 0), 'memberplayer': ((playersperteam[player_id] != undefined) && (playersperteam[player_id].starting_11 == 1)) }">
                    <div class="player-element player-element-name">
                        <a class="scoringbreakdown"><span data-bind="text:name()"></span></a>
                        <div class="player-element live-fixtures-events" data-bind="foreach: events">
                            <div class ="event-left">
                                <div data-bind="attr: { 'class': 'event event-' + event_type_id }">
                                    <span class="tip">
                                        <div data-bind="attr: { 'class': 'event-description-name last event-' + event_type_id }"></div>
                                        <div class="event-description">
                                            <div  data-bind="text: minute + '&rsquo;&nbsp;' + event_names[event_type_id], attr: { 'class': 'event-description-minute last event-' + event_type_id }"></div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="player-element player-element-pos" data-bind="text: MatchViewModel.position(position_id())"></div>
                    <div class="player-element player-element-score" data-bind="css: { 'live-fixtures-positive': (score() > 0), 'live-fixtures-negative': (score() < 0) }">
                        <span data-bind="text: score()"></span>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
    {% else %}
        <div class="live-fixture-message">
            {{ "This match has not started yet, please check back later !"|trans }}
        </div>
    {% endif %}
    <div class="orange-box" data-fixturesection="{{ currentfixture.match_id }}">Close ▲ Close</div>
    <script>
        if (matches[{{ val }}] != null && matches[{{ val }}] != undefined) {
            var home_starter_players = [];
            var home_starter_player_ids = [];
            var home_sub_players = [];
            var home_sub_player_ids = [];

            var away_starter_players = [];
            var away_starter_player_ids = [];
            var away_sub_players = [];
            var away_sub_player_ids = [];

            {% for playerHome in currentfixture.home_team_ids %}
            {% if playerHome.starting_11 %}
            home_starter_players.push(new Player({{ playerHome.player_id }}, "{{ playerHome.comment }}", {{ currentfixture.matchday_id }}, 0, 1000, 0, 1000, 1, {{ playerHome.fk_position_id }}, '', 0, '', null, false));
            home_starter_player_ids.push({{ playerHome.player_id }});
            {% else %}
            home_sub_players.push(new Player({{ playerHome.player_id }}, "{{ playerHome.comment }}", {{ currentfixture.matchday_id }}, 0, 1000, 0, 1000, 1, {{ playerHome.fk_position_id }}, '', 0, '', null, false));
            home_sub_player_ids.push({{ playerHome.player_id }});
            {% endif %}
                {% endfor %}

            matches[{{ val }}].home_subs(home_sub_players);
            matches[{{ val }}].home_starters(home_starter_players);

            {% for playerAway in currentfixture.away_team_ids %}
            {% if playerAway.starting_11 %}
            away_starter_player_ids.push({{ playerAway.player_id }});
            away_starter_players.push(new Player({{ playerAway.player_id}}, "{{ playerAway.comment }}", {{ currentfixture.matchday_id }}, 0, 1000, 0, 1000, 1, {{ playerAway.fk_position_id}}, '', 0, '', null, false));
            {% else %}
            away_sub_player_ids.push({{ playerAway.player_id}});
            away_sub_players.push(new Player({{ playerAway.player_id }}, "{{ playerAway.comment }}", {{ currentfixture.matchday_id}}, 0, 1000, 0, 1000, 1, {{ playerAway.fk_position_id }}, '', 0, '', null, false));
            {% endif %}
            {% endfor %}

            matches[{{ val }}].away_starters(away_starter_players);
            matches[{{ val }}].away_subs(away_sub_players);

            setUpSocketToURL("{{ nodeUrl }}", function (socketpod) {
                setupSockets(home_starter_players, home_starter_player_ids, socketpod, true, {{ val }});
                setupSockets(home_sub_players, home_sub_player_ids, socketpod, true, {{ val }});
                setupSockets(away_starter_players, away_starter_player_ids, socketpod, false, {{ val }});
                setupSockets(away_sub_players, away_sub_player_ids, socketpod, false, {{ val }});
            });
        }

    </script>

    {#<script type="text/javascript" src="{{ asset('bundles/js/knockout-2.2.1.js') }} {{ js_version }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/js/ko-models.js') }} {{ js_version }}"></script>#}
{% else %}
    <div class="live-fixture-message">
        {translate id={$errormessage}}
    </div>
{% endif %}