{strip}
{if $currentfixture}
<div class="live-fixtures-timeline-container">
    <div class="live-fixtures-timeline">
        <div class="live-fixtures-timeline-numbers">
            {section name=event loop=$FullMatchEvents}
            <div class="player-event-line player-element {if $FullMatchEvents[event].team == 'home'} home left {else} away right{/if}">
				<div class="event-goal {if $smarty.section.event.last}last {/if}{if $FullMatchEvents[event].team == 'home'}right{else}left{/if}">{$FullMatchEvents[event].minute}</div>
				<div class = "tip {if $FullMatchEvents[event].team == 'home'}right{else}left{/if} live-fixtures-from{if $FullMatchEvents[event].minute < 90}{$FullMatchEvents[event].minute}{else}90{/if} event-{$FullMatchEvents[event].event_type_id}">
					<div class="event-icon event event-{$FullMatchEvents[event].event_type_id}">
						<div class="event-description">
							<div class= "event-description-name">{$FullMatchEvents[event].player_name}</div>
						</div>
					</div>
				</div>
			</div>
            <div class="clear"></div>
            {/section}
        </div>
    </div>
</div>
<div class="players-container">
    {if $currentfixture['home_team_players']}
    <div class="home-players left">
        <div class="header">
            <div class="kit" {if $currentfixture.home_kit_thumb} style="background-image:url('{$mediabase}{$currentfixture.home_kit_thumb}')"{/if}></div>
            <div class="dark-teamname">{$currentfixture.home_team}</div>
        </div>

        <div class="sub-header-starters">
            <div class="starters left">{translate id=1036}</div>
            <div class="pos left">{translate id=198}</div>
            <div class="points left">{translate id=183}</div>
        </div>
        <div class="starters">
            {assign starting11 1}
            {section name=player loop=$currentfixture['home_team_players']}
                {if $starting11 neq $currentfixture['home_team_players'][player].starting_11}
                    </div>
                    <div class="sub-header-starters">
                        <span class="subs-header">{translate id=1038}</span>
                    </div>
                    <div class="subs-bench">
                {/if}
                {assign starting11 $currentfixture['home_team_players'][player].starting_11}
                <div class="player-row {if $smarty.section.player.iteration is even} even{/if}" data-player="{$currentfixture['home_team_players'][player].player_id}">
                    <div class="player-element player-element-name">
                        <a href="{$base}{$pages.playerprofile}/{$currentfixture['home_team_players'][player].seo_url}/{$currentfixture['home_team_players'][player].player_id}" target="_blank">
                            <span>{$currentfixture['home_team_players'][player].comment}</span>
                        </a>
                        {if $currentfixture['home_team_players'][player].events}
                        <div class="player-element live-fixtures-events">
                            {section name=event loop=$currentfixture['home_team_players'][player].events}
                            <div class ="event-left">
                                <div class="event event-{$currentfixture['home_team_players'][player].events[event].event_type_id}">
                                    <span class="tip">
                                        <div class="event-description-name last event-{$currentfixture['home_team_players'][player].events[event].event_type_id}"></div>
                                        <div class="event-description">
                                            <div  class="event-description-minute last event-{$currentfixture['home_team_players'][player].events[event].event_type_id}">{$currentfixture['home_team_players'][player].events[event].minute}&rsquo;&nbsp;{$eventtypes[$currentfixture['home_team_players'][player].events[event].event_type_id-1]['event']}</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            {/section}
                        </div>
                        {/if}
                    </div>
                    <div class="player-element player-element-pos">{$currentfixture['home_team_players'][player].player_position_abbreviation}</div>
                    <div class="player-element player-element-score{if $currentfixture['home_team_players'][player].score > 0} live-fixtures-positive{elseif $currentfixture['home_team_players'][player].score < 0} live-fixtures-negative{/if}">
                        <span>{$currentfixture['home_team_players'][player].score}</span>
                    </div>
                </div>
            {/section}
        </div>
    </div>
    {/if}
    {if $currentfixture['away_team_players']}
    <div class="away-players left">
        <div class="header">
            <div class="kit" {if $currentfixture.home_kit_thumb} style="background-image:url('{$mediabase}{$currentfixture.away_kit_thumb}')"{/if}></div>
            <div class="dark-teamname">{$currentfixture.away_team}</div>
        </div>

        <div class="sub-header-starters">
            <div class="starters left">{translate id=1036}</div>
            <div class="pos left">{translate id=198}</div>
            <div class="points left">{translate id=183}</div>
        </div>
        <div class="starters">
            {assign starting11 1}
            {section name=player loop=$currentfixture['away_team_players']}
                {if $starting11 neq $currentfixture['away_team_players'][player].starting_11}
                    </div>
                    <div class="sub-header-starters">
                        <span class="subs-header">{translate id=1038}</span>
                    </div>
                    <div class="subs-bench">
                {/if}
                {assign starting11 $currentfixture['away_team_players'][player].starting_11}
                <div class="player-row {if $smarty.section.player.iteration is even} even{/if}" data-player="{$currentfixture['away_team_players'][player].player_id}">
                    <div class="player-element player-element-name">
                        <a href="{$base}{$pages.playerprofile}/{$currentfixture['away_team_players'][player].seo_url}/{$currentfixture['away_team_players'][player].player_id}" target="_blank">
                            <span>{$currentfixture['away_team_players'][player].comment}</span>
                        </a>
                        {if $currentfixture['away_team_players'][player].events}
                            <div class="player-element live-fixtures-events">
                                {section name=event loop=$currentfixture['away_team_players'][player].events}
                                    <div class ="event-left">
                                        <div class="event event-{$currentfixture['away_team_players'][player].events[event].event_type_id}">
                                            <span class="tip">
                                                <div class="event-description-name last event-{$currentfixture['away_team_players'][player].events[event].event_type_id}"></div>
                                                <div class="event-description">
                                                    <div  class="event-description-minute last event-{$currentfixture['away_team_players'][player].events[event].event_type_id}">{$currentfixture['away_team_players'][player].events[event].minute}&rsquo;&nbsp;{$eventtypes[$currentfixture['away_team_players'][player].events[event].event_type_id-1]['event']}</div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                {/section}
                            </div>
                        {/if}
                    </div>
                    <div class="player-element player-element-pos">{$currentfixture['away_team_players'][player].player_position_abbreviation}</div>
                    <div class="player-element player-element-score{if $currentfixture['away_team_players'][player].score > 0} live-fixtures-positive{elseif $currentfixture['away_team_players'][player].score < 0} live-fixtures-negative{/if}">
                        <span>{$currentfixture['away_team_players'][player].score}</span>
                    </div>
                </div>
            {/section}
        </div>
    </div>
    {/if}
</div>
{else}
    <div class="live-fixture-message">
        {translate id=$errormessage}
    </div>
{/if}
<div class="orange-box" data-fixturesection="{$currentfixture.match_id}">{translate id=1060}</div>
<script>
    $(document).ready(function() {
        var substitutePlayer = '\
        <div class="memberplayer-sub right"> \
            <span>{translate id=1231 default="s"}</span> \
            <div class="memberplayer-sub right"> \
                <span>{translate id=1231 default="s"}</span> \
                <span class="tip"> \
                    <div class="fixtures-legend"> \
                        <div class="text">{translate id=578 default="substitute"}</div> \
                    </div> \
                </span> \
            </div> \
        </div>';
        {nocache}
            {foreach from=$playersperteam key=player_id item=player}
                {if $player.starting_11}
                    $('div[data-player="{$player_id}"]').addClass('memberplayer');
                {else}
                    $('div[data-player="{$player_id}"] > .player-element-name').append(substitutePlayer);
                {/if}
            {/foreach}
        {/nocache}
			
    });
</script>
{/strip}