{% if currentfixture is defined %}
<div class="live-fixtures-timeline-container">
    <div class="live-fixtures-timeline">
        <div class="live-fixtures-timeline-numbers">
        	{% if FullMatchEvents is defined %}
           	 {% for event in FullMatchEvents %}
				<div class="player-event-line player-element {% if event.team == 'home' %} home left {% else %} away right{% endif %}">
					<div class="event-goal {% if loop.last %}last {% endif %}{% if event.team == 'home' %}right{% else %}left{% endif %}">{{ event.minute }}</div>
					<div class = "tip {% if event.team == 'home' %}right{% else %}left{% endif %} live-fixtures-from{% if event.minute < 90 %}{{ event.minute }}{% else %}90{% endif %} event-{{ event.event_type_id }}">
						<div class="event-icon event event-{{ event.event_type_id }}">
							<div class="event-description">
								<div class= "event-description-name">{{ event.player_name }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				{% endfor %}
            {% endif%}
        </div>
    </div>
</div>
<div class="players-container">
    {% if currentfixture['home_team_players'] %}
    <div class="home-players left">
        <div class="header">
            <div class="kit" {%if currentfixture.home_kit_thumb %} style="background-image:url('{{ currentfixture.home_kit_thumb }}')"{% endif %}></div>
            <div class="dark-teamname">{{ currentfixture.home_team }}</div>
        </div>

        <div class="sub-header-starters">
            <div class="starters left">{{ 'Starters'|trans }}</div>
            <div class="pos left">{{ 'Pos'|trans }}</div>
            <div class="points left">{{ 'Points'|trans }}</div>
        </div>
        <div class="starters">
            {% set starting11 = 1 %}
            {% for player in currentfixture['home_team_players'] %}
                {% if starting11 != player.starting_11 %}
                    </div>
                    <div class="sub-header-starters">
                        <span class="subs-header">{{ 'substitutions'|trans }}</span>
                    </div>
                    <div class="subs-bench">
                {% endif %}
                {% set starting11 = player.starting_11 %}
                <div class="player-row {% if loop.index is even %} even{% endif %}" data-player="{{ player.player_id }}">
                    <div class="player-element player-element-name">
                        <a href="{$base}{$pages.playerprofile}/{$currentfixture['home_team_players'][player].seo_url}/{$currentfixture['home_team_players'][player].player_id}" target="_blank">
                            <span>{{ player.comment }}</span>
                        </a>
                        {% if player.events %}
                        <div class="player-element live-fixtures-events">
                            {% for event in player.events %}
                            <div class ="event-left">
                                <div class="event event-{{ event.event_type_id }}">
                                    <span class="tip">
                                        <div class="event-description-name last event-{{ event.event_type_id }}"></div>
                                        <div class="event-description">
                                            <div  class="event-description-minute last event-{{ event.event_type_id }}">{{ event.minute }}&rsquo;&nbsp;{$eventtypes[event.event_type_id-1]['event']}</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="player-element player-element-pos">{{ player.player_position_abbreviation }}</div>
                    <div class="player-element player-element-score{% if player.score > 0 %} live-fixtures-positive{% elseif player.score < 0 %} live-fixtures-negative{% endif %}">
                        <span>{{ player.score }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if currentfixture['away_team_players'] %}
    <div class="away-players left">
        <div class="header">
            <div class="kit" {% if currentfixture.home_kit_thumb %} style="background-image:url('{{ currentfixture.away_kit_thumb }}')"{% endif %}></div>
            <div class="dark-teamname">{$currentfixture.away_team}</div>
        </div>

        <div class="sub-header-starters">
          	<div class="starters left">{{ 'Starters'|trans }}</div>
            <div class="pos left">{{ 'Pos'|trans }}</div>
            <div class="points left">{{ 'Points'|trans }}</div>
        </div>
        <div class="starters">
            {% set starting11 = 1 %}
            {% for player in currentfixture['away_team_players'] %}
                {% if starting11 != player.starting_11 %}
                    </div>
                    <div class="sub-header-starters">
                        <span class="subs-header">{{ 'substitutions'|trans }}</span>
                    </div>
                    <div class="subs-bench">
                {% endif %}
                {% set starting11 = player.starting_11 %}
                <div class="player-row {% if loop.index is even %} even{% endif %}" data-player="{{ player.player_id }}">
                    <div class="player-element player-element-name">
                        <a href="{$base}{$pages.playerprofile}/{{ player.seo_url }}/{{ player.player_id }}" target="_blank">
                            <span>{{ player.comment }}</span>
                        </a>
                        {% if player.events %}
                            <div class="player-element live-fixtures-events">
                                {% for event in player.events %}
                                    <div class ="event-left">
                                        <div class="event event-{{ event.event_type_id }}">
                                            <span class="tip">
                                                <div class="event-description-name last event-{{ event.event_type_id }}"></div>
                                                <div class="event-description">
                                                    <div  class="event-description-minute last event-{{ event.event_type_id }}">{{ event.minute }}&rsquo;&nbsp;{$eventtypes[event.event_type_id-1]['event']}</div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="player-element player-element-pos">{{ player.player_position_abbreviation }}</div>
                    <div class="player-element player-element-score{% if player.score > 0 %} live-fixtures-positive{% elseif player.score < 0 %} live-fixtures-negative{% endif %}">
                        <span>{{ player.score }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% else %}
    <div class="live-fixture-message">
        {{ 'Could not connect to retrieve live data. Please try again.'|trans }}
    </div>
{% endif %}
<div class="orange-box" data-fixturesection="{% if currentfixture is defined %}{{ currentfixture.match_id }}{% endif %}">{{ 'Hide match details'|trans }}</div>
<script>
    $(document).ready(function() {
        var substitutePlayer = '\
        <div class="memberplayer-sub right"> \
            <span>{translate id=1231 default="s"}</span> \
            <div class="memberplayer-sub right"> \
                <span>{translate id=1231 default="s"}</span> \
                <span class="tip"> \
                    <div class="fixtures-legend"> \
                        <div class="text">{translate id=578 default="substitute"}</div> \
                    </div> \
                </span> \
            </div> \
        </div>';
        {% if playersperteam is defined %}
			{% for key,player in playersperteam %}
				{% if player.starting_11 %}
					$('div[data-player="{{ key }}"]').addClass('memberplayer');
				{% else %}
					$('div[data-player="{{ key }}"] > .player-element-name').append(substitutePlayer);
				{% endif %}
			{% endfor %}	
		{% endif %}
    });
</script>