{#{% block custom_style style %}#}
{% include 'templates/controls/gamedetails.html.twig' %}
{% include 'templates/controls/inplay-pitch.html.twig' %}
<div class="memberteam-schedule-container substitution-guide-container" id="team-details-schedule">
	<div class="title">{{'Schedule of play'|trans}}</div>
	<div class="rounded-container">
	{% include 'templates/controls/memberteam-schedule.html.twig' %}
	</div>
	<div class="clear"></div>
	<div class="substitution-guide-legend">
		<div class="legend-text substitute">= {{ 'substitute player'|trans}}</div>
		<div class="legend-text after-substitute">= {{'this player plays after a substitute player'|trans}}</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>	
{% include 'templates/controls/inplay-timeline.html.twig' %}