{% if loadingteam %}
<div id="dialog-saved-teams-load" title="{{ 'Load Team' | trans }}" class="dialog">
    {% endif %}
    <div class="myteams mysavedteams">
        {% if saved_team is not empty %}
            {% for team in saved_team %}
                <div class="saved-team" data-team-id="{{ team.member_draftteam_id }}">
                    <div class="team-top">
                        <div class="team-created-date left">{{ team.date_created }}</div>
                        {% if loadingteam == false %}
                            <div class="team-remove right" onclick="removeSavedTeam({{ team.member_draftteam_id }})"><span>&#10006;</span></div>
                        {% endif %}
                        <div class="clear"></div>
                        <div class="team-flags left" style="width: 0 !important"><img src="{{ asset('/bundles/'~team.nation_thumb) }}" alt="" title=""></div>
                        <div class="team-name">{{ team.comment }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="team-field">
                        <div class="team-field-block">
                            {% for position in team.formation %}
                                <div class="formation formation-{{ position.slots }} pp{{ loop.index0 }}" data-formation="{{ loop.index0 }}" data-position-id="{{ position.player_position_id }}">
                                    <div>
                                        {% set players_count = position.players|length %}
                                        {% if players_count > 0 %}
                                            {% for player in position.players %}
                                                {% if player|length > 0 %}
                                                    <div class="player for-field scoringbreakdown" style="position:relative;">
                                                        <div class="kit"{% if player.image %} style="background-image: url({{ player.image }});"{% endif %}>
                                                        </div>
                                                        <div class="name">{{ player.player_name }}</div>
                                                        <div class="score">{{ player.score }}m</div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% if (position.slots - players_count) > 0 %}
                                                {% for foo in  range(1, (position.slots - players_count) ) %}
                                                    <div class="player default" data-formation-id="{{ loop.index0 }}" style="position:relative;">
                                                        <div class="kit"></div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% else %}
                                            {% set k = position.slots|number_format %}
                                            {% for slot in range(1,k) %}
                                                <div class="player default" data-formation-id="{{ loop.index0 }}" style="position:relative;">
                                                    <div class="kit"></div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="team-subs">
                            <ul class="flatten">
                                {% for slot in range(0, 5) %}
                                    <li class="idle">
                                        <div class="holder" style="position:relative;">
                                            {% if team.subs[slot] is defined %}
                                                <div class="player for-sub scoringbreakdown" >
                                                    <div class="kit"{% if team.subs[slot].image %} style="background-image: url({{ team.subs[slot].image }});"{% endif %}>
                                                    </div>
                                                    <div class="name">{{ team.subs[slot].player_name }}</div>
                                                </div>
                                            {% else %}
                                                <div class="player default" data-player-id="1">
                                                    <div class="kit"></div>
                                                    <div class="name"></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                                <span class="clear"></span>
                            </ul>
                        </div>
                    </div>
                    <div class="team-join-block">
                        {% if loadingteam %}
                            <button class="btn" onclick="loadSelectedTeam({{ team.member_league_id|default(0) }},{{ team.member_draftteam_id }})">{{'Load Team'|trans}}</button>
                        {% else %}
                            <a class="btn" href="{{ team.join_url }}">{{'Join league'|trans}}</a>
                            <a class="btn" href="{{ team.join_new_league_url }}">{{'Use In new League'|trans}}</a>
                            <a class="btn" href="{{ team.edit_url }}">{{'Edit Team'|trans}}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {#<div class="nothing-found error">#}
                {#<p>{{'None of your leagues are live at the moment.' | trans }}</p>#}
                {#<p>{{'They will appear here once they go live.' | trans }}</p>#}
                {#<p>{{'You can also join other leagues by clicking' | trans }}#}
                    {#<a target="_self" href="{{ asset('/'~app.request.locale~'/leagues')}}">{{'HERE'|trans}}</a>.#}
                {#</p>#}
            {#</div>#}
        {% endif %}
    </div>
    {% if loadingteam and saved_team is not empty %}
</div>
    <script type="text/javascript">
        var memberleagueid = {{ leagueId|default(0) }};
        var isSaved = {{ savedTeam|default(1) }};
        var currentteamid = {{ currentteamid|default('null') }};

        function loadSelectedTeam($leagueid,$teamid){
            /*showDialog({ action: 'confirmDialogTeamLoading', leagueid: $leagueid,teamid: $teamid,currentteamid:teamid,savedTeam: 1 });*/
            var iLeagueID = 0;
            if ( $leagueid == 0 || $leagueid == "" ){
                iLeagueID = memberleagueid;
            }else{
                iLeagueID = $leagueid;
            }

            performAction("{{ 'squad/loadMyTeam'}}",{//'/'~app.request.locale~'/leagues/loadMyTeam'
                leagueid: iLeagueID,
                loadteamid: $teamid,
                currentteamid:currentteamid,
                teamid: teamid,
                loadingteam:true,
                savedTeam: isSaved
            },function(){
                /*performAction({
                    action: "loadMyTeam",
                    leagueid: memberleagueid,
                    teamid: teamid,
                    currentteamid:"saveloaded",
                    loadteamid: $teamid,
                    savedTeam: isSaved,
                    loadingteam:true
                });*/
                $("#dialog-saved-teams-load").dialog("destroy");
            });
        }
        $("#dialog-saved-teams-load").dialog({
            resizable: false,
            width: 650,
            height: 500,
            modal: true,
            dialogClass: 'black-dialog fixed-dialog',
            buttons: false,
        }).attr('id', 'dialog-saved-teams-load');

        $('.ui-dialog-titlebar-close').click(function(){
            $("#dialog-saved-teams-load").dialog("destroy");
        });
    </script>
{% else %}
    <script>
        $("#dialog-saved-teams-load").dialog({
            resizable: false,
            width: 500,
            height: 232,
            modal: true,
            dialogClass: 'no-close fixed-dialog view-leagues',
            prepend:
            $("#dialog-saved-teams-load").html(
                "<div class='.nothing-found error'>" +
                    "<p>{{ 'None of your leagues are live at the moment.' | trans }}</p>\n" +
                    "<p>{{ 'They will appear here once they go live.' | trans }}</p>\n" +
                    "<p>{{ 'You can also join other leagues by clicking' | trans }}\n" +
                        "<a target=\"_self\" href=\"{{ asset('/'~app.request.locale) }}\">{{ 'HERE'|trans }}</a>.\n" +
                    "</p>"+
                "</div>"
            ),
            buttons: {
                Cancel: {
                    text: 'close',
                    "class": 'gray confirmButton',
                    click: function () {
                        $(this).dialog("destroy");
                        $(this).hide();
                    }
                },
                Ok: {
                    text: 'view leagues',
                    "class": 'black',
                    click: function (e) {
                        window.location.href = '/';
                    }
                }
            }
        }).attr('id', 'dialog');
    </script>
{% endif %}

