<div class="mobile-searchbox">
    <div class="mobile-table">
        {% for league in leagues %}
            <div class="info-block {% if loop.index0 is odd %} odd {% else %} even {% endif %}">
                <div>
                    <div class="info-league-name" style="line-height: 20px;">
                        <a href="{$league.view_league_link}">
                            {{ league.name }}
                        </a>
                        <div>{{ league.team_name }} ({{ league.team_id }})</div>
                    </div>
                    <div class="join-block">
                        {% if active == 'upcoming' %}
                            <td>
                            <a href="{{ asset('/'~app.request.locale~'/squads/create/'~league.leagues_id~'/'~league.team_id) }}"
                               class="btn">{{ 'Team'|trans }}</a>
                            </td>
                        {% else %}
                            <td>
                            <a href="{{ asset('/'~app.request.locale~'/live/'~league.leagues_id~'/'~league.team_id) }}"
                               class="btn">{{ 'View Live'|trans }}</a>
                            </td>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="one-forth">
                    {% if ( active == 'past' ) or ( active == 'winning' ) %}
                        <div class="info-title ">{{ 'Ended'|trans }}</div>
                        <div class="info-value">{{ league.toDate|date("D j M H:i A") }}</div>
                    {% else %}
                        <div class="info-title">{{ 'Starts'|trans }}<span class="web-show">▲</span></div>
                        <div class="info-value" id="{{ league.team_id }}_datetime_mobile">
                            {% if league.timetostart > 0 %}
                                <div class="league_today">
                                    <div class="dash seconds_dash right">
                                        <span class="digit"></span>
                                        <span class="digit"></span>
                                    </div>
                                    <div class="dash minutes_dash right">
                                        <span class="digit"></span>
                                        <span class="digit"></span>
                                        <span class="dash_separator">:</span>
                                    </div>
                                    <div class="dash hours_dash right">
                                        <span class="digit"></span>
                                        <span class="digit"></span>
                                        <span class="dash_separator">:</span>
                                    </div>
                                    <div class="dash right">
                                        <span class="dash_separator">-</span>
                                    </div>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            startTimer('#{{ league.team_id }}_datetime_mobile', {{ league.timetostart }});
                                        });
                                    </script>
                                </div>
                            {% else %}
                                {{ league.fromDate | date("D j M H:i A") }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="one-forth">
                    {% if ( active == 'past' ) or ( active == 'winning' ) %}
                        <div class="info-title">{{ 'Rank'|trans }} / {{ 'Entries'|trans }} </div>
                        <div class="info-value">
                            {{ league.rank }} / {{ league.entry }}
                        </div>
                    {% else %}
                        <div class="info-title">{{ 'Entries'|trans }} / {{ 'Size'|trans }} </div>
                        <div class="info-value">
                            {% if league.maxParticipants != 0 %}
                                <span class="ellipsis">{{ league.entry }} / {{ league.maxParticipants }}</span>
                            {% else %}
                                <span class="ellipsis">{{ league.entry }} /&infin;</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="one-forth">
                    <div class="info-title">{{ 'Entry Fee' |trans }} </div>
                    <div class="info-value">&euro;{{ league.entryFee|number_format(2) }}</div>
                </div>
                <div class="one-forth">
                    {% if ( active == 'winning' ) %}
                        <div class="info-title">{{ 'My Winnings' |trans }} </div>
                        <div class="info-value">&euro;{{ league.mywinnings|number_format(2) }}</div>
                    {% else %}
                        <div class="info-title">{{ 'Prizes' |trans }} </div>
                        <div class="info-value">&euro;{{ league.prize|number_format(2) }}</div>
                    {% endif %}

                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
</div>
<table class="table searchbox web-searchbox">
    <thead>
    <tr>
        <th class="name vertical-align no-border-right">
            <a href="#"
               class="name-sort sort">{{ 'League Name / Team Name' |trans }}{% if sort is defined %}{% if sort=='name-DESC' %}&#9660;
                {% elseif sort=='name-ASC' %}&#9650;{% endif %}{% endif %}  </a>
        </th>
        {% if ( active == 'past' ) or ( active == 'winning' ) %}
            <th class="text-align-center">
                <a href="#"
                   class="ranking-sort sort">{{ 'Rank' |trans }}{% if sort is defined %}{% if sort=='ranking-DESC' %}&#9660;
                    {% elseif sort=='ranking-ASC' %}&#9650;{% endif %}{% endif %} </a>/
                <a href="#"
                   class="entry-sort sort">{{ 'Entries'|trans }}{% if sort is defined %}{% if sort=='entry-DESC' %}&#9660;
                    {% elseif sort=='entry-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% else %}
            <th class="text-align-center vertical-align">
                <a href="#"
                   class="entry-sort sort">{{ 'Entries'|trans }}{% if sort is defined %}{% if sort=='entry-DESC' %}&#9660;
                    {% elseif sort=='entry-ASC' %}&#9650;{% endif %}{% endif %}</a> /
                <a href="#"
                   class="maxParticipants-sort sort">{{ 'Size'|trans }} {% if sort is defined %}{% if sort=='maxParticipants-DESC' %}&#9660;
                    {% elseif sort=='maxParticipants-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% endif %}
        <th class="text-align-center vertical-align">
            <a href="#"
               class="entryFee-sort sort">{{ 'Entry Fee' |trans }} {% if sort is defined %}{% if sort=='entryFee-DESC' %}&#9660;
                {% elseif sort=='entryFee-ASC' %}&#9650;{% endif %}{% endif %}</a>
        </th>
        {% if ( active == 'winning' ) %}
            <th class="text-align-center vertical-align">
                <a href="#"
                   class="winnings-sort sort">{{ 'My Winnings'|trans }}{% if sort is defined %}{% if sort=='prize-DESC' %}&#9660;
                    {% elseif sort=='prize-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% else %}
            <th class="center-text">
                <a href="#"
                   class="prize-sort sort">{{ 'Prizes'|trans }} {% if sort is defined %}{% if sort=='prize-DESC' %}&#9660;
                    {% elseif sort=='prize-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% endif %}
        {% if ( active == 'past') or ( active == 'winning' ) %}
            <th class="right-text vertical-align border-right-none">
                <a href="#"
                   class="ends-sort sort">{{ 'Ended'|trans }} {% if sort is defined %}{% if sort=='fromDate-DESC' %}&#9660;
                    {% elseif sort=='fromDate-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% elseif (active == 'current') %}
            <th class="right-text vertical-align border-right-none">
                <a href="#"
                   class="ends-sort sort">{{ 'Ends'|trans }}{% if sort is defined %}{% if sort=='fromDate-DESC' %}&#9660;
                    {% elseif sort=='fromDate-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% else %}
            <th class="right-text vertical-align border-right-none">
                <a href="#"
                   class="starts-sort sort">{{ 'Starts'|trans }} {% if sort is defined %}{% if sort=='fromDate-DESC' %}&#9660;
                    {% elseif sort=='fromDate-ASC' %}&#9650;{% endif %}{% endif %}</a>
            </th>
        {% endif %}
        {% if ( active == 'upcoming' ) or ( active == 'past' ) or(active == 'winning') or(active == 'current')%}
        <th class="text-align-center vertical-align" id="btn-tr"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    <!--Dynamic data start foreach -->
    {% if leagues %}
        {% for league in leagues %}
            <tr class="player-tooltip player-data">
                <td title="league - wed" class="no-border-right">
                    <div class="ellipsis" style="line-height: 20px;">
                        <div><a href="{{ asset('/'~app.request.locale~'/league/detail/'~league.leagues_id) }}">
                                {{ league.name }}
                            </a></div>
                        <div>{{ league.team_name }} ({{ league.team_id }})</div>
                    </div>
                </td>
                {% if ( active == 'past' ) or ( active == 'winning' ) %}
                    <td class="text-center">{{ league.rank }} /
                        {{ league.entry }}
                    </td>
                {% else %}
                    <td class="text-center">{{ league.entry }} /
                        {% if league.maxParticipants != 0 %}
                            {{ league.maxParticipants }}
                        {% else %}
                            <span class="infinity">&infin;</span>
                        {% endif %}
                    </td>
                {% endif %}
                <td class="text-center {% if league.class %}{{ league.class }}{% else %}euro{% endif %}"> {{ league.entryFee|number_format(2) }}</td>
                {% if ( active == 'winning' ) %}
                    <td class="text-center">{{ league.mywinnings|number_format(2) }}</td>
                {% else %}
                    <td class="text-center {% if league.class %}{{ league.class }}{% else %}euro{% endif %}"> {{ league.prize|number_format(2) }}</td>
                {% endif %}
                {% if ( active == 'upcoming' ) %}
                    <td class="text-right" id="{{ league.team_id }}_datetime">
                        {% if league.timetostart > 0 %}
                            <div class="league_today">
                                <div class="dash seconds_dash right">
                                    <span class="digit"></span>
                                    <span class="digit"></span>
                                </div>
                                <div class="dash minutes_dash right">
                                    <span class="digit"></span>
                                    <span class="digit"></span>
                                    <span class="dash_separator">:</span>
                                </div>
                                <div class="dash hours_dash right">
                                    <span class="digit"></span>
                                    <span class="digit"></span>
                                    <span class="dash_separator">:</span>
                                </div>
                                <div class="dash days_dash right">
                                    <span class="digit" style="display: inline-block;">0</span>
                                    <span class="digit" style="display: inline-block;">1</span>
                                    <span class="dash_separator"> d &nbsp;&nbsp;</span>
                                </div>
                                <div class="dash right">
                                    <span class="dash_separator">-</span>
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        startTimer('#{{ league.team_id }}_datetime', {{ league.timetostart }});
                                    });
                                </script>
                            </div>
                        {% else %}
                            {{ league.fromDate | date("D j M H:i A") }}
                        {% endif %}
                        {% if active == 'upcoming' %}
                            <td>
                            <a href="{{ asset('/'~app.request.locale~'/squads/create/'~league.leagues_id~'/'~league.team_id) }}"
                               class="btn">{{ 'Team'|trans }}</a>
                            </td>
                        {% else %}
                            <td>
                            <a href="{{ asset('/'~app.request.locale~'/live/'~league.leagues_id~'/'~league.team_id) }}"
                               class="btn">{{ 'Team'|trans }}</a>
                            </td>
                        {% endif %}
                    </td>
                {% else %}
                    {% if active=='current' %}
                        <td class="text-right nowrap">{{ league.toDate|date("D j M H:i A") }} </td>
                    {% else %}
                        <td class="text-right nowrap">{{ league.toDate|date("D j M H:i A") }} </td>
                    {% endif %}
                    {% if active=='current' %}
                        <td class="text-center nowrap">
                            <a href="{{ asset('/'~app.request.locale~'/live/'~league.leagues_id~'/'~league.team_id) }}" class="btn">
                                {{ 'Live View'|trans }}
                            </a>
                        </td>
                    {% else %}
                        <td class="text-center nowrap">
                            <a href="{{ asset('/'~app.request.locale~'/live/'~league.leagues_id~'/'~league.team_id) }}" class="btn">
                                {{ 'Team'|trans }}
                            </a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr class="nothing-found">
            <td colspan="6" class="error">
                <p>{{ 'You currently do not have any upcoming leagues. Every league that you enter will be listed below. You can find all current leagues'|trans }}
                    <a href="{{ asset('/'~app.request.locale) }}">{{ 'HERE'|trans }}</a></p></td>

        </tr>
    {% endif %}
    <!--Dynamic data end -->
    </tbody>
</table>
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sort").click(function (e) {
                e.preventDefault();
                var value = $("#sort").val();
                if ($(this).hasClass("prize-sort")) {
                    if (value == "prize-DESC") {
                        $("#sort").val("prize-ASC");
                    } else {
                        $("#sort").val("prize-DESC");
                    }
                } else if ($(this).hasClass("entry-sort")) {
                    if (value == "entry-DESC") {
                        $("#sort").val("entry-ASC");
                    } else {
                        $("#sort").val("entry-DESC");
                    }
                } else if ($(this).hasClass("ranking-sort")) {
                    if (value == "ranking-DESC") {
                        $("#sort").val("ranking-ASC");
                    } else {
                        $("#sort").val("ranking-DESC");
                    }
                } else if ($(this).hasClass("entryFee-sort")) {
                    if (value == "entryFee-ASC") {
                        $("#sort").val("entryFee-DESC");
                    } else {
                        $("#sort").val("entryFee-ASC");
                    }
                } else if ($(this).hasClass("name-sort")) {
                    if (value == "name-ASC") {
                        $("#sort").val("name-DESC");
                    } else {
                        $("#sort").val("name-ASC");
                    }
                } else if ($(this).hasClass("entry-sort")) {
                    if (value == "entry-ASC") {
                        $("#sort").val("entry-DESC");
                    } else {
                        $("#sort").val("entry-ASC");
                    }
                } else if ($(this).hasClass("maxParticipants-sort")) {
                    if (value == "maxParticipants-ASC") {
                        $("#sort").val("maxParticipants-DESC");
                    } else {
                        $("#sort").val("maxParticipants-ASC");
                    }
                } else if ($(this).hasClass("starts-sort")) {
                    if (value == "fromDate-ASC") {
                        $("#sort").val("fromDate-DESC");
                    } else {
                        $("#sort").val("fromDate-ASC");
                    }
                } else if ($(this).hasClass("ends-sort")) {
                    if (value == "fromDate-ASC") {
                        $("#sort").val("fromDate-DESC");
                    } else {
                        $("#sort").val("fromDate-ASC");
                    }
                } else if ($(this).hasClass("winnings-sort")) {
                    if (value == "fromDate-ASC") {
                        $("#sort").val("prize-DESC");
                    } else {
                        $("#sort").val("prize-ASC");
                    }
                }
                submitSearchForm();
                return false;
            });

            $('#mobile-filter-sort').change(function () {
                var value = $(this).val();
                $("#sort").val(value);
                submitSearchForm();

                return false;
            });

        });
    </script>
{% endblock %}
