{% if currentMember.currentMemberID != profileuserid %}
<div class="follow-container">
	<div class="invite-button left">
		{% set box_action = asset("/"~app.request.locale~"/showMemberInviteBox") %}
		<a class="btn btn-profile" onclick="showDialog({member:'{{ memberinfo.username|default(0) }}'},'{{ box_action }}');">
			{{ 'Invite to league'|trans }}
		</a>
	</div>
	<div class="follow-button left">
	{% if follows %}
		<div style="position:relative">
			<i class="fa fa-check"></i>
			<input type="button" class="btn btn-profile btn-gray" onclick="follow('{{currentMember.currentMemberUsername}}','{{memberinfo.username}}','unfollow',this);" value="{{ 'Following'|trans }}" style="padding-left: 30px;"/>
		</div>
	{% else %}
		<div style="position:relative">
			<input type="button" onclick="follow('{{currentMember.currentMemberUsername}}','{{memberinfo.username}}','follow',this);" class="btn btn-profile" value="{{ 'Follow'|trans }}"/>
		</div>
	{% endif %}
	</div>
	<div class="clear"></div>
</div>
	{% else %}
		<div class="editProfile">
			<span class="fa"><span id="edit-profile">{{ "Edit Profile" | trans }}</span></span>
			<span class="fa fa-cog"></span>
		</div>
{% endif %}