<!-- Begin Lineup -->
 <table class="table searchbox">
	<thead>
		<tr>
			<th class="name" style="vertical-align:middle">
				<a href="#" class="name-sort sort">
					{{ 'Name'|trans}}
				</a>
			</th>
			<th class="value" style="vertical-align:middle">
				<a href="#" class="value-sort sort">
					{{ 'Val'|trans}}
				</a>
			</th>
			<th class="points" style="vertical-align:middle">
				<a href="#" class="points-sort sort">
					{{ 'PTS'|trans}}
				</a>
			</th>
			<th class="add_as" style="vertical-align:middle">
				<div>{{ 'Add as'|trans}}</div>
				<span>{{ 'starter'|trans}}</span><span class="add-sub">{{'sub'|trans}}</span>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if players %}
			{% for player in players %}
			<tr class="player-data pp{{ player.positionId }}" data-for-save="{{ isSaved|default(0) }}" data-player-id="{{ player.id }}" data-name="{{ player.name }}" data-position-id="{{ player.positionId }}" data-kit="{{ player.image }}" data-value="{{ player.value }}" data-score="{{ player.seasonScore }}" data-position="{{ player.position }}" data-position-abbreviation="{{ player.position }}" data-team="{{ player.team_name }}" >
				<td title="{{ player.name }}" class="player-name-cell add-player-cell">
					<div class="player-name ellipsis" {% if player.image %} style="background-image:url('{{ player.image }}'); background-size: 23px;"{% endif %}>
						<a href="#" onclick="showPlayerProfile({{ player.id }}, '{{ asset('/'~app.request.locale~'/player') }}','from-result')">
							<span>{{ player.player_name }}</span>
							<span class="player-team-name">{{ player.team_name }}</span>
						</a>
					</div>
				</td>
				<td class="text-center">{{ player.value }}</td>
				<td class="text-center">{{ player.seasonScore }}
					<div class="activity-tip">
						<div class="player-name">
							<a target="_blank" href="{$base}{$pages.playerprofile}?pid={{ player.id }}">
								<strong>{{ player.name }}</strong>
							</a>
						</div>
						<div class="team-title"><strong>{{ 'Team'|trans}} : </strong>{{ player.team_name }}</div>
						<div class="team-title"><strong>{{ 'Next Match'|trans}} : </strong>{% if player.next_fixture is defined  %} {{ player.next_fixture }} ({% if player.next_fixture_venue == 'home' %}H{% elseif player.next_fixture_venue == 'away' %}A{% endif %}) {% else %}(){% endif %}</div>
						<div class="event-details"></div>
						<div class="kit" {% if player.image %} style="background-image:url('{{ player.image }}');" {% endif %}></div>
						<div class="details">
							<p><strong>{{'D.O.B'|trans}} : </strong>{{ player.dateOfBirth|date('d/m/Y') }}</p>
							<p><strong>{{ 'Value'|trans}} : </strong>{{ player.value }}m</p>
							<p><strong>{{ 'Weight'|trans}} : </strong>{{ player.weight }}kg</p>
							<p><strong>{{ 'Height'|trans}} : </strong>{{ player.height }}cm</p>
						</div>
					</div>
				</td>
				<td class="">
					<div class="add-player-starter player-mobile-icon" onclick="addPlayerToField({{ player.id }},{{ isSaved|default(0) }},{{ player.positionId }},this)"></div>
					<div class="add-player-sub player-mobile-icon" onclick="addPlayerToSub({{ player.id }},{{ isSaved|default(0) }},{{ player.positionId }},this)"></div>
				</td>
			</tr>
			{% endfor %}	
		{% else %}
		<tr class="nothing-found">
			<td colspan="7" class="error">
				<h3>Nothing Found</h3>
			</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% if pagination is defined %}
	<div class="pagination">
		<div class="prev first">
			{% if pagination.previous is defined %}<a onclick="setPagination(0);" rel="prev"></a>{% endif %}
		</div>
		<div class="prev">
			{% if pagination.previous is defined %}<a onclick="setPagination('{{ pagination.previous }}');" rel="prev"></a>{% endif %}
		</div>
		<span>{{ pagination.shownresults.start }} to {{ pagination.shownresults.end }}</span> of {{ pagination.totalresults }}
	
		<div class="next last">
			{% if pagination.next is defined %}<a onclick="setPagination('{{ (pagination.totalresults/pagination.shownresults.count)|round }}')" class="next" rel="next"></a>{% endif %}
		</div>
		<div class="next" >
			{% if pagination.next is defined %}<a onclick="setPagination('{{ pagination.next }}')" class="next" rel="next"></a>{% endif %}
		</div>
		<div class="clear"></div>
	</div>
{% endif %}
<script type="text/javascript">
	$(document).ready(function() {
		
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).width() < 768 ) {
		}else {
			$('.searchbox tr.player-data').qtip({
				content: {
					text: function(api) {
						return $(this).find('.activity-tip').clone();
					}
				}, style: {
					classes: 'qtip-shadow qtip-oulala'
				},
				position: {
					my: 'bottom center',
					at: 'top center'
				}
			});
		}
		$(".sort").click(function(e) {
			e.preventDefault();
			showSideLoadingScreen();
			var value = $("#sort").val();
			
			if ($(this).hasClass("points-sort")) {
				if (value == "seasonScore-desc") {
					$("#sort").val("seasonScore-asc");
				} else {
					$("#sort").val("seasonScore-desc");
				}
			} else if ($(this).hasClass("value-sort")) {
				if (value == "value-desc") {
					$("#sort").val("value-asc");
				} else {
					$("#sort").val("value-desc");
				}
			} else if ($(this).hasClass("name-sort")) {
				if (value == "name-asc") {
					$("#sort").val("name-desc");
				} else {
					$("#sort").val("name-asc");
				}
			} else if ($(this).hasClass("position-sort")) {
				if (value == "position-asc") {
					$("#sort").val("position-desc");
				} else {
					$("#sort").val("position-asc");
				}
			}
			submitSearchForm();
			
			return false;
		});
	});
</script>
