{% extends 'admin/index.html.twig' %}
{% block admin_content %}
    <div id="page-wrapper">
        {% include 'admin/blog/blog-navigation.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Edit Blog category
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form">
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_errors(form) }}
                            <form action="{{ path('blog_category_new') }}" method="POST" novalidate>

                                {{ form_row(form.categoryTitle) }}
                                {{ form_row(form.categorySlug) }}
                                {{ form_row(form.categoryLocal) }}


                                <input type="submit" value="Save" />
                                <div class="clr"></div>
                                {{ form_rest(form) }}
                            </form>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        #img-upload{
            width: 50px;
            height: 50px;
        }
    </style>

{% endblock %}