<div id="dialog" class="dialog">
    <div class="formations dialog-formation dialog-padding">
        <h3>{{ 'Save Team'|trans }}</h3>
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close"
                role="button" aria-disabled="false" title="close">
            <span class="ui-button-icon-primary ui-icon"></span>
        </button>
    </div>
    <div class="text">
        {% set user_ref = app.session.get('user_ref') %}
        {% if user_ref !='' %}
            {% set save_text='Save Team' %}
            <p>{{ 'Are you sure you want to save this team?'|trans }}</p>
        {% else %}
            {% set save_text='Login' %}
            <p>{{ 'Please login to save your team'|trans }}</p>
        {% endif %}
    </div>
</div>
<script>
    var saveteamclicked = false;
    var serverurl = "{{ asset('/'~app.request.locale~'/home/saveTeam') }}";
    var memberleagueid = '{{ leagueid|default(0) }}';
    var teamid = {{ teamid|default('null') }};
    var isSaved = {{ isSaved|default(0) }};
    var currentteamid = '{{ currentteamid|default(null) }}';
    var loadingteam = {{ loadingteam|default(0) }};
    var days = $('input[name="days"]').val();
    var matches = $('input[name="matches"]').val();
    var leagues = $("select#league-list option").map(function () {
        return $(this).val();
    }).get().join(",");

    $("#dialog").dialog({
        resizable: false,
        width: 500,
        modal: true,
        dialogClass: 'fixed-dialog confirmjoinleague',
        buttons: {
            Cancel: {
                text: "{{ 'Cancel'|trans }}",
                'class': 'cancel-button',
                click: function () {
                    $(this).dialog("destroy");
                    $(this).hide();
                }
            },
            Ok: {
                text: "{{ save_text|trans }}",
                click: function (e) {
                    {% if user_ref =='' %}
                    e.preventDefault();
                    saveteamclicked = true;
                    var teamName = $("#teamname").val().trim();
                    var days = $('input[name="days"]').val();
                    $.post(serverurl, {
                        formation: $("#formations").val(),
                        leagueid: memberleagueid,
                        teamid: teamid,
                        savedTeam: isSaved,
                        currentteamid: currentteamid,
                        loadingteam: loadingteam,
                        days: days,
                        matches: matches,
                        league: leagues,
                        teamName: teamName,
                        joinedLeagues: $('#joinedLeagues').val(),

                    },function (response) {
                        window.top.location.href = "{{ login_url|replace({'%lang%':app.request.locale }) }}";
                    });

                    {% else %}
                    e.preventDefault();
                    saveteamclicked = true;
                    var teamName = $("#teamname").val().trim();
                    var days = $('input[name="days"]').val();
                    $.post(serverurl, {
                            formation: $("#formations").val(),
                            leagueid: memberleagueid,
                            teamid: teamid,
                            savedTeam: isSaved,
                            currentteamid: currentteamid,
                            loadingteam: loadingteam,
                            days: days,
                            matches: matches,
                            league: leagues,
                            teamName: teamName,
                            joinedLeagues: $('#joinedLeagues').val(),

                        },
                        function (response) {
                            if(response=='Error'){
                                alert('Error on update')
                            }else{
                                var url = window.location.hostname;
                                window.location.replace(window.location.protocol+"//"+url+response);
                            }
                        });

                    $(this).dialog("destroy");
                    {% endif %}

                }
            },
        },
        beforeClose: function () {
            $(this).dialog("destroy");
            $(this).hide();
        }
    }).attr('id', 'dialog');
    $('.ui-dialog-titlebar-close').click(function () {
        $("#dialog").dialog("destroy");
    });
</script>
