{% for key,timers in timeToStart %}
    {% if countryCode in timeToStart|keys %}
        {% if countryCode==timers['code'] %}
            {% set show_timer='show' %}
        {% else %}
            {% set show_timer='hide' %}
        {% endif %}
    {% else %}
        {% if timers==timeToStart|first %}
            {% set show_timer='show first-el' %}
        {% else %}
            {% set show_timer='hide' %}
        {% endif %}
    {% endif %}
    <div class="home-timer timer-{{ timers['code'] }} {{ show_timer }}">

        <div class="timer-title">{{ "Next %league-name% match Kicks Off in"|trans({'%league-name%':timers['league_name']}) }}</div>
        <div id="home_timer_{{ timers['code'] }}">
            <div class="league_today">
                <div class="dash days_dash ">
                    <span class="home-timer-subject">Days</span>
                    <div class="text-center">
                        <span class="digit" style="display: inline-block;">0</span>
                        <span class="digit" style="display: inline-block;">1</span>
                    </div>
                </div>
                <div class="dash hours_dash">
                    <span class="home-timer-subject">{{ "Hours"|trans }}</span>
                    <div class="text-center">
                        <span class="digit"></span>
                        <span class="digit"></span>
                    </div>
                </div>

                <div class="dash minutes_dash ">
                    <span class="home-timer-subject">Mins</span>
                    <div class="text-center">
                        <span class="digit"></span>
                        <span class="digit"></span>
                    </div>
                </div>
                <div class="dash seconds_dash ">
                    <span class="home-timer-subject">Secs</span>
                    <div class="text-center">
                        <span class="digit"></span>
                        <span class="digit"></span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        startTimer("#home_timer_{{ timers['code'] }}", {{ timers['timetostart'] }});
                    });
                </script>
            </div>
        </div>
    </div>
{% endfor %}