         <input type="hidden" id="selected-league-ids" name="league">
         <input type="hidden" id="selected-league-days" name="days">
         <input type="hidden" id="selected-league-matches" name="matches">
         <input type="submit" class="btn disabled" value="{{ 'Create New Team'|trans}}"/>

     <script type="text/javascript">

         var days = $('input[name="days"]').val();
         var matches = $('input[name="matches"]').val();
         var leagues = $("select#league-list option").map(function () {
             return $(this).val();
         }).get().join(",");

         $(document).ready(function () {

             var days = "";
             var matches = "";
             var leagues = "";
             {% for key,matcheDate in availableMatches %}
             {% for match in matcheDate %}
             days += "{{ match.matchday }},";
             matches += "{{ match.match_id }},";
             leagues += "{{ match.league_id }},";
             {% endfor %}
             {% endfor %}

             $("#selected-league-ids").val(leagues);
             $("#selected-league-days").val(days);
             $("#selected-league-matches").val(matches);

             });

     </script>

