<table class="memberteam-schedule">
	<tr class="days">
		<th rowspan="2">&nbsp;</th>
		{% if  memberteamschedule.days is defined and memberteamschedule.days|length > 0 %}
			{% for day in memberteamschedule.days %}
				<td colspan="{{ day.total_colspan }}">{{ day.value }}</td>
			{% endfor %}
		{% else %}
			<td class="only-cell">&nbsp;</td>
		{% endif %}
	</tr>
	<tr class="times">
		{% if memberteamschedule.days is defined %}
			{% for time in memberteamschedule.times %}
				{% if time.column_type == "time" %}
					<td class="time {{ time.markers }}" colspan="{{ time.colspan }}">{{ time.value }}</td>
				{% else %}
					<td class="filler {{ time.markers }}">&nbsp;</td>
				{% endif %}
			{% endfor %}
		{% else %}
			<td class="only-cell">&nbsp;</td>
		{% endif %}
	</tr>
	{% for key,position in positions %}
		<tr class="players {{ position.abbreviation }}{% if loop.index0 is odd %} odd{% endif %}">
			<th>{{ position.abbreviation }}</th>
			{% if memberteamschedule["position#{key}"] is defined %}
				{% for player in memberteamschedule["position#{key}"] %}
					{% if player.column_type == "player" %}
						<td class="player {{ player.markers }}" {% if player.image %}style="background-image:url('{{ player.image }}');background-size:23px;"{% endif %}>
							<span></span>
							<div class="activity-tip">
								<div class="player-name"><strong>{{ player.firstName }} {{ player.lastName }}</strong></div>
								<div class="team-title"><strong>{{'Team'|trans}} : </strong>{{ player.team_name }}</div>
								<div>&nbsp;</div>
								<div class="kit"{% if player.image %} style="background-image:url('{{ player.image }}');" {% endif %}></div>
							</div>
						</td>
					{% elseif player.column_type == "empty_player" %}
						<td class="empty-player ">&nbsp;</td>
					{% else %}
						<td class="filler {{ player.markers }}">&nbsp;</td>
					{% endif %}
				{% endfor %}
			{% else %}
				<td class="only-cell">&nbsp;</td>
			{% endif %}
		</tr>
	{% endfor %}
</table>
<script>
	$(document).ready(function() {
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || $(window).width() < 768 ) {
		}else {
			$('.memberteam-schedule .player').qtip({
				content: {
					text: function(api) {
						return $(this).find('.activity-tip').clone();
					}
				}, style: {
					classes: 'qtip-shadow qtip-oulala'
				},
				position: {
					my: 'bottom center',
					at: 'top center'
				}
			});
		}
	});
</script>