{% extends '::base.html.twig' %}
{% block custom_style style %}
{% block css_vers css_version %}
{% block js_vers js_version %}
{% block show_menu menu %}
{% block theme %}team-builder{% endblock %}
 {% block body %}
     <div class="home-banner-cover">
         <div class="home-banner">
             <div class="home-desc">
                 {{ "home-title-large"|trans|raw }}
             </div>
             <div class="home-timer-background">
                 {% include 'templates/homepage/home-timer.html.twig' %}
             </div>

             <div class="home-container">
                 <div class="how-to-play ">
                     <div><img src="{{ asset("bundles/images/background/homepage-discover-first.png") }}"></div>
                     <div>
                         <div class="video">

                             <a class="watch-video various fancybox.iframe" id="single_image"
                                href="https://www.youtube.com/embed/ys8UMHjHNY0?autoplay=1&amp;vq=hd720&amp;showinfo=0&amp;controls=1&amp;wmode=transparent"
                                target="_blank"
                                data-action="video" data-label="homepage"><img
                                         src="{{ asset("bundles/images/background/homepage-discover-second.png") }}">
                             </a></div>
                     </div>
                 </div>
                 <div class="home-players-details-title hide">
                     <h1>{{ "Player History"|trans }}</h1>
                     <div class="go-to-players-list"></div>
                     <div class="left home-players-details">
                         {% include 'templates/homepage/player-profile.html.twig' %}
                     </div>
                 </div>
                 <div class="home-players-title hide">
                     <h1>{{ "Select Player"|trans }}</h1>
                     <div class="left home-players">
                         {% include 'templates/homepage/players-block.html.twig' %}
                     </div>
                 </div>
             </div>
             <div class="center-content homepage-builder">
                 <div class="container white-container">
                     <div class="team-builder-details">
                         <div class="league_filter_container" id="leagues-filter-leagues">
                             <ul class="leaguelist image">
                                 <li class="all-leagues">
                                     <input type="checkbox" name="league" checked="checked" id="league_all"
                                            class="allleaguecheckbox" value="0">
                                     <label for="league_all"
                                            style="background:url(/bundles/images/icons/buttons-all-en-35x75.png ) no-repeat 0px 0px;"></label>
                                 </li>
                                 {% for country in countries %}
                                     {% if country.code==countryCode %}
                                     <script>

                                         setTimeout(function () {
                                             $('#league_' +{{ country.id }}).click();
                                             updateSideSearchTeam({{ country.id }});

                                         }, 100)

                                     </script>
                                     {% endif %}
                                     <li>
                                         <input type="checkbox" name="league[]" checked="checked"
                                                id="league_{{ country.id }}" class="leaguecheckbox"
                                                data-code="{{ country.code }}"
                                                value="{{ country.id }}"/>
                                         <label for="league_{{ country.id }}"
                                                onclick="updateSideSearchTeam({{ country.id }});"
                                                style="background-image:url(/bundles/images/icons/buttons-{{ country.code }}-35x75.png )"></label>
                                     </li>
                                 {% endfor %}
                             </ul>
                         </div>
                         <div class="available-dates"></div>


                     </div>
                     <div class="custom-margin team-builder-details league-details">

                         {#<div class="home-team-clear">#}
                         <div class="builder-option black" id="team-builder-clear-team">
                             <form method="POST" action="{$securebase}{$pages.myaccount}">
                                 <input type="button" class="btn-team btn-team-clear" value="{{ 'Clear Team'|trans }}"/>
                             </form>
                         </div>
                         <div class="builder-option black show-fixtures" id="team-builder-fixtures"
                              data-matchdate="{{ matchDate }}">
                             <div class="btn-team">{{ 'Fixtures'|trans }}</div>
                         </div>
                         <div class="builder-option join-league" id="team-builder-save-team">
                             <input type="button" value="{{ 'Save team'|trans }}" class="btn-team-save"/>
                         </div>
                         {#</div>#}

                     </div>
                 </div>
                 <div class="page-container gamedetails">
                     <div class="container home-gamedetailse">
                         {#<div class="text-right right team-buttons-block">#}

                         {#</div>#}
                         <div class="text left right-padding border-right team-builder-tip"
                              id="team-builder-team-name" data-help-content="help-team-name" data-my="top center"
                              data-at="0">
                             <span class="title">{{ 'Team Name'|trans }}</span>
                             <span class="teamname">
				<input type="text" value="{{ team_name|default(client_name~' FC') }}" id="teamname" maxlength="20"/>

				<a class="startedit btn-action-3 btn-edit-name" data-help-content="help-edit-name"
                   style="background-image: url({{ asset('/bundles/images/icons/edit.png') }});">
				</a>
				<a class="accept btn-action-3 btn-accept-name" data-help-content="help-accept-name"
                   style="background-image: url({{ asset('/bundles/images/icons/accept.png') }});">

				</a>
				<a class="cancel btn-action-3 btn-cancel-name" data-help-content="help-cancel-name"
                   style="background-image: url({{ asset('/bundles/images/icons/cancel.png') }});">

				</a>
			</span>
                             <div id="help-edit-name" class="helper">
                                 {{ 'Click here to change your team name. Make us dream.'|trans }}

                             </div>
                             <div id="help-accept-name" class="helper">
                                 {{ 'Click here to valid your team name.'|trans }}
                             </div>
                             <div id="help-cancel-name" class="helper">
                                 {{ 'Click here to cancel your team name.'|trans }}
                             </div>
                         </div>
                         <div class="text left left-padding right-padding border-right team-builder-tip"
                              id="team-builder-budget"
                              data-help-content="help-budget-left" data-my="top center" data-at="0">
                             <span class="title">{{ 'Budget Left'|trans }}</span>
                             <span class="value budget-left">{% if budget.left is defined %}{{ budget.left|number_format(2, '.', ',') }}{% else %}100.00{% endif %}
                                 m</span>
                         </div>
                         <div class="text left left-padding right-padding" id="team-builder-formation">
                             <span class="title">{{ 'formation'|trans }}</span>
                             <span>
				<select id="formations" class="team-builder-tip" data-help-content="help-formations"
                        data-my="top center" data-at="0">
					{% for formation in formationList %}
                        <option value="{{ formation.id }}">{{ formation.name }}</option>
                    {% endfor %}
				</select>
			</span>
                         </div>
                         <input type="hidden" id="joinedLeagues" name="joinedLeagues"/>
                         <div class="clear"></div>
                     </div>

                 </div>

                 <div>
                     <div class="page-container inplay-bg teambuilder">
                         <div class="container grid">
                             <div class="team-left-sidebar-block">

                                 <div class="left">
                                     <div class="pitch-placeholder">
                                         {% include 'templates/homepage/teambuilder-pitch.html.twig' %}
                                     </div>
                                 </div>
                                 <div class="clear"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="container white-container ">
                     <div class="memberteam-schedule-container substitution-guide-container hide">
                         <div class="title">{{ 'Schedule of play'|trans }}</div>
                         <div class="substitution-guide-placeholder rounded-container">
                             {% include 'templates/homepage/memberteam-schedule.html.twig' %}
                         </div>
                         {#<div class="substitution-guide-legend">#}
                         {#<div class="legend-text substitute">= {{ 'substitute player'|trans }}</div>#}
                         {#<div class="legend-text after-substitute">#}
                         {#= {{ 'this player plays after a substitute player'|trans }}</div>#}
                         {#<div class="clear">&nbsp;</div>#}
                         {#</div>#}
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="content-background"></div>

     <div class="home-bottom-content">
         <h2 class="home-bottom-title">{{ "Engage, Discuss, Stay Informed"|trans }}</h2>
         <div class="home-bottom-sub">
             <div class="home-bottom-sub-small bottom-large">
                 <h2 class="home-news-title">{{ "Leagues Available"|trans }}</h2>
                 <div class="home-list-shadow">
                     <a href="{{ leagueUrl | replace({'%lang%':app.request.locale }) }}" target="_blank">
                         <img src="{{ asset('/bundles/images/banners/leagues-list.png') }}">
                     </a>
                 </div>

             </div>
             <div class="home-bottom-sub-small bottom-small">
                 <h2 class="home-news-title">Forum</h2>
                 <div class="home-list-shadow">
                     <a href="{{ forumUrl | replace({'%lang%':app.request.locale }) }}" target="_blank">
                         <img src="{{ asset('/bundles/images/banners/home-forum-final.png') }}">
                     </a>
                 </div>
             </div>
             <div class="home-bottom-sub-small bottom-small">
                 <h2 class="home-news-title">Fantasy Football News</h2>
                 <div class="home-news-sub">
                     <div id="newsnowlogo" title="Click here for more Football news from NewsNow">
                         <a
                                 id="newsnowlogo_a" href="http://www.newsnow.co.uk/h/Sport/Football"
                                 target="newsnow"
                                 style="color: rgb(255, 255, 255); text-decoration: none; border-bottom: 0px none;"
                                 rel="nofollow">
                             <div style="margin:0;padding:0;border:1px solid #fff;background:#555;">
                                 <div style="margin:0;padding:0;border:0;width:90px;height:38px;float:left;">
                                     <img
                                             src="{{ asset('/bundles/images/partners/newsnow_f_ab.gif') }}"
                                             alt="As featured on NewsNow: Football news"
                                             style="display:block;margin:0;padding:0;border:0;width:120px;height:38px;">
                                 </div>
                                 <div style="padding:0;border:0;margin:0 0 0 90px;text-align:center;"><span
                                             style="margin:0;padding:0;border:0;display:inline-block;vertical-align:middle;text-align:center;width:90px;"><span
                                                 style="color: rgb(255, 255, 255); text-decoration: none; border-bottom: 0px none;">Football News</span> 24/7</span><span
                                             style="margin:0;padding:0;border:0;display:inline-block;height:38px;width:1px;vertical-align:middle;line-height:38px;font-size:1px;"></span>
                                 </div>
                             </div>
                         </a>
                     </div>
                     {% if blogPost is defined or blogPost!='' %}
                         <div class="home-posts">
                             <div class="home-blog-thumb">
                                 <a href="{{ blogUrl|replace({'%lang%':'en' }) }}{{ blogPost.post_id }}"
                                    target="_blank">
                                     <img src="{{ asset('/bundles/images/blog/')~blogPost.post_illustration_link|default(asset('/bundles/images/background/football-pitch_background_01.jpg')) }}">
                                 </a>
                             </div>

                             <h3>
                                 <a href="{{ blogUrl|replace({'%lang%':'en' }) }}{{ blogPost.post_id }}">{{ blogPost.post_subject }}
                                 </a></h3>
                         </div>
                     {% endif %}
                 </div>

             </div>
         </div>
     </div>
     <input type="hidden" name="matchDate" id="match_date" value="{{ matchDate }}">
     <script type="text/javascript">

         var loadingTemplate = '<div class="loading">' +
             '<div>' +
             '<img src="{{ asset("bundles/images/web/loader-30.gif") }}" class="center-tag" alt="loading"/><br/>' +
             '<p>{{ "Loading. Please Wait..."|trans }}</p>' +
             '</div>' +
             '</div>';

         var isEditTeam = {{ teamid|default('null') }};
         var memberleagueid = {{ leagueId |default(0) }};
         var teamid = {{ teamid|default(random()) }};
         var isSaved = {{ isSaved|default(0) }};
         var currentteamid = {{ teamid|default("null") }};
         var loadingteam = {{ loadingteam|default(0) }};
         var days = $('input[name="days"]').val();
         var matches = $('input[name="matches"]').val();
         var leagues = $("select#league-list option").map(function () {
             return $(this).val();
         }).get().join(",");

         var route = 'home';


         function showLoadingScreen() {
             $(".pitch-placeholder .field").children().remove();
             var $div = $("<div></div>").css("padding-top", "150px").append($(loadingTemplate));

             $(".pitch-placeholder .field").append($div);

             // $(".pitch-placeholder .subs-container").children().remove();
             // $(".pitch-placeholder .subs-container").append($(loadingTemplate))
             if (!isSaved) {
                 $(".substitution-guide-placeholder").children().remove();
                 $(".substitution-guide-placeholder").append($(loadingTemplate).css('padding-top', '50px'));
             }
         }

         function showSideLoadingScreen() {
             // var $div = $("<div></div>").css("padding-top", "150px").append($(loadingTemplate));

             // $(".playersearch .playerSearchResults").children().remove();
             // $(".playersearch .playerSearchResults").append($(loadingTemplate));
         }


         var saveteamclicked = false;
         var joinleagueclicked = false;

         //         $(window).load(function () {
         //             submitSearchForm();
         //         });
         function mobilecheck() {
             var check = false;
             (function (a) {
                 if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true;
             })(navigator.userAgent || navigator.vendor || window.opera);
             return check;
         };
         $(document).ready(function () {
             /* This is basic - uses default settings */

             $("a#single_image").fancybox({
                 type: 'iframe'
             });

             /* Using custom settings */

             $("a#inline").fancybox({
                 'hideOnContentClick': true
             });

             /* Apply fancybox to multiple items */

             $("a.group").fancybox({
                 'transitionIn': 'elastic',
                 'transitionOut': 'elastic',
                 'speedIn': 600,
                 'speedOut': 200,
                 'overlayShow': false
             });
             $('.homepage-builder .pitch-placeholder .kit').mouseenter(function () {
                 if (mobilecheck() == false) {
                     $('.home-players-details-title').removeClass('hide');
                     $('.home-players-title').removeClass('hide');
                     $('.memberteam-schedule-container').removeClass('hide');
                     $('.how-to-play').addClass('hide');
                 }
             });

             var weekday = new Array(7);
             weekday[0] = "Sun";
             weekday[1] = "Mon";
             weekday[2] = "Tue";
             weekday[3] = "Wed";
             weekday[4] = "Thu";
             weekday[5] = "Fri";
             weekday[6] = "Sat";
             var availableDates = "";
             var curDate = $('#match_date').val();
             {% for key,gamedate in dates %}
             var MyDate = new Date({{ gamedate.Year }},{{ gamedate.Month-1 }},{{ gamedate.Day }});


             var formatedDate = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth() + 1)).slice(-2) + '-' + ('0' + MyDate.getDate()).slice(-2);
             var activeClass = '';
             if (curDate == formatedDate) {
                 activeClass = 'active';
             }

             availableDates += '<div class="league-choose-date league-choose-date-home ' + activeClass + '" onclick="getAvailableMatches(\'' + formatedDate + '\',this)">' +
                 '<a href="{{ path("oulalai_frame") }}?date=' + formatedDate + '"> ' +
                 '<span class="week">' + weekday[MyDate.getDay()] + '</span>' +
                 '<span class="day"> ' + ('0' + (MyDate.getMonth() + 1)).slice(-2) + '.' + ('0' + MyDate.getDate()).slice(-2) + '. </span>' +
                 '</a></div>';
             {% endfor %}
             $('.available-dates').html(availableDates);

             if (!curDate || curDate == 0) {
                 $('.league-choose-date').first().trigger('click');
             }

             /* </actions> */
             $('.playersearch form').submit(function (e) {

                 e.preventDefault();
                 e.stopPropagation();

                 // Get the data because once the form elements are disabled, you cannot serialize them anymore
                 var data = $(this).serialize();

                 // Lock the form elements so that they cannot be manipulated while the search is in progress
                 changeSearchElementLock('lock');
                 var serverurl = "{{ asset('/'~app.request.locale~'/') }}home/searchPlayersBuildTeam";

                 ajaxForm(data, '.playerSearchResults',
                     function (data) {
                         changeSearchElementLock('unlock');
                         disableSelected();
                         //(memberleagueid);
                     },
                     function (data) {
                         changeSearchElementLock('unlock');
                     },
                     serverurl
                 );

                 return false;
             });

             $(".teambuilder-notice").hide();
             $("#showInBudget").change(function () {
                 submitSearchForm();
             });

             $("#formations").change(function () {
                 showLoadingScreen();

                 performAction(route + '/setFormation', {
                     formation: $("#formations").val(),
                     leagueid: memberleagueid,
                     teamid: teamid,
                     savedTeam: isSaved,
                     currentteamid: currentteamid,
                     loadingteam: loadingteam,
                     days: days,
                     matches: matches,
                     league: leagues,
                 });
             });

             $(".btn-team-clear").click(function () {

                 showDialog({
                     formation: $("#formations").val(),
                     leagueid: memberleagueid,
                     teamid: teamid,
                     savedTeam: isSaved,
                     currentteamid: currentteamid,
                     loadingteam: loadingteam,
                     days: days,
                     matches: matches,
                     league: leagues,
                 }, "{{ asset('/'~app.request.locale~'/') }}" + route + "/clearTeamConfirm");
             });

             $("#team-builder-join-league .btn-team-save").click(function () {

                 if ($('.teamnotification .problem').hasClass('valid')) {
                     joinleagueclicked = true;
                     showDialog({
                         formation: $("#formations").val(),
                         leagueid: memberleagueid,
                         teamid: teamid,
                         savedTeam: isSaved,
                         currentteamid: currentteamid,
                         loadingteam: loadingteam,
                         days: days,
                         matches: matches,
                         league: leagues,
                     }, "{{ asset('/'~app.request.locale~'/') }}" + route + "/joinLeagueConfirm");
                 }
             });

             $("#team-builder-save-team .btn-team-save").click(function () {
                 if ($('.teamnotification .problem').hasClass('valid')) {
                     saveteamclicked = true;
//                    showLoadingScreen();
                     {#if (isEditTeam != 'null' && isEditTeam != 0 && isEditTeam != '') {#}
                     {#showDialog({#}
                     {#formation: $("#formations").val(),#}
                     {#leagueid: memberleagueid,#}
                     {#teamid: teamid,#}
                     {#savedTeam: isSaved,#}
                     {#currentteamid: currentteamid,#}
                     {#loadingteam: loadingteam,#}
                     {#days: days,#}
                     {#matches: matches,#}
                     {#league: leagues,#}
                     {#}, "{{ asset('/'~app.request.locale~'/') }}" + route + "/chooseLeaguesTeamToChange");#}
                     {#} else {#}
                     showDialog({
                         formation: $("#formations").val(),
                         leagueid: memberleagueid,
                         teamid: teamid,
                         savedTeam: isSaved,
                         currentteamid: currentteamid,
                         loadingteam: loadingteam,
                         days: days,
                         matches: matches,
                         league: leagues,
                     }, "{{ asset('/'~app.request.locale~'/') }}home/saveTeamConfirm");
//                     }
                 }
             });
             /* <team-name> */
             var teamname = "";

             $(".teamname .cancel").click(function () {
                 $('#teamname').css('width', '75%');
                 $(this).parents(".teamname").removeClass("edit");

                 $(".teamname #teamname").val(teamname);
             });

             $(".teamname .accept").click(function () {
                 $('#teamname').css('width', '75%');
                 var teamName = $("#teamname").val().trim();
                 var locale = $('.team-builder-details').children('input').val();
                 $(this).parents(".teamname").removeClass("edit");


                 if ((teamName.length >= 2) && (isEditTeam !== null) && !isSaved) {
                     $.ajax({
                         type: 'POST',
                         url: "/" + locale + "/changeTeamName",
                         data: {
                             teamName: teamName,
                             teamId: teamid
                         }, success: function (data) {
                         }
                     });
                 } else if ((isEditTeam !== null) && isSaved) {
                     $.ajax({
                         type: 'POST',
                         url: "{{ asset('/'~app.request.locale~'/') }}" + route + "/changeTeamName",
                         data: {
                             teamName: teamName,
                             currentteamid: teamid
                         }, success: function (data) {
                         }
                     });
                 }
             });

             $(".teamname #teamname, .teamname .startedit").click(function () {
                 $('#teamname').css('width', '55%');
                 startEdit();
             });

             function startEdit() {
                 teamname = $(".teamname #teamname").val();
                 $(".teamname").addClass("edit");
                 $(".teamname #teamname").select();
             }

         });
         /* </team-name> */

         $('.hide-filters').click(function () {
             $('.hidden-filter').slideToggle();
             $(this).toggleClass('active');
         });


         var window_width = $(window).width();
         if (window_width > 767) {
             $(window).resize(function () {
                 var window_width = $(this).width();
                 if (window_width > 767) {
                     $('.teambuilder .right,.teambuilder .left,.memberteam-schedule-container').show();
                 } else {
                     $('.teambuilder .right').hide();
                     $('.teambuilder .left,.memberteam-schedule-container').show();
                 }
             });
         }

         $('.go-to-pitch').click(function () {
             $('.team-builder-nav-mobile span').removeClass('active');
             $('.home-players-title').addClass('hide');
             $('.pitch-placeholder').removeClass('hide');
             $('.teambuilder .left,.memberteam-schedule-container').show();
             $(this).addClass('active');
         });

         {% if formation %}
         $("#formations").val("{{ formation }}");
         {% endif %}

         $('.team-auto-saved').delay(3000).fadeOut();

         $('.team-auto-saved').click(function () {
             $(this).stop().fadeOut();
         });

         $(window).unload(function () {
             if (!isEditTeam && !saveteamclicked && !joinleagueclicked) {
                 var action = "clearTeam";
                 if (isSaved) {
                     var action = "cancelTeamSave";
                 }

                 $.ajax({
                     type: 'POST',
                     url: "{{ asset('/'~app.request.locale~'/') }}" + route + '/' + action,
                     async: false,
                     data: {
                         formation: $("#formations").val(),
                         leagueid: memberleagueid,
                         teamid: teamid,
                         savedTeam: isSaved,
                         currentteamid: currentteamid,
                         loadingteam: loadingteam,
                         days: days,
                         matches: matches,
                         league: leagues,
                     }
                 });
             } else if (!saveteamclicked && isSaved) {
                 $.ajax({
                     type: 'POST',
                     url: "{{ asset('/'~app.request.locale~'/') }}" + route + "/cancelTeamSave",
                     async: false,
                     data: {
                         formation: $("#formations").val(),
                         leagueid: memberleagueid,
                         teamid: teamid,
                         savedTeam: isSaved,
                         currentteamid: currentteamid,
                         loadingteam: loadingteam,
                         days: days,
                         matches: matches,
                         league: leagues,
                     }
                 });
             }
         });

         $('#team-builder-fixtures').click(function () {
             var $date = $(this).data('matchdate');
             var league_id = $('#team-builder-fixtures').attr('data-leagueid');

             showDialog({
                 action: 'loadAvailableMatches',
                 date: $date,
                 langID: 1,
                 fixture: 1,
                 leagueid: league_id
             }, "{{ asset('/'~app.request.locale~'/home/oulala') }}");

         })

         function getAvailableMatches($date, elem) {

             var formData = 'date=' + $date;
             var myForm = $('#myform').serialize();
             if (myForm) {
                 formData += '&' + myForm;
             }

             $('.league-choose-date').removeClass('active');
             elem.className += ' active';
             var contestTypes = $("#contest-types").val();
             $.ajax({
                 type: "POST",
                 url: '{{ path('oulala_home_available_matches') }}',
                 data: formData,
                 success: function (response) {

//                     $('#myMatches').val(JSON.parse(response).matches);
//                     $('#myDays').val(JSON.parse(response).days);
//                     $('.home-players').html(response);
//                     setPagination(0);
//                      submitSearchForm();
                 }
             });

         }

         $(" .leaguelist li > input ").bind('click', function (e) {

             var country_code = $(this).attr('data-code');
             $('.home-timer.show').addClass('hide');
             $('.home-timer.show').removeClass('show');
             if (typeof country_code == 'undefined' || country_code == 'EU') {
                 $('.first-el').addClass('show');
                 $('.first-el').removeClass('hide');
             } else {
                 $('.timer-' + country_code).addClass('show');
                 $('.timer-' + country_code).removeClass('hide');
             }

             $('.leaguecheckbox').next().addClass('hover');
             $(this).next().toggleClass('hover');
             $(".availableLeaguesSearchResults").html(loadingTemplate);
             var input = $(this);

             $('.leaguelist li > input').prop('checked', false);
             if ($(input).attr('name') == "league") {
                 if ($(input).next('label').hasClass('hover')) {
//                     $('.leaguelist li > input').prop('checked', false);
                     $(':checkbox.leaguecheckbox').prop('checked', false);
                     $('.leaguelist li > label').addClass('hover');
                 } else {
                     // check all checkboxes when ALL is checked
                     $(':checkbox.leaguecheckbox').prop('checked', this.checked);
                     $('.leaguelist li > label').removeClass('hover');
                     $('#league-list').val('');
                     $('#team-builder-fixtures').attr('data-leagueid', 0)
                 }
             }
             if ($(input).attr('class') == "leaguecheckbox") {
                 // uncheck ALL when one checkbox is unchecked

                 if (this.checked == false) {
                     $(':checkbox.allleaguecheckbox').prop('checked', false);
                     $(':checkbox.allleaguecheckbox').next().addClass('hover');
                     $('#league-list').val(input.val());
                     $('#team-builder-fixtures').attr('data-leagueid', input.attr('data-code'))

                 } else if (this.checked == true) {
                     // find out if all leagues are selected, if so select ALL
                     var number_of_leagues = $(this).parent().siblings().children(":checkbox.leaguecheckbox").length;
                     if ($(this).parent().siblings().children(":checkbox:checked").length < number_of_leagues) {
                         $(':checkbox.allleaguecheckbox').prop('checked', true);

                         $('.leaguelist li > label').removeClass('hover');
                         $('#league-list').val('');
                     } else {
                         $(':checkbox.allleaguecheckbox').prop('checked', false);
                         $(':checkbox.allleaguecheckbox').next().addClass('hover');
                         $('#league-list').val(input.val());

                     }
                 }
             }

             $(input).parents('div.filtersGroup').find('h3 span.filterTitle').text($('label[for=' + $(this).attr('id') + ']').html());

             setTimeout(function () {
                 //$(input).parents('form').submit();
                 submitSearchForm();
             }, 500);

         });

         $(document).delegate('.add-player-cell','click',function () {
             $('.home-players-details-title').removeClass('hide');
         });
         $(document).delegate('.go-to-players-list','click',function () {
             $('.home-players-details-title').addClass('hide');
         });
     </script>
 {% endblock %}

