         <!--players-->
         <div class="side-board">
             <div class="dropbox-delete">
                 <div class="message">
                     <img src="{{ asset('/bundles/images/background/delete-player.png') }}"
                          alt="{translate id=1042}"/>
                     <br/><br/><br/>
                     Drop player here to remove him from your team
                 </div>
             </div>
             <div class="playersearch playersearch-mini">
                 <form method="get" id="myform" data-container=".playerSearchResults">
                     <input type="hidden" name="action" value="searchPlayersBuildTeam"/>
                     <input type="hidden" name="leagueid" value="{{ leagueId |default(0) }}"/>
                     <input type="hidden" name="page" class="playerSearchResultsPage"
                            value="{{ page_offset|default(0) }}" onchange="submitSearchForm();"/>
                     <input type="hidden" id="budgetleft" name="budgetleft"
                            value="{{ budgetleft|default(100) }}" class="budget-left-filter"/>
                     <input type="hidden" id="sort" name="sort" value="value-desc"/>
                     <input type="hidden" id="valuefrom" name="valuefrom" value="0"/>
                     <input type="hidden" id="valueto" name="valueto" value="{{ playervalue }}"/>
                     <input type="hidden" id="member_position" name="position"/>
                     <input type="hidden" name="savedTeam" value="{{ isSaved|default(0) }}">
                     <input type="hidden" name="days" id='myDays' value="{{ days|default('null') }}">
                     <input type="hidden" name="matches" id='myMatches' value="{{ matches|default('null') }}">
                     <div class="rounded-container">
                         <div class="heading build" id="team-builder-player-filters">

                             <div class="select-players mobile-show">
                                 <div class="select-text">{{ 'Select players'|trans }}</div>
                                 <div class="go-to-pitch"></div>
                                 <div class="clearfix"></div>
                             </div>
                             <div class="team-side-block-1">
                                 <div class="leagues-list">
                                     <span class="filter-title">{{ 'League'|trans }}</span>
                                     <select name="league" id="league-list"
                                             onchange="updateSideSearchTeam($(this).val()); ">
                                         <option value="" class="default-val">--------</option>
                                         {% for league in leagues %}
                                             <option value="{{ league.league_id }}"
                                                     data-leagueid="{{ league.league_id }}">{{ league.title }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                                 <div class="clubs-list">
                                     <span class="filter-title">{{ 'Club'|trans }}</span>
                                     <select name="team" id="club-list">
                                         <option value="{% for team in teams %}{{ team.team_id }}{% if not loop.last %},{% endif %}{% endfor %}">
                                             --------
                                         </option>
                                         {% for team in teams %}
                                             <option value="{{ team.team_id }}"
                                                     data-leagueid="{{ team.league_id }}">{{ team.title }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                                 <div class="clearfix"></div>
                             </div>
                             <div class="team-side-block-2">
                                 <div class="player-positions">
                                     {% for key,pos in positions %}
                                         <div class="player-position pos-{{ key }}"
                                              data-pos-id="{{ pos.rank }}">{{ pos.abbreviation }}</div>
                                     {% endfor %}
                                     <div class="clearfix"></div>
                                 </div>
                                 <input class="team-builder-tip"
                                        data-help-content="help-search-players" type="text"
                                        placeholder="{{ 'Type a player name'|trans }}"
                                        name="field"/>
                                 <div class="clearfix"></div>
                             </div>
                             <div class="clearfix"></div>
                             <div class="hidden-filter">
                                 <div class="team-side-block-3">
                                     <div class="slider-container">
                                         <div id="value-range-values">{{ 'Value'|trans }}: 0m
                                             - {{ playervalue }}m
                                         </div>
                                         <div id="value-range"></div>
                                     </div>
                                     <div class="show-in-budget">
                                         <input id="showInBudget" type="checkbox" name="inbudget"/>
                                         <label for="showInBudget"
                                                class="showInBudgetlabel">{{ 'Show in budget'|trans }}</label>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="playerSearchResults" id="team-builder-player-search-results">
                             {% include 'templates/homepage/search-players-result-home.html.twig' %}
                         </div>
                     </div>
                 </form>
             </div>
         </div>
         <script>

//             $(".playersearch .player-position").click(function () {
//
//                 if (!$(this).hasClass('frozen')) {
//                     $('input[name="page"]').val(1);
//                     if ($(this).attr('data-pos-id') != "" && $(this).attr('data-pos-id') != "undefined" && $(this).attr('data-pos-id') != null) {
//                         $(".player-positions .player-position").removeClass('active');
//                         $(this).toggleClass('active');
//                         /*var positions = "";
//                         $(".player-positions .player-position.active").each(function(){
//                             positions += $(this).attr('data-pos-id')+",";
//                         });*/
//                         $('#member_position').val($(this).attr('data-pos-id'));
//                     }
//                     if ($(this).attr('data-league-id') != "" && $(this).attr('data-league-id') != "undefined" && $(this).attr('data-league-id') != null) {
//                         $(this).toggleClass('active');
//                         var leagues = "";
//                         $(".player-leagues .player-position.active").each(function () {
//                             leagues += $(this).attr('data-league-id') + ",";
//                         });
//                         $('#member_league').val(leagues);
//                     }
//                     if ($(this).attr('data-team-id') != "" && $(this).attr('data-team-id') != "undefined" && $(this).attr('data-team-id') != null) {
//                         $('#member_team').val($(this).attr('data-team-id'));
//                     }
//                     submitSearchForm();
//                 }
//             });
//             $('#league-list,#club-list').change(function () {
//                 setPagination(0);
//             });
//
//             $('.playersearch input[name="field"]').bind("keyup", function () {
//                 $('.playersearch input[name="page"]').val(1);
//                 doTypingSearch();
//             });

             $("#value-range").slider({
                 range: true,
                 values: [0, {{ playervalue|default(45) }} ],
                 min: 0,
                 max: {{ playervalue|default(45) }},
                 stop: function (event, ui) {
                     $('#valuefrom').val(ui.values[0]);
                     $('#valueto').val(ui.values[1]);
                     setPagination(0);
                 },
                 slide: function (event, ui) {
                     $("#value-range-values").text("Value: " + ui.values[0] + "m - " + ui.values[1] + "m");
                 }
             });
         </script>