<div class="player-name"><h3>{{ playerdetails.name|default("no player selected")|trans }}</h3></div>
<div  title="{{ playerdetails.name }}" class="player-details">
	<div class="player-profile-header">
		<div class="left">
			{{'Team'|trans}}: <span>{{ playerdetails.team_name }}</span>
		</div>
		<div class="left">
			{{'Position'|trans}}: <span>{{ playerdetails.position }}</span>
		</div>
		<div class="left">
			{{'Value'|trans}}: <span>{{ playerdetails.value }}{% if playerdetails.value %}M{% endif %}</span>
		</div>
		<div class="left">
			{{'POINTS PER GAME'|trans}}: <span>{{ pointspergame }}</span>
		</div>
		<div class="clear"></div>
	</div>
	<div>
	  <!-- Nav tabs -->
		<ul class="nav nav-tabs navtabclass" role="tablist">
			<li role="presentation" class="active"><a href="#recentstats" id="tab1" aria-controls="recentstats" role="tab" data-toggle="tab">{{'Recent stats'|trans}}</a></li>
			<li role="presentation"><a href="#fullstats" aria-controls="fullstats" role="tab" data-toggle="tab">{{'Full stats'|trans}}</a></li>
			<li role="presentation"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">{{'Schedule'|trans}}</a></li>
		</ul>
	  <!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="recentstats">
				<div class="recentstats">
					<p>{{'Performance over the last 5 Oulala days'|trans}}</p>
					<canvas id="myChart"></canvas>
					<div class="lastmatches">
						<div class="legendmatches">
							<p>{{'Home'|trans}}: </p>
							<p>{{'Away'|trans}}: </p>
						</div>
						{% for key,matchdata in recentstats %}
							{% if matchdata.playerScore %}
								<div class="matchdata">
									<div class="hometeam" >
										<div class="hometeamtitle ellipsis" style="background-image: url('{{ asset(matchdata.homeImage) }}')">
											 {{ matchdata.homeTeamTitle }}
										</div>
										<div class="hometeamscore">
											{{ matchdata.homeTeamScore }} : {{ matchdata.awayTeamScore }}
										</div>
									</div>
									<div class="clear"></div>
									<div class="awayteam" >
										<div class="awayteamtitle ellipsis" style="background-image: url('{{asset(matchdata.awayImage)}}') ">
											{{ matchdata.awayTeamTitle }}
										</div>
										{#<div class="awayteamscore">#}
											{#{{ matchdata.awayTeamScore }}#}
										{#</div>#}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="clear"></div>
					{% if nextfixture %}
						<p class="next-fixture">{{'Next Match'|trans}}: {{ nextfixture.homeTeamTitle }} (H) - {{ nextfixture.awayTeamTitle }} (A)</p>
					{% endif %}
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="fullstats">
				<div class="currentCompetitions">
					{% if pastmatches %}
					<div class="searchFilters ui-accordion ui-widget ui-helper-reset">
						<div class="filtersGroup">
							<div class="accordion-content full-width table-custom  left-widget">
							<div class="heading">
								<div class="time wide left text-left">{{'OPPONENT'|trans}}</div>
								<div class="fixture wide left">{{'Score'|trans}}</div>
								<div class="player-score left">{{'Points'|trans}}</div>
								<div class="clear"></div>
							</div>
							<ul>
								{% for key,pastmatch in pastmatches %}
								<li class="fixtures-accordion">
									<div class="text-left match{% if loop.index0 is odd %} odd{% endif %}">
										<div class="left date">
											{%if pastmatch.homeTeamId != pastmatch.PlayedFor %}
												<div class="home left"{% if pastmatch.homeImage %} style="background-image:url('{{ asset(pastmatch.homeImage) }}');background-size: 30px;height:40px;"{% endif %}>
												</div>
												<div class="left">
													<div>{{ pastmatch.homeTeamTitle }} (H)</div>
													<div class="date-info">{{ pastmatch.matchDate|date("l, F , j, Y - H:i") }}</div>
												</div>
											{% endif %}
											{% if pastmatch.awayTeamId != pastmatch.PlayedFor %}
												<div class="home left"{% if pastmatch.awayImage %} style="background-image:url('{{ asset(pastmatch.awayImage) }}');height:40px;background-size: 30px;"{% endif %}>
												</div>
												<div class="left">
													<div>{{ pastmatch.awayTeamTitle }} (A)</div>
													<div class="date-info">{{ pastmatch.matchDate|date("l, F , j, Y - H:i") }}</div>
												</div>
											{% endif %}
										</div>
										<div class="left score">
											{{ pastmatch.homeTeamScore }} - {{ pastmatch.awayTeamScore }}
										</div>
										<div class="player-score left">{{ pastmatch.playerScore }}</div>
										<div class="clear"></div>
									</div>
								</li>
								{% endfor %}
							</ul>
							</div>
						</div>
					</div>
					{% else %}
						<h3 class="error">{{ "no current statistics to show"|trans }}</h3>
					{% endif %}
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="schedule">
				<div class="text-content">
					<div >
						<div class="table-custom">
							<div class="heading">
								<div class="text-left">{{'OPPONENT'|trans}}</div>
								<div class="clear"></div>
							</div>
							<div>
							{% for key, match in upcomingfixtures %}
								<div class="text-left match match-{$datesection}{% if loop.index0 is odd %} odd{% endif %}{% if match.disabled == 1 %} disabled-match{% endif %}">
									<div>
										{% if match.homeTeamTitle != playerdetails.team_name %}
											<div class="home left"{% if match.homeImage %} style="background-image:url('{{ asset(match.homeImage) }}');height:40px;"{% endif %}>
											</div>
											<div class="left">
												<div>{{ match.homeTeamTitle }} (H)</div>
												<div class="date-info">{{ match.matchDate|date("l, F , j, Y , H:i") }}</div>
											</div>
										{% endif %}
										{% if match.awayTeamTitle != playerdetails.team_name %}
											<div class="home left"{% if match.awayImage %} style="background-image:url('{{ asset(match.awayImage)  }}');height:40px;"{% endif %}>
											</div>
											<div class="left">
												<div>{{ match.awayTeamTitle }} (A)</div>
												<div class="date-info">{{ match.matchDate|date("l, F , j, Y , H:i") }}</div>
											</div>
										{% endif %}
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.ui-dialog-titlebar {
		background-image: url('{{ playerdetails.image }}') !important;
		background-repeat: no-repeat !important;
		background-position: left center !important;
		background-size:23px !important;
	}
</style>
<script type="text/javascript">			
	//$(window).load(function() {
    {% if playerdetails %}

    var add_action = "{{ from|default('addPlayer') }}";
		var bStartingField = {{ bStartingField|default(1) }}
		var bStartingSub = {{ bStartingSub|default(0) }}

		var buttons = {
			Join: {
				text: "{{'Add as'|trans}} {{'starter'|trans}}",
				icons:{
					primary:'ui-icon-add-starter'
				},
				click: function(e) {
					e.preventDefault();
					showLoadingScreen();
					//showMiniSearchLoadingScreen();

					performAction("squad/"+add_action,{
						playerid: {{ playerdetails.id|default(0) }},
						position_id:{{ playerdetails.positionId|default(0) }},
						starting: bStartingField,
						formation: $("#formations").val(),
						leagueid: memberleagueid,
						teamid: teamid,
						savedTeam: (isSaved ? 1 : 0),
						currentteamid:currentteamid,
						loadingteam:loadingteam,
					});
					// close dialog after adding player
					$( this ).dialog( "destroy" );

//					$('.memberteam-schedule-container,.teambuilder,.gamedetails>.container,.team-builder-details').show();
				}
			},
			Sub: {
				text: "{{'Add as'|trans}} {{'sub'|trans}}",
				icons:{
					primary:'ui-icon-add-sub'
				},
				click: function(e) {
					e.preventDefault();

					showLoadingScreen();
					//showMiniSearchLoadingScreen();
					performAction("squad/"+add_action,{
						playerid: {{ playerdetails.id|default(0) }},
						starting: bStartingSub,
						position_id:{{ playerdetails.positionId|default(0) }},
						formation: $("#formations").val(),
						leagueid: memberleagueid,
						teamid: teamid,
						savedTeam: (isSaved ? 1 : 0),
						currentteamid:currentteamid,
						loadingteam:loadingteam,
					});
					// close dialog after adding player
					$( this ).dialog( "destroy" );
//					$('.memberteam-schedule-container,.teambuilder,.gamedetails>.container,.team-builder-details').show();
				}
			}
		};
//		$( "#dialog" ).dialog({
//			resizable: false,
//			width: 750,
//			height: 650,
//			modal: true,
//			draggable:false,
//			//appendTo:'.gamedetails',
//			dialogClass: 'no-close fixed-dialog player-profile-dialog',
//			buttons: buttons,
//			close:function(){
//
//				$('.memberteam-schedule-container,.teambuilder,.gamedetails>.container,.team-builder-details').show();
//			},
//			open:function(){
//
//				$('.ui-widget-overlay').click(function(){
//					$('#dialog').dialog( "destroy" );
//					$('.memberteam-schedule-container,.teambuilder,.gamedetails>.container,.team-builder-details').show();
//				});
//
//				if($(window).width() < 799){
//					$('.memberteam-schedule-container,.teambuilder,.gamedetails>.container,.team-builder-details').hide();
//				}else{
//					$('.memberteam-schedule-container,.teambuilder,.gamedetails>.container,.team-builder-details').show();
//				}
//			}
//
//		}).attr('id', 'dialog');
	//});

	$(document).ready(function() {
		// Get context with jQuery - using jQuery's .get() method.
		var ctx = document.getElementById("myChart").getContext("2d");

		var data = {
			labels: [{{chartlabels|raw}}],
			datasets: [
				{
					label: "My First dataset",
					fillColor: "rgba(220,220,220,0.2)",
					strokeColor: "rgba(234, 91, 12, 1)",
					pointColor: "rgba(234, 91, 12, 1)",
					pointStrokeColor: "#fff",
					pointHighlightFill: "#fff",
					pointHighlightStroke: "rgba(220,220,220,1)",
					data:[{{chartdata}}]
				}
			]
		};

		var options = {
			//animation: false,
			//scaleoverride: true,
			scaleShowHorizontalLines: true,
			scaleShowVerticalLines: true,
			datasetFill : false,
			responsive: false,
			maintainAspectRatio: true,
			bezierCurve: false,
			animationSteps: 1,
			tooltipXOffset: 10,
			scaleShowGridLines: true,
			scaleShowLabels: true,
			scaleGridLineColor : "rgba(0,0,0,.2)",
			scaleLineColor: "rgba(0,0,0,.2)",
			//scaleFontFamily:
			// show values above the points, this is not compatible with the standard tooltips
			showTooltips: false,
			onAnimationComplete: function () {
				var ctx = this.chart.ctx;
				ctx.font = this.scale.font;
				ctx.fillStyle = this.scale.textColor;
				ctx.textAlign = "center";
				ctx.textBaseline = "bottom";

				this.datasets.forEach(function (dataset) {
					dataset.points.forEach(function (points) {
						ctx.fillText(points.value, points.x, points.y);
					});
				})
			},
			pointHitDetectionRadius: 5,
			pointDotRadius: 5,
			pointDotStrokeWidth: 0,
			scaleFontColor: "#2b2b2b"
		};

		var myLineChart = new Chart(ctx).Line(data, options);

	});
    {% endif %}
</script>

