<div>
	<div id="pitch-content">
		<div class="teamnotification">
            {% if valid_team %}
				<div class="problem valid">{{ 'Your team is valid and ready to compete'|trans }} !</div>
            {% else %}
				<div class="problem warning">{{ 'Your team is not ready'|trans}}...</div>
            {% endif %}
		</div>
		<div class="teambuilder-notice">
			<div class="error-container">
				<div class="container">{% if ( budget.error is defined ) and ( budget.error ) %}{{ budget.error }}{% endif %}</div>
			</div>
		</div>
		<!--field-->
		<div data-step="1" class="field team-builder team-builder-tip" id="team-builder-field" data-help-content="help-pitch">
			{% for key,position in fieldFormation.positions %}
			<div class="formation formation-{{ position.slots }} pp{{ loop.index0 }}" data-formation="{{ (loop.index0 + 1) }}" data-position-id="{{ position.player_position_id }}">
				<div>
				{% set k = fieldFormation.positions[key].slots|number_format %}
				{% for slot in range(0,k-1) %}
					{% if ( playerslist['lineup']|length > 0 ) and ( playerslist['lineup'][position.position_title]|length > 0 ) and ( playerslist['lineup'][position.position_title] is defined ) and ( playerslist['lineup'][position.position_title][slot] is defined ) %}
						<div class="player for-field scoringbreakdown" data-for-save="{{ isSaved|default(0) }}" data-player-id="{{ playerslist['lineup'][position.position_title][slot].id }}" data-kit="{{ playerslist['lineup'][position.position_title][slot].image }}" data-position-id="{{ playerslist['lineup'][position.position_title][slot].positionId }}" style="position:relative;">
							<div  class="kit"{% if playerslist['lineup'][position.position_title][slot].image %} style="background-image: url({{ playerslist['lineup'][position.position_title][slot].image }} );"{% endif %}></div>
							{#<div  class="kit"{% if playerslist['lineup'][position.position_title][slot].image %} style="background-image: url({{ asset('bundles'~playerslist['lineup'][position.position_title][slot].image) }} );"{% endif %}></div>#}
							<div class="name">{{ playerslist['lineup'][position.position_title][slot].player_name }}</div>
							<div class="score">{{ playerslist['lineup'][position.position_title][slot].value }}m</div>

							<div class="player-action-block">
								<div class="view-profile inner-btn" onclick="showPlayerProfile({{ playerslist['lineup'][position.position_title][slot].id }}, '{{ asset('/'~app.request.locale~'/player') }}','from-field')">{{ 'view profile'|trans }}</div>
                                {% if allowSubs==1 %}
								<div class="inner-btn" onclick="swipePlayer({{ playerslist['lineup'][position.position_title][slot].id }},{{ playerslist['lineup'][position.position_title][slot].positionId }},'starter',2)">{{'make sub'|trans}}</div>
								{% endif %}
								<div class="remove inner-btn" onclick="removePlayer({{ playerslist['lineup'][position.position_title][slot].id }},2)">{{ 'remove'|trans }}</div>
							</div>
						</div>
					{% else %}
						<div class="player default" data-formation-id="{{ position.player_position_id }}" style="position:relative;">
							<div class="kit"></div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
		<!--Substitute-->
		<div id ="sub-title-parent">
			<div id = "sub-title">{{ 'Subs'|trans}}</div>
		</div>
		<div class="subs team-builder legend team-builder-tip" id="team-builder-substitutes" data-help-content="help-subs">
			<div class="subs-container">
				<ul class="flatten">
					{% for slot in range(0, 5) %}
					<li class="idle">
						<div class="holder" style="position:relative;">

							{% if ( playerslist['bench']|length > 0 )  and ( playerslist['bench'][slot] is defined ) %}
							<div style="position: absolute;text-align: center;width: 100%;top: 8px;font-size:10px;">{{ playerslist['bench'][slot].abbreviation }}</div>
							<div class="player for-sub scoringbreakdown" data-for-save="{{ isSaved|default(0) }}" data-player-id="{{ playerslist['bench'][slot].id }}" data-kit="{{ playerslist['bench'][slot].image }}" data-position-id="{{ playerslist['bench'][slot].positionId }}">
								<div  class="kit"{% if playerslist['bench'][slot].image is defined %} style="background-image: url({{ playerslist['bench'][slot].image }});"{% endif %}>
								</div>
								<div class="name">{{ playerslist['bench'][slot].player_name }}</div>
								<div class="player-action-block">
									<div class="view-profile inner-btn" onclick="showPlayerProfile({{ playerslist['bench'][slot].id }}, '{{ asset('/'~app.request.locale~'/player') }}','from-sub')">{{ 'view profile'|trans}}</div>
									{% if allowSubs==1 %}
									<div class="inner-btn" onclick="swipePlayer({{ playerslist['bench'][slot].id }},{{ playerslist['bench'][slot].positionId }},'sub',2)">{{'make starter'|trans}}</div>
									{% endif %}
									<div class="remove inner-btn" onclick="removePlayer({{ playerslist['bench'][slot].id }},2)">{{ 'remove'|trans}}</div>
								</div>
							</div>
							{% else %}
							<div class="player default" data-player-id="1">
								<div class="kit"{%if playerslist['bench'][slot].image is defined %} style="background-image: url({{ playerslist['bench'][slot].image }});"{% endif %}>
								</div>
								<div class="name"></div>
							</div>
							{% endif %}
						</div>
					</li>
					{% endfor %}
					<span class="clear"></span>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
        var divWidth = $("#team-builder-substitutes").outerWidth()/2;
        var itemWidth = $('#sub-title').outerWidth()/2;
        $('#sub-title').css('left', divWidth-itemWidth+ 'px');

        $(window).resize(function () {
            var divWidth = $("#team-builder-substitutes").outerWidth()/2;
            var itemWidth = $('#sub-title').outerWidth()/2;

            $('#sub-title').css('left', divWidth-itemWidth+ 'px');
        })
    });


$('.field .player.default').click(function(){
	var pos = $(this).attr('data-formation-id');
	$(".player-positions .player-position").removeClass('active');
	$('.playersearch .player-position[data-pos-id='+pos+']').trigger('click');
	var window_width = $(window).width();
	if( window_width <= 767 ){
		$('.teambuilder .right').show();
		$('.teambuilder .left,.memberteam-schedule-container').hide();
	}
    if (mobilecheck() == true) {
        $('.home-players-title').removeClass('hide');
        $('.homepage-builder .pitch-placeholder').addClass('hide');
        $('.how-to-play').addClass('hide');
    }
});

$('.subs-container .player.default').click(function(){
	$('#member_position').val("");
	var window_width = $(window).width();
	if( window_width <= 700 ){
		$('.teambuilder .right').show();
		$('.teambuilder .left,.memberteam-schedule-container').hide();
	}
    if (mobilecheck() == true) {
        $('.home-players-title').removeClass('hide');
        $('.homepage-builder .pitch-placeholder').addClass('hide');
        $('.how-to-play').addClass('hide');
    }
	setPagination(0);
	$(".player-positions .player-position").removeClass('active');
});

$('.player').click(function(e){
	var window_width = $(window).width();
	if( window_width <= 767 ){
		$(this).toggleClass('current');
		if( $(this).hasClass('current') ){
			$(this).find('player-action-block').show();
		}else{
			$(this).find('player-action-block').hide();
		}
	}
});
{% if (budget) and (budget.left is defined) %}
	var budget = '{{ budget.left|number_format(2, '.', ',') }}';
	if (budget == "-0.00") budget = "0.00";

	$(".budget-left").text(budget + 'm');
	$(".budget-left-filter").val(budget);
{% endif %}

{%if (budget) and (budget.available is defined)%}
	$(".budget-allowed").text('{{ budget.available|number_format(2, '.', ',') }}' + "m");
{% endif %}

{% if ( budget.error is defined ) and ( budget ) %}
	$(".teambuilder-notice .error-container .container").html("{{'No more money in the bank...The crisis is really everywhere!'|trans}}");
	$(".teambuilder-notice").show();
{% else %}
	$(".teambuilder-notice .error-container .container").html("");
	$(".teambuilder-notice").hide();
{% endif %}
</script>